Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

feat(wasm): lower i64 scf.switch discriminants
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  new-plans/wasm-backend.md
Due: TrunkIR, Middle End

fix(typeck): keep row tail bindings made by effect argument unification (#1377)
  crates/tribute-front/src/typeck/prop.rs
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/rows.rs
Due: Frontend

feat(ir): add the ability_v2 dialect for elaborated direct-style abilities
  crates/tribute-ir/src/dialect/ability_v2.rs
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  guides/development/ir.md
  new-plans/cps-effects.md
  new-plans/ir.md
Due: Middle End

docs(ir): fix ability_v2 helper conventions by role
  new-plans/ir.md
Due: none

feat(wasm): lower i64 scf.switch discriminants (#1380)
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  new-plans/wasm-backend.md
Due: TrunkIR, Middle End

docs(plans): specify explicit proper tail calls with become
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/syntax.md
Due: none

refactor(ir): fold abort into invoke_op and name invocations by kind
  crates/tribute-ir/src/dialect/ability_v2.rs
  new-plans/cps-effects.md
  new-plans/ir.md
Due: Middle End

docs(plans): make become a strict keyword
  new-plans/syntax.md
Due: none

docs(new-plans): split CPS frame construction behind an abstract frame surface
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
Due: none

docs(plans): allow unguaranteed tail-call optimization and strict keywords before editions
  new-plans/cps-effects.md
  new-plans/ir.md
  new-plans/syntax.md
Due: none

docs(new-plans): describe post-CPS callables with the abstract frame
  new-plans/ir.md
Due: none

docs(plans): reach BecomeExpr from PrimaryExpr and verify indirect tail calls
  new-plans/ir.md
  new-plans/syntax.md
Due: none

feat!: use && for case guards and remove the if keyword
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/cps_lowering.rs
  lang-examples/modules_file/math/basic.trb
  lang-examples/record-patterns.trb
  new-plans/generics.md
  new-plans/syntax.md
  new-plans/types.md
  tests/integration/e2e_native.rs
Due: Frontend

docs(plans): specify explicit proper tail calls with become (#1382)
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/syntax.md
Due: none

docs(new-plans): CPS frame 구성을 추상 frame 표면 뒤로 분리 (#1383)
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
Due: none

feat(ir): define the abstract continuation frame operations
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Middle End

test(ir): cover the frame operation verifier branches
  crates/tribute-ir/src/dialect/ability/frames.rs
Due: Middle End

refactor(ir): compare frame verifier names as strings
  crates/tribute-ir/src/dialect/ability/frames.rs
Due: Middle End

feat(ir): constrain frame operation closures in the schema
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/ability/frames.rs
Due: Middle End

fix(ir): stop rejecting resumption-shaped never-arm inputs
  crates/tribute-ir/src/dialect/ability/frames.rs
Due: Middle End

feat(ir): 추상 continuation frame op 정의와 검증기 (#1384)
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Middle End

refactor: group symbol comparisons against several literals
  crates/tribute-ir/src/continuation_frame.rs
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/adt/layout.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/tribute_control_to_cps/boundary.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/descriptors.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

chore: pin tree-sitter-tribute to v0.14.0
  Cargo.lock
  Cargo.toml
Due: none

docs: end a case guard at the top-level arm arrow
  new-plans/syntax.md
Due: none

feat(passes): emit abstract suffix frames and expand them in lower_continuation_frames
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/lower_frames.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/tribute_control_to_cps/types.rs
  crates/trunk-ir/src/validation.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

feat!: use && for case guards and remove the if keyword (#1385)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/cps_lowering.rs
  lang-examples/modules_file/math/basic.trb
  lang-examples/record-patterns.trb
  new-plans/generics.md
  new-plans/syntax.md
  new-plans/types.md
  tests/integration/e2e_native.rs
Due: Frontend

refactor(passes): expand abstract frames with rewrite patterns in lower_continuation_frames
  crates/tribute-front/proptest-regressions/ast/prop.txt
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/boundary.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/lower_frames.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
Due: Frontend, Middle End

refactor(passes): make the frame adapter builders free functions
  crates/tribute-front/proptest-regressions/ast/prop.txt
  crates/tribute-front/proptest-regressions/typeck/solver/laws.txt
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/adapters.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/types.rs
Due: Frontend, Middle End

chore: leave the proptest regression files out of this change
  crates/tribute-front/proptest-regressions/ast/prop.txt
  crates/tribute-front/proptest-regressions/typeck/solver/laws.txt
Due: Frontend

chore: restore the proptest regression seeds of the ast generator
  crates/tribute-front/proptest-regressions/ast/prop.txt
Due: Frontend

test(typeck): save a counterexample of row_unification_ignores_effect_order
  crates/tribute-front/proptest-regressions/typeck/solver/laws.txt
Due: Frontend

refactor(passes): substitute frame types from a table instead of a TypeConverter
  crates/tribute-passes/src/lower_continuation_frames.rs
Due: Middle End

fix(typeck): match open row effects before unifying their arguments
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  new-plans/type-inference.md
Due: Frontend

docs(typeck): state where an unmatched open row label goes
  new-plans/type-inference.md
Due: none

fix(passes): check aliases and block argument attributes for surviving abstract frames
  crates/tribute-passes/src/lower_continuation_frames.rs
Due: Middle End

fix(typeck): match open row effects before unifying their arguments (#1389)
  crates/tribute-front/proptest-regressions/typeck/solver/laws.txt
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  new-plans/type-inference.md
Due: Frontend

feat(passes): split suffix frames and exits into lower_continuation_frames (#1388)
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/adapters.rs
  crates/tribute-passes/src/tribute_control_to_cps/boundary.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/tribute_control_to_cps/types.rs
  crates/trunk-ir/src/validation.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

feat(front): parse and typecheck become
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/visit.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/keywords.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/become_check.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
Due: Frontend
