Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

refactor: replace TypeDataBuilder with ArenaDialectType wrappers across codebase (#489)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/live_vars.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/wasm_gc_type_assign.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  crates/trunk-ir/src/arena/dialect/cont.rs
  crates/trunk-ir/src/arena/parser.rs
Due: TrunkIR, Frontend, Middle End

refactor: replace remaining TypeDataBuilder with ArenaDialectType wrappers (#489)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-ir/src/arena/dialect/ability.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir/src/arena/dialect/mod.rs
  crates/trunk-ir/src/arena/printer.rs
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
  crates/trunk-ir/src/arena/transforms/dce.rs
  crates/trunk-ir/src/arena/transforms/global_dce.rs
  crates/trunk-ir/src/arena/transforms/scf_to_cf.rs
  crates/trunk-ir/src/arena/types.rs
  crates/trunk-ir/src/arena/validation.rs
  crates/trunk-ir/src/arena/walk.rs
Due: TrunkIR, Frontend, Middle End

refactor: replace last core.array TypeDataBuilder in ability.rs test (#489)
  crates/tribute-ir/src/arena/dialect/ability.rs
Due: Middle End

fix: replace assert_eq\! with assert\! for bool comparisons (#489)
  crates/trunk-ir/src/arena/dialect/mod.rs
Due: TrunkIR

refactor: address review comments with fail-fast panics and typed accessors (#489)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/arena/validation.rs
Due: TrunkIR, Middle End

fix: remove cont.continuation from closure classification in is_any_closure_value_arena
  crates/tribute-passes/src/closure_lower.rs
Due: Middle End

refactor(trunk-ir): extract Symbol, delete bridge, make salsa optional (#450 phase 3)
  crates/tribute-passes/src/boxing.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/arena/bridge.rs
  crates/trunk-ir/src/arena/mod.rs
  crates/trunk-ir/src/ir.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/symbol.rs
  examples/salsa_usage.rs
  src/lib.rs
  src/lsp/server.rs
  src/pipeline.rs
  tests/e2e_add.rs
  tests/evidence_lambda.rs
  tests/salsa_integration.rs
Due: TrunkIR, Middle End, Driver

refactor: remove salsa dependency from backend and IR crates (#450 phase 3)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/Cargo.toml
  crates/tribute-ir/Cargo.toml
  crates/tribute-passes/Cargo.toml
  crates/trunk-ir-cranelift-backend/Cargo.toml
  crates/trunk-ir-cranelift-backend/src/errors.rs
  crates/trunk-ir-wasm-backend/Cargo.toml
  crates/trunk-ir-wasm-backend/src/errors.rs
  crates/trunk-ir/Cargo.toml
Due: TrunkIR, Frontend, Middle End

fix: address PR #488 review comments
  crates/tribute-passes/src/boxing.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/live_vars.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/tribute-passes/src/wasm/wasm_gc_type_assign.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/adt_layout.rs
  crates/trunk-ir/src/arena/dialect/mod.rs
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
  crates/trunk-ir/src/arena/transforms/scf_to_cf.rs
  crates/trunk-ir/src/arena/types.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
Due: TrunkIR, Middle End

chore: remove unused imports in signature_conversion.rs
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
Due: TrunkIR

refactor: rename ArenaDialectType to DialectType (#450 phase 3)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir/src/arena/dialect/mod.rs
  crates/trunk-ir/src/arena/ops.rs
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
  crates/trunk-ir/src/arena/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

chore: remove unused intern_nil_type function
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
Due: TrunkIR

fix: address PR #488 review comments (round 2)
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/cont_to_libmprompt/patterns.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
Due: TrunkIR, Middle End

refactor(trunk-ir): resolve name conflicts before arena flattening
  crates/trunk-ir/src/arena/dialect/adt.rs
  crates/trunk-ir/src/arena/dialect/arith.rs
  crates/trunk-ir/src/arena/dialect/core.rs
  crates/trunk-ir/src/arena/dialect/func.rs
  crates/trunk-ir/src/arena/dialect/mem.rs
  crates/trunk-ir/src/arena/mod.rs
  crates/trunk-ir/src/arena/ops.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/cont.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mem.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/mod.rs
Due: TrunkIR

refactor(trunk-ir): flatten arena/ to crate root
  crates/trunk-ir/src/adt_layout.rs
  crates/trunk-ir/src/arena/mod.rs
  crates/trunk-ir/src/arena/ops.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/cont.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mem.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/dialect/trampoline.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/refs.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/helpers.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/rewrite/pattern.rs
  crates/trunk-ir/src/rewrite/rewriter.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/rewrite/type_converter.rs
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_nested_module.snap
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/mod.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
  crates/trunk-ir/src/walk.rs
Due: TrunkIR

refactor(trunk-ir-macros): remove ::arena:: from generated paths
  crates/trunk-ir-macros/src/codegen.rs
Due: none

refactor(trunk-ir): remove backward-compat arena shim
  crates/trunk-ir/src/lib.rs
Due: TrunkIR

refactor(trunk-ir-macros): rename arena_dialect proc macro to dialect
  crates/tribute-ir/src/arena/dialect/ability.rs
  crates/tribute-ir/src/arena/dialect/closure.rs
  crates/tribute-ir/src/arena/dialect/tribute_rt.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/cont.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mem.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/dialect/trampoline.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/ops.rs
Due: TrunkIR, Middle End

docs: update documentation for flattened arena module
  .claude/rules/crates.md
  .claude/rules/ir.md
Due: none

fix: correct docs, mem.load purity, and cast resolver diagnostics
  .claude/rules/crates.md
  .claude/rules/ir.md
  crates/trunk-ir-wasm-backend/src/translate.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  crates/trunk-ir/src/dialect/mem.rs
Due: TrunkIR

docs(rules): fix variable name typo in ir.md type system example
  .claude/rules/ir.md
Due: none

refactor(tribute-ir): flatten arena/ module layer
  .claude/rules/ir.md
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-ir/src/arena/dialect/ability.rs
  crates/tribute-ir/src/arena/dialect/closure.rs
  crates/tribute-ir/src/arena/dialect/mod.rs
  crates/tribute-ir/src/arena/dialect/tribute_rt.rs
  crates/tribute-ir/src/arena/mod.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-ir/src/lib.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_trampoline/patterns.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
Due: Frontend, Middle End

docs(ir): update High-level Tribute dialect table
  .claude/rules/ir.md
Due: none

refactor(tribute-ir): flatten arena/ module to crate root (#492)
  .claude/rules/ir.md
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-ir/src/arena/dialect/ability.rs
  crates/tribute-ir/src/arena/dialect/closure.rs
  crates/tribute-ir/src/arena/dialect/mod.rs
  crates/tribute-ir/src/arena/dialect/tribute_rt.rs
  crates/tribute-ir/src/arena/mod.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-ir/src/lib.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_trampoline/patterns.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
Due: Frontend, Middle End

docs(ir): update ir.md to reflect arena-based IR changes
  new-plans/ir.md
Due: none

docs(ir): update ir.md to reflect arena-based IR and current ability ops (#493)
  new-plans/ir.md
Due: none

refactor(trunk-ir): address review comments for Attribute::Int(i128) rename
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_trampoline/patterns.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/wasm_gc_type_assign.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/parser/raw.rs
Due: TrunkIR, Middle End

style(trunk-ir): replace if/else chain with match on cmp in integer_lit
  crates/trunk-ir/src/parser/raw.rs
Due: TrunkIR

test(trunk-ir): add i128 boundary tests for MAX and overflow cases
  crates/trunk-ir/src/parser/raw.rs
Due: TrunkIR

fix(tribute-passes): panic on malformed IR instead of silently skipping
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

fix(trunk-ir-wasm-backend): replace lossy i64 cast with checked conversion
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
Due: TrunkIR
