Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

fix(lsp): use prelude-aware TDNR for type index, definition, and completion
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
Due: Driver

Fix UFCS calls to prelude module functions from user code (#581)
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/tdnr/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/e2e_native.rs
Due: Frontend, Driver

refactor(typeck): move UFCS method resolution infra from TDNR to typeck
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
Due: Frontend

feat(typeck): populate UFCS method index during declaration collection
  crates/tribute-front/src/typeck/checker/collect.rs
Due: Frontend

feat(typeck): register prelude functions as UFCS method candidates in inject_prelude
  crates/tribute-front/src/typeck/context.rs
Due: Frontend

feat(typeck): resolve UFCS methods during inference for chained calls
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
Due: Frontend

refactor(typeck): propagate method index via PreludeExports instead of reconstructing from TypeSchemes
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
Due: Frontend, Driver

feat(typeck): add post-solve deferred method resolution for chained UFCS calls
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/common/mod.rs
  src/pipeline.rs
Due: Frontend, Driver

test(e2e): add native E2E test for chained UFCS method calls
  tests/e2e_native.rs
Due: none

test(e2e): update ufcs_triple_chain to use user-defined struct types
  tests/e2e_native.rs
Due: none

fix(lsp): use tdnr_module so UFCS calls are resolved in LSP features
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
Due: Driver

fix(typeck): address PR #584 review feedback on deferred UFCS resolution
  crates/tribute-front/src/source_file.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

fix(typeck): address code review feedback on UniVar aliasing and diagnostics
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  src/lsp/type_index.rs
Due: Frontend, Driver

fix: collapse nested if and avoid unnecessary allocation in test
  crates/tribute-front/src/typeck/context.rs
Due: Frontend

fix(typeck): substitute BoundVars inside Continuation types
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

test(typeck): add export_method_index ordering test
  crates/tribute-front/src/typeck/context.rs
Due: Frontend

Resolve UFCS methods during type inference for chained calls (#584)
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/source_file.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/e2e_native.rs
Due: Frontend, Driver

refactor(tests): replace duplicated source helpers with SourceCst::from_source_str
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/tuple_pattern.rs
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/common/mod.rs
  tests/diagnostic_snapshots.rs
  tests/effect_var_collision.rs
  tests/wasm_compilation.rs
Due: Frontend, Driver

refactor(tests): replace source_from_str helpers with SourceCst::from_source_str (#586)
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/tuple_pattern.rs
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/common/mod.rs
  tests/diagnostic_snapshots.rs
  tests/effect_var_collision.rs
  tests/wasm_compilation.rs
Due: Frontend, Driver

feat(trunk-ir): add call arity validation to TrunkIR verifier
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

fix: use quotes instead of @ prefix in ArityError messages
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

feat: run arity validation in pipeline with tracing warnings
  crates/trunk-ir/src/validation.rs
  src/pipeline.rs
Due: TrunkIR, Driver

fix: exclude arity errors from validate_all to prevent debug panics
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

feat(trunk-ir): add call arity validation to TrunkIR verifier (#591)
  crates/trunk-ir/src/validation.rs
  src/pipeline.rs
Due: TrunkIR, Driver

fix(astgen): fix multi-argument UFCS chain dropping extra arguments (#582)
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  tests/e2e_native.rs
Due: Frontend

test(astgen): add UFCS multi-arg and chained method call tests
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_single_extra_arg.snap
  crates/tribute-front/tests/ufcs_method_call.rs
Due: Frontend

refactor(front): remove BuiltinRef::Print and BuiltinRef::ReadLine
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  lib/std/prelude.trb
Due: Frontend

Fix multi-argument UFCS chain dropping extra arguments (#593)
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_single_extra_arg.snap
  crates/tribute-front/tests/ufcs_method_call.rs
  tests/e2e_native.rs
Due: Frontend

Remove BuiltinRef::Print and BuiltinRef::ReadLine (#595)
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  lib/std/prelude.trb
Due: Frontend

feat(trunk-ir): add diagnostic collection to IrContext (#592)
  crates/tribute-core/src/diagnostic.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/astgen/context.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/diagnostic.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/validation.rs
  src/diagnostics.rs
  src/lsp/server.rs
  src/main.rs
  src/pipeline.rs
  tests/e2e_ability_core.rs
Due: TrunkIR, Frontend, Driver

docs: add ability operation effect row rule and Stream-based iteration
  new-plans/abilities.md
  new-plans/string.md
Due: none

refactor(trunk-ir): use let-else in validate_call_arity
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

docs: refine ability operation rules
  new-plans/abilities.md
Due: none

fix: map diagnostic severity to report kind in CLI output
  src/diagnostics.rs
Due: Driver

docs: fix handler arm syntax in Stream examples
  new-plans/string.md
Due: none

Add diagnostic collection to IrContext (#596)
  crates/tribute-core/src/diagnostic.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/astgen/context.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/diagnostic.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/validation.rs
  src/diagnostics.rs
  src/lsp/server.rs
  src/main.rs
  src/pipeline.rs
  tests/e2e_ability_core.rs
Due: TrunkIR, Frontend, Driver

docs(abilities): add Stream ability and ability operation effect row rules (#599)
  new-plans/abilities.md
  new-plans/string.md
Due: none

refactor(tribute-front): remove intermediate diagnostic collection from AstLoweringCtx
  crates/tribute-front/src/astgen/context.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/patterns.rs
Due: Frontend

feat: lower bytes literals to IR
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
Due: Frontend

test: add E2E tests for bytes literal variants
  tests/e2e_native.rs
Due: none

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
