Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

fix(frontend): materialize resume token input (#925)
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Frontend, Middle End

Make CPS root bridge frame-aware
  crates/tribute-passes/src/target_abi.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  src/pipeline.rs
Due: Middle End, Driver

Reuse type matching in root ABI validation
  crates/tribute-passes/src/target_abi.rs
Due: Middle End

Reuse canonical root frame test types
  Cargo.lock
  Cargo.toml
  crates/tribute-passes/src/target_abi.rs
  src/pipeline.rs
Due: Middle End, Driver

#774: Make the CPS root bridge frame-aware (#926)
  Cargo.lock
  Cargo.toml
  crates/tribute-passes/src/target_abi.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  src/pipeline.rs
Due: Middle End, Driver

Fix terminal SCF lowering without empty merge
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

Lower nested closures to convergence
  crates/tribute-passes/src/closure_lower.rs
  src/pipeline.rs
Due: Middle End, Driver

#825: Fix target-lowering prerequisites (#927)
  crates/tribute-passes/src/closure_lower.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

fix(native): convert anyref through native type converter
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  src/pipeline.rs
Due: Middle End, Driver

fix(native): convert anyref through native type converter (#928)
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  src/pipeline.rs
Due: Middle End, Driver

fix(trunk-ir): lower terminal switches without merge
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

Make TrunkIR analysis computation fallible
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

Unify TrunkIR analysis errors
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/transforms/call_graph.rs
Due: TrunkIR

Group AnalysisError implementations
  crates/trunk-ir/src/analysis.rs
Due: TrunkIR

Make TrunkIR analysis computation fallible (#941)
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

fix(trunk-ir): lower multiblock switch arms
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

Lower terminal structured branches without merge blocks (#942)
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

fix(wasm): lower resultless scf switches
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
Due: TrunkIR

test: cover dependent analysis invalidation
  crates/trunk-ir/src/analysis.rs
Due: TrunkIR

Add dependent analysis cache invalidation
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  new-plans/lowering.md
Due: TrunkIR

fix(wasm): reject nonlowerable switches atomically
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
Due: TrunkIR, Middle End

Lower resultless scf.switch to structured Wasm control (#943)
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
Due: TrunkIR, Middle End

Fix analysis cache test synchronization docs
  crates/trunk-ir/src/analysis.rs
Due: TrunkIR

Validate Wasm indirect-tail arguments by physical type
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/translate.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
Due: TrunkIR

Allow typeref tail arguments to upcast to anyref
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
Due: TrunkIR

Validate Wasm indirect-tail arguments by physical type (#947)
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/translate.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
Due: TrunkIR

Add dependent analyses and cascading invalidation (#945)
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  new-plans/lowering.md
Due: TrunkIR

fix(native): convert indirect tail signatures
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
Due: none

Share exact indirect call signatures
  crates/tribute-core/src/calling_convention.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/dialect/func.rs
Due: TrunkIR, Driver

Convert Wasm indirect-tail signature attributes
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
Due: TrunkIR

Discard stale Wasm indirect call metadata
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
Due: TrunkIR

Move indirect signature lookup to func dialect
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/dialect/func.rs
Due: TrunkIR, Middle End, Driver

Add dynamic indirect call interface
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/op_interface.rs
  new-plans/ir.md
Due: TrunkIR, Middle End, Driver

Expose indirect call operands dynamically
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/op_interface.rs
Due: TrunkIR, Middle End

Normalize unit indirect call results
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
Due: TrunkIR

Preserve indirect signature ownership
  crates/tribute-passes/src/target_abi.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/op_interface.rs
Due: TrunkIR, Middle End

Hide indirect signature storage
  crates/tribute-passes/src/target_abi.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/op_interface.rs
Due: TrunkIR, Middle End

Simplify exact signature updates
  crates/tribute-passes/src/target_abi.rs
  crates/trunk-ir/src/op_interface.rs
Due: TrunkIR, Middle End

Keep indirect signature storage private
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/op_interface.rs
Due: TrunkIR

Make exact signature updates semantic
  crates/tribute-passes/src/target_abi.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/op_interface.rs
Due: TrunkIR, Middle End

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
