Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

feat(ability): add evidence-based dispatch infrastructure
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir/src/dialect/cont.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

feat(ability): add evidence_extend for handler installation
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

feat(trampoline): add dynamic tag support for evidence-based dispatch
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  crates/trunk-ir/src/dialect/trampoline.rs
Due: TrunkIR, Middle End

chore: remove unused Location import
  crates/tribute-ir/src/dialect/tribute.rs
Due: Middle End

fix: resolve clippy warnings
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Frontend, Middle End

fix(compiler): resolve multiple effect handling and continuation tracking issues
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-passes/src/resolve_evidence.rs
  src/lsp/definition_index.rs
Due: Frontend, Middle End, Driver

fix(compiler): address code review issues for effect handling and state naming
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/handler_lower.rs
Due: Frontend, Middle End

refactor(ir): move prompt_tag type from ability dialect to cont dialect
  crates/tribute-ir/src/dialect/ability.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  crates/trunk-ir/src/dialect/cont.rs
Due: TrunkIR, Middle End

fix(compiler): address code review issues for effect handling and state naming
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-passes/src/cont_to_trampoline.rs
  tests/e2e_ability_core.rs
Due: Frontend, Middle End

fix(compiler): correct prompt tag scoping in handle expression lowering
  crates/tribute-front/src/ast_to_ir/lower.rs
Due: Frontend

fix(compiler): improve state type naming and error handling in continuation lowering
  crates/tribute-passes/src/cont_to_trampoline.rs
Due: Middle End

fix(compiler): fix parameterized ability handling in type system and lowering
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Frontend, Middle End

test(typeck): add tests for parameterized ability handling
  crates/tribute-front/src/typeck/solver.rs
  tests/e2e_ability_core.rs
Due: Frontend

fix(compiler): fix critical bugs in parameterized ability handling
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-passes/src/resolve_evidence.rs
  tests/e2e_ability_core.rs
Due: Frontend, Middle End

refactor(typeck): use AbilityId for qualified ability identification
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
Due: Frontend, Driver

test(typeck): add tests for AbilityId module path handling
  crates/tribute-front/src/typeck/effect_row.rs
Due: Frontend

refactor(ir): remove static operation variants in cont and trampoline dialects
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/handler_lower.rs
  crates/tribute-passes/src/live_vars.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  crates/trunk-ir/src/dialect/cont.rs
  crates/trunk-ir/src/dialect/trampoline.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
Due: TrunkIR, Frontend, Middle End

style: collapse nested if statements for clippy
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Frontend, Middle End

refactor(passes): remove unused handler_lower pass and ability operations
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/handler_lower.rs
  crates/tribute-passes/src/lib.rs
  src/pipeline.rs
Due: Frontend, Middle End, Driver

perf(passes): optimize evidence resolution and improve robustness
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Frontend, Middle End

docs(passes): fix incorrect cont.shift_dynamic references in documentation
  crates/tribute-passes/src/resolve_evidence.rs
  src/pipeline.rs
Due: Middle End, Driver

fix(passes): remap evidence in push_prompt body/handlers regions
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

docs: update documentation to reflect removed operations and passes
  .claude/rules/conventions.md
  .claude/rules/crates.md
  .claude/rules/ir.md
  .claude/rules/pipeline.md
  new-plans/implementation.md
  new-plans/ir.md
Due: none

refactor(ir): remove obsolete tribute dialect operations
  .claude/rules/ir.md
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-ir/src/dialect/tribute.rs
  src/lsp/server.rs
Due: Frontend, Middle End, Driver

refactor(ir): complete removal of tribute dialect from codebase
  .claude/rules/ir.md
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-ir/src/dialect/tribute.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/tribute-passes/src/wasm/wasm_type_concrete.rs
Due: Middle End

fix(passes): thread value_map through nested region transforms
  Cargo.lock
  crates/tribute-passes/Cargo.toml
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

docs: align documentation and code with tribute dialect removal
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/wasm_type_concrete.rs
  new-plans/ir.md
Due: Middle End

refactor(passes): remove obsolete wasm_type_concrete pass
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/wasm_type_concrete.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
Due: TrunkIR, Middle End

docs: clean up tribute dialect references and fix markdown formatting
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  new-plans/ir.md
Due: Middle End

ci: add markdownlint to GitHub Actions workflow
  .github/workflows/ci.yml
  .markdownlint.json
Due: none

ci: integrate markdownlint into local lint script
  .ci/lint.sh
Due: none

style: auto-fix markdown formatting issues
  .claude/rules/conventions.md
  .claude/rules/crates.md
  .claude/rules/ir.md
  .claude/rules/pipeline.md
  .claude/skills/tribute-testing/SKILL.md
  AGENTS.md
  contrib/zed/README.md
  docs/lsp-tracing.md
  guides/toy-dialect-tablegen-guide.md
  new-plans/abilities.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/linking.md
  new-plans/modules.md
  new-plans/string.md
  new-plans/type-inference.md
  new-plans/wasm-backend.md
  new-plans/yield-propagation.md
  plans/02.03-wasm-runtime-research.md
  plans/02.04-wasm-translation.md
  plans/05-standard-library.md
  plans/06-package-manager.md
  plans/07-testing-framework.md
  plans/08-documentation-system.md
Due: none

ci: enable MD040 rule for fenced code blocks
  .markdownlint.json
Due: none

docs: add language identifiers to fenced code blocks
  .claude/rules/crates.md
  .claude/skills/tribute-testing/SKILL.md
  README.md
  contrib/zed/README.md
  docs/lsp-tracing.md
  guides/salsa.md
  guides/toy-dialect-tablegen-guide.md
  new-plans/design.md
  new-plans/generics.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/linking.md
  new-plans/lowering.md
  new-plans/modules.md
  new-plans/numeric-types.md
  new-plans/optimizations.md
  new-plans/string.md
  new-plans/syntax.md
  new-plans/type-inference.md
  new-plans/wasm-backend.md
  new-plans/yield-propagation.md
  plans/02.04-wasm-translation.md
  plans/06-package-manager.md
  plans/08-documentation-system.md
Due: none

ci: enable MD060 rule and fix table formatting
  .claude/rules/ir.md
  .claude/rules/pipeline.md
  .claude/skills/tribute-testing/SKILL.md
  .markdownlint.json
  AGENTS.md
  new-plans/abilities.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/linking.md
  new-plans/modules.md
  new-plans/string.md
  new-plans/syntax.md
  new-plans/type-inference.md
  new-plans/types.md
  new-plans/yield-propagation.md
  plans/02.04-wasm-translation.md
  plans/README.md
Due: none

ci: enable MD024 rule with siblings_only option
  .markdownlint.json
Due: none

ci: enable MD013 rule and fix line length violations
  .claude/rules/conventions.md
  .claude/rules/crates.md
  .claude/rules/ir.md
  .claude/rules/pipeline.md
  .claude/skills/tribute-testing/SKILL.md
  .markdownlint.json
  AGENTS.md
  README.md
  contrib/zed/README.md
  guides/salsa.md
  guides/toy-dialect-tablegen-guide.md
  new-plans/abilities.md
  new-plans/design.md
  new-plans/generics.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/linking.md
  new-plans/syntax.md
  new-plans/type-inference.md
  new-plans/yield-propagation.md
  plans/05-standard-library.md
  plans/06-package-manager.md
  plans/07-testing-framework.md
  plans/08-documentation-system.md
Due: none

ci: enable MD041 rule for first-line heading
  .markdownlint.json
  CLAUDE.md
Due: none

chore: update markdownlint action and fix minor doc issues
  .github/workflows/ci.yml
  AGENTS.md
  new-plans/string.md
Due: none

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
