Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Parse xtask arguments with clap
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/main.rs
Due: none

Name the runtime archive by the host target's staticlib convention
  new-plans/linking.md
  src/link.rs
  xtask/src/main.rs
Due: Driver

Share the sysroot layout through a tribute-sysroot crate
  Cargo.lock
  Cargo.toml
  crates/tribute-sysroot/Cargo.toml
  crates/tribute-sysroot/src/lib.rs
  src/link.rs
  xtask/src/main.rs
Due: Driver

Locate the native runtime through a sysroot built by xtask
  .cargo/config.toml
  .ci/check.sh
  .ci/test-fixtures/lint/bin/cargo
  .ci/test-lint.sh
  .claude/skills/tribute-testing/SKILL.md
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
  lang-examples/README.md
  new-plans/linking.md
  src/cli.rs
  src/main.rs
  src/pipeline.rs
  tests/integration/common/mod.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Due: Driver

Move native linking out of the pipeline module
  src/lib.rs
  src/link.rs
  src/main.rs
  src/pipeline.rs
  tests/integration/common/mod.rs
Due: Driver

Return LSP signature help for calls and method calls
  src/lsp/server.rs
Due: Driver

Simplify a negated is_some_and for clippy::nonminimal_bool
  crates/trunk-ir/src/transforms/scf_control_flow.rs
Due: TrunkIR

Locate the native runtime through a sysroot built by xtask (#1106)
  .cargo/config.toml
  .ci/check.sh
  .ci/test-fixtures/lint/bin/cargo
  .ci/test-lint.sh
  .claude/skills/tribute-testing/SKILL.md
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
  crates/tribute-sysroot/Cargo.toml
  crates/tribute-sysroot/src/lib.rs
  lang-examples/README.md
  new-plans/linking.md
  src/cli.rs
  src/lib.rs
  src/link.rs
  src/main.rs
  src/pipeline.rs
  tests/integration/common/mod.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Due: Driver

Support method calls in signature help and fix control flow analysis (#1108)
  crates/trunk-ir/src/transforms/scf_control_flow.rs
  src/lsp/server.rs
Due: TrunkIR, Driver

Stop the CI test job from building dependencies twice
  .github/workflows/ci.yml
Due: none

fix(wasm): reject a conflicting fd_write import instead of reusing it
  crates/tribute-passes/src/wasm/io.rs
Due: Middle End

refactor(wasm): declare data segments, imports, and memory in the IR
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/string.md
  new-plans/wasm-backend.md
Due: Middle End

Cache CI builds with kache on macOS and save Actions caches from main only
  .github/workflows/ci.yml
Due: none

Declare Wasm data segments, imports, and memory in the IR (#1109)
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/string.md
  new-plans/wasm-backend.md
Due: Middle End

Stop CI from rebuilding crates it already built (#1110)
  .github/workflows/ci.yml
Due: none

fix(wasm): reject a 64-bit memory in output lowering
  crates/tribute-passes/src/wasm/io.rs
Due: Middle End

fix(wasm): emit declared function elements in function index order
  crates/trunk-ir-wasm-backend/src/emit.rs
Due: TrunkIR

Wasm follow-ups to #1109: deterministic declared elements, reject memory64 (#1112)
  crates/tribute-passes/src/wasm/io.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
Due: TrunkIR, Middle End

refactor(wasm): declare wasm.data bytes as a Bytes attribute
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir/src/dialect/wasm.rs
Due: TrunkIR, Middle End

refactor(native): declare rodata as clif.data in the IR
  crates/tribute-passes/src/native/const_to_native.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/dialect/clif.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

fix(native): make emitted objects deterministic with FxHashMap
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

refactor(native): declare referenced symbols on first use in each function
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

Allow `self` at the start of use paths
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/tests.rs
  new-plans/syntax.md
Due: Frontend

Update tree-sitter to 0.27
  Cargo.lock
  Cargo.toml
Due: none

Update tree-sitter-tribute to v0.12.1
  Cargo.lock
  Cargo.toml
Due: none

fix(native): qualify nested clif.data names and validate their alignment
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
Due: TrunkIR

revert(wasm): read wasm.data bytes through the typed accessor
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
Due: TrunkIR

Allow `self` at the start of use paths; update tree-sitter to 0.27 (#1115)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/tests.rs
  new-plans/syntax.md
Due: Frontend

fix(native): reject clif.data named after reserved runtime symbols
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
Due: none

Declare native rodata as clif.data in the IR (#1114)
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/wasm.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

docs(native): state data relocations and RTTI declaration contracts
  new-plans/cranelift-backend.md
  new-plans/ir.md
Due: none

test(ir): import DialectOp in tribute_rtti tests
  crates/tribute-ir/src/dialect/tribute_rtti.rs
Due: Middle End

refactor(native): declare the RTTI table and deep release in the IR
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
  src/pipeline.rs
Due: Middle End, Driver

feat(ir): add tribute_rtti.layout for native RTTI layout declarations
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
Due: Middle End

refactor(native): record RTTI layouts in the IR and adapt closures in tribute-passes
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_adaptation.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_anyref_adaptation.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  src/pipeline.rs
Due: Middle End, Driver

feat(native): let clif.data carry function address relocations
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/dialect/clif.rs
Due: TrunkIR

refactor(native): start user RTTI indices right after the reserved range
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  new-plans/rc.md
  tests/integration/optimization_conformance.rs
Due: Middle End

Reject resume in handler arms for Never-returning operations
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/never_relations.rs
  tests/integration/diagnostic_snapshots.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_resume_in_never_operation_arm.snap
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
