Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

refactor(front): stop promoting a worker for the Cps callees it calls (#1450)
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/tests/become_tail_calls.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/local_callable_instances.rs
  crates/tribute-front/tests/never_relations.rs
  crates/tribute-front/tests/snapshots/become_tail_calls__become_lowers_to_tail_call_ops.snap
  crates/tribute-front/tests/snapshots/expr_coverage__function_reference_as_value.snap
  crates/tribute-front/tests/snapshots/expr_coverage__lambda_as_argument.snap
  crates/tribute-front/tests/snapshots/expr_coverage__string_equality_operators.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
Due: Frontend

fix(front): keep a row equality waiting until expression relations finalize
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/tests/effect_union.rs
Due: Frontend

fix(front): keep unsolved relations pending while one is solved
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/tests/effect_union.rs
Due: Frontend

refactor: let the root bridge read the root worker's convention (#1453)
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/target_abi.rs
  src/pipeline.rs
Due: Frontend, Middle End, Driver

refactor(ir): declare the types of the ownership transfer operations (#1454)
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/descriptor_to_clif.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_lowering.rs
  crates/tribute-passes/src/native/ownership_transfers.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  new-plans/ir.md
  new-plans/rc.md
Due: Middle End

fix(front): select the field getter for a receiver typed after solving
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  tests/integration/e2e_native.rs
Due: Frontend

fix(front): keep a row equality waiting until its expression relations are solved
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  new-plans/type-inference.md
Due: Frontend

fix(front): keep a row tail open while an expression relation can extend it (#1455)
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/tests/effect_union.rs
  new-plans/type-inference.md
Due: Frontend

style(front): format the deferred field getter selection
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

refactor(front): drop the convention floor from function types
  crates/tribute-front/src/ast/calling_convention.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast/types/display/tests.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/nominal.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check/tests.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/prop.rs
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/row_union_tests.rs
  crates/tribute-front/src/typeck/solver/substitution.rs
  crates/tribute-front/src/typeck/solver/tests.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/let_generalization.rs
  src/lsp/type_index.rs
Due: Frontend, Driver

fix(front): report a field read that passes arguments
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/tests/function_signatures.rs
Due: Frontend

refactor(front): compute conventions after type checking
  crates/tribute-front/src/ast/calling_convention.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/monomorphize/local.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  new-plans/implementation.md
  src/pipeline.rs
  tests/integration/frontend_instances.rs
  tests/integration/frontend_type_roots.rs
Due: Frontend, Driver

fix(front): select the field getter for a receiver typed after solving (#1457)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/tests/function_signatures.rs
  tests/integration/e2e_native.rs
Due: Frontend

fix(front): settle body-local tails joined before a signature row
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/tests/effect_union.rs
  new-plans/type-inference.md
Due: Frontend

fix(front): count a union's sources once when another path reaches it again
  crates/tribute-front/src/typeck/solver/rows.rs
Due: Frontend

refactor(front): take calling conventions out of the type checker (#1459)
  crates/tribute-front/src/ast/calling_convention.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast/types/display/tests.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/local.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/nominal.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/func_check/tests.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/prop.rs
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/row_union_tests.rs
  crates/tribute-front/src/typeck/solver/substitution.rs
  crates/tribute-front/src/typeck/solver/tests.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/let_generalization.rs
  new-plans/implementation.md
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/integration/frontend_instances.rs
  tests/integration/frontend_type_roots.rs
Due: Frontend, Driver

fix(front): let a method call resolved after solving perform its effects
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/src/typeck/solver/tests.rs
  crates/tribute-front/tests/function_signatures.rs
  new-plans/type-inference.md
  tests/integration/e2e_ability_effect_row.rs
Due: Frontend

fix(front): settle body-local tails joined before a signature row (#1461)
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/tests/effect_union.rs
  new-plans/type-inference.md
Due: Frontend

fix(front): let a method call resolved after solving perform its effects (#1463)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/src/typeck/solver/tests.rs
  crates/tribute-front/tests/function_signatures.rs
  new-plans/type-inference.md
  tests/integration/e2e_ability_effect_row.rs
Due: Frontend

feat(front): select an imported function by its first argument's type
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/tests/use_imports.rs
  new-plans/modules.md
  tests/integration/e2e_field_lenses.rs
  tests/integration/e2e_native.rs
Due: Frontend

test(front): select among functions imported under an alias
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

fix(front): import no choice of functions for a name that also imports another item
  crates/tribute-front/src/resolve/resolver.rs
Due: Frontend

feat(front): select a called function by all its arguments and its result
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/tests/use_imports.rs
  new-plans/modules.md
  new-plans/syntax.md
  tests/integration/e2e_field_lenses.rs
  tests/integration/e2e_native.rs
Due: Frontend

feat(front): check a call against the only function it can name
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/use_imports.rs
  new-plans/modules.md
  new-plans/syntax.md
  tests/integration/e2e_field_lenses.rs
Due: Frontend

refactor(ir): declare ability instances in the module instead of a side table
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_func_has_evidence_param.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/boundary.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  new-plans/ir.md
  src/pipeline.rs
Due: Frontend, Middle End, Driver

docs(plans): spell the ability.operation attributes as the dialect declares them
  new-plans/ir.md
Due: none

refactor(front): record only the names that several uses import
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
Due: Frontend

feat(front): select an imported function by its first argument's type (#1465)
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/tests/use_imports.rs
  new-plans/modules.md
  tests/integration/e2e_field_lenses.rs
  tests/integration/e2e_native.rs
Due: Frontend

test(front): cover how a parameter matches an argument when selecting a function
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

fix(ir): reject a second ability.decl for one ability instance
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Middle End

feat(front): check a method call as the function call it stands for
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/use_imports.rs
  new-plans/implementation.md
  new-plans/modules.md
  new-plans/type-inference.md
  tests/integration/e2e_field_lenses.rs
  tests/integration/e2e_native.rs
Due: Frontend

refactor(front): relate an undecided operator's operands wherever it is inferred
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

feat(front): select a called function by all its arguments and its result (#1466)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/tests/use_imports.rs
  new-plans/modules.md
  new-plans/syntax.md
  tests/integration/e2e_field_lenses.rs
  tests/integration/e2e_native.rs
Due: Frontend

wip: field getters as method candidates
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
Due: Frontend

feat(front): read a field by calling its getter
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/function_signatures.rs
  crates/tribute-front/tests/use_imports.rs
  new-plans/modules.md
Due: Frontend

fix(front): say "1 argument" in the call arity diagnostic
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/use_imports.rs
  tests/integration/e2e_field_lenses.rs
Due: Frontend

test(front): expect the singular in a field read's arity error
  crates/tribute-front/tests/function_signatures.rs
Due: Frontend

test: run field reads selected as getter calls on both targets
  tests/integration/e2e_native.rs
Due: none

refactor(ir): declare ability instances in the module instead of a side table (#1467)
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_func_has_evidence_param.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/boundary.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  new-plans/ir.md
  src/pipeline.rs
Due: Frontend, Middle End, Driver

perf(front): index the structs that have a field of each name
  crates/tribute-front/src/typeck/context.rs
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
