Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

Encapsulate AttributeMap access and support string lookups
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR, Middle End

Add typed attribute getters with range validation
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR

Use typed attribute accessors across IR lowering
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Frontend, Middle End, Driver

Centralize ADT struct interning and simplify symbol lookups
  crates/tribute-passes/src/native/const_to_native.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir/src/validation.rs
  examples/salsa_usage.rs
  tests/e2e_add.rs
  tests/evidence_lambda.rs
  tests/salsa_integration.rs
Due: TrunkIR, Middle End

Preserve effect annotation origins for duplicate diagnostics
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  new-plans/implementation.md
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_duplicate_effect_in_annotation.snap
Due: Frontend

fix(front): preserve concrete variant field types
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  tests/snapshots/optimization_conformance__done_continuation_dedup_after.snap
  tests/snapshots/optimization_conformance__done_continuation_dedup_before.snap
Due: Frontend

fix(wasm): enforce canonical string and bytes lowering
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/wasm-backend.md
Due: Middle End

test(wasm): cover canonical string and bytes execution
  tests/wasm_compilation.rs
Due: none

Preserve effect annotation origins for duplicate diagnostics (#788)
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  new-plans/implementation.md
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_duplicate_effect_in_annotation.snap
Due: Frontend

Validate enum variant pattern field types
  crates/tribute-front/src/ast_to_ir/lower/case.rs
Due: Frontend

Validate canonical String enum layout
  crates/tribute-passes/src/wasm/const_to_wasm.rs
Due: Middle End

Canonicalize WASM constants during lowering (#789)
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/wasm-backend.md
  tests/snapshots/optimization_conformance__done_continuation_dedup_after.snap
  tests/snapshots/optimization_conformance__done_continuation_dedup_before.snap
  tests/wasm_compilation.rs
Due: Frontend, Middle End

Implement effect-aware let generalization
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/tests/let_generalization.rs
  new-plans/implementation.md
  new-plans/type-inference.md
Due: Frontend

Carry canonical String identity into IR
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-ir/src/lib.rs
  crates/tribute-ir/src/metadata.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend, Middle End, Driver

Propagate trusted RC ownership summaries
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_summary.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__ownership_summary__tests__trusted_direct_chain_summaries.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__ownership_summary__tests__untrusted_call_summaries.snap
  new-plans/rc.md
  src/pipeline.rs
  tests/fixtures/optimizations/trusted_ownership_forwarding.trb
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__borrowed_parameters_after.snap
  tests/snapshots/optimization_conformance__trusted_ownership_forwarding_elided.snap
  tests/snapshots/optimization_conformance__trusted_ownership_forwarding_preserved.snap
Due: Middle End, Driver

Implement temporary RC field borrows
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_temporary_field_borrow.snap
  crates/trunk-ir/src/dominance.rs
  crates/trunk-ir/src/lib.rs
  new-plans/rc.md
  src/pipeline.rs
  tests/common/mod.rs
  tests/fixtures/optimizations/temporary_field_borrows.trb
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__temporary_field_borrows_after.snap
  tests/snapshots/optimization_conformance__temporary_field_borrows_before.snap
Due: TrunkIR, Middle End, Driver

Refine well-known type plumbing
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/mod.rs
Due: Frontend

Preserve well-known types in frontend test lowering
  crates/tribute-front/tests/common/mod.rs
Due: Frontend

Implement temporary RC field borrows (#794)
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_temporary_field_borrow.snap
  crates/trunk-ir/src/dominance.rs
  crates/trunk-ir/src/lib.rs
  new-plans/rc.md
  src/pipeline.rs
  tests/common/mod.rs
  tests/fixtures/optimizations/temporary_field_borrows.trb
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__temporary_field_borrows_after.snap
  tests/snapshots/optimization_conformance__temporary_field_borrows_before.snap
Due: TrunkIR, Middle End, Driver

Rename canonical String module attribute
  crates/tribute-ir/src/metadata.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
Due: Middle End

Carry canonical String identity into IR (#793)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-ir/src/lib.rs
  crates/tribute-ir/src/metadata.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend, Middle End, Driver

Document composed RC borrow analyses
  new-plans/rc.md
Due: none

Test composed RC borrow policies
  crates/tribute-passes/src/native/rc_insertion.rs
Due: Middle End

Freshen effect rows in deferred instantiation
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

Generalize all let pattern bindings
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/let_generalization.rs
Due: Frontend

Reserve observed effect row variable IDs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

Resolve record shorthand pattern bindings
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/let_generalization.rs
Due: Frontend

Isolate shorthand generalization regression
  crates/tribute-front/tests/let_generalization.rs
Due: Frontend

Centralize borrowed-use analysis and scan nested functions
  crates/tribute-passes/src/native/ownership_summary.rs
  crates/tribute-passes/src/native/rc_insertion.rs
Due: Middle End

Implement effect-aware let generalization (#791)
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/let_generalization.rs
  new-plans/implementation.md
  new-plans/type-inference.md
Due: Frontend

docs: publish compiler capability matrix
  new-plans/capabilities.md
  new-plans/design.md
Due: none

docs: distinguish canonical M0 examples
  new-plans/capabilities.md
Due: none

docs: tighten capability evidence
  new-plans/capabilities.md
Due: none

Publish compiler capability and target support matrix (#800)
  new-plans/capabilities.md
  new-plans/design.md
Due: none

Document canonical runnable examples
  README.md
  lang-examples/README.md
  lang-examples/invalid_unresolved_name.trb
  lang-examples/native_effects.trb
  lang-examples/wasm_dynamic_output.trb
Due: none

Align examples with capability matrix
  README.md
  lang-examples/README.md
Due: none

Document development tool prerequisites
  README.md
  lang-examples/README.md
Due: none
