Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Refactor marker field layout specs
  crates/tribute-ir/src/dialect/ability.rs
Due: Middle End

Validate marker field count at compile time
  crates/tribute-ir/src/dialect/ability.rs
Due: Middle End

Use ptr-typed null dispatch values in wasm evidence rewrite
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

Align marker evidence layout across IR and backends (#746)
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
Due: TrunkIR, Middle End

Introduce target-independent effect ABI
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/mod.rs
  new-plans/cps-effects.md
  new-plans/ir.md
  new-plans/lowering.md
Due: Middle End

Refactor compiler implementation and align design docs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_call_to_effect_dispatch_tail.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_basic.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_with_args.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Middle End

refactor: remove arena-prefixed dialect names
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/mod.rs
  tests/evidence_lambda.rs
Due: TrunkIR, Frontend, Middle End

Refactor ability ID hashing into tribute-ir
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: Middle End

Use WASM i32 encoding for ability IDs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

Lower effect.extend to wasm evidence calls
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

Lower ability dispatch closures to WASM
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  tests/wasm_compilation.rs
Due: TrunkIR, Middle End

Add wasm evidence lowering tests
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

Align Wasm docs with shared effect ABI
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/lowering.md
  new-plans/wasm-backend.md
Due: none

feat(wasm): add backend-ready effect boundary
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/lowering.md
  new-plans/wasm-backend.md
  src/pipeline.rs
Due: Middle End, Driver

chore(wasm): tidy evidence extend helper
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

Lower effect ABI operations in Wasm (#748)
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/lowering.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

Require isolated anchors for nested passes
  crates/trunk-ir/src/pass.rs
  new-plans/lowering.md
Due: TrunkIR

Scope canonicalization rewrites to functions
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/mod.rs
  new-plans/lowering.md
  src/pipeline.rs
Due: TrunkIR, Driver

Add helper for named function passes
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/mod.rs
  new-plans/lowering.md
  src/pipeline.rs
Due: TrunkIR, Driver

Anchor canonicalization and cleanup passes to functions (#749)
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/mod.rs
  new-plans/lowering.md
  src/pipeline.rs
Due: TrunkIR, Driver

feat(ir): anchor local cleanup passes to functions
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/mod.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__dce__tests__function_scope_rewrites_only_selected_function.snap
  new-plans/implementation.md
  new-plans/lowering.md
  src/pipeline.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: TrunkIR, Driver

Anchor local cleanup passes to functions (#750)
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/mod.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__dce__tests__function_scope_rewrites_only_selected_function.snap
  new-plans/implementation.md
  new-plans/lowering.md
  src/pipeline.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: TrunkIR, Driver

feat(passes): anchor ability rewrites to functions
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/tail_resumptive.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  new-plans/implementation.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

Anchor ability rewrites to function passes (#751)
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/tail_resumptive.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  new-plans/implementation.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

feat(passes): anchor native evidence lowering to functions
  crates/tribute-passes/src/native/evidence.rs
  new-plans/implementation.md
  src/pipeline.rs
Due: Middle End, Driver

test(passes): cover native evidence pass entrypoints
  crates/tribute-passes/src/native/evidence.rs
Due: Middle End

Anchor native evidence lowering to functions (#752)
  crates/tribute-passes/src/native/evidence.rs
  new-plans/implementation.md
  src/pipeline.rs
Due: Middle End, Driver

feat(passes): anchor wasm evidence lowering to functions
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  new-plans/implementation.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

test(passes): cover wasm lowering pipeline
  crates/tribute-passes/src/wasm/lower.rs
Due: Middle End

Document WASM evidence lowering preconditions
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

Anchor wasm evidence lowering to functions (#753)
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  new-plans/implementation.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

docs(plans): clarify case lowering pass boundary
  new-plans/implementation.md
Due: none

Clarify case lowering pass boundary (#754)
  new-plans/implementation.md
Due: none

feat(passes): split closure lowering into function pass
  crates/tribute-passes/src/closure_lower.rs
  new-plans/implementation.md
  src/pipeline.rs
  tests/e2e_add.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Middle End, Driver

Split closure lowering into a function pass (#755)
  crates/tribute-passes/src/closure_lower.rs
  new-plans/implementation.md
  src/pipeline.rs
  tests/e2e_add.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Middle End, Driver

refactor(passes): convert native evidence ABI with patterns
  crates/tribute-passes/src/native/evidence.rs
Due: Middle End

Refactor native evidence ABI lowering through patterns (#756)
  crates/tribute-passes/src/native/evidence.rs
Due: Middle End

Collect univars from deferred callee types
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

Deterministically collect deferred resolution univars
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
