Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

refactor(native): address RC materialization review
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: Middle End

feat(native): make raw closure transfers explicit
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/rc.md
  src/pipeline.rs
  tests/active_pipeline_goldens.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/optimization_conformance__borrowed_parameters_after.snap
  tests/snapshots/optimization_conformance__borrowed_parameters_before.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_after.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_before.snap
  tests/snapshots/optimization_conformance__temporary_field_borrows_after.snap
  tests/snapshots/optimization_conformance__temporary_field_borrows_before.snap
  tests/snapshots/optimization_conformance__trusted_ownership_forwarding_elided.snap
  tests/snapshots/optimization_conformance__trusted_ownership_forwarding_preserved.snap
Due: Middle End, Driver

fix(native): validate grouped raw transfer acquires
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

#900: Materialize native RC before type erasure (#907)
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/rc.md
  src/pipeline.rs
  tests/active_pipeline_goldens.rs
  tests/optimization_conformance.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/optimization_conformance__borrowed_parameters_after.snap
  tests/snapshots/optimization_conformance__borrowed_parameters_before.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_after.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_before.snap
  tests/snapshots/optimization_conformance__temporary_field_borrows_after.snap
  tests/snapshots/optimization_conformance__temporary_field_borrows_before.snap
  tests/snapshots/optimization_conformance__trusted_ownership_forwarding_elided.snap
  tests/snapshots/optimization_conformance__trusted_ownership_forwarding_preserved.snap
Due: Middle End, Driver

Remove legacy native RC passes
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_summary.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__ownership_summary__tests__trusted_direct_chain_summaries.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__ownership_summary__tests__untrusted_call_summaries.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_alloc_store_return.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_multiple_uses.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_simple_param.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_temporary_field_borrow.snap
Due: Middle End

Remove superseded native RC passes (#908)
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_summary.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__ownership_summary__tests__trusted_direct_chain_summaries.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__ownership_summary__tests__untrusted_call_summaries.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_alloc_store_return.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_multiple_uses.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_simple_param.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_temporary_field_borrow.snap
Due: Middle End

Decouple native ownership planning from concrete CF operations
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/cfg.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

Cover Branch interface validation failures
  crates/tribute-passes/src/native/ownership_plan/cfg.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

Decouple native ownership planning from concrete CF operations (#910)
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/cfg.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

Fix recursive generic handler inference
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  src/pipeline.rs
  tests/e2e_ability_core.rs
Due: Frontend, Driver

Assert recursive handler fixture diagnostics
  src/pipeline.rs
Due: Driver

Fix recursive generic handler inference (#913)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  src/pipeline.rs
  tests/e2e_ability_core.rs
Due: Frontend, Driver

Guard paired RC elimination across releases
  crates/tribute-passes/src/native/rc_optimization.rs
  tests/e2e_int_text.rs
Due: Middle End

Guard paired RC elimination across potential owner releases (#914)
  crates/tribute-passes/src/native/rc_optimization.rs
  tests/e2e_int_text.rs
Due: Middle End

fix(frontend): validate case coverage after solving
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/case_type.rs
Due: Frontend

Validate case exhaustiveness after type solving (#915)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/case_type.rs
Due: Frontend

test: classify slow ability regressions
  .config/nextest.toml
  tests/e2e_ability_effect_row.rs
  tests/e2e_ability_handler.rs
  tests/e2e_ability_nested.rs
Due: none

fix(native): preserve nested borrowed owners
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

Classify long-running ability regressions as slow tests (#917)
  .config/nextest.toml
  tests/e2e_ability_effect_row.rs
  tests/e2e_ability_handler.rs
  tests/e2e_ability_nested.rs
Due: none

Preserve nested borrowed owners in native ownership planning (#916)
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

Preserve resume lambda effect metadata
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/let_generalization.rs
Due: Frontend

fix(frontend): preserve local resume lambda effects
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/let_generalization.rs
Due: Frontend

#835: Preserve resume lambda effect metadata (#918)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/let_generalization.rs
Due: Frontend

Lower final CPS dispatch with legacy compatibility
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/backend_ready.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir/src/validation.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: TrunkIR, Middle End

Cover legacy dispatch compatibility guards
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

Reject malformed legacy calls before lowering
  crates/tribute-passes/src/lower_ability_perform.rs
Due: Middle End

Rebind CPS dispatch through continuation frames (#842)
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/backend_ready.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir/src/validation.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: TrunkIR, Middle End

fix(frontend): register read line intrinsic provenance
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  src/pipeline.rs
Due: Frontend, Middle End, Driver

fix(frontend): register read line intrinsic provenance
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Frontend, Middle End

fix(frontend): register read line intrinsic provenance
  crates/tribute-front/src/ast_to_ir/mod.rs
  src/pipeline.rs
Due: Frontend, Driver

fix(frontend): register read line intrinsic provenance (#921)
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Frontend, Middle End

fix(pipeline): defer closure storage finalization
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/target_abi.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
Due: Middle End, Driver

docs(ir): wrap closure storage boundary
  new-plans/ir.md
Due: none

test(pipeline): cover source logical closure boundary
  src/pipeline.rs
Due: Driver

fix(pipeline): finalize closure storage after target ABI (#923)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/target_abi.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
Due: Middle End, Driver

feat(ir): declare indirect callable signatures
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-front/src/ast_to_ir/lower/control.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-passes/src/backend_ready.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  new-plans/ir.md
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: TrunkIR, Frontend, Middle End, Driver

fix(frontend): materialize resume token input
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Frontend, Middle End

fix(passes): preserve physical indirect signatures
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

feat(ir): declare indirect callable signatures (#924)
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-front/src/ast_to_ir/lower/control.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-passes/src/backend_ready.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  new-plans/ir.md
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: TrunkIR, Frontend, Middle End, Driver
