Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

fix(trunk-ir): erase disposed ops in transforms (#710 step 2b) (#714)
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

Replace joined_by with itertools formatting
  Cargo.lock
  crates/tribute-core/src/fmt.rs
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/resolve/resolver.rs
Due: Frontend, Driver

Remove joined helpers in favor of itertools formatting
  Cargo.lock
  crates/tribute-core/Cargo.toml
  crates/tribute-core/src/fmt.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/solver.rs
Due: Frontend, Driver

Replace tribute formatting helpers with itertools formatting (#715)
  Cargo.lock
  crates/tribute-core/Cargo.toml
  crates/tribute-core/src/fmt.rs
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/solver.rs
Due: Frontend, Driver

Add TDNR integration coverage for UFCS method resolution
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/ufcs_method_call.rs
Due: Frontend

Use structured TDNR summary in UFCS tests
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/ufcs_method_call.rs
Due: Frontend

Add TDNR method resolution tests
  crates/tribute-front/tests/common/mod.rs
Due: Frontend

Add TDNR integration tests for method resolution (#716)
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/ufcs_method_call.rs
Due: Frontend

chore: migrate agent settings to codex
  .agents/skills/tribute-testing/SKILL.md
  .codex/config.toml
  .codex/hooks.json
  AGENTS.md
Due: none

Use derive_more for IR validation errors
  Cargo.lock
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/validation.rs
  new-plans/types.md
  src/pipeline.rs
  tests/e2e_float.rs
Due: TrunkIR, Driver

Clarify float NaN semantics and consolidate validation errors (#717)
  Cargo.lock
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/validation.rs
  new-plans/types.md
  src/pipeline.rs
  tests/e2e_float.rs
Due: TrunkIR, Driver

build: update Cranelift dependencies
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

Update Cranelift dependencies to 0.132.1 (#718)
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

Remove obsolete WasmGC yield bubbling docs
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/optimizations.md
  new-plans/yield-propagation.md
Due: none

Lift nested CPS calls in case arms
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_argument.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_case_arm.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_handle_body.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_handler_arm.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_short_circuit_rhs.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_closure_call.snap
  new-plans/cps-effects.md
Due: Frontend

Cast case guards and short-circuit results to bool
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_short_circuit_rhs.snap
Due: Frontend

Fix nested CPS lowering in handler contexts
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_handler_arm.snap
Due: Frontend

Fix nested effectful CPS lowering (#730)
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_argument.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_case_arm.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_handle_body.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_handler_arm.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_short_circuit_rhs.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_closure_call.snap
  new-plans/cps-effects.md
Due: Frontend

test: add active ability pipeline goldens
  tests/active_pipeline_goldens.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: none

Add mixed nested active pipeline snapshot coverage
  tests/active_pipeline_goldens.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
Due: none

test: refine active pipeline golden helpers
  Cargo.lock
  Cargo.toml
  tests/active_pipeline_goldens.rs
Due: none

Add active pipeline golden snapshots for ability handling (#731)
  Cargo.lock
  Cargo.toml
  tests/active_pipeline_goldens.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: none

Add full conversion verification for native backend
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/mod.rs
Due: TrunkIR

Align compiler implementation with new plans
  new-plans/ir.md
  new-plans/lowering.md
Due: none

Strengthen TrunkIR conversion legality foundations (#732)
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/mod.rs
  new-plans/ir.md
  new-plans/lowering.md
Due: TrunkIR

Use partial conversion targets in lowering passes
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
Due: Middle End

Refactor pattern applicator target handling
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  new-plans/lowering.md
Due: TrunkIR, Middle End

Adopt explicit conversion targets in lowering passes (#738)
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  new-plans/lowering.md
Due: TrunkIR, Middle End

Add ability-lowered boundary to handle dispatch lowering
  crates/tribute-passes/src/lower_handle_dispatch.rs
  new-plans/lowering.md
Due: Middle End

Clarify ability-lowered boundary docs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
Due: Middle End

Expect panic in diagnostic snapshot tests
  tests/diagnostic_snapshots.rs
Due: none

Establish the ability-lowered boundary after shared ability lowering (#742)
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  new-plans/lowering.md
  tests/diagnostic_snapshots.rs
Due: Middle End

Propagate conversion errors from lowering passes
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tail_resumptive.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  new-plans/lowering.md
  src/pipeline.rs
  tests/diagnostic_snapshots.rs
  tests/e2e_add.rs
  tests/evidence_lambda.rs
  tests/snapshots/diagnostic_snapshots__diag_unhandled_effect_in_main.snap
  tests/snapshots/diagnostic_snapshots__diag_unhandled_effect_multiple.snap
Due: TrunkIR, Middle End, Driver

Fix pass failure lowering across effect and backend rewrites (#743)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tail_resumptive.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  new-plans/lowering.md
  src/pipeline.rs
  tests/diagnostic_snapshots.rs
  tests/e2e_add.rs
  tests/evidence_lambda.rs
  tests/snapshots/diagnostic_snapshots__diag_unhandled_effect_in_main.snap
  tests/snapshots/diagnostic_snapshots__diag_unhandled_effect_multiple.snap
Due: TrunkIR, Middle End, Driver

Refine conversion target legality precedence
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  new-plans/lowering.md
Due: TrunkIR, Middle End

Add explicit defer semantics to legality checks
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/mod.rs
  new-plans/lowering.md
Due: TrunkIR, Middle End

Refine conversion target legality precedence (#744)
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/mod.rs
  new-plans/lowering.md
Due: TrunkIR, Middle End

Add recursive legality for conversion targets
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  new-plans/lowering.md
Due: TrunkIR

Add recursive legality for conversion targets (#745)
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  new-plans/lowering.md
Due: TrunkIR

Centralize evidence ABI symbols and marker field layout
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
Due: TrunkIR, Middle End
