Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

test(native): add ability-heavy ASan smoke test (#1345)
  tests/integration/e2e_ability_nested.rs
Due: none

fix(lsp): rename field names only and expand shorthand patterns
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/resolve/mod.rs
  src/lsp/definition_index.rs
  src/lsp/server.rs
Due: Frontend, Driver

fix(lsp): limit rename of a definition to its name span
  src/lsp/definition_index.rs
  src/lsp/server.rs
Due: Driver

refactor(front): record a type's definition as one location attribute (#1348)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-passes/src/abi_boundary.rs
  new-plans/ir.md
  src/pipeline.rs
Due: Frontend, Middle End, Driver

refactor(wasm): compare builtin layouts without a placeholder type
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
Due: TrunkIR

fix(cps): number continuation frames in order of first use
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/tribute_control_to_cps/types.rs
Due: Middle End

fix(lsp): resolve shorthand record-pattern fields as field references
  src/lsp/definition_index.rs
  src/lsp/server.rs
Due: Driver

fix(lsp): keep the source spelling of a shorthand binding on field rename
  src/lsp/server.rs
Due: Driver

feat(front): give record field names NodeIds and index them in the LSP (#1347)
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/mod.rs
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast/visit.rs
  crates/tribute-front/src/ast/visit/tests.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/record_field_type.rs
  src/lsp/definition_index.rs
  src/lsp/server.rs
Due: Frontend, Driver

docs(guides): note that passes build their own type converter
  guides/development/conventions.md
Due: none

refactor(native): express native lowering stages as named Pass types
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/cast_legalization.rs
  crates/tribute-passes/src/native/clif_lowering.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/native/list.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_lowering.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rc_optimization.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(native): make the Pass types the only entry points of native lowering
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/descriptor_to_clif.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/native/list.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/rc_optimization.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/struct_to_mem.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
Due: Middle End

refactor(native): run native lowering stages through PassManager
  src/pipeline.rs
Due: Driver

refactor(ir): provide unrealized-cast reconciliation as a pass
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/cast_legalization.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/unrealized_casts.rs
  crates/trunk-ir/src/dialect/core.rs
  guides/development/ir.md
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/rc.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

fix(native): cast retyped closure values back to their declared types
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_adaptation.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_anyref_adaptation.snap
  src/pipeline.rs
Due: Middle End, Driver

fix(cps): number continuation frames in order of first use (#1355)
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/tribute_control_to_cps/types.rs
Due: Middle End

refactor(wasm): compare builtin layouts without a placeholder type (#1354)
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
Due: TrunkIR

refactor(native): run native lowering stages through PassManager (#1346)
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/cast_legalization.rs
  crates/tribute-passes/src/native/clif_lowering.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/descriptor_to_clif.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/native/list.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_lowering.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/rc_optimization.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_adaptation.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_anyref_adaptation.snap
  crates/tribute-passes/src/native/struct_to_mem.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/unrealized_casts.rs
  crates/trunk-ir/src/dialect/core.rs
  guides/development/conventions.md
  guides/development/ir.md
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/rc.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

test: remove duplicate and stale tests
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/printer.rs
  tests/integration/e2e_ability_core.rs
  tests/integration/e2e_ability_nested.rs
  tests/integration/e2e_float.rs
Due: TrunkIR, Frontend, Middle End

test: replace example-test families with property tests
  Cargo.lock
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/src/sorted_map.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/Cargo.toml
  crates/trunk-ir-wasm-backend/src/data_registry.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/context/prop_tests.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/printer/prop_tests.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/types/prop_tests.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Frontend

test: remove duplicate and stale tests (#1357)
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/printer.rs
  tests/integration/e2e_ability_core.rs
  tests/integration/e2e_ability_nested.rs
  tests/integration/e2e_float.rs
Due: TrunkIR, Frontend, Middle End

test: drive model-based properties with proptest-state-machine
  Cargo.lock
  Cargo.toml
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/astgen/helpers.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/src/sorted_map.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/Cargo.toml
  crates/trunk-ir-wasm-backend/src/data_registry.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/context/prop_tests.rs
  crates/trunk-ir/src/types/prop_tests.rs
Due: TrunkIR, Frontend

feat(clif): translate a multi-way branch with explicit case values
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/op_schema.rs
  guides/development/ir.md
  new-plans/cranelift-backend.md
  new-plans/ir.md
  tests/integration/common/mod.rs
  tests/integration/main.rs
  tests/integration/native_br_table.rs
Due: TrunkIR

refactor(clif): make br_table match Cranelift's instruction
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/dialect/clif.rs
  new-plans/cranelift-backend.md
  tests/integration/native_br_table.rs
Due: TrunkIR

feat(clif): add clif.switch for cranelift_frontend::Switch
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/dialect/clif.rs
  new-plans/cranelift-backend.md
  new-plans/design.md
  tests/integration/main.rs
  tests/integration/native_br_table.rs
  tests/integration/native_multiway_branch.rs
Due: TrunkIR

test: replace example-test families with property tests (#1358)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/astgen/helpers.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/src/sorted_map.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/Cargo.toml
  crates/trunk-ir-wasm-backend/src/data_registry.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/context/prop_tests.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/printer/prop_tests.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/types/prop_tests.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Frontend

feat(native): lower integer switches through cf.switch to clif.switch
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
Due: TrunkIR

refactor(clif): type the index operands of br_table and switch
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/dialect/clif.rs
  new-plans/cranelift-backend.md
Due: TrunkIR

refactor(cf): type the discriminant of cf.switch
  crates/trunk-ir/src/dialect/cf.rs
  new-plans/ir.md
Due: TrunkIR

feat(cf): require cf.switch cases to be values of the discriminant's type
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  new-plans/ir.md
Due: TrunkIR

refactor(clif): bound the switch index with impl IntegerLike
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/dialect/clif.rs
Due: TrunkIR

test(front): consolidate example-test families into table-driven tests
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/source_file.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/numeric_literals.rs
  crates/tribute-front/tests/raw_identifiers.rs
  tests/integration/e2e_add.rs
Due: Frontend

test: merge native/wasm twin e2e tests and share wasmtime execution
  new-plans/capabilities.md
  tests/integration/common/mod.rs
  tests/integration/e2e_ability_nested.rs
  tests/integration/e2e_native.rs
  tests/integration/open_callback_evidence_root.rs
  tests/integration/wasm_compilation.rs
Due: none

test(trunk-ir): consolidate example-test families into table-driven tests
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

test(passes): table-drive box/unbox snapshots and share the unchanged-on-error check
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/test_support.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
Due: Middle End

test(ir, backends): consolidate example-test families into table-driven tests
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
Due: TrunkIR, Middle End

build: disable incremental compilation for all worktrees
  .cargo/config.toml
  Cargo.toml
Due: none

feat(clif): add clif.switch and translate clif.br_table (#1359)
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/op_schema.rs
  guides/development/ir.md
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/ir.md
  tests/integration/common/mod.rs
  tests/integration/main.rs
  tests/integration/native_multiway_branch.rs
Due: TrunkIR

refactor(cf): bound the switch discriminant with impl IntegerLike
  crates/trunk-ir/src/dialect/cf.rs
Due: TrunkIR

docs: do not imply a rustc-wrapper cache is always configured
  .cargo/config.toml
  Cargo.toml
Due: none
