Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

test(passes): count releases in the closure's own release function
  crates/tribute-passes/src/native/rtti.rs
Due: Middle End

feat(front): carry convention classes in function instance keys (#1426)
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

fix(runtime): free the bytes of a native Bytes with the value that stores them (#1427)
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-runtime/src/lib.rs
  new-plans/cranelift-backend.md
  new-plans/rc.md
  tests/integration/e2e_native.rs
  tests/integration/optimization_conformance.rs
Due: Middle End

wip: compute row-variable convention classes at references
  crates/tribute-front/src/ast/calling_convention.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
Due: Frontend, Driver

docs(new-plans): fix a callable's convention by its row and delimit CPS control
  new-plans/cps-effects.md
  new-plans/generics.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/type-inference.md
Due: none

docs(new-plans): state the tail rule once and cover escaped resumptions
  new-plans/cps-effects.md
  new-plans/implementation.md
Due: none

docs(new-plans): let root main follow the row rule
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
Due: none

docs(new-plans): say that ability.delimit outlives frame expansion
  new-plans/cps-effects.md
  new-plans/ir.md
Due: none

docs(new-plans): fix a callable's convention by its row and delimit CPS control (#1428)
  new-plans/cps-effects.md
  new-plans/generics.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/type-inference.md
Due: none

docs(new-plans): give ability.delimit a Cps closure body
  new-plans/cps-effects.md
  new-plans/ir.md
Due: none

feat(passes): run CPS control in a non-Cps flow under a value delimiter
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/delimit.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  src/pipeline.rs
Due: Middle End, Driver

feat(front): keep a definition's convention when its body has a handle
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  tests/integration/active_pipeline_goldens.rs
  tests/integration/e2e_ability_handler.rs
  tests/integration/e2e_native.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_delimits_the_handle.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend

test: cover a managed answer and a case arm under a value delimiter
  tests/integration/e2e_ability_handler.rs
  tests/integration/e2e_native.rs
Due: none

fix(passes): remove the synthetic exit of a delimited body after conversion
  crates/tribute-passes/src/tribute_control_to_cps/delimit.rs
Due: Middle End

refactor(passes): lower ability.delimit to effect.delimit at frame expansion
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  new-plans/cps-effects.md
  new-plans/ir.md
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Middle End

fix(passes): reject a value delimiter with more than one evidence
  crates/tribute-passes/src/target_abi.rs
Due: Middle End

docs(new-plans): relate projections through bound constraints in operation schemas
  new-plans/ir.md
Due: none

feat(trunk-ir): let operation schemas constrain projections through bounds
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/type_constraint.rs
  crates/trunk-ir/tests/ui/ambiguous_projection.stderr
  crates/trunk-ir/tests/ui/equality_kind_mismatch.rs
  crates/trunk-ir/tests/ui/equality_kind_mismatch.stderr
  crates/trunk-ir/tests/ui/equality_projection_kind_mismatch.rs
  crates/trunk-ir/tests/ui/equality_projection_kind_mismatch.stderr
  crates/trunk-ir/tests/ui/equality_unbound_variable.rs
  crates/trunk-ir/tests/ui/equality_unbound_variable.stderr
  crates/trunk-ir/tests/ui/equality_unknown_projection.rs
  crates/trunk-ir/tests/ui/equality_unknown_projection.stderr
  crates/trunk-ir/tests/ui/unknown_projection.stderr
Due: TrunkIR, Middle End

feat(trunk-ir): let operation schemas constrain projections through bounds (#1432)
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/type_constraint.rs
  crates/trunk-ir/tests/ui/ambiguous_projection.stderr
  crates/trunk-ir/tests/ui/equality_kind_mismatch.rs
  crates/trunk-ir/tests/ui/equality_kind_mismatch.stderr
  crates/trunk-ir/tests/ui/equality_projection_kind_mismatch.rs
  crates/trunk-ir/tests/ui/equality_projection_kind_mismatch.stderr
  crates/trunk-ir/tests/ui/equality_unbound_variable.rs
  crates/trunk-ir/tests/ui/equality_unbound_variable.stderr
  crates/trunk-ir/tests/ui/equality_unknown_projection.rs
  crates/trunk-ir/tests/ui/equality_unknown_projection.stderr
  crates/trunk-ir/tests/ui/unknown_projection.stderr
  new-plans/ir.md
Due: TrunkIR, Middle End

refactor(passes): pass a value delimiter its evidence explicitly
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/delimit.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  new-plans/cps-effects.md
  new-plans/ir.md
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Middle End

refactor(ir): declare the shape of effect.delimit
  crates/tribute-ir/src/continuation_frame.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  new-plans/ir.md
Due: Middle End

docs(new-plans): bind a type variable from a type attribute with TypeOf
  crates/trunk-ir/tests/ui/reserved_type_parameter.rs
  crates/trunk-ir/tests/ui/reserved_type_parameter.stderr
  new-plans/ir.md
Due: TrunkIR

feat(trunk-ir): write type-attribute bindings as Attr<TypeOf<V>>
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/type_constraint.rs
  guides/development/ir.md
Due: TrunkIR, Middle End

feat(ir): type the array and list operations through projections
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/list.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/bytes.rs
  crates/trunk-ir/src/dialect/wasm_gc.rs
Due: TrunkIR, Frontend, Middle End

feat(trunk-ir): write type-attribute bindings as Attr<TypeOf<V>> (#1433)
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/type_constraint.rs
  crates/trunk-ir/tests/ui/reserved_type_parameter.rs
  crates/trunk-ir/tests/ui/reserved_type_parameter.stderr
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR, Middle End

feat(ir): type the array and list operations through projections (#1434)
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/list.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/bytes.rs
  crates/trunk-ir/src/dialect/wasm_gc.rs
Due: TrunkIR, Frontend, Middle End

feat: run CPS control in non-Cps callables under a value delimiter (#1430)
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-ir/src/continuation_frame.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/delimit.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  new-plans/cps-effects.md
  new-plans/ir.md
  src/pipeline.rs
  tests/integration/active_pipeline_goldens.rs
  tests/integration/e2e_ability_handler.rs
  tests/integration/e2e_native.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_delimits_the_handle.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend, Middle End, Driver

fix(passes): initialize an erased completion cell with a null reference
  crates/tribute-passes/src/target_abi.rs
  tests/integration/e2e_ability_handler.rs
Due: Middle End

test: follow convention class instances in the callback shape tests
  tests/integration/e2e_add.rs
  tests/integration/open_callback_evidence_root.rs
Due: none

feat(front): select convention class instances for body callables and field modifiers
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  tests/integration/e2e_native.rs
  tests/integration/open_callback_evidence_root.rs
Due: Frontend

docs(front): state every source of a class variable
  crates/tribute-front/src/monomorphize/instance.rs
Due: Frontend

test: cover a class variable that only a body lambda carries
  tests/integration/e2e_native.rs
Due: none

docs(new-plans): make native evidence and its markers reference-counted objects
  new-plans/cps-effects.md
  new-plans/rc.md
  new-plans/runtime-types.md
Due: none

test: count Option::map instances without a class suffix
  tests/integration/open_callback_evidence_root.rs
Due: none

fix(runtime): release native evidence, its markers and their dispatch closures
  crates/tribute-passes/src/native/descriptor_records.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-runtime/src/lib.rs
  tests/integration/e2e_ability_handler.rs
  tests/integration/optimization_conformance.rs
Due: Middle End

fix(passes): initialize an erased completion cell with a null reference (#1435)
  crates/tribute-passes/src/target_abi.rs
  tests/integration/e2e_ability_handler.rs
Due: Middle End

fix(front): join a method call's effect row into its caller's row
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/function_signatures.rs
Due: Frontend

feat(front): specialize definitions by the convention class of their row variables (#1436)
  crates/tribute-front/src/ast/calling_convention.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
  tests/integration/e2e_add.rs
  tests/integration/e2e_native.rs
  tests/integration/open_callback_evidence_root.rs
Due: Frontend, Driver

feat(front): close a body-local row tail joined into a closed row
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/tests/function_signatures.rs
  new-plans/type-inference.md
  tests/integration/e2e_native.rs
  tests/integration/open_callback_evidence_root.rs
Due: Frontend

fix(front): discharge a closed union once all its tails are empty
  crates/tribute-front/src/typeck/solver/row_union_tests.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  new-plans/type-inference.md
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
