Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

Expose imported builtin abilities in LSP and honor local shadows
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  new-plans/modules.md
  src/lsp/builtin_index.rs
  src/lsp/completion_index.rs
  src/lsp/mod.rs
  src/lsp/server.rs
  tests/e2e_ability_core.rs
Due: Frontend, Driver

Add builtin String type and document std::io Io export
  crates/tribute-front/src/typeck/checker/collect.rs
  new-plans/io.md
Due: Frontend

Share identity done continuation per compilation unit
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_handle_body.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_handler_arm.snap
  crates/tribute-front/tests/snapshots/cps_lowering__resume_in_op_handler.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  new-plans/cps-effects.md
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend

Refine CPS effect lowering for shared identity handling (#776)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_handle_body.snap
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_handler_arm.snap
  crates/tribute-front/tests/snapshots/cps_lowering__resume_in_op_handler.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  new-plans/cps-effects.md
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend

Introduce builtin identity handling for ambient Io (#775)
  crates/tribute-front/src/ast/calling_convention.rs
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  new-plans/abilities.md
  new-plans/io.md
  new-plans/modules.md
  src/lsp/builtin_index.rs
  src/lsp/completion_index.rs
  src/lsp/mod.rs
  src/lsp/server.rs
  src/lsp/type_index.rs
  tests/e2e_ability_core.rs
  tests/wasm_compilation.rs
Due: Frontend, Driver

docs: define qualified item paths
  new-plans/syntax.md
Due: none

feat(front): preserve qualified type paths
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

feat(io): add shared target-neutral boundary
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-ir/src/dialect/tribute_io.rs
  crates/tribute-passes/src/io_lowering.rs
  crates/tribute-passes/src/lib.rs
  lib/std/prelude.trb
  new-plans/implementation.md
  new-plans/io.md
  src/pipeline.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Middle End, Driver

test(io): cover intrinsic lowering boundaries
  crates/tribute-passes/src/io_lowering.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor: simplify path and I/O lowering internals
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-passes/src/io_lowering.rs
Due: Frontend, Middle End

Define std::io API and shared I/O boundary (#777)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-ir/src/dialect/tribute_io.rs
  crates/tribute-passes/src/io_lowering.rs
  crates/tribute-passes/src/lib.rs
  lib/std/prelude.trb
  new-plans/implementation.md
  new-plans/io.md
  new-plans/syntax.md
  src/pipeline.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend, Middle End, Driver

Add conformance gate for done continuation deduplication
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/optimizations.md
  new-plans/rc.md
  src/main.rs
  src/pipeline.rs
  tests/common/mod.rs
  tests/e2e_ability_core.rs
  tests/fixtures/optimizations/done_continuation_dedup_state.trb
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__done_continuation_dedup_after.snap
  tests/snapshots/optimization_conformance__done_continuation_dedup_before.snap
Due: Frontend, Driver

Add optimization conformance gate for done continuation deduplication (#778)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/optimizations.md
  new-plans/rc.md
  src/main.rs
  src/pipeline.rs
  tests/common/mod.rs
  tests/e2e_ability_core.rs
  tests/fixtures/optimizations/done_continuation_dedup_state.trb
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__done_continuation_dedup_after.snap
  tests/snapshots/optimization_conformance__done_continuation_dedup_before.snap
Due: Frontend, Driver

feat(runtime): implement native basic I/O
  Cargo.lock
  Cargo.toml
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
Due: none

docs(io): define native runtime boundary
  new-plans/cranelift-backend.md
  new-plans/io.md
Due: none

feat(native): lower shared I/O boundary
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/native/mod.rs
  src/pipeline.rs
  tests/common/mod.rs
  tests/e2e_native.rs
Due: Middle End, Driver

fix(io): retry short stdout writes
  crates/tribute-runtime/src/lib.rs
Due: none

fix(io): buffer native stdin reads
  crates/tribute-runtime/src/lib.rs
  crates/tribute-runtime/src/tls.rs
  tests/common/mod.rs
  tests/e2e_native.rs
Due: none

Implement native basic I/O and read_line semantics (#779)
  Cargo.lock
  Cargo.toml
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
  crates/tribute-runtime/src/tls.rs
  new-plans/cranelift-backend.md
  new-plans/io.md
  src/pipeline.rs
  tests/common/mod.rs
  tests/e2e_native.rs
Due: Middle End, Driver

Add native RC pair elimination
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_optimization.rs
  new-plans/rc.md
  src/pipeline.rs
  tests/common/mod.rs
  tests/fixtures/optimizations/paired_rc_elimination.trb
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__paired_rc_elimination_after.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_before.snap
Due: Middle End, Driver

Clarify RC paired elimination and mark planned optimizations
  new-plans/rc.md
Due: none

Add conservative native RC retain/release pair elimination (#780)
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_optimization.rs
  new-plans/rc.md
  src/pipeline.rs
  tests/common/mod.rs
  tests/fixtures/optimizations/paired_rc_elimination.trb
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__paired_rc_elimination_after.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_before.snap
Due: Middle End, Driver

Elide RC for proven-borrowed parameters
  crates/tribute-passes/src/native/rc_insertion.rs
  new-plans/rc.md
  src/pipeline.rs
  tests/common/mod.rs
  tests/fixtures/optimizations/borrowed_parameters.trb
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__borrowed_parameters_after.snap
  tests/snapshots/optimization_conformance__borrowed_parameters_before.snap
Due: Middle End, Driver

Strengthen borrowed parameter conformance
  crates/tribute-passes/src/native/rc_insertion.rs
  new-plans/rc.md
  tests/fixtures/optimizations/borrowed_parameters.trb
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__borrowed_parameters_after.snap
  tests/snapshots/optimization_conformance__borrowed_parameters_before.snap
Due: Middle End

Add Wasm I/O lowering for dynamic bytes writes
  Cargo.toml
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/tribute-passes/src/wasm/wasm_gc_type_assign.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  new-plans/io.md
  new-plans/wasm-backend.md
  tests/wasm_compilation.rs
Due: TrunkIR, Middle End

Strengthen RC insertion assertions
  crates/tribute-passes/src/native/rc_insertion.rs
Due: Middle End

Elide RC for proven-borrowed parameters (#782)
  crates/tribute-passes/src/native/rc_insertion.rs
  new-plans/rc.md
  src/pipeline.rs
  tests/common/mod.rs
  tests/fixtures/optimizations/borrowed_parameters.trb
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__borrowed_parameters_after.snap
  tests/snapshots/optimization_conformance__borrowed_parameters_before.snap
Due: Middle End, Driver

Fix wasm const lowering and indirect call type layout
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  tests/wasm_compilation.rs
Due: TrunkIR, Middle End

Lower dynamic Wasm I/O through a scratch buffer (#783)
  Cargo.toml
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/tribute-passes/src/wasm/wasm_gc_type_assign.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  new-plans/io.md
  new-plans/wasm-backend.md
  tests/wasm_compilation.rs
Due: TrunkIR, Middle End

Integrate wasm_gc lowering before WASM backend verification
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/wasm_gc_type_assign.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/mod.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/dialect/wasm_gc.rs
  new-plans/ir.md
Due: TrunkIR, Middle End

Refactor lowering pipeline and remove obsolete code
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/array_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  new-plans/ir.md
  src/pipeline.rs
  tests/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

Add coverage for lowering typed GC ops to wasm
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
Due: TrunkIR

Add semantic type lowering for Wasm GC types (#785)
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/tribute-passes/src/wasm/wasm_gc_type_assign.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/array_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/mod.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/dialect/wasm_gc.rs
  new-plans/ir.md
  src/pipeline.rs
  tests/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

Lower String constants through canonical WasmGC ADTs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  new-plans/string.md
  tests/wasm_compilation.rs
Due: TrunkIR, Middle End

test(wasm): expand lowering and emission coverage
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
Due: TrunkIR, Middle End

test(wasm): cover main result handling
  crates/tribute-passes/src/wasm/lower.rs
Due: Middle End

test(wasm): cover module metadata and traversal
  crates/tribute-passes/src/wasm/lower.rs
Due: Middle End

test(wasm): cover dialect validation helpers
  crates/tribute-passes/src/wasm/lower.rs
Due: Middle End

Preserve operand variant types in wasm variant_get
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
Due: TrunkIR

Lower string constants to prelude String variants in Wasm (#784)
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  new-plans/string.md
  tests/wasm_compilation.rs
Due: TrunkIR, Middle End
