Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

test(ir): add regression tests for PR #400 review fixes
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/context.rs
Due: TrunkIR, Frontend

test(native): add regression tests for native backend bug fixes
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_nat_literal.snap
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_release_before_jump.snap
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR, Frontend, Middle End

feat(native): implement Phase 4b RC continuation cleanup on drop path
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_yield_with_live_ptr.snap
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  new-plans/rc.md
Due: Middle End

fix: address PR #400 review feedback
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

docs: update Phase 4a/4b docs to reflect RcRoot and drop-path cleanup
  crates/tribute-runtime/src/lib.rs
  new-plans/rc.md
Due: none

feat(native): implement Phase 4b continuation cleanup on drop path (#402)
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_yield_with_live_ptr.snap
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  new-plans/rc.md
Due: Middle End

fix(native): skip RC release for jump operands and fix terminator detection
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_release_before_jump.snap
Due: Middle End

fix(native): enable case expression and recursion E2E tests (#400)
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_nat_literal.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_release_before_jump.snap
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/context.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  tests/e2e_native.rs
Due: TrunkIR, Frontend, Middle End

feat(native): lower adt.ref_null, adt.ref_cast, and adt.ref_is_null to clif (#356)
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_cast_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_is_null_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_null_to_clif.snap
  tests/e2e_native.rs
Due: none

refactor(native): rewrite ref op tests to use parse_test_module
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
Due: none

feat(native): lower adt.ref_null, adt.ref_cast, and adt.ref_is_null to clif (#406)
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_cast_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_is_null_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_null_to_clif.snap
  tests/e2e_native.rs
Due: none

feat(native): implement native struct support (#356)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  tests/e2e_native.rs
Due: Frontend, Middle End

fix(native): replace DefaultHasher with FxHasher for stable symbol mangling
  Cargo.lock
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/trunk-ir-cranelift-backend/Cargo.toml
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: Middle End

feat(native): implement native struct support (#410)
  Cargo.lock
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/trunk-ir-cranelift-backend/Cargo.toml
  crates/trunk-ir-cranelift-backend/src/translate.rs
  tests/e2e_native.rs
Due: Frontend, Middle End

fix(ir): make Symbol Ord deterministic by comparing string content
  crates/trunk-ir/src/ir.rs
Due: TrunkIR

feat(native): give tuples proper adt.struct types for RTTI/RC pipeline
  Cargo.lock
  Cargo.toml
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_constructor.snap
  crates/tribute-passes/src/native/rtti.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_adt_struct.snap
  tests/e2e_native.rs
Due: TrunkIR, Frontend, Middle End

feat(front): add proptest-based random AST generator (Phase 1, #358)
  Cargo.lock
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast/mod.rs
  crates/tribute-front/src/ast/prop.rs
Due: Frontend

refactor(front): improve prop.rs API and NodeId generation strategy
  crates/tribute-front/src/ast/prop.rs
Due: Frontend

fix(ast-to-ir): use qualified names as type_map keys to avoid collisions
  crates/tribute-front/src/ast_to_ir/lower.rs
Due: Frontend

feat(front): add proptest-based random AST generator (Phase 1, #358) (#411)
  Cargo.lock
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast/mod.rs
  crates/tribute-front/src/ast/prop.rs
Due: Frontend

fix(ir) + feat(native): deterministic Symbol ordering and tuple RTTI/RC support (#412)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_constructor.snap
  crates/tribute-passes/src/native/rtti.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
  crates/trunk-ir/src/ir.rs
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_adt_struct.snap
  tests/e2e_native.rs
Due: TrunkIR, Frontend, Middle End

test(front): add resolve and typecheck pipeline proptests
  crates/tribute-front/proptest-regressions/ast/prop.txt
  crates/tribute-front/src/ast/prop.rs
Due: Frontend

feat(front): add Block/Let/Var generation with scope-correct references (Phase 2, #358)
  crates/tribute-front/src/ast/prop.rs
Due: Frontend

test(front): stabilize proptest helpers and reduce CI load
  crates/tribute-front/src/ast/prop.rs
Due: Frontend

feat(native): implement enum/variant lowering for Cranelift backend (#409)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir/src/adt_layout.rs
  crates/trunk-ir/src/dialect/adt.rs
  src/pipeline.rs
  tests/e2e_native.rs
Due: TrunkIR, Frontend, Middle End, Driver

feat(front): add Block/Let/Var generation and pipeline smoke tests (#413) (#418)
  crates/tribute-front/proptest-regressions/ast/prop.txt
  crates/tribute-front/src/ast/prop.rs
Due: Frontend

fix(native): resolve enum E2E test failures in variant lowering (#409)
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  tests/e2e_native.rs
Due: Frontend, Middle End

style: fix clippy lints
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/trunk-ir/src/adt_layout.rs
Due: TrunkIR, Frontend, Middle End

fix(native): restrict UnboxBool no-op to i32 inputs only
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
Due: Middle End

feat(native): implement enum/variant lowering for Cranelift backend (#419)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/adt_layout.rs
  crates/trunk-ir/src/dialect/adt.rs
  src/pipeline.rs
  tests/e2e_native.rs
Due: TrunkIR, Frontend, Middle End, Driver

fix(cli): make --dump-ir respect --target flag
  src/lib.rs
  src/main.rs
Due: Driver

fix(native): use correct struct type for __prompt_env in cont_to_libmprompt
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  lang-examples/ability_core.trb
Due: Middle End

feat(front): add Lambda/Call/Tuple generators and multi-function modules (Phase 3, #358)
  crates/tribute-front/src/ast/prop.rs
Due: Frontend

fix(cli): exit with error code when diagnostics contain errors in --dump-ir
  src/main.rs
Due: Driver

fix(cli): make --dump-ir respect --target flag (#420)
  src/lib.rs
  src/main.rs
Due: Driver

fix(native): use correct struct type for __prompt_env in cont_to_libmprompt (#421)
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  lang-examples/ability_core.trb
Due: Middle End

fix(front): deduplicate NodeIds in two_fn_module and three_fn_module generators
  crates/tribute-front/src/ast/prop.rs
Due: Frontend

feat(front): add Lambda/Call/Tuple generators and multi-function modules (Phase 3, #358) (#422)
  crates/tribute-front/src/ast/prop.rs
Due: Frontend

fix(native): treat core.func as ptr-like in native type converter
  crates/tribute-passes/src/native/type_converter.rs
Due: Middle End
