Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Scope inline modules to their own items, imports, and the prelude (#1271)
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/inline_module_scope.rs
  crates/tribute-front/tests/nominal_type_identity.rs
  crates/tribute-front/tests/ufcs_method_call.rs
  crates/tribute-front/tests/use_imports.rs
  lang-examples/modules_inline.trb
  lib/std/prelude.trb
  new-plans/modules.md
  tests/integration/e2e_native.rs
Due: Frontend

refactor: store ability names as string attributes (#1272)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_func_has_evidence_param.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/effect_dispatch.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
  tests/integration/wasm_compilation.rs
Due: Frontend, Middle End, Driver

fix: key ability instances by their source type arguments
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_func_has_evidence_param.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-ir/src/dialect/ability.rs
  new-plans/implementation.md
  tests/integration/e2e_ability_nested.rs
Due: Frontend, Middle End

fix(native): stop boxing scalars in the type converter
  crates/tribute-passes/src/native/type_converter.rs
  new-plans/rc.md
Due: Middle End

feat(clif): relocate data addresses in data objects
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/dialect/clif.rs
Due: TrunkIR

docs: let the nominal boundary own runtime type descriptors
  new-plans/ir.md
  new-plans/rc.md
  new-plans/runtime-types.md
Due: none

feat(native): give each struct and variant a runtime type descriptor
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/descriptor_records.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  tests/integration/optimization_conformance.rs
Due: Middle End

feat(wasm): lead user objects with their runtime type descriptor
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
Due: TrunkIR, Middle End

Link extern "C" functions by their declared name
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  new-plans/modules.md
  tests/integration/e2e_native.rs
Due: Frontend

Make the prelude the root of package std
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/path.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/local_callable_instances.rs
  crates/tribute-front/tests/nominal_type_identity.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/expr_coverage__float_comparison_operators.snap
  crates/tribute-front/tests/snapshots/expr_coverage__string_equality_operators.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_basic.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_from_function.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_wildcard.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_pattern_constructor_element.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/ufcs_method_call.rs
  crates/tribute-passes/src/bytes_intrinsic.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/wasm/bytes.rs
  lib/std/prelude.trb
  new-plans/modules.md
  src/lsp/server.rs
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/integration/e2e_native.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_constructor_pattern_arity.snap
Due: Frontend, Middle End, Driver

Re-resolve root imports whenever the library is merged
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/library_package.rs
  src/pipeline.rs
Due: Frontend, Driver

docs: state Wasm descriptor numbering and native field kind mapping
  new-plans/rc.md
  new-plans/runtime-types.md
Due: none

test(native): check per-variant release functions
  crates/tribute-passes/src/native/rtti.rs
Due: Middle End

fix(native): keep the RTTI and descriptor tables the same length
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/rtti.rs
  new-plans/rc.md
Due: Middle End

docs: merge the RTTI and descriptor tables
  new-plans/cranelift-backend.md
  new-plans/rc.md
  new-plans/runtime-types.md
Due: none

refactor(native): put the release function in the RTTI record
  crates/tribute-passes/src/native/descriptor_records.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
Due: Middle End

fix: key ability instances by source identity, including effects
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/tests/cps_lowering.rs
  tests/integration/e2e_ability_nested.rs
Due: Frontend

test: cover ability instance key normalization
  crates/tribute-front/src/ast_to_ir/context.rs
Due: Frontend

docs: add steward skill for PR activity wakes
  .claude/skills/steward/SKILL.md
Due: none

fix: key ability instances by their source type arguments (#1277)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_func_has_evidence_param.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-ir/src/dialect/ability.rs
  new-plans/implementation.md
  tests/integration/e2e_ability_nested.rs
Due: Frontend, Middle End

Let empty root modules shadow prelude names
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/library_package.rs
Due: Frontend

refactor: store compiler intrinsic identities as string attributes
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/bytes_intrinsic.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/wasm/bytes.rs
  new-plans/ir.md
  src/pipeline.rs
Due: Frontend, Middle End, Driver

docs: address RTTI names and fields by offset within the table
  new-plans/rc.md
Due: none

Revert "feat(clif): relocate data addresses in data objects"
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/dialect/clif.rs
Due: TrunkIR

refactor(native): address RTTI names and fields by offset
  crates/tribute-passes/src/native/descriptor_records.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
Due: Middle End

docs: carry descriptor numbers in tribute_rtti declarations on both targets
  new-plans/runtime-types.md
Due: none

refactor(wasm): read descriptor numbers from tribute_rtti declarations
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/descriptors.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
Due: Middle End

feat: runtime type descriptors at the nominal boundary (#1279)
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/descriptor_records.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/descriptors.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/rc.md
  new-plans/runtime-types.md
  tests/integration/optimization_conformance.rs
Due: TrunkIR, Middle End

docs: describe tribute_rtti.layout declarations per descriptor
  new-plans/cranelift-backend.md
Due: none

fix(wasm): leave unresolved allocation descriptors undeclared
  crates/tribute-passes/src/wasm/descriptors.rs
Due: Middle End

fix: read sym_name as a string in the Salsa example
  examples/salsa_usage.rs
Due: none

fix(wasm): leave unresolved allocation descriptors undeclared (#1286)
  crates/tribute-passes/src/wasm/descriptors.rs
  new-plans/cranelift-backend.md
Due: Middle End

refactor: rename Attribute::Symbol to SymbolRef and add visit_symbol_refs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/bytes_intrinsic.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir-wasm-backend/src/emit/references.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
  crates/trunk-ir/tests/ui/legacy_annotation_rejected.rs
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR, Frontend, Middle End

refactor: store call_conv, parameter ownership and bind_name as strings
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/effect_dispatch.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__tail_transfers_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/rc.md
  new-plans/wasm-backend.md
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

docs: state how handlers treat effects arriving through a row tail
  new-plans/cps-effects.md
  new-plans/type-inference.md
Due: none

docs: mark tail interception as a non-guaranteed result of evidence lookup
  new-plans/cps-effects.md
  new-plans/type-inference.md
Due: none

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
