Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

refactor(pipeline): plan native ownership inside a phase-scoped analysis cache
  src/pipeline.rs
Due: Driver

docs(ir): correct the scope reused from the phase analysis cache
  new-plans/ir.md
Due: none

Extract policy-neutral native ownership flow facts as analyses (#1038)
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/facts.rs
  crates/tribute-passes/src/native/ownership_plan/facts_tests.rs
  new-plans/ir.md
  new-plans/rc.md
  src/pipeline.rs
Due: Middle End, Driver

Update Codex hooks configuration
  .codex/config.toml
  .codex/hooks.json
Due: none

Update Codex hooks configuration (#1039)
  .codex/config.toml
  .codex/hooks.json
Due: none

refactor(ir): prepare backend callers for context interner API
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/memory_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/context.rs
Due: TrunkIR

refactor(ir): omit unused mutable interner accessors
  crates/trunk-ir/src/context.rs
Due: TrunkIR

refactor(ir): read interned types through IrContext
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/context.rs
Due: TrunkIR

Accept symbol-convertible type builder names
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/memory_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR

Prepare TrunkIR interner access for revision tracking (#1043)
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/memory_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR

test(ir): cover analysis freshness across mutations and contexts
  crates/tribute-passes/src/native/ownership_plan/facts_tests.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/transforms/call_graph.rs
Due: TrunkIR, Middle End

docs(ir): define revision-based analysis cache contract
  new-plans/ir.md
Due: none

refactor(ir): remove raw mutable interner access
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/dialect/mod.rs
Due: TrunkIR, Middle End

fix(ir): migrate remaining test interner reads
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir/src/analysis.rs
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

test(ir): verify structured control cache refresh after mutation
  crates/trunk-ir/src/transforms/scf_control_flow.rs
Due: TrunkIR

Cache native managed liveness as dependent analyses (#932)
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/liveness.rs
  crates/tribute-passes/src/native/ownership_plan/liveness_tests.rs
  new-plans/ir.md
  new-plans/rc.md
Due: Middle End

Represent native liveness views with sealed policy types
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/liveness.rs
  crates/tribute-passes/src/native/ownership_plan/liveness_tests.rs
  new-plans/ir.md
  new-plans/rc.md
Due: Middle End

Query native liveness views from one cached analysis
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/liveness.rs
  crates/tribute-passes/src/native/ownership_plan/liveness_tests.rs
  new-plans/ir.md
  new-plans/rc.md
Due: Middle End

Cache native managed liveness with lazy policy views (#932) (#1054)
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/liveness.rs
  crates/tribute-passes/src/native/ownership_plan/liveness_tests.rs
  new-plans/ir.md
  new-plans/rc.md
Due: Middle End

Generate operation schemas and verify op structure from them
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/src/validation.rs
  guides/development/ir.md
  new-plans/implementation.md
  new-plans/ir.md
Due: TrunkIR, Middle End

Describe operation verifier timing as checkpoint-only
  new-plans/ir.md
Due: none

Classify core scalar types with IntegerLike, BoolLike, and FloatLike
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/scf.rs
Due: TrunkIR

Describe scalar category bounds as closed core predicates
  new-plans/ir.md
Due: none

Mention successor counts in operation verifier contract
  new-plans/ir.md
Due: none

Verify the root module against its schema
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

Generate operation schemas and verify op structure from them (#1055)
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/src/validation.rs
  guides/development/ir.md
  new-plans/implementation.md
  new-plans/ir.md
Due: TrunkIR, Middle End

Leave arith ops on uncategorized types unconverted in clif lowering
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__arith_to_clif__tests__arith_const_bool.snap
Due: none

Fail closed on uncategorized arith types in wasm and size native pointers
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
Due: TrunkIR

Accept only canonical decimal widths in core scalar names
  crates/trunk-ir/src/dialect/core.rs
Due: TrunkIR

Classify core scalar types with IntegerLike, BoolLike, and FloatLike (#1056)
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__arith_to_clif__tests__arith_const_bool.snap
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/scf.rs
Due: TrunkIR

Describe grouped builder inputs for declarative operation schemas
  new-plans/ir.md
Due: none

Add typed constraint syntax and fluent builders to #[dialect]
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-macros/Cargo.toml
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/type_constraint.rs
  crates/trunk-ir/tests/compile_fail.rs
  crates/trunk-ir/tests/ui/ambiguous_projection.rs
  crates/trunk-ir/tests/ui/ambiguous_projection.stderr
  crates/trunk-ir/tests/ui/bound_is_not_a_constraint.rs
  crates/trunk-ir/tests/ui/bound_is_not_a_constraint.stderr
  crates/trunk-ir/tests/ui/conflicting_exact_bounds.rs
  crates/trunk-ir/tests/ui/conflicting_exact_bounds.stderr
  crates/trunk-ir/tests/ui/mixed_syntax.rs
  crates/trunk-ir/tests/ui/mixed_syntax.stderr
  crates/trunk-ir/tests/ui/projection_kind_mismatch.rs
  crates/trunk-ir/tests/ui/projection_kind_mismatch.stderr
  crates/trunk-ir/tests/ui/reserved_type_parameter.rs
  crates/trunk-ir/tests/ui/reserved_type_parameter.stderr
  crates/trunk-ir/tests/ui/unknown_projection.rs
  crates/trunk-ir/tests/ui/unknown_projection.stderr
  crates/trunk-ir/tests/ui/values_requires_list.rs
  crates/trunk-ir/tests/ui/values_requires_list.stderr
  guides/development/conventions.md
  guides/development/ir.md
Due: TrunkIR

Install rust-src for trybuild snapshots and mark builder examples illustrative
  .github/workflows/ci.yml
  guides/development/conventions.md
  guides/development/ir.md
Due: none

Cover typed dialect error paths and constraint helpers
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/default_7911784972578973492_0_4034.profraw
  crates/trunk-ir/default_7911784972578973492_0_4043.profraw
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/type_constraint.rs
Due: TrunkIR

Parse typed dialect signatures with unsynn instead of syn
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-macros/Cargo.toml
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
Due: none

Check declared type attributes in exact type bounds
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir/default_7911784972578973492_0_4034.profraw
  crates/trunk-ir/default_7911784972578973492_0_4043.profraw
  crates/trunk-ir/src/op_schema/typed_tests.rs
Due: TrunkIR

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
