Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

test: add issue references to bytes literal test comments
  tests/e2e_native.rs
Due: none

Lower bytes literals to IR and add E2E tests (#607)
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  tests/e2e_native.rs
Due: Frontend

refactor(tribute-front): remove intermediate diagnostic collection from AstLoweringCtx (#608)
  crates/tribute-front/src/astgen/context.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/patterns.rs
Due: Frontend

feat: implement escape sequence processing for string and bytes literals
  crates/tribute-front/src/astgen/expressions.rs
  tests/e2e_native.rs
Due: Frontend

feat: add \uHHHH unicode escape and update grammar to v0.6.3
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/expressions.rs
  tests/e2e_native.rs
Due: Frontend

refactor: rewrite escape sequence processing with winnow
  Cargo.lock
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/astgen/expressions.rs
Due: Frontend

refactor: simplify escape processing to direct byte-slice scanning
  Cargo.lock
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/astgen/expressions.rs
Due: Frontend

feat(diagnostic): extend Diagnostic with secondary labels and notes (#565)
  crates/tribute-core/src/diagnostic.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/diagnostic.rs
  src/diagnostics.rs
  src/lsp/server.rs
Due: TrunkIR, Driver

fix: panic on invalid UTF-8 from escape processing instead of silently dropping
  crates/tribute-front/src/astgen/expressions.rs
Due: Frontend

refactor(diagnostic): replace builder methods with DiagnosticBuilder struct
  crates/tribute-core/src/diagnostic.rs
Due: Driver

Implement escape sequence processing for string and bytes literals (#609)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/expressions.rs
  tests/e2e_native.rs
Due: Frontend

feat(diagnostic): extend Diagnostic with secondary labels and notes (#610)
  crates/tribute-core/src/diagnostic.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/diagnostic.rs
  src/diagnostics.rs
  src/lsp/server.rs
Due: TrunkIR, Driver

feat(prelude): add String::empty() and Bytes::empty() constructors (#601)
  lib/std/prelude.trb
  tests/e2e_native.rs
Due: none

fix(tribute-front): emit Bytes::<> call for bytes concat operator
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  tests/e2e_native.rs
Due: Frontend

fix(tribute-front): desugar <> to MethodCall in astgen for TDNR resolution
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
Due: Frontend

refactor(tribute-front): remove BinOpKind::Concat and BuiltinRef::Concat
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

refactor(tribute-front): remove dead BuiltinRef::Cons and ListConcat variants
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

feat(prelude): add String::empty() and Bytes::empty() constructors (#612)
  lib/std/prelude.trb
  tests/e2e_native.rs
Due: none

fix(tribute-front): emit Bytes::<> call for bytes concat operator (#611)
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  tests/e2e_native.rs
Due: Frontend

refactor(arith): split type-agnostic ops into type-specific ops
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/tests/snapshots/case_type__case_bool_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_int_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_nat_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_nested.snap
  crates/tribute-front/tests/snapshots/case_type__case_result_type_unification.snap
  crates/tribute-front/tests/snapshots/cps_lowering__ability_op_then_pure_expr.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__resume_in_op_handler.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_basic.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_from_function.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_wildcard.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_flat_ops.snap
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_module_with_params.snap
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_simple_module.snap
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Frontend, Middle End

test(e2e_float): add regression tests for float comparison branching
  tests/e2e_float.rs
Due: none

fix: address PR #614 review feedback
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/snapshots/tribute_passes__lower_handle_dispatch__tests__lower_handle_dispatch_transforming_done.snap
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/op_interface.rs
  tests/e2e_float.rs
Due: TrunkIR, Middle End

fix(arith): use unordered-not-equal (une) predicate for float \!=
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
Due: TrunkIR, Frontend

refactor(arith): split type-agnostic ops into type-specific ops (#614)
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/tests/snapshots/case_type__case_bool_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_int_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_nat_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_nested.snap
  crates/tribute-front/tests/snapshots/case_type__case_result_type_unification.snap
  crates/tribute-front/tests/snapshots/cps_lowering__ability_op_then_pure_expr.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__resume_in_op_handler.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_basic.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_from_function.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_wildcard.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/snapshots/tribute_passes__lower_handle_dispatch__tests__lower_handle_dispatch_transforming_done.snap
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_flat_ops.snap
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_module_with_params.snap
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_simple_module.snap
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  tests/e2e_float.rs
Due: TrunkIR, Frontend, Middle End

feat(tribute-front): resolve operators via TDNR intrinsic functions (#613)
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/cps_lowering__ability_op_then_pure_expr.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_basic.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_wildcard.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/tuple_pattern.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lib.rs
  lib/std/prelude.trb
  src/lsp/definition_index.rs
  src/pipeline.rs
  tests/diagnostic_snapshots.rs
  tests/e2e_ability_core.rs
  tests/e2e_ability_handler.rs
  tests/e2e_ability_nested.rs
  tests/e2e_add.rs
  tests/effect_var_collision.rs
  tests/salsa_integration.rs
  tests/snapshots/diagnostic_snapshots__diag_unresolved_name_with_suggestion.snap
  tests/wasm_compilation.rs
Due: Frontend, Middle End, Driver

fix(tribute-front): remove redundant qualify_name call in lower_extern_function
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
Due: Frontend

feat(tribute-front): implement short-circuit evaluation for && and ||
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
Due: Frontend

Revert "feat(tribute-front): implement short-circuit evaluation for && and ||"
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
Due: Frontend

feat(tribute-front): resolve operators via TDNR intrinsic functions (#618)
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/cps_lowering__ability_op_then_pure_expr.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_basic.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_wildcard.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/tuple_pattern.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lib.rs
  lib/std/prelude.trb
  src/lsp/definition_index.rs
  src/pipeline.rs
  tests/diagnostic_snapshots.rs
  tests/e2e_ability_core.rs
  tests/e2e_ability_handler.rs
  tests/e2e_ability_nested.rs
  tests/e2e_add.rs
  tests/effect_var_collision.rs
  tests/salsa_integration.rs
  tests/snapshots/diagnostic_snapshots__diag_unresolved_name_with_suggestion.snap
  tests/wasm_compilation.rs
Due: Frontend, Middle End, Driver

test: add E2E tests for Bytes operations (#603)
  tests/e2e_native.rs
Due: none

fix(cranelift): emit uextend after icmp/fcmp to match expected result width
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
Due: none

test: update ignore reasons for Bytes operation tests
  tests/e2e_native.rs
Due: none

feat(runtime): replace __bytes_slice_or_panic intrinsic with C function
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-runtime/src/lib.rs
  lib/std/prelude.trb
Due: Middle End

feat(native): add intrinsic_to_native and mem_to_clif lowering passes
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/mod.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mod.rs
  src/pipeline.rs
Due: Middle End, Driver

test(e2e): enable Bytes slice tests and fix get_or_panic expected value
  tests/e2e_native.rs
Due: none

fix: address review feedback on Bytes slice and codegen
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
Due: none

feat(tribute-front): add Never type and non-resumptive handler validation for Abort ability
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  tests/e2e_ability_handler.rs
Due: Frontend

fix: use atomic RC increment and non-panicking offset conversion
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
Due: none

Add E2E tests for Bytes operations with native intrinsic support (#603) (#616)
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mod.rs
  lib/std/prelude.trb
  src/pipeline.rs
  tests/e2e_native.rs
Due: Middle End, Driver

fix(tribute-front): treat Never as bottom type in unification and clarify TODO
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/typeck/solver.rs
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
