Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

fix(trunk-ir): fix indentation for nested modules in IR printer (#475)
  crates/trunk-ir/src/arena/printer.rs
  crates/trunk-ir/src/arena/snapshots/trunk_ir__arena__printer__tests__print_nested_module.snap
Due: TrunkIR

refactor(tests): migrate snapshot tests to arena IR text format
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/snapshots/block_scope__block_let_binding_accessible_inside.snap
  crates/tribute-front/tests/snapshots/block_scope__block_with_case_pattern_binding.snap
  crates/tribute-front/tests/snapshots/block_scope__nested_blocks_separate_scopes.snap
  crates/tribute-front/tests/snapshots/block_scope__outer_scope_accessible_in_inner_block.snap
  crates/tribute-front/tests/snapshots/block_scope__sequential_blocks_independent_scopes.snap
  crates/tribute-front/tests/snapshots/case_type__case_bool_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_enum_variant.snap
  crates/tribute-front/tests/snapshots/case_type__case_int_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_nat_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_nested.snap
  crates/tribute-front/tests/snapshots/case_type__case_result_type_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
Due: Frontend

fix(ast_to_ir): resolve clippy lints in ast_to_ir module
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
Due: Frontend

refactor(ast-to-ir): port ast_to_ir to emit arena IrContext directly (#449)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/tuple_pattern.rs
  src/pipeline.rs
Due: Frontend, Driver

refactor(pipeline): replace IR-level prelude merge with AST-level merge
  crates/tribute-front/src/ast/span_map.rs
  crates/tribute-front/src/typeck/mod.rs
  examples/salsa_usage.rs
  src/lib.rs
  src/pipeline.rs
  tests/evidence_lambda.rs
  tests/salsa_integration.rs
Due: Frontend, Driver

refactor(tribute-front): extract shared test helpers into common module
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/tuple_pattern.rs
Due: Frontend

fix(tests): update record field type snapshots after IR printer rebase
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
Due: Frontend

style(tribute-front): use direct imports instead of qualified paths in tests
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/tuple_pattern.rs
Due: Frontend

refactor(pipeline): eliminate redundant Salsa↔Arena round-trip in hot path
  src/pipeline.rs
Due: Driver

fix(ast_to_ir): preserve effect rows in function types and eliminate UB
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
Due: Frontend

style(pipeline): elide unnecessary lifetime parameter
  src/pipeline.rs
Due: Driver

fix(ast_to_ir): use qualified names in ADT type creation
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
Due: Frontend

refactor(ast_to_ir): extract i31 range validation into shared utilities
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
Due: Frontend

fix(ast_to_ir): map unknown type annotations to any_type and add BlockArg fallback
  crates/tribute-front/tests/snapshots/block_scope__block_with_case_pattern_binding.snap
  crates/tribute-front/tests/snapshots/case_type__case_enum_variant.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
Due: Frontend

fix(ast_to_ir): propagate None early in tuple patterns and improve float detection
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
Due: Frontend

refactor(tribute-passes): remove Salsa code from closure_lower and resolve_evidence
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/resolve_evidence.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(tribute-passes): port cont_to_trampoline pass to arena IR
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/patterns.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_to_trampoline/truncate.rs
  crates/tribute-passes/src/cont_to_trampoline/wrap_returns.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(pipeline): run WASM and native pipelines in single arena sessions
  src/pipeline.rs
Due: Driver

fix(tribute-passes): fix cont_to_trampoline bugs and restore smoke tests
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
Due: Middle End

fix(tribute-passes): narrow is_any_closure_value_arena to match LowerClosureCallArena
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
Due: Middle End

chore(salsa-test-macros): suppress result_large_err clippy lint from unsynn
  crates/salsa-test-macros/src/lib.rs
Due: none

refactor(passes): remove Salsa from tribute-passes and eliminate arena round-trips (#483)
  crates/salsa-test-macros/src/lib.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/patterns.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_to_trampoline/truncate.rs
  crates/tribute-passes/src/cont_to_trampoline/wrap_returns.rs
  crates/tribute-passes/src/resolve_evidence.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(wasm-backend): remove Salsa IR consumers from gc_types and plan (#450)
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/plan.rs
Due: TrunkIR

feat(ast-to-ir): implement record spread lowering in arena IR
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
Due: Frontend

test(ast-to-ir): add tests for record spread edge cases
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
Due: Frontend

refactor(wasm-backend): remove Salsa IR consumers from gc_types and plan (#484)
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/plan.rs
Due: TrunkIR

refactor(ast-to-ir): remove value_types side table in IrLoweringCtx
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
Due: Frontend

feat(ast-to-ir): implement record spread lowering in arena IR (#485)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
Due: Frontend

refactor(pipeline): eliminate Salsa round-trips after ast_to_ir (#450)
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/translate.rs
  crates/trunk-ir-wasm-backend/src/wasm_binary.rs
  src/lib.rs
  src/main.rs
  src/pipeline.rs
  tests/evidence_lambda.rs
  tests/wasm_compilation.rs
Due: TrunkIR, Driver

fix(ast): add source hash to NodeId to prevent key-space collisions (#482)
  crates/tribute-front/src/ast/lookup.rs
  crates/tribute-front/src/ast/mod.rs
  crates/tribute-front/src/ast/node_id.rs
  crates/tribute-front/src/astgen/context.rs
  crates/tribute-front/src/astgen/mod.rs
Due: Frontend

refactor(pipeline): eliminate Salsa round-trips after ast_to_ir (#450 phase 2) (#486)
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/translate.rs
  crates/trunk-ir-wasm-backend/src/wasm_binary.rs
  src/lib.rs
  src/main.rs
  src/pipeline.rs
  tests/evidence_lambda.rs
  tests/wasm_compilation.rs
Due: TrunkIR, Driver

test(ast): add source-hash tests for lookup and clarify lower_cst_to_ast docs
  crates/tribute-front/src/ast/lookup.rs
  crates/tribute-front/src/astgen/mod.rs
Due: Frontend

fix(ast): add source hash to NodeId to prevent key-space collisions (#487)
  crates/tribute-front/src/ast/lookup.rs
  crates/tribute-front/src/ast/mod.rs
  crates/tribute-front/src/ast/node_id.rs
  crates/tribute-front/src/astgen/context.rs
  crates/tribute-front/src/astgen/mod.rs
Due: Frontend

feat(trunk-ir): add ArenaDialectType trait and struct codegen (#489)
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/arena/dialect/core.rs
  crates/trunk-ir/src/arena/dialect/mod.rs
  crates/trunk-ir/src/arena/ops.rs
Due: TrunkIR

feat(trunk-ir): add type definitions to remaining arena dialects (#489)
  crates/tribute-ir/src/arena/dialect/closure.rs
  crates/tribute-ir/src/arena/dialect/tribute_rt.rs
  crates/trunk-ir/src/arena/dialect/cont.rs
  crates/trunk-ir/src/arena/dialect/trampoline.rs
  crates/trunk-ir/src/arena/dialect/wasm.rs
Due: TrunkIR, Middle End

feat(trunk-ir): add String and Bytes type definitions to arena core dialect (#489)
  crates/trunk-ir/src/arena/dialect/core.rs
Due: TrunkIR

feat(trunk-ir): support variadic type params (#[rest]) in arena_dialect structs (#489)
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/arena/dialect/core.rs
  crates/trunk-ir/src/arena/dialect/mod.rs
Due: TrunkIR

refactor: use ArenaDialectType wrappers instead of manual TypeDataBuilder (#489)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
  crates/trunk-ir/src/arena/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

refactor: inline trivial type wrapper functions with typed constructors (#489)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/patterns.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
Due: TrunkIR, Middle End

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
