Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

test: print optimization fixture results with print_line
  tests/fixtures/optimizations/paired_rc_elimination.trb
  tests/fixtures/optimizations/state_handlers.trb
Due: none

fix(front): drop if from the keyword list
  crates/tribute-front/src/keywords.rs
Due: Frontend

feat: legalize become into proper tail transfers
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/boundary.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/structured.rs
  crates/trunk-ir/src/validation.rs
  tests/integration/e2e_become.rs
  tests/integration/main.rs
Due: TrunkIR, Middle End

bench: run counter_loop with become on both targets
  crates/tribute-bench/src/programs.rs
Due: none

feat(ir): lower become to tribute_control tail calls
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/become_tail_calls.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/snapshots/become_tail_calls__become_lowers_to_tail_call_ops.snap
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Frontend, Middle End

docs(new-plans): describe tail arms, adapters and post-boundary calls
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/ir.md
Due: none

fix: keep become proper through callable values
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  tests/integration/e2e_become.rs
  tests/integration/optimization_conformance.rs
Due: Middle End

fix: accept tail calls only in one-result scf.if arms
  crates/tribute-ir/src/dialect/tribute_control.rs
  new-plans/cps-effects.md
  new-plans/ir.md
Due: Middle End

fix: give internal tail-dispatch calls the tail signature
  crates/tribute-passes/src/effect_dispatch.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End

feat(passes): expand ability.handle in lower_continuation_frames
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End

refactor(passes): split frame state out of the CPS converter
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/adapters.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/structured.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/tribute_control_to_cps/types.rs
Due: Middle End

test(passes): reject a handle left by lower_continuation_frames
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
Due: Middle End

feat: explicit proper tail calls with become (#1387)
  crates/tribute-bench/src/programs.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/visit.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/keywords.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/become_check.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/become_tail_calls.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/snapshots/become_tail_calls__become_lowers_to_tail_call_ops.snap
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/effect_dispatch.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/boundary.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/structured.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir/src/validation.rs
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/ir.md
  tests/integration/e2e_become.rs
  tests/integration/main.rs
  tests/integration/optimization_conformance.rs
Due: TrunkIR, Frontend, Middle End

fix(passes): call the frame builders directly in the merged tail-call paths
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/structured.rs
Due: Middle End

fix(passes): leave a handle whose handlers and arms differ in count
  crates/tribute-passes/src/lower_continuation_frames.rs
Due: Middle End

feat(passes): expand ability.handle in lower_continuation_frames (#1390)
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/adapters.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/structured.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/tribute_control_to_cps/types.rs
  crates/trunk-ir/src/validation.rs
  tests/fixtures/optimizations/paired_rc_elimination.trb
  tests/fixtures/optimizations/state_handlers.trb
Due: TrunkIR, Middle End

docs(new-plans): state the derived-borrow invariant for field projections
  new-plans/rc.md
Due: none

fix(passes): do not borrow projections of a written layout
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/facts.rs
  crates/tribute-passes/src/native/ownership_plan/liveness.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

docs(new-plans): align parameter ownership with the consumed contract
  new-plans/ir.md
  new-plans/rc.md
Due: none

feat(passes): expand ability.perform and ability.abort in lower_continuation_frames
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/perform.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End

refactor(passes): drop the frame casts and move the layer builders to the frame pass
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
  crates/tribute-passes/src/lower_continuation_frames/suffix_layer.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/adapters.rs
Due: Middle End

docs(new-plans): separate the consumed rule from its encoding
  new-plans/rc.md
Due: none

test(passes): cover perform, abort, and nested frame answers in the frame pass
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  src/pipeline.rs
Due: Middle End, Driver

docs(ir): name the pass that emits ability.handle_dispatch
  crates/tribute-ir/src/dialect/ability.rs
Due: Middle End

fix(passes): do not borrow projections of a written layout (#1391)
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/facts.rs
  crates/tribute-passes/src/native/ownership_plan/liveness.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  new-plans/rc.md
Due: Middle End

feat(passes): expand ability.perform and ability.abort in lower_continuation_frames (#1393)
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
  crates/tribute-passes/src/lower_continuation_frames/perform.rs
  crates/tribute-passes/src/lower_continuation_frames/suffix_layer.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/adapters.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/trunk-ir/src/validation.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

docs(new-plans): align parameter ownership with the consumed contract (#1392)
  new-plans/ir.md
  new-plans/rc.md
Due: none

refactor(passes): group the frame expansions with their builders
  crates/tribute-passes/src/effect_dispatch.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
  crates/tribute-passes/src/lower_continuation_frames/perform.rs
  crates/tribute-passes/src/lower_continuation_frames/suffix_layer.rs
Due: Middle End

refactor(passes): give the shared CPS builders their own module
  crates/tribute-passes/src/cps_builders.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
  crates/tribute-passes/src/lower_continuation_frames/perform.rs
  crates/tribute-passes/src/lower_continuation_frames/suffix_layer.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
Due: Middle End

docs(new-plans): rename lower_ability_perform to lower_ability_call
  new-plans/cps-effects.md
  new-plans/implementation.md
Due: none

refactor(passes): rename lower_ability_perform to lower_ability_call
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_ability_call.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(passes): group frame expansions and shared CPS builders (#1394)
  crates/tribute-passes/src/cps_builders.rs
  crates/tribute-passes/src/effect_dispatch.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_ability_call.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
  crates/tribute-passes/src/lower_continuation_frames/perform.rs
  crates/tribute-passes/src/lower_continuation_frames/suffix_layer.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  src/pipeline.rs
Due: Middle End, Driver

docs(new-plans): state when a block argument transfer moves a unit
  new-plans/rc.md
Due: none

fix(passes): acquire a unit for a block argument whose source stays live
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  tests/integration/e2e_native.rs
Due: Middle End

feat(passes): let lower_continuation_frames choose the frame layouts
  crates/tribute-passes/src/cps_builders.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/perform.rs
  crates/tribute-passes/src/lower_continuation_frames/suffix_layer.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/tribute_control_to_cps/types.rs
Due: Middle End

test(passes): cover borrowed projections at transfers, stores and calls
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

feat(passes): share dispatch adapter factories and split the frame expansions
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
  crates/tribute-passes/src/lower_continuation_frames/perform.rs
  crates/tribute-passes/src/lower_continuation_frames/suffix_layer.rs
  tests/integration/active_pipeline_goldens.rs
Due: Middle End

fix(passes): acquire a unit for a block argument whose source stays live (#1401)
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  new-plans/rc.md
  tests/integration/e2e_native.rs
Due: Middle End

test(passes): assert the projection's own tail transfer
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

refactor(passes): number handles before expanding them
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
Due: Middle End

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
