Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

fix(wasm): strengthen invariant checks and remove dead code paths
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
Due: TrunkIR, Frontend

feat(types): add TypeKind::Continuation for effect handler continuations (#328)
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
Due: TrunkIR, Frontend

test: activate passing ability handler E2E tests (#325)
  tests/e2e_ability_core.rs
Due: none

feat(salsa-test-macros): support custom database types in test parameters
  crates/salsa-test-macros/src/lib.rs
Due: none

refactor(tests): use #[salsa_test] macro in e2e_float tests
  tests/e2e_float.rs
Due: none

Add comprehensive Float type E2E tests (#327)
  crates/salsa-test-macros/src/lib.rs
  lang-examples/float.trb
  tests/e2e_float.rs
Due: none

refactor: replace boxing IR pass with unrealized_conversion_cast in ast_to_ir
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-passes/src/boxing.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/type_converter.rs
  src/pipeline.rs
Due: Frontend, Middle End, Driver

fix(astgen): support both record_field and field_initializer node kinds
  crates/tribute-front/src/astgen/expressions.rs
Due: Frontend

fix: resolve unrealized_conversion_cast errors for polymorphic calls
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/type_converter.rs
Due: Frontend, Middle End

fix(typeck): continue solving constraints after first error
  crates/tribute-front/src/typeck/solver.rs
Due: Frontend

fix: address code review feedback for type representation and casting
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_extern_function.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_mixed_module.snap
  crates/tribute-front/tests/snapshots/block_scope__block_let_binding_accessible_inside.snap
  crates/tribute-front/tests/snapshots/block_scope__block_with_case_pattern_binding.snap
  crates/tribute-front/tests/snapshots/block_scope__nested_blocks_separate_scopes.snap
  crates/tribute-front/tests/snapshots/block_scope__outer_scope_accessible_in_inner_block.snap
  crates/tribute-front/tests/snapshots/block_scope__sequential_blocks_independent_scopes.snap
  crates/tribute-front/tests/snapshots/case_type__case_enum_variant.snap
  crates/tribute-front/tests/snapshots/case_type__case_int_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_nat_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_nested.snap
  crates/tribute-front/tests/snapshots/case_type__case_result_type_unification.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-passes/src/boxing.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/type_converter.rs
Due: Frontend, Middle End

fix: resolve record field parsing and polymorphic type materialization (#329)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_extern_function.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_mixed_module.snap
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/tests/snapshots/block_scope__block_let_binding_accessible_inside.snap
  crates/tribute-front/tests/snapshots/block_scope__block_with_case_pattern_binding.snap
  crates/tribute-front/tests/snapshots/block_scope__nested_blocks_separate_scopes.snap
  crates/tribute-front/tests/snapshots/block_scope__outer_scope_accessible_in_inner_block.snap
  crates/tribute-front/tests/snapshots/block_scope__sequential_blocks_independent_scopes.snap
  crates/tribute-front/tests/snapshots/case_type__case_enum_variant.snap
  crates/tribute-front/tests/snapshots/case_type__case_int_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_nat_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_nested.snap
  crates/tribute-front/tests/snapshots/case_type__case_result_type_unification.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-passes/src/boxing.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  src/pipeline.rs
Due: Frontend, Middle End, Driver

fix: prevent explosive unrealized_conversion_cast chains in WASM passes (#331)
  .markdownlint-cli2.jsonc
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  crates/trunk-ir/src/rewrite/applicator.rs
Due: TrunkIR

fix: prevent explosive unrealized_conversion_cast chains in WASM passes (#331) (#333)
  .markdownlint-cli2.jsonc
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  crates/trunk-ir/src/rewrite/applicator.rs
Due: TrunkIR

feat(typeck): add bidirectional type checking for lambda arguments
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/tuple_pattern.rs
  src/pipeline.rs
Due: Frontend, Driver

chore: install markdownlint-cli2 as local dev dependency
  .ci/lint.sh
  package-lock.json
  package.json
Due: none

fix(typeck): unify type args when merging effects with same ability
  crates/tribute-front/src/typeck/func_context.rs
Due: Frontend

feat(typeck): implement lambda effect type propagation to IR
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/tuple_pattern.rs
  lang-examples/ability_core.wasm
  src/pipeline.rs
  tests/e2e_ability_core.rs
  tests/evidence_lambda.rs
Due: Frontend, Driver

fix(typeck): constrain lambda effect row with expected effect
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

fix: resolve RowSubst chain and remap block args on evidence prepend
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-passes/src/evidence.rs
  crates/trunk-ir/src/ir.rs
Due: TrunkIR, Frontend, Middle End

fix: address code review feedback and add nextest config
  .config/nextest.toml
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  tests/e2e_ability_core.rs
  tests/evidence_lambda.rs
Due: Frontend

fix(cont-to-trampoline): recognize cont.resume as Step-producing operation
  crates/tribute-passes/src/cont_to_trampoline.rs
  tests/e2e_ability_core.rs
Due: Middle End

fix(typeck): merge callee's actual effect row to unify ability type params
  crates/tribute-front/src/typeck/checker/expr.rs
  tests/e2e_ability_core.rs
Due: Frontend

fix(typeck): convert RowSubst::apply() from recursion to iteration
  crates/tribute-front/src/typeck/solver.rs
Due: Frontend

fix(typeck): propagate effect rows through continuation types in handler arms
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
Due: Frontend

perf(wasm): optimize backend compilation from 28s to 1s (28x speedup)
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/tribute-passes/src/wasm/wasm_gc_type_assign.rs
  src/main.rs
  src/pipeline.rs
Due: Middle End, Driver

fix(ir, typeck): deep-remap nested regions in prepend_arg and fix effect row handling
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/trunk-ir/src/ir.rs
  crates/trunk-ir/src/rewrite/context.rs
Due: TrunkIR, Frontend

chore: address code review feedback and improve code clarity
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/trunk-ir/src/rewrite/context.rs
  tests/e2e_ability_core.rs
  tests/evidence_lambda.rs
Due: TrunkIR, Frontend

refactor(typeck, ast_to_ir): deduplicate effect-merge logic and improve test coverage
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  tests/e2e_ability_core.rs
Due: Frontend

fix: use concrete WASM type indices for evidence and marker types (#326)
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/array_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/local_global_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  tests/e2e_ability_core.rs
Due: TrunkIR, Middle End

style: fix clippy warnings in WASM backend
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/local_global_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
Due: TrunkIR, Middle End

fix: resolve WASM stack discipline for yield-br sequences
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  tests/e2e_ability_core.rs
Due: TrunkIR

fix: filter abstract WASM heap types from GC type registry (#326)
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
Due: TrunkIR, Middle End

fix: improve WASM continuation and loop infrastructure (#326)
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  crates/trunk-ir/src/dialect/wasm.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

fix: correct WASM evidence type attributes and handle type casts (#326)
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_trampoline.rs
  tests/e2e_ability_core.rs
Due: Frontend, Middle End

fix: unify WASM ability runtime calling convention and dispatch (#326)
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/handler_table_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  lang-examples/ability_core.wasm
  tests/e2e_ability_core.rs
  tests/evidence_lambda.rs
Due: TrunkIR, Frontend, Middle End

chore: update ignore annotation to reference #336
  tests/e2e_ability_core.rs
Due: none

fix: address PR review feedback for WASM and continuation passes
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
Due: TrunkIR, Middle End

fix: replace unsound op_offset first-match with hash-based dispatch (#336)
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
Due: TrunkIR, Middle End

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
