Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

refactor(trunk-ir): move textual format hooks into asm_format
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir/src/asm_format.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR, Middle End

refactor(trunk-ir): accept convertible attribute values and struct names
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/list.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/bytes.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End, Driver

refactor(trunk-ir): move textual format hooks into asm_format (#1249)
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir/src/asm_format.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR, Middle End

refactor(trunk-ir): let the adt dialect own adt.struct syntax
  crates/trunk-ir/src/asm_format.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
  new-plans/ir.md
Due: TrunkIR

test(trunk-ir): keep adt.struct tests with the adt dialect
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

test(trunk-ir): test adt.struct alias naming with the adt dialect
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

refactor(trunk-ir): back Symbol with ThreadedRodeo and expose as_str
  Cargo.lock
  Cargo.toml
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/symbol.rs
Due: TrunkIR

perf(trunk-ir): resolve symbols without a lock
  Cargo.lock
  Cargo.toml
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/symbol.rs
Due: TrunkIR

refactor(trunk-ir): store string attribute values in an IrContext pool
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/translate.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
  guides/development/ir.md
  new-plans/ir.md
  src/pipeline.rs
  tests/integration/evidence_lambda.rs
Due: TrunkIR, Frontend, Middle End, Driver

perf: borrow pooled string text instead of copying it
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
Due: Frontend, Middle End

docs(trunk-ir): state when a StringRef stays valid across context clones
  crates/trunk-ir/src/types.rs
  new-plans/ir.md
Due: TrunkIR

feat(trunk-ir-macros): generate a handle accessor for string attributes
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/tests/ui/string_attr_handle_name_taken.rs
  crates/trunk-ir/tests/ui/string_attr_handle_name_taken.stderr
  guides/development/ir.md
Due: TrunkIR

refactor(trunk-ir): store string attribute values in an IrContext pool (#1253)
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/translate.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
  crates/trunk-ir/tests/ui/string_attr_handle_name_taken.rs
  crates/trunk-ir/tests/ui/string_attr_handle_name_taken.stderr
  guides/development/ir.md
  new-plans/ir.md
  src/pipeline.rs
  tests/integration/evidence_lambda.rs
Due: TrunkIR, Frontend, Middle End, Driver

docs: separate structural layouts from runtime type descriptors
  AGENTS.md
  new-plans/ir.md
  new-plans/rc.md
  new-plans/runtime-types.md
  new-plans/wasm-backend.md
Due: none

fix(trunk-ir): keep bodyless abi declarations only while referenced
  crates/trunk-ir/src/transforms/global_dce.rs
Due: TrunkIR

docs: pin down the native descriptor table and index ranges
  new-plans/rc.md
  new-plans/runtime-types.md
Due: none

fix(trunk-ir): keep bodyless abi declarations only while referenced (#1256)
  crates/trunk-ir/src/transforms/global_dce.rs
Due: TrunkIR

fix: build cleanly on Rust 1.99 and pin the benchmarks to it
  .github/workflows/codspeed.yml
  crates/tribute-runtime/src/asan.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir/src/context.rs
Due: TrunkIR

refactor(runtime): call libc::write instead of declaring write
  crates/tribute-runtime/src/asan.rs
  crates/tribute-runtime/src/lib.rs
Due: none

fix: build cleanly on Rust 1.99 and pin the benchmarks to it (#1262)
  .github/workflows/codspeed.yml
  crates/tribute-runtime/src/asan.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir/src/context.rs
Due: TrunkIR

docs: say how Wasm builtin layouts such as closures map to descriptors
  new-plans/runtime-types.md
Due: none

docs: separate structural layouts from runtime type descriptors (#1255)
  AGENTS.md
  new-plans/ir.md
  new-plans/rc.md
  new-plans/runtime-types.md
  new-plans/wasm-backend.md
Due: none

refactor(wasm): drop unused export and import metadata from WasmBinary
  crates/trunk-ir-wasm-backend/src/translate.rs
Due: TrunkIR

Separate the resuming lambda's row rule from the general closed case
  new-plans/type-inference.md
Due: none

Keep each module-level function's declared scheme as its final scheme
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/src/typeck/solver/substitution.rs
  crates/tribute-front/tests/effect_union.rs
  new-plans/type-inference.md
Due: Frontend

Check each module-level function against a read-only environment
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/src/typeck/checker/finalize.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/tests/function_signatures.rs
Due: Frontend

Name the ambiguous case of an undeclared handler removal
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

Write the run_state fixture as a raw string
  crates/tribute-front/tests/function_signatures.rs
Due: Frontend

refactor(wasm): drop unused export and import metadata from WasmBinary (#1263)
  crates/trunk-ir-wasm-backend/src/translate.rs
Due: TrunkIR

refactor(trunk-ir-macros): keep `<name>_ref` and reserve wrapper method names
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/tests/ui/string_attr_handle_reserved.rs
  crates/trunk-ir/tests/ui/string_attr_handle_reserved.stderr
  guides/development/ir.md
Due: TrunkIR, Middle End

docs: show cmpi's predicate as a string attribute in the guides
  guides/development/conventions.md
  guides/development/ir.md
Due: none

refactor(wasm): keep import module and field names as pooled handles
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
Due: TrunkIR

refactor(trunk-ir): hold builder string text as a Cow
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/types.rs
  guides/development/ir.md
Due: TrunkIR

refactor(wasm): keep export names as pooled handles
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
Due: TrunkIR

refactor(trunk-ir-macros): name the string handle accessor `<name>_string_ref`
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/tests/ui/string_attr_handle_name_taken.rs
  crates/trunk-ir/tests/ui/string_attr_handle_name_taken.stderr
  guides/development/ir.md
Due: TrunkIR

Check module-level functions as isolated units against their declared schemes (#1261)
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/finalize.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/src/typeck/solver/substitution.rs
  crates/tribute-front/tests/effect_union.rs
  crates/tribute-front/tests/function_signatures.rs
  new-plans/type-inference.md
Due: Frontend

docs: name the representation/ABI boundary in the pipeline stages
  guides/development/ir.md
  src/cli.rs
  src/pipeline.rs
Due: Driver

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
