Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

chore: depend on tree-sitter-tribute v0.11.0 tag
  Cargo.lock
  Cargo.toml
Due: none

Resolve function symbol references by root-qualified path (#1092)
  Cargo.lock
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/symbol_table.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/validation.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
Due: TrunkIR, Middle End

Unify numeric literal grammar: separators, exponents, and suffixes (#1090)
  Cargo.lock
  Cargo.toml
  contrib/zed/languages/tribute/highlights.scm
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast/lookup.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/helpers.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/numeric.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/tests/numeric_literals.rs
  new-plans/modules.md
  new-plans/numeric-types.md
  new-plans/syntax.md
  tests/integration/e2e_native.rs
Due: Frontend

perf(ir): verify only after passes that changed the IR
  crates/trunk-ir/src/pass.rs
Due: TrunkIR

refactor(ir): pass the run's analysis cache to the pass verifier
  crates/trunk-ir/src/pass.rs
  src/pipeline.rs
Due: TrunkIR, Driver

refactor(ir): share one analysis cache across pipeline passes and checks
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/io_lowering.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/symbol_table.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(ir): take the analysis cache in PassManager::run
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/pass.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

Remove unnecessary SalsaValue derives from static types
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/span_map.rs
  crates/tribute-front/src/ast/types.rs
  crates/trunk-ir/src/symbol.rs
  guides/salsa.md
Due: TrunkIR, Frontend

refactor(ir): take the analysis cache in validators and CPS conversion
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/native/list.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

Strip block literal indentation and validate multiline escapes
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/helpers.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/src/astgen/text_literal.rs
  crates/tribute-front/tests/block_literals.rs
  new-plans/string.md
  new-plans/syntax.md
  tests/integration/e2e_native.rs
Due: Frontend

refactor: pass a default analysis cache where nothing is shared
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/io_lowering.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/list.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

refactor(ir): query symbol tables and call graphs through the cache
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/symbol_table.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End

fix(zed): pin grammar to tree-sitter-tribute v0.11.0 and update queries
  contrib/zed/extension.toml
  contrib/zed/languages/tribute/highlights.scm
  contrib/zed/languages/tribute/outline.scm
Due: none

docs(zed): note that the grammar rev must track Cargo.toml
  contrib/zed/README.md
Due: none

feat(ir): require infallible analyses without handling errors
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/symbol_table.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End

Remove unnecessary SalsaValue derives from static types (#1098)
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/span_map.rs
  crates/tribute-front/src/ast/types.rs
  crates/trunk-ir/src/symbol.rs
  guides/salsa.md
Due: TrunkIR, Frontend

fix(zed): highlight fn handler operations and qualified ability names
  contrib/zed/languages/tribute/highlights.scm
Due: none

build: bump tree-sitter-tribute to v0.11.1
  Cargo.lock
  Cargo.toml
  contrib/zed/extension.toml
Due: none

Update tree-sitter-tribute to v0.11.1
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/tests.rs
Due: Frontend

Share one AnalysisCache across passes and pipeline checks (#1096)
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/io_lowering.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/list.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/symbol_table.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

Strip block literal indentation and validate multiline escapes (#1100)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/helpers.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/src/astgen/text_literal.rs
  crates/tribute-front/tests/block_literals.rs
  new-plans/string.md
  new-plans/syntax.md
  tests/integration/e2e_native.rs
Due: Frontend

refactor(native): build the ownership plan through one entry point
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/facts_tests.rs
  crates/tribute-passes/src/native/ownership_plan/liveness_tests.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  src/pipeline.rs
Due: Middle End, Driver

Bump tree-sitter-tribute to v0.11.1 and sync Zed extension queries (#1099)
  contrib/zed/README.md
  contrib/zed/extension.toml
  contrib/zed/languages/tribute/highlights.scm
  contrib/zed/languages/tribute/outline.scm
Due: none

test(native): build production ownership plans through a helper
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

refactor(ir): lower SCF to CF with the caller's analysis cache
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/transforms/scf_control_flow.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  src/pipeline.rs
Due: TrunkIR, Driver

refactor(wasm): lower SCF to Wasm with the caller's analysis cache
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  src/pipeline.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

Build the native ownership plan through one entry point (#1101)
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/facts_tests.rs
  crates/tribute-passes/src/native/ownership_plan/liveness_tests.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  src/pipeline.rs
Due: Middle End, Driver

Use the caller's analysis cache in SCF lowering (#1103)
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/transforms/scf_control_flow.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  src/pipeline.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

Make keywords strict and add raw identifiers
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/context.rs
  crates/tribute-front/src/astgen/diagnostics.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/keywords.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/raw_identifiers.rs
  new-plans/syntax.md
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/pretty.rs
  src/lsp/server.rs
Due: Frontend, Driver

refactor(ir): run pass-manager entries in registration order
  crates/trunk-ir/src/pass.rs
  src/pipeline.rs
Due: TrunkIR, Driver

fix(wasm): let wasm.func declarations have no body
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/dialect/wasm.rs
Due: TrunkIR

fix(wasm): keep indirect call signatures equal to their arguments
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
Due: Middle End

refactor(wasm): run Wasm lowering steps through one PassManager
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/lower.rs
Due: Middle End

Report path keywords used as names and pin path keyword terminals
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/diagnostics.rs
  crates/tribute-front/tests/raw_identifiers.rs
Due: Frontend

Update tree-sitter-tribute to v0.12.0
  Cargo.lock
  Cargo.toml
Due: none

feat(ir): verify pass-manager input before the first pass
  crates/tribute-passes/src/type_converter.rs
  crates/trunk-ir/src/pass.rs
Due: TrunkIR, Middle End

Address review: raw completions, raw callee lookup, path keyword grammar
  crates/tribute-front/tests/raw_identifiers.rs
  new-plans/syntax.md
  src/lsp/completion_index.rs
  src/lsp/server.rs
Due: Frontend, Driver

Offer only raw-valid names after a typed r#
  crates/tribute-front/src/keywords.rs
  src/lsp/server.rs
Due: Frontend, Driver

Run Wasm lowering through PassManager with the debug verifier (#1104)
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/pass.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

Make keywords strict and add raw identifiers (#1105)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/context.rs
  crates/tribute-front/src/astgen/diagnostics.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/keywords.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/raw_identifiers.rs
  new-plans/syntax.md
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/pretty.rs
  src/lsp/server.rs
Due: Frontend, Driver

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
