Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

fix(trunk-ir): improve scf_to_cf robustness and correctness
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

feat(trunk-ir): add text format printer and parser for TrunkIR
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_binop_add.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_constructor.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_enum_decl.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_extern_function.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_function_call.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_let_binding.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_mixed_module.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_nat_literal.snap
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/parser.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_module_with_params.snap
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_simple_module.snap
  src/cli.rs
  src/main.rs
Due: TrunkIR, Frontend, Driver

test: handle LinkerNotFound in link test for CI compatibility
  src/pipeline.rs
Due: Driver

test(trunk-ir): add comprehensive scf_to_cf and cf dialect tests
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

feat(printer): elide block label in func.func for single-block no-arg bodies
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_binop_add.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_constructor.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_function_call.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_let_binding.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_mixed_module.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_nat_literal.snap
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_simple_module.snap
Due: TrunkIR, Frontend

Add native target support to compiler pipeline (#367)
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/diagnostics.rs
  src/lib.rs
  src/main.rs
  src/pipeline.rs
Due: Driver

feat(printer): elide entry block label for all single-block func bodies
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_extern_function.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_mixed_module.snap
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_module_with_params.snap
Due: TrunkIR, Frontend

test(parser): add proptest-based fuzz tests for IR parser
  crates/trunk-ir/src/parser.rs
Due: TrunkIR

chore: fix formatting and add proptest regression file
  crates/trunk-ir/proptest-regressions/parser.txt
  crates/trunk-ir/src/parser.rs
Due: TrunkIR

fix(printer): correct indentation when block label is elided
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_binop_add.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_constructor.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_extern_function.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_function_call.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_let_binding.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_mixed_module.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_nat_literal.snap
  crates/trunk-ir/src/parser.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_module_with_params.snap
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_simple_module.snap
Due: TrunkIR, Frontend

fix(trunk-ir): propagate value map into nested regions and fix switch type inference
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

test(trunk-ir): add tests for value_map propagation and switch default-only
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

fix: avoid clippy approx_constant lint in parser test
  crates/trunk-ir/src/parser.rs
Due: TrunkIR

fix(trunk-ir): address PR #368 review feedback for scf_to_cf
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

feat(cranelift): implement adt_to_clif pass for struct operations (#347)
  crates/trunk-ir-cranelift-backend/src/adt_layout.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mod.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  src/pipeline.rs
Due: Driver

fix: improve TrunkIR text format parser/printer robustness
  crates/trunk-ir/src/parser.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

fix(trunk-ir): prevent nested loop continue/break rewriting in scf_to_cf
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

feat(cranelift): add adt.struct_set lowering and type attribute
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir/src/dialect/adt.rs
Due: TrunkIR

fix: avoid result name collisions and escape symbols in text format
  crates/trunk-ir/src/parser.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

fix(trunk-ir): validate scf.yield arity against merge block args
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

refactor(cranelift): address code review feedback for adt_to_clif
  crates/trunk-ir-cranelift-backend/src/adt_layout.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
Due: none

fix(trunk-ir): add assertions for scf.switch validation in scf_to_cf
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

feat(cranelift): implement adt_to_clif pass for struct operations (#370)
  crates/trunk-ir-cranelift-backend/src/adt_layout.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mod.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/dialect/adt.rs
  src/pipeline.rs
Due: TrunkIR, Driver

fix: add validation and edge-case handling to TrunkIR text format
  crates/trunk-ir/src/parser.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

Add cf dialect and scf_to_cf lowering pass for Cranelift backend (#368)
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/transforms/mod.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

fix: improve text format round-trip fidelity and parser validation
  crates/trunk-ir/src/parser.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

feat(cranelift): add cf_to_clif pass and multi-block control flow support
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mod.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/dialect/clif.rs
  src/pipeline.rs
Due: TrunkIR, Driver

fix: scope SSA names per region and fix argN default-name detection
  crates/trunk-ir/src/parser.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

fix: reject duplicate SSA names, preserve effect-only signatures, validate bind_name
  crates/trunk-ir/src/parser.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

feat(cranelift): add closure and indirect call support to func_to_clif pass
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__call_indirect_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__func_func_to_clif.snap
Due: none

fix(cranelift): add validation for jump argument count mismatches
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

Add TrunkIR text format parser and printer with round-trip support (#369)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_binop_add.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_constructor.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_enum_decl.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_extern_function.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_function_call.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_let_binding.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_mixed_module.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_nat_literal.snap
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/proptest-regressions/parser.txt
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/parser.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_module_with_params.snap
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_simple_module.snap
  src/cli.rs
  src/main.rs
Due: TrunkIR, Frontend, Driver

fix(cranelift): improve type handling in func_to_clif pattern matching
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
Due: none

feat(cranelift): add cf_to_clif pass and multi-block control flow support (#375)
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mod.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/dialect/clif.rs
  src/pipeline.rs
Due: TrunkIR, Driver

Add closure and indirect call support to Cranelift backend (#376)
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__call_indirect_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__func_func_to_clif.snap
Due: none

build(deps): bump tree-sitter-tribute from 0.5.1 to 0.5.2
  Cargo.lock
  Cargo.toml
Due: none

chore: consolidate markdownlint config into single file
  .markdownlint-cli2.jsonc
  .markdownlint.json
Due: none

chore: add cranelift backend to TrunkIR codecov component
  codecov.yml
Due: none

feat(trunk-ir): add parse_test_module helper and round-trip tests
  crates/trunk-ir/src/parser.rs
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_adt_struct.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_arith_ops.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_func_call.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_func_effects.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_scf_if.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_scf_loop.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_scf_switch.snap
Due: TrunkIR

feat(cranelift): rename allocator to __tribute_alloc and add __tribute_dealloc
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  new-plans/rc.md
Due: none
