Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

fix(tribute-passes): fix three yield bubbling code review bugs
  crates/tribute-passes/src/cont_to_yield_bubbling/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
Due: Middle End

fix(tribute-passes): apply clippy fixes and guard early return in yield bubbling
  crates/tribute-passes/src/cont_to_yield_bubbling/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/shift_lower.rs
Due: Middle End

test(e2e): add E2E tests for yield bubbling operand remap and dead code fixes
  tests/e2e_ability_core.rs
Due: none

refactor(tribute-passes): simplify yield bubbling traversal and pattern rewriting
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/types.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/wrap_returns.rs
Due: Middle End

refactor(tribute-passes): remove arena_ prefix from dialect imports in yield bubbling
  crates/tribute-passes/src/cont_to_yield_bubbling/analysis.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/shift_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/types.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/wrap_returns.rs
Due: Middle End

refactor(tribute-passes): remove no-op UpdateScfYieldToYieldResultPattern
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  tests/e2e_ability_core.rs
Due: Middle End

fix(tribute-passes): fix indirect call return type and nested region truncation
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
Due: Middle End

docs(tribute-passes): clarify why VariantNew check is broad in unwrap_yr_calls_in_block
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
Due: Middle End

test(tribute-passes): add unit tests for yield bubbling truncate and wrap_returns helpers
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/wrap_returns.rs
Due: Middle End

test(tribute-passes): rewrite yield bubbling unit tests to use textual IR
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/wrap_returns.rs
Due: Middle End

fix(tribute-passes): preserve all func type attrs except "result" when truncating
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
Due: Middle End

feat(tribute-passes): implement cont_to_yield_bubbling pass for native backend (#522)
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_multi_suspend_arms.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_yield_bubbling/analysis.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/shift_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/types.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/wrap_returns.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/live_vars.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/symbol.rs
  src/pipeline.rs
  tests/e2e_ability_core.rs
Due: TrunkIR, Middle End, Driver

refactor(tribute-passes): remove cont_to_libmprompt pass and related dead code
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/patterns.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_done_only.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_multi_suspend_arms.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_single_suspend_arm.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_with_tr_annotation.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_drop_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_yield_with_live_ptr.snap
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tr_dispatch.rs
  src/pipeline.rs
Due: Middle End, Driver

fix(tribute-passes): correct tr_dispatch doc comment pipeline order
  crates/tribute-passes/src/tr_dispatch.rs
Due: Middle End

Remove cont_to_libmprompt pass and related dead code (#524)
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/patterns.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_done_only.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_multi_suspend_arms.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_single_suspend_arm.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_with_tr_annotation.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_drop_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_yield_with_live_ptr.snap
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tr_dispatch.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(tribute-runtime): remove libmprompt dependency
  .gitmodules
  Cargo.lock
  Cargo.toml
  build.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/build.rs
  crates/tribute-runtime/src/lib.rs
  crates/tribute-runtime/src/tls.rs
Due: none

Remove libmprompt runtime dependency (#525)
  .gitmodules
  Cargo.lock
  Cargo.toml
  build.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/build.rs
  crates/tribute-runtime/src/lib.rs
  crates/tribute-runtime/src/tls.rs
Due: none

chore: unignore flaky ability tests and update docs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  src/pipeline.rs
  tests/e2e_ability_core.rs
Due: Driver

Unignore flaky ability tests and update docs (#526)
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  src/pipeline.rs
  tests/e2e_ability_core.rs
Due: Driver

refactor(tribute-passes): replace cont_to_trampoline with cont_to_yield_bubbling for WASM
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/patterns.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_to_trampoline/truncate.rs
  crates/tribute-passes/src/cont_to_trampoline/wrap_returns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/analysis.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tr_dispatch.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  new-plans/implementation.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

docs(new-plans): consolidate shared passes in pipeline diagram
  new-plans/implementation.md
Due: none

refactor(pipeline): extract shared lowering and cleanup passes
  src/pipeline.rs
Due: Driver

refactor: remove trampoline dialect and trampoline_to_wasm pass
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/mod.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/plan.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/dialect/trampoline.rs
Due: TrunkIR, Middle End

Replace cont_to_trampoline with cont_to_yield_bubbling for WASM (#527)
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/patterns.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_to_trampoline/truncate.rs
  crates/tribute-passes/src/cont_to_trampoline/wrap_returns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/analysis.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tr_dispatch.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/mod.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/plan.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/dialect/trampoline.rs
  new-plans/implementation.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

docs(abilities): redesign handler syntax with fn/op distinction
  new-plans/abilities.md
  new-plans/implementation.md
  new-plans/syntax.md
Due: none

feat(tribute-ir): add CPS effect handling ops and design document
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/closure.rs
  new-plans/cps-effects.md
Due: Middle End

fix: resolve markdown lint errors in cps-effects.md
  new-plans/cps-effects.md
Due: none

docs: rename lambda_lift to lower_closure_lambda
  crates/tribute-ir/src/dialect/closure.rs
  new-plans/cps-effects.md
Due: Middle End

feat(tribute-passes): implement lower_closure_lambda pass
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
Due: Middle End

refactor(tribute-front): emit closure.lambda instead of inline lambda lifting
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-passes/src/lower_closure_lambda.rs
  src/pipeline.rs
  tests/evidence_lambda.rs
Due: Frontend, Middle End, Driver

feat(front): implement fn/op handler syntax in compiler frontend
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  lang-examples/ability_core.trb
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  tests/e2e_ability_core.rs
Due: Frontend, Driver

fix(front): fix resume lambda capture via synthetic variable binding
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  tests/e2e_ability_core.rs
Due: Frontend

fix(front): properly preserve resume local_id through compiler passes
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  tests/e2e_ability_core.rs
Due: Frontend

feat(tribute-passes): implement lower_ability_perform pass
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_ability_perform.rs
Due: Middle End

test(tribute-passes): add CPS shift path integration test
  crates/tribute-passes/src/lower_ability_perform.rs
Due: Middle End

fix: reject extra resume args and update stale k reference in docs
  crates/tribute-front/src/astgen/expressions.rs
  new-plans/syntax.md
Due: Frontend

fix(astgen): preserve module qualifiers in handler operation paths
  crates/tribute-front/src/astgen/expressions.rs
  tests/e2e_ability_core.rs
Due: Frontend

docs(syntax): add ResumeExpr production and allow qualified EffectItem
  new-plans/syntax.md
Due: none

feat(syntax): remove parentheses from resume and do handler syntax
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  lang-examples/ability_core.trb
  new-plans/abilities.md
  new-plans/implementation.md
  new-plans/syntax.md
  tests/e2e_ability_core.rs
Due: Frontend

fix(front): avoid deadlock in qualified handler path and add fn arm test
  crates/tribute-front/src/astgen/expressions.rs
  new-plans/implementation.md
  tests/e2e_ability_core.rs
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
