Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

feat(trunk-ir): add arena IR SignatureConversion patterns (#438)
  crates/trunk-ir/src/arena/context.rs
  crates/trunk-ir/src/arena/rewrite/applicator.rs
  crates/trunk-ir/src/arena/rewrite/mod.rs
  crates/trunk-ir/src/arena/rewrite/pattern.rs
  crates/trunk-ir/src/arena/rewrite/rewriter.rs
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
Due: TrunkIR

fix(trunk-ir): prevent partial IR update on arity mismatch in signature conversion
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
Due: TrunkIR

refactor(trunk-ir): extract rewrite_function_signature helper and add wasm arity test
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
Due: TrunkIR

Add arena IR SignatureConversion patterns (#460)
  crates/trunk-ir/src/arena/context.rs
  crates/trunk-ir/src/arena/rewrite/applicator.rs
  crates/trunk-ir/src/arena/rewrite/mod.rs
  crates/trunk-ir/src/arena/rewrite/pattern.rs
  crates/trunk-ir/src/arena/rewrite/rewriter.rs
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
Due: TrunkIR

refactor(trunk-ir): rename arena func type from func.fn to core.func
  crates/trunk-ir/src/arena/dialect/mod.rs
  crates/trunk-ir/src/arena/printer.rs
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
  crates/trunk-ir/src/arena/transforms/dce.rs
  crates/trunk-ir/src/arena/transforms/global_dce.rs
  crates/trunk-ir/src/arena/transforms/scf_to_cf.rs
  crates/trunk-ir/src/arena/validation.rs
  crates/trunk-ir/src/arena/walk.rs
Due: TrunkIR

docs(trunk-ir): fix inaccurate doc comments in validate_value_integrity
  crates/trunk-ir/src/arena/validation.rs
Due: TrunkIR

feat(trunk-ir): add arena IR parser and migrate raw parser to submodule
  crates/trunk-ir/src/arena/mod.rs
  crates/trunk-ir/src/arena/parser.rs
  crates/trunk-ir/src/arena/printer.rs
  crates/trunk-ir/src/arena/validation.rs
  crates/trunk-ir/src/parser/mod.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_adt_struct.snap
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_arith_ops.snap
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_func_call.snap
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_func_effects.snap
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_scf_if.snap
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_scf_loop.snap
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_scf_switch.snap
Due: TrunkIR

fix(trunk-ir): fix arena scope validator leaking inner-region values to outer scopes
  crates/trunk-ir/src/arena/validation.rs
Due: TrunkIR

fix(trunk-ir): harden arena parser and validator correctness
  crates/trunk-ir/src/arena/parser.rs
  crates/trunk-ir/src/arena/validation.rs
Due: TrunkIR

feat(trunk-ir): port validation, parser to arena IR and add SignatureConversion patterns (#461)
  crates/trunk-ir/src/arena/dialect/mod.rs
  crates/trunk-ir/src/arena/mod.rs
  crates/trunk-ir/src/arena/parser.rs
  crates/trunk-ir/src/arena/printer.rs
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
  crates/trunk-ir/src/arena/transforms/dce.rs
  crates/trunk-ir/src/arena/transforms/global_dce.rs
  crates/trunk-ir/src/arena/transforms/scf_to_cf.rs
  crates/trunk-ir/src/arena/validation.rs
  crates/trunk-ir/src/arena/walk.rs
  crates/trunk-ir/src/parser/mod.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_adt_struct.snap
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_arith_ops.snap
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_func_call.snap
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_func_effects.snap
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_scf_if.snap
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_scf_loop.snap
  crates/trunk-ir/src/parser/snapshots/trunk_ir__parser__tests__roundtrip_scf_switch.snap
Due: TrunkIR

feat(trunk-ir): add Salsa-Arena bridge for bidirectional IR conversion (#441)
  crates/trunk-ir/src/arena/bridge.rs
  crates/trunk-ir/src/arena/mod.rs
Due: TrunkIR

test(trunk-ir): clean up arena bridge test module
  crates/trunk-ir/src/arena/bridge.rs
Due: TrunkIR

feat(trunk-ir): add Salsa-Arena bridge for bidirectional IR conversion (#462)
  crates/trunk-ir/src/arena/bridge.rs
  crates/trunk-ir/src/arena/mod.rs
Due: TrunkIR

feat(tribute-passes): implement arena-based evidence passes (#442)
  crates/tribute-ir/src/arena/dialect/ability.rs
  crates/tribute-passes/src/evidence.rs
  crates/trunk-ir/src/arena/context.rs
Due: TrunkIR, Middle End

refactor(tribute-passes): move Salsa-Arena bridge logic from evidence.rs to pipeline.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/lib.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(pipeline): remove unused stage_evidence function
  src/pipeline.rs
Due: Driver

refactor(tribute-passes): flatten arena evidence module to top level
  crates/tribute-passes/src/evidence.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(tribute-passes): migrate evidence passes to ArenaRewritePattern
  crates/tribute-passes/src/evidence.rs
Due: Middle End

feat(tribute-passes): implement arena-based evidence passes (#442) (#463)
  crates/tribute-ir/src/arena/dialect/ability.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/lib.rs
  crates/trunk-ir/src/arena/context.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

feat(tribute-passes): port closure_lower and resolve_evidence passes to Arena IR
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(pipeline): reduce visibility of internal pipeline functions
  src/pipeline.rs
Due: Driver

refactor(pipeline): consolidate arena passes into a single session
  src/pipeline.rs
  tests/e2e_add.rs
Due: Driver

refactor(tribute-passes): simplify arena closure and evidence code
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

feat(tribute-passes): port closure_lower and resolve_evidence to Arena IR (#464)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  src/pipeline.rs
  tests/e2e_add.rs
Due: Middle End, Driver

feat(tribute-passes): port cont_to_libmprompt pass to Arena IR
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/patterns.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/live_vars.rs
  crates/trunk-ir/src/arena/context.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(trunk-ir): remove ValueData.ty to eliminate type redundancy
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/trunk-ir/src/arena/context.rs
Due: TrunkIR, Middle End

test(trunk-ir): add type mutator tests and verify arena cont lowering
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/trunk-ir/src/arena/context.rs
Due: TrunkIR, Middle End

feat(tribute-passes): port continuation lowering pipeline to Arena IR (#465)
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/patterns.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/live_vars.rs
  crates/trunk-ir/src/arena/context.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

feat(tribute-passes): port native RC passes to Arena IR and integrate into pipeline
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir/src/adt_layout.rs
  crates/trunk-ir/src/arena/context.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

feat(tribute-passes): port WASM passes and type converter to Arena IR (#445)
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/tribute-passes/src/wasm/wasm_gc_type_assign.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  crates/trunk-ir/src/arena/dialect/wasm.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

style(tribute-passes,trunk-ir-wasm-backend): fix clippy lint warnings
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/wasm_gc_type_assign.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
Due: TrunkIR, Middle End

fix(lint): resolve clippy warnings in native passes and trunk-ir
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir/src/adt_layout.rs
Due: TrunkIR, Middle End

fix(native-passes): address PR review comments in arena IR passes
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir/src/adt_layout.rs
Due: TrunkIR, Middle End

fix(native-passes): correct marker type check, RC block filtering, and let chain lint
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_lowering.rs
Due: Middle End

fix(tribute-passes,trunk-ir-wasm-backend): address PR review issues in WASM lowering passes
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
Due: TrunkIR, Middle End

fix(trunk-ir-wasm-backend,tribute-passes): replace silent fallbacks with proper error handling in WASM lowering
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
Due: TrunkIR, Middle End

refactor(native-passes): extract build_extern_func helper and add field index validation
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
Due: Middle End

fix(trunk-ir-wasm-backend,tribute-passes): tighten WASM lowering correctness checks
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
Due: TrunkIR, Middle End

refactor(native-passes): replace Salsa implementations with Arena-based equivalents
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_alloc_store_return.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_release_before_jump.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_simple_param.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_yield_with_live_ptr.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_int_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  src/pipeline.rs
Due: Middle End, Driver

fix(tribute-passes): skip ref_cast for concrete struct → structref upcasts
  crates/tribute-passes/src/wasm/type_converter.rs
Due: Middle End

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
