Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Add markdownlint to CI pipeline with comprehensive rule configuration (#314)
  .ci/lint.sh
  .claude/rules/conventions.md
  .claude/rules/crates.md
  .claude/rules/ir.md
  .claude/rules/pipeline.md
  .claude/skills/tribute-testing/SKILL.md
  .github/workflows/ci.yml
  .markdownlint.json
  AGENTS.md
  CLAUDE.md
  README.md
  contrib/zed/README.md
  docs/lsp-tracing.md
  guides/salsa.md
  guides/toy-dialect-tablegen-guide.md
  new-plans/abilities.md
  new-plans/design.md
  new-plans/generics.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/linking.md
  new-plans/lowering.md
  new-plans/modules.md
  new-plans/numeric-types.md
  new-plans/optimizations.md
  new-plans/string.md
  new-plans/syntax.md
  new-plans/type-inference.md
  new-plans/types.md
  new-plans/wasm-backend.md
  new-plans/yield-propagation.md
  plans/02.03-wasm-runtime-research.md
  plans/02.04-wasm-translation.md
  plans/05-standard-library.md
  plans/06-package-manager.md
  plans/07-testing-framework.md
  plans/08-documentation-system.md
  plans/README.md
Due: none

docs: remove obsolete tribute.* dialect references from comments
  crates/tribute-passes/src/evidence.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/op_adaptor.rs
Due: TrunkIR, Middle End

docs: remove obsolete tribute.* dialect references from comments (#318)
  crates/tribute-passes/src/evidence.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/op_adaptor.rs
Due: TrunkIR, Middle End

fix: resolve qualified ability operation names in TDNR (#317)
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/resolve/resolver.rs
Due: Frontend

feat(wasm): inline evidence lookup and extend as WASM operations
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

feat(ability): implement table-based handler dispatch with OpTableRegistry
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/live_vars.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir/src/dialect/cont.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
Due: TrunkIR, Frontend, Middle End

docs: simplify Evidence/Marker design using standard ADT types
  crates/tribute-ir/src/dialect/ability.rs
  new-plans/implementation.md
Due: Middle End

docs(ability): clarify that Evidence array is fixed-size
  new-plans/implementation.md
Due: none

feat(ability): implement Marker/Evidence as ADT types with WASM runtime
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
Due: TrunkIR, Middle End

feat(ability): implement handler_table emission for WASM function table dispatch
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/handler_table_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
Due: Middle End

docs(ability): update prompt_tag extraction and add validation
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/handler_table_to_wasm.rs
  crates/trunk-ir/src/dialect/cont.rs
Due: TrunkIR, Frontend, Middle End

docs(examples): use signed Int literals in calc.trb
  lang-examples/calc.trb
Due: none

test(ability): migrate e2e tests to CLI pipeline and unignore passing tests
  tests/e2e_ability_core.rs
Due: none

fix(wasm): correct control flow structure in evidence runtime operations
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

test: remove temporary WASM file output causing CI permission errors
  tests/e2e_add.rs
Due: none

feat(wasm): implement binary search for evidence runtime operations
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

test(ability): enable passing tests and align with Nat return type convention
  tests/e2e_add.rs
  tests/effect_var_collision.rs
Due: none

fix(ability): correct evidence type representations and ability_id semantics
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/implementation.md
Due: TrunkIR, Middle End

test(ability): ignore test due to evidence pass ICE regression
  tests/effect_var_collision.rs
Due: none

test(ability): add issue reference to ignore attribute
  tests/effect_var_collision.rs
Due: none

fix(wasm): correct result type for side-effect-only if statements
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  tests/e2e_ability_core.rs
Due: Middle End

Implement evidence runtime with inline WASM operations for ability dispatch (#316)
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/live_vars.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/handler_table_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir/src/dialect/cont.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  lang-examples/calc.trb
  new-plans/implementation.md
  tests/e2e_ability_core.rs
  tests/e2e_add.rs
  tests/effect_var_collision.rs
Due: TrunkIR, Frontend, Middle End

refactor: migrate Evidence/Marker from opaque types to standard ADT types (#315)
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/type_interface.rs
Due: TrunkIR, Middle End

refactor: optimize is_marker_type() and update evidence type documentation
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

Migrate Evidence/Marker from opaque types to ADT types (#320)
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/type_interface.rs
Due: TrunkIR, Middle End

fix: parse effect annotations and ability parameters to resolve cont.shift ICE (#319)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/astgen/declarations.rs
  tests/e2e_ability_core.rs
  tests/effect_var_collision.rs
Due: Frontend

fix(typeck): resolve EffectVar collision between lambdas and function signatures
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  tests/effect_var_collision.rs
Due: Frontend

test: clean up diagnostic output and enable passing tests
  crates/tribute-core/src/diagnostic.rs
  tests/e2e_ability_core.rs
Due: Driver

test: enable test_effect_row_polymorphism with type fixes
  tests/e2e_ability_core.rs
Due: none

test: enable 2 more passing tests
  tests/e2e_ability_core.rs
Due: none

fix(resolve): resolve ability names in handler patterns
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  src/lsp/definition_index.rs
  tests/e2e_ability_core.rs
Due: Frontend, Driver

Fix EffectVar collision between lambdas and function signatures (#321)
  crates/tribute-core/src/diagnostic.rs
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  src/lsp/definition_index.rs
  tests/e2e_ability_core.rs
  tests/effect_var_collision.rs
Due: Frontend, Driver

test: activate passing E2E ability test and update ignore reasons
  tests/e2e_ability_core.rs
Due: none

fix: resolve unrealized_conversion_cast failures in WASM backend
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  tests/e2e_ability_core.rs
Due: TrunkIR, Middle End

test: activate passing E2E ability test and update ignore reasons (#322)
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  tests/e2e_ability_core.rs
Due: TrunkIR, Middle End

test: add Float type E2E tests
  lang-examples/float.trb
  tests/e2e_float.rs
Due: none

refactor(wasm): unify indirect calls to i32 table-based call_indirect (#325)
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
Due: TrunkIR

docs: fix test documentation inconsistencies in e2e_float.rs
  tests/e2e_float.rs
Due: none

feat(types): add TypeKind::Continuation for effect handler continuations
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/solver.rs
Due: Frontend

refactor: improve e2e_float test documentation and reduce duplication
  tests/e2e_float.rs
Due: none

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
