Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

refactor(mem): bound mem.store's value with impl ScalarLike
  crates/trunk-ir/src/dialect/mem.rs
Due: TrunkIR

refactor(mem): bound mem.ptr_add's offset with impl IntegerLike
  crates/trunk-ir/src/dialect/mem.rs
Due: TrunkIR

Drop the im crate from IR lowering's type map (#1163)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast_to_ir/context.rs
Due: Frontend

refactor(native): select bytes intrinsic calls through their resolved declaration
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  src/pipeline.rs
Due: Middle End, Driver

Specify record literals for named-field variants
  new-plans/types.md
Due: none

Construct named-field variants from record literals
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/record_field_type.rs
  tests/integration/e2e_native.rs
Due: Frontend

fix(native): validate bytes intrinsic call arity before lowering
  crates/tribute-passes/src/native/intrinsic_to_native.rs
Due: Middle End

Group a variant's layout instead of allowing too many arguments
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
Due: Frontend

fix(native): zero-extend the bytes intrinsic's byte and index
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  tests/integration/e2e_native.rs
Due: Middle End

Lower the native bytes intrinsic inside the representation/ABI boundary (#1158)
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/io.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/mem.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__native_boundary_exit_violations_are_all_pending.snap
  tests/integration/e2e_native.rs
Due: TrunkIR, Middle End, Driver

Construct named-field variants from record literals (#1165)
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/record_field_type.rs
  new-plans/types.md
  tests/integration/e2e_native.rs
Due: Frontend

Build LSP semantic indexes from the prelude-aware frontend
  crates/tribute-front/src/query.rs
  src/lsp/builtin_index.rs
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
Due: Frontend, Driver

docs(new-plans): state signless integers and signed/unsigned conversions
  new-plans/ir.md
Due: none

feat(arith): split conversions by signedness and drop pointer casts
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
Due: TrunkIR, Middle End

fix(arith): leave narrow and boolean conversions the targets cannot express unconverted
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  new-plans/ir.md
Due: TrunkIR

fix(arith): leave boolean zero extension to 8 bits unconverted on native
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
Due: none

refactor(arith): invoke width verifiers with parenthesized arguments rustfmt can format
  crates/trunk-ir/src/dialect/arith.rs
Due: TrunkIR

docs(new-plans): make mem.null the only pointer constant
  new-plans/ir.md
Due: none

feat(mem): add mem.null and stop lowering pointer-typed arith constants
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
  crates/trunk-ir/src/dialect/mem.rs
Due: TrunkIR, Middle End

Split arith conversions by signedness and drop pointer casts (#1168)
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_adaptation.snap
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/mem.rs
  new-plans/ir.md
Due: TrunkIR, Middle End

docs(new-plans): give core.nil its own value op and keep arith.const numeric
  new-plans/ir.md
Due: none

feat(core): add core.nil_value and constrain arith.const to numeric values
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_func_has_evidence_param.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/expr_coverage__nil_literal.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_anyref_adaptation.snap
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

docs(guides): list the numeric and scalar type constraints
  guides/development/ir.md
Due: none

Build LSP semantic indexes from the prelude-aware frontend (#1167)
  crates/tribute-front/src/query.rs
  src/lsp/builtin_index.rs
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
Due: Frontend, Driver

test: replace the undefined core.bool type with core.i1
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/target_abi.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End

Compare case scrutinee and variant families by declaration identity
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/tests/case_type.rs
  tests/integration/e2e_native.rs
Due: Frontend

Give core.nil its own value op and constrain arith.const to numeric values (#1169)
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_func_has_evidence_param.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/expr_coverage__nil_literal.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_anyref_adaptation.snap
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  guides/development/ir.md
  new-plans/ir.md
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

Compare case scrutinee and variant families by declaration identity (#1170)
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/tests/case_type.rs
  tests/integration/e2e_native.rs
Due: Frontend

feat(bench): add ABI boundary cost benchmarks and report (#1135)
  Cargo.lock
  Cargo.toml
  crates/tribute-bench/Cargo.toml
  crates/tribute-bench/benches/abi_boundary.rs
  crates/tribute-bench/src/bin/abi_boundary_report.rs
  crates/tribute-bench/src/lib.rs
  crates/tribute-bench/src/programs.rs
  crates/tribute-bench/src/stages.rs
  src/pipeline.rs
Due: Driver

ci(bench): run the ABI boundary compile benchmarks on CodSpeed
  .cargo/config.toml
  .github/workflows/codspeed.yml
  Cargo.lock
  Cargo.toml
  README.md
  crates/tribute-bench/Cargo.toml
  crates/tribute-bench/benches/abi_boundary.rs
Due: none

End a dead case fallthrough with an unreachable terminator
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/validation.rs
  new-plans/ir.md
  new-plans/types.md
  tests/integration/e2e_native.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Frontend, Middle End

Cover managed case results around the unreachable fallthrough under ASan
  tests/integration/e2e_native.rs
Due: none

docs(new-plans): identify Wasm bytes layouts and state the narrow integer representation
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: none

fix(pipeline): run the shared pipeline once in compile_with_diagnostics
  src/pipeline.rs
  tests/canonical_smoke.rs
  tests/integration/active_pipeline_goldens.rs
  tests/integration/diagnostic_snapshots.rs
  tests/integration/salsa_integration.rs
Due: Driver

docs(new-plans): treat spellings of one builtin Wasm layout as the same type
  new-plans/wasm-backend.md
Due: none

feat(wasm-backend): normalize narrow integers where they are read
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/dialect/wasm.rs
Due: TrunkIR

feat(wasm): lower the bytes intrinsic inside the boundary on an identified bytes layout
  crates/tribute-core/src/runtime_layout.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/bytes_intrinsic.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/wasm/bytes.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

fix(pipeline): run the shared pipeline once in compile_with_diagnostics (#1174)
  src/pipeline.rs
  tests/canonical_smoke.rs
  tests/integration/active_pipeline_goldens.rs
  tests/integration/diagnostic_snapshots.rs
  tests/integration/salsa_integration.rs
Due: Driver

perf(bench): time the frontend and shared middle-end for two programs only
  crates/tribute-bench/benches/abi_boundary.rs
Due: none

Reject unverified cases and drop arms past an exhaustive case's coverage
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/tests/case_type.rs
  new-plans/types.md
  tests/integration/e2e_native.rs
  tests/integration/wasm_compilation.rs
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
