Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

refactor(tribute-front): use qualified() directly instead of re-interning via from_dynamic
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
Due: Frontend

fix(cranelift): propagate failure instead of silently emitting zero for malformed arith.const
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
Due: none

test(e2e): add regression test for Bool case branch dispatch (#548)
  tests/e2e_native.rs
Due: none

refactor(tribute-front): remove redundant Symbol re-interning in context.rs
  crates/tribute-front/src/ast_to_ir/context.rs
Due: Frontend

fix: handle Bool constants in ArithConstPattern (#548) (#552)
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__arith_to_clif__tests__arith_const_bool.snap
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  tests/e2e_native.rs
Due: TrunkIR

Simplify interned ID types to single qualified Symbol (#534 stage 2) (#551)
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
Due: Frontend, Driver

fix(tribute-front): use variant name for CtorId in TDNR cons test
  crates/tribute-front/src/tdnr/resolver.rs
Due: Frontend

Use variant name for CtorId in TDNR cons test (#555)
  crates/tribute-front/src/tdnr/resolver.rs
Due: Frontend

test: add nested handler semantics tests (#500)
  tests/e2e_ability_core.rs
Due: none

refactor(test): omit redundant `do result { result }` in nested handler tests
  tests/e2e_ability_core.rs
Due: none

test: add nested handler semantics tests (#556)
  tests/e2e_ability_core.rs
Due: none

refactor(test): split e2e_ability_core.rs into topic-based test files
  tests/e2e_ability_core.rs
  tests/e2e_ability_handler.rs
  tests/e2e_ability_nested.rs
Due: none

test: add effect row polymorphism e2e tests (#502)
  tests/e2e_ability_effect_row.rs
Due: none

Add E2E tests for effect row polymorphism (#502) (#557)
  tests/e2e_ability_core.rs
  tests/e2e_ability_effect_row.rs
  tests/e2e_ability_handler.rs
  tests/e2e_ability_nested.rs
Due: none

feat(runtime): add __tribute_print_bytes and __tribute_print_newline
  crates/tribute-runtime/src/lib.rs
Due: none

feat(typeck): enforce unhandled effect errors at compile time for main
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  tests/e2e_ability_core.rs
Due: Frontend

feat(runtime): add print_bytes and print_newline functions (#558)
  crates/tribute-runtime/src/lib.rs
Due: none

refactor(typeck): return impl Display from Effect::display() instead of String
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

refactor(typeck): implement Display for Effect directly via salsa::with_attached_database
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

style(typeck): simplify Symbol comparison using PartialEq<&str>
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

refactor(typeck): add CommaSep utility and use it for unhandled effects diagnostic
  crates/tribute-core/src/fmt.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend, Driver

refactor(fmt): generalize CommaSep to Sep with configurable separator
  crates/tribute-core/src/fmt.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend, Driver

refactor(fmt): replace Sep struct with joined() function
  crates/tribute-core/src/fmt.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend, Driver

docs(conventions): add Formatting Utilities section documenting joined() helper
  .claude/rules/conventions.md
Due: none

fix(ast): avoid panic in Effect Display when no salsa database is attached
  crates/tribute-front/src/ast/types.rs
Due: Frontend

refactor(fmt): add joined_by() for custom per-item formatting
  crates/tribute-core/src/fmt.rs
  crates/tribute-front/src/ast/types.rs
Due: Frontend, Driver

docs(conventions): add joined_by usage example to Formatting Utilities
  .claude/rules/conventions.md
Due: none

Enforce unhandled effect errors at compile time for main (#559)
  .claude/rules/conventions.md
  crates/tribute-core/src/fmt.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  tests/e2e_ability_core.rs
Due: Frontend, Driver

feat(ir): introduce b"..." bytes literal syntax in IR text format
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR, Middle End

test(ability): add edge case tests for empty abilities and multi-param ops (#505)
  tests/e2e_ability_core.rs
  tests/e2e_ability_handler.rs
Due: none

fix(ir): correctly parse \xNN byte escapes above 0x7F in b"..." literals
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
Due: TrunkIR

Add Bytes AttrType and b"..." literal syntax (#560)
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR, Middle End

fix(ability): use proper adt.struct type for multi-param yield payloads
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/tests/snapshots/cps_lowering__multi_arg_ability_op.snap
  tests/e2e_ability_core.rs
  tests/e2e_ability_handler.rs
Due: Frontend

fix(typeck): infer pattern types before binding in case inference
  crates/tribute-front/src/typeck/checker/expr.rs
  tests/e2e_native.rs
Due: Frontend

feat: replace String primitive with prelude-defined enum rope type
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/mod.rs
  lib/std/prelude.trb
  new-plans/string.md
  src/lsp/type_index.rs
Due: TrunkIR, Frontend, Driver

chore: bump tree-sitter-tribute to v0.6.2
  Cargo.lock
  Cargo.toml
  tests/e2e_ability_core.rs
  tests/e2e_ability_handler.rs
Due: none

test(ability): add edge case tests for empty abilities and multi-param ops (#561)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/tests/snapshots/cps_lowering__multi_arg_ability_op.snap
  tests/e2e_ability_core.rs
  tests/e2e_ability_handler.rs
Due: Frontend

fix(test): align variable names with actual types in subst test
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

refactor: remove depth field from String::Branch
  lib/std/prelude.trb
  new-plans/string.md
Due: none

refactor: add TypeKind::string() helper to deduplicate Named type construction
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  src/lsp/type_index.rs
Due: Frontend, Driver

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
