Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Resolve names in a borrowed module
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/monomorphize/nominal.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/effect_union.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
Due: Frontend, Driver

Borrow compiled binaries from the database
  guides/salsa.md
  src/main.rs
  src/pipeline.rs
  tests/integration/common/mod.rs
  tests/integration/open_callback_evidence_root.rs
  tests/integration/wasm_compilation.rs
Due: Driver

Borrow IR dumps from the database
  guides/salsa.md
  src/pipeline.rs
  tests/integration/active_pipeline_goldens.rs
  tests/integration/optimization_conformance.rs
Due: Driver

Drop returns(ref) attributes that restate Salsa's default
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/source_file.rs
  crates/tribute-front/src/typeck/mod.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
Due: Frontend, Driver

Borrow the source syntax tree
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/source_file.rs
  src/lsp/server.rs
Due: Frontend, Driver

Type check a borrowed module
  crates/tribute-front/src/ast/mod.rs
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/monomorphize/nominal.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/effect_union.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
Due: Frontend, Driver

Borrow the resolved module and drop the cloned typed module query
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/tests/let_generalization.rs
Due: Frontend

Borrow Salsa results that callers only read
  crates/tribute-core/src/target.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/int_text.rs
  guides/salsa.md
  src/lsp/completion_index.rs
  src/main.rs
  src/pipeline.rs
  tests/integration/frontend_instances.rs
  tests/integration/frontend_type_roots.rs
Due: Frontend, Driver

Return Salsa Vec fields as slices
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/solver/substitution.rs
  crates/tribute-front/src/typeck/subst.rs
  src/pipeline.rs
  tests/integration/frontend_instances.rs
  tests/integration/frontend_type_roots.rs
Due: Frontend, Driver

Drop the SalsaValue bound from find_func
  crates/tribute-front/src/query.rs
Due: Frontend

Drop returns(copy) from tracked functions that return nothing
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
Due: Frontend

Borrow interned scheme fields in TypeSchemeBuilder
  crates/tribute-front/src/ast/types.rs
Due: Frontend

Rewrite effect annotations in place during name resolution
  crates/tribute-front/src/resolve/resolver.rs
Due: Frontend

Resolve method calls in place
  crates/tribute-front/src/tdnr/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
Due: Frontend, Driver

Pass borrowed test expressions without cloning them
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

Borrow annotations when TDNR rebuilds their types
  crates/tribute-front/src/tdnr/resolver.rs
Due: Frontend

fix(trunk-ir): quote module attribute keys that are not bare identifiers
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

fix(frontend): record what a use path resolves to and type-check imports from it
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

Name the use target resolver after what it returns
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

Round-trip boundary-exit IR through text; fix module attribute printing and arena-order release planning (#1191)
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

Record what a use path resolves to and type-check imports from it (#1194)
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

Type check the prelude once
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/tests/common/mod.rs
  src/pipeline.rs
Due: Frontend, Driver

refactor: snapshot operation successor lists as BlockList
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
Due: Middle End

refactor(trunk-ir): borrow a module's top-level ops instead of copying them
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/bytes_intrinsic.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/symbol_table.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/dce.rs
  src/pipeline.rs
  tests/integration/evidence_lambda.rs
  tests/integration/open_callback_evidence_root.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

refactor: iterate IR child lists in place where nothing mutates the IR
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rc_optimization.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/dominance.rs
  crates/trunk-ir/src/rewrite/rewriter.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

refactor(trunk-ir): name the IR child list types OpList, BlockList, and RegionList
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/rewrite/helpers.rs
Due: TrunkIR, Middle End

refactor: keep region op, CFG block, and successor lists as SmallVec
  crates/tribute-passes/src/native/ownership_plan/cfg.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/dominance.rs
Due: TrunkIR, Middle End

refactor: snapshot IR child lists as SmallVec clones instead of heap vectors
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rc_optimization.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/dominance.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/rewriter.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

refactor(trunk-ir): stop copying IR child lists into heap vectors
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

Type check the prelude once (#1198)
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/tests/common/mod.rs
  src/pipeline.rs
Due: Frontend, Driver

Add shared Visit and VisitMut traversals for the AST
  crates/tribute-front/src/ast/mod.rs
  crates/tribute-front/src/ast/visit.rs
  crates/tribute-front/src/ast/visit/tests.rs
Due: Frontend

Move read-only AST walks onto the shared visitor
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/typeck/checker/finalize.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
Due: Frontend, Driver

Visit inline modules through their own hook
  crates/tribute-front/src/ast/visit.rs
  crates/tribute-front/src/ast/visit/tests.rs
  crates/tribute-front/src/monomorphize/collect.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
Due: Frontend, Driver

Visit record field patterns through their own hook
  crates/tribute-front/src/ast/visit.rs
  src/lsp/definition_index.rs
Due: Frontend, Driver

Add shared AST traversals and move read-only walks onto them (#1200)
  crates/tribute-front/src/ast/mod.rs
  crates/tribute-front/src/ast/visit.rs
  crates/tribute-front/src/ast/visit/tests.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/typeck/checker/finalize.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
Due: Frontend, Driver

Rewrite monomorphized declarations in place with VisitMut
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

Make for_each_expr a method on Expr
  crates/tribute-front/src/ast/visit.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/monomorphize/validate.rs
Due: Frontend

Resolve method calls through VisitMut
  crates/tribute-front/src/tdnr/resolver.rs
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
