Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Convert exact indirect call signatures during target lowering (#948)
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  new-plans/ir.md
Due: TrunkIR, Middle End, Driver

Limit native layout planning to reachable types
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

Use worklist for reachable native layouts
  crates/tribute-passes/src/native/ownership_plan.rs
Due: Middle End

Limit native layout planning to reachable types (#952)
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

fix(frontend): materialize constructor layout fields
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/int_text.rs
Due: Frontend

fix(frontend): materialize constructor layout fields (#953)
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/int_text.rs
Due: Frontend

docs: wrap function result contract paragraphs
  new-plans/cps-effects.md
  new-plans/types.md
Due: none

fix(ir): enforce known callable contracts in normal validation
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/validation.rs
  new-plans/ir.md
Due: TrunkIR, Middle End

fix(ir): preserve resultless syntax and reject invalid backend signatures
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
Due: TrunkIR, Middle End

test(ir): cover function signature preservation and rejection boundaries
  crates/tribute-passes/src/backend_ready.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
Due: Middle End

refactor(ir): share function printing and contract utilities
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End

refactor(ir): reuse owned function attributes during CPS conversion
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/dialect/core.rs
Due: TrunkIR, Middle End

refactor(tribute-control): use source func signatures
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/expr_coverage__float_comparison_operators.snap
  crates/tribute-front/tests/snapshots/expr_coverage__function_reference_as_value.snap
  crates/tribute-front/tests/snapshots/expr_coverage__lambda_as_argument.snap
  crates/tribute-front/tests/snapshots/expr_coverage__list_literals_use_shared_sequence_ops.snap
  crates/tribute-front/tests/snapshots/expr_coverage__string_equality_operators.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_single_extra_arg.snap
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/backend_ready.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

test(tribute-control): harden source func signatures
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR, Middle End

fix(tribute-control): preserve source signature metadata
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/implementation.md
Due: Middle End

fix(tribute-control): keep signature metadata type-owned
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
  new-plans/implementation.md
  new-plans/ir.md
Due: TrunkIR, Middle End

fix(tribute-control): preserve generic lambda numbering
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Middle End

fix(tribute-control): preserve malformed signatures
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
Due: Middle End

refactor(tribute-control): use source function signatures (#957)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/expr_coverage__float_comparison_operators.snap
  crates/tribute-front/tests/snapshots/expr_coverage__function_reference_as_value.snap
  crates/tribute-front/tests/snapshots/expr_coverage__lambda_as_argument.snap
  crates/tribute-front/tests/snapshots/expr_coverage__list_literals_use_shared_sequence_ops.snap
  crates/tribute-front/tests/snapshots/expr_coverage__string_equality_operators.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_single_extra_arg.snap
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/backend_ready.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

Remove unused backend-ready verifier
  crates/tribute-passes/src/backend_ready.rs
  crates/tribute-passes/src/lib.rs
  new-plans/implementation.md
  new-plans/ir.md
Due: Middle End

Translate backend-ready plans to Korean
  new-plans/implementation.md
  new-plans/ir.md
Due: none

Keep design plans independent of work status
  AGENTS.md
  new-plans/implementation.md
  new-plans/ir.md
Due: none

Remove unused centralized backend-ready verifier (#962)
  AGENTS.md
  crates/tribute-passes/src/backend_ready.rs
  crates/tribute-passes/src/lib.rs
  new-plans/implementation.md
  new-plans/ir.md
Due: Middle End

feat(wasm): add target-owned function signatures
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: TrunkIR, Middle End

fix(wasm): harden target signature boundaries
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/parser/builder.rs
Due: TrunkIR, Middle End

fix(wasm): align callable value boundaries
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
Due: TrunkIR

docs(wasm): clarify target signature contracts
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: none

refactor(wasm): isolate signature conversion
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-wasm-backend/src/passes/mod.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  new-plans/implementation.md
Due: TrunkIR, Middle End

test(wasm): strengthen signature conversion coverage
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  new-plans/implementation.md
Due: TrunkIR

feat(wasm): add target-owned function signatures (#958)
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/mod.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: TrunkIR, Middle End

feat(native): add target-owned clif signatures
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__call_indirect_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__func_func_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__tail_transfers_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/dialect/clif.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/types.md
Due: TrunkIR, Middle End

fix(native): validate target callable contracts
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/types.md
Due: TrunkIR, Middle End

fix(native): require exact callable slot types
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_bool_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_nat_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  new-plans/cranelift-backend.md
  src/pipeline.rs
Due: Middle End, Driver

test(native): simplify exact callable regression
  crates/trunk-ir-cranelift-backend/src/validation.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  src/pipeline.rs
Due: Driver

fix(native): preserve logical nil indirect results
  Cargo.lock
  crates/trunk-ir-cranelift-backend/Cargo.toml
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
Due: none

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
