Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

fix(typeck): suppress unused warnings for HandleContext scaffolding
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
Due: Frontend

Redesign handler syntax with fn/op distinction (#530)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  lang-examples/ability_core.trb
  new-plans/abilities.md
  new-plans/implementation.md
  new-plans/syntax.md
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  tests/e2e_ability_core.rs
Due: Frontend, Driver

docs(cps-effects): fix pipeline order in cps-effects.md
  new-plans/cps-effects.md
Due: none

feat(tribute-passes): propagate effect type through closure lambda lowering
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
Due: Middle End

refactor(tribute-passes): scope lifted lambda names to enclosing function
  crates/tribute-passes/src/lower_closure_lambda.rs
Due: Middle End

refactor(tribute-passes): simplify find_enclosing_func_name loop with while-let
  crates/tribute-passes/src/lower_closure_lambda.rs
Due: Middle End

CPS effect handling: design doc, dialect ops, and lower_closure_lambda pass (#528)
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  new-plans/cps-effects.md
Due: Middle End

refactor(tribute-front): emit closure.lambda instead of inline lambda lifting
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  src/pipeline.rs
  tests/evidence_lambda.rs
Due: Frontend, Driver

fix(tests): update test expectations for __clam_ lambda naming convention
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  tests/e2e_add.rs
  tests/evidence_lambda.rs
Due: Frontend

Use closure.lambda for source lambda lowering (#529)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  src/pipeline.rs
  tests/e2e_add.rs
  tests/evidence_lambda.rs
Due: Frontend, Driver

fix: update snapshots and fix lint after rebase
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-passes/src/lower_closure_lambda.rs
  new-plans/cps-effects.md
Due: Frontend, Middle End

feat(tribute-passes): implement lower_closure_lambda pass
  crates/tribute-passes/src/lower_closure_lambda.rs
Due: Middle End

refactor(tribute-front): emit closure.lambda instead of inline lambda lifting
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-passes/src/lower_closure_lambda.rs
Due: Frontend, Middle End

feat(tribute-passes): implement lower_ability_perform pass
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_ability_perform.rs
Due: Middle End

feat(tribute-ir): add CPS effect handling ops and design document
  new-plans/cps-effects.md
Due: none

fix: resolve markdown lint errors in cps-effects.md
  new-plans/cps-effects.md
Due: none

refactor(tribute-passes): fail fast on invariant violations in perform lowering
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
Due: Middle End

refactor(tribute-passes): replace for-loop with Iterator::find in find_evidence_arg
  crates/tribute-passes/src/lower_ability_perform.rs
Due: Middle End

refactor(tribute-passes): tighten operand handling in perform lowering
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
Due: Middle End

Implement lower_ability_perform pass (#531)
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
Due: Middle End

feat(tribute-passes): implement lower_handle_dispatch pass
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
Due: Middle End

feat: add CPS dialect ops and Cranelift tail call support
  crates/tribute-ir/Cargo.toml
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
Due: TrunkIR, Middle End

feat: implement CPS transformation in ast_to_ir frontend
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
Due: Frontend

feat: implement CPS lowering passes for effect handling
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/shift_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/wrap_returns.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

feat: integrate CPS passes into compilation pipeline
  Cargo.lock
  Cargo.toml
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

test: update e2e tests and docs for CPS effect handling
  lang-examples/ability_core.trb
  new-plans/abilities.md
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/syntax.md
  tests/e2e_ability_core.rs
  tests/e2e_add.rs
  tests/evidence_lambda.rs
Due: none

chore: fix clippy warnings in CPS passes
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
Due: Frontend, Middle End

feat(front): restore #530 handler syntax with do/fn/op arms and resume keyword
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  lang-examples/ability_core.trb
  new-plans/abilities.md
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/syntax.md
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  tests/e2e_ability_core.rs
Due: Frontend, Driver

fix(passes): restore scoped __clam_ lambda naming from #529
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  tests/e2e_add.rs
  tests/evidence_lambda.rs
Due: Middle End

chore: remove unused func.tail_call_indirect op and pattern
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir/src/dialect/func.rs
Due: TrunkIR

refactor(passes): replace compute_op_idx wrapper with reexport
  crates/tribute-passes/src/cont_util.rs
Due: Middle End

chore: revert unused cont_to_yield_bubbling changes
  crates/tribute-passes/src/cont_to_yield_bubbling/shift_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/wrap_returns.rs
Due: Middle End

test(front): add CPS lowering unit tests and remove arena_ prefix
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/cps_lowering__ability_op_then_pure_expr.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__multi_arg_ability_op.snap
  crates/tribute-front/tests/snapshots/cps_lowering__resume_in_op_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__sequential_ability_ops.snap
  crates/tribute-front/tests/snapshots/cps_lowering__single_ability_op_in_block.snap
Due: Frontend

fix: restore deleted test_closure_lambda_round_trip test
  crates/tribute-ir/src/dialect/closure.rs
Due: Middle End

refactor(passes): rewrite lower_ability_perform with PatternApplicator
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_basic.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_no_evidence.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_with_args.snap
Due: Middle End

docs(passes): add note on resolve_evidence CPS test coverage
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

refactor(passes): rewrite lower_handle_dispatch with PatternApplicator
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/snapshots/tribute_passes__lower_handle_dispatch__tests__lower_handle_dispatch_identity_done.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_handle_dispatch__tests__lower_handle_dispatch_no_done.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_handle_dispatch__tests__lower_handle_dispatch_transforming_done.snap
Due: Middle End

style(front): use let-else in CPS lowering code
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
Due: Frontend

fix(wasm): insert missing handler_dispatch_const op in evidence_to_wasm
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

fix(typeck): constrain resume arg/result types against continuation
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend
