Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

feat(front): lower CPS computations compositionally
  Cargo.lock
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/control.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/ast_to_ir/normalize.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
Due: Frontend, Middle End

fix(front): validate only root main entrypoints
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

fix(front): correct convention prescan documentation
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
Due: Frontend

fix(front): stabilize CPS capture snapshots
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/snapshots/cps_lowering__cps_values_flow_through_mixed_strict_aggregates.snap
  crates/tribute-front/tests/snapshots/expr_coverage__string_equality_operators.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  tests/evidence_lambda.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
Due: Frontend

test(front): move CPS closure compatibility downstream
  Cargo.lock
  crates/tribute-front/Cargo.toml
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/cps_lowering__record_spread_capture_survives_cps_continuation.snap
  tests/cps_closure_lowering.rs
Due: Frontend

fix(front): retain root-main terminator after CPS errors
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/tests/cps_lowering.rs
Due: Frontend

fix(front): preserve all guarded case branches
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
Due: Frontend

refactor(front): share root entrypoint detection
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/normalize.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

test(front): assert root CPS recovery diagnostic
  crates/tribute-front/tests/cps_lowering.rs
Due: Frontend

Document owner-tagged CPS control
  new-plans/cps-effects.md
Due: none

Add owner-tagged handler regressions
  tests/common/mod.rs
  tests/e2e_ability_handler.rs
  tests/fixtures/optimizations/done_continuation_dedup_state.trb
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__done_continuation_dedup_after.snap
  tests/snapshots/optimization_conformance__done_continuation_dedup_before.snap
Due: none

Unify CPS evaluation classification
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
Due: Frontend

Centralize the private CPS carrier
  crates/tribute-front/src/ast_to_ir/lower/control.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
Due: Frontend, Middle End

Strengthen done continuation conformance checks
  tests/common/mod.rs
  tests/optimization_conformance.rs
Due: none

Cover core array Wasm value mapping
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
Due: TrunkIR

Test canonical calculator product contract
  src/lsp/server.rs
  tests/canonical_calculator.rs
Due: Driver

Specify canonical M1 calculator contract
  new-plans/implementation.md
Due: none

Gate and document canonical calculator
  .github/workflows/ci.yml
  lang-examples/README.md
  new-plans/capabilities.md
Due: none

Add canonical native calculator example
  lang-examples/native_calculator.trb
  tests/expected/native_calculator_eof.stdout
  tests/expected/native_calculator_scripted.stdout
  tests/fixtures/native_calculator_eof.stdin
  tests/fixtures/native_calculator_scripted.stdin
Due: none

Use public input outcomes in canonical calculator
  lang-examples/native_calculator.trb
  tests/canonical_calculator.rs
Due: none

Document canonical calculator input contracts
  lang-examples/README.md
  new-plans/capabilities.md
Due: none

Validate calculator operators before operands
  lang-examples/native_calculator.trb
  tests/expected/native_calculator_scripted.stdout
  tests/fixtures/native_calculator_scripted.stdin
Due: none

Deduplicate canonical calculator CI checks
  .github/workflows/ci.yml
Due: none

Use cargo test for calculator CI
  .github/workflows/ci.yml
Due: none

Add canonical M1 native calculator (#820)
  .github/workflows/ci.yml
  lang-examples/README.md
  lang-examples/native_calculator.trb
  new-plans/capabilities.md
  new-plans/implementation.md
  src/lsp/server.rs
  tests/canonical_calculator.rs
  tests/expected/native_calculator_eof.stdout
  tests/expected/native_calculator_scripted.stdout
  tests/fixtures/native_calculator_eof.stdin
  tests/fixtures/native_calculator_scripted.stdin
Due: Driver

Specify direct-style control IR boundary
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
Due: none

Translate direct-control design prose
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
Due: none

Tighten direct-control design documentation
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
Due: none

docs: unify source-logical callable and control design
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
Due: none

docs: define tail-call-only CPS and control assembly
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: none

docs: separate durable control design from rollout tracking
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: none

docs: make Wasm backend-ready contracts normative
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: none

#821: Specify unified source-logical callable and control IR boundary (#827)
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: none

feat(tribute-ir): implement verified tribute_control dialect
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
Due: TrunkIR, Middle End

fix(tribute-ir): harden tribute_control validation
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir/src/parser/builder.rs
Due: TrunkIR, Middle End

test(tribute-ir): cover tribute_control verifier paths
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Middle End
