Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

fix(runtime): release native evidence, its markers and their dispatch closures (#1438)
  crates/tribute-passes/src/native/descriptor_records.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-runtime/src/lib.rs
  new-plans/cps-effects.md
  new-plans/rc.md
  new-plans/runtime-types.md
  tests/integration/e2e_ability_handler.rs
  tests/integration/optimization_conformance.rs
Due: Middle End

docs(new-plans): check for live allocations when a sanitized program exits
  new-plans/cranelift-backend.md
Due: none

feat(runtime): report allocations left live when a sanitized program exits
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-runtime/src/asan.rs
  tests/integration/sanitizer_access_checks.rs
Due: Middle End

chore(lint): run ast-grep in hooks and CI
  .ast-grep/baseline.json
  .ci/ast-grep.sh
  .ci/check-ast-grep.py
  .ci/lint.sh
  .ci/test-ast-grep.py
  .ci/test-fixtures/lint/bin/ast-grep
  .ci/test-lint.sh
  .github/workflows/ci.yml
  guides/development/README.md
  guides/development/hash-collections.md
  guides/development/lints.md
  guides/development/symbol-lint.md
Due: none

fix(lint): handle launch failures and combine CI checks
  .ci/check-ast-grep.py
  .ci/test-ast-grep.py
  .github/workflows/ci.yml
Due: none

chore(lint): prototype ast-grep symbol comparison rule
  .ast-grep/rules/no-symbol-new-in-comparison.yml
  .ast-grep/tests/no-symbol-new-in-comparison.yml
  guides/development/lints.md
  sgconfig.yml
Due: none

chore(lint): eliminate existing symbol comparison violations
  .ast-grep/baseline.json
  .ci/ast-grep.sh
  .ci/check-ast-grep.py
  .ci/test-ast-grep.py
  .ci/test-fixtures/lint/bin/ast-grep
  .ci/test-lint.sh
  guides/development/symbol-lint.md
Due: none

ci: restrict lint job repository permissions
  .github/workflows/ci.yml
Due: none

chore(lint): clean remaining qualified symbol comparisons
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/effect_union.rs
  crates/tribute-front/tests/function_signatures.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
Due: Frontend, Middle End

chore(lint): scan root sources and integration tests
  .ci/ast-grep.sh
  .ci/test-lint.sh
  guides/development/symbol-lint.md
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/pipeline.rs
  tests/integration/evidence_lambda.rs
Due: Driver

chore(lint): enforce symbol comparisons in hooks and CI (#1440)
  .ast-grep/rules/no-symbol-new-in-comparison.yml
  .ast-grep/tests/no-symbol-new-in-comparison.yml
  .ci/ast-grep.sh
  .ci/lint.sh
  .ci/test-fixtures/lint/bin/ast-grep
  .ci/test-lint.sh
  .github/workflows/ci.yml
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/effect_union.rs
  crates/tribute-front/tests/function_signatures.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  guides/development/README.md
  guides/development/hash-collections.md
  guides/development/lints.md
  guides/development/symbol-lint.md
  sgconfig.yml
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/pipeline.rs
  tests/integration/evidence_lambda.rs
Due: Frontend, Middle End, Driver

fix(front): join a method call's effect row into its caller's row (#1439)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/function_signatures.rs
Due: Frontend

fix(front): leave a removal's source tail to the removal
  crates/tribute-front/src/typeck/solver/row_union_tests.rs
  crates/tribute-front/src/typeck/solver/rows.rs
Due: Frontend

feat(front): close a body-local row tail joined into a closed row (#1442)
  crates/tribute-front/src/typeck/solver/row_union_tests.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/tests/function_signatures.rs
  new-plans/type-inference.md
  tests/integration/e2e_native.rs
  tests/integration/open_callback_evidence_root.rs
Due: Frontend

test(runtime): run the exit check when nothing is live
  crates/tribute-runtime/src/asan.rs
Due: none

refactor(front): stop promoting a worker for the Cps callees it calls
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/tests/become_tail_calls.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/local_callable_instances.rs
  crates/tribute-front/tests/never_relations.rs
  crates/tribute-front/tests/snapshots/become_tail_calls__become_lowers_to_tail_call_ops.snap
  crates/tribute-front/tests/snapshots/expr_coverage__function_reference_as_value.snap
  crates/tribute-front/tests/snapshots/expr_coverage__lambda_as_argument.snap
  crates/tribute-front/tests/snapshots/expr_coverage__string_equality_operators.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  new-plans/generics.md
  src/pipeline.rs
  tests/integration/e2e_native.rs
  tests/integration/evidence_plan_ir.rs
  tests/integration/open_callback_evidence_root.rs
Due: Frontend, Driver

fix(front): keep a class-variable tail in an unannotated definition's convention
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/monomorphize/instance.rs
  tests/integration/e2e_native.rs
Due: Frontend

docs(plans): state why a Cps become into a value-returning callee is bounded
  new-plans/cps-effects.md
Due: none

feat(front): treat root main and every definition as an instance of its row classes
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/mod.rs
  new-plans/cps-effects.md
  new-plans/generics.md
  src/pipeline.rs
  tests/integration/e2e_native.rs
  tests/integration/evidence_plan_ir.rs
  tests/integration/open_callback_evidence_root.rs
Due: Frontend, Driver

feat(runtime): report allocations left live when a sanitized program exits (#1443)
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-runtime/src/asan.rs
  new-plans/cranelift-backend.md
  tests/integration/sanitizer_access_checks.rs
Due: Middle End

test: print with print_line in the Cps callback fixture
  src/pipeline.rs
Due: Driver

feat(front): treat root main and every definition as an instance of its row classes (#1444)
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/mod.rs
  new-plans/cps-effects.md
  new-plans/generics.md
  src/pipeline.rs
  tests/integration/e2e_native.rs
  tests/integration/evidence_plan_ir.rs
  tests/integration/open_callback_evidence_root.rs
Due: Frontend, Driver

feat(front): give a let-bound lambda the convention class its uses select
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/mod.rs
  new-plans/cps-effects.md
  new-plans/generics.md
  tests/integration/e2e_native.rs
  tests/integration/open_callback_evidence_root.rs
Due: Frontend

feat(front): emit a let-bound lambda once per class in use
  crates/tribute-front/src/ast/node_id.rs
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/local.rs
  crates/tribute-front/src/monomorphize/mod.rs
  new-plans/generics.md
  tests/integration/e2e_native.rs
  tests/integration/open_callback_evidence_root.rs
Due: Frontend

fix(front): give a copied lambda its own locals and nested row variables
  crates/tribute-front/src/ast/node_id.rs
  crates/tribute-front/src/monomorphize/local.rs
  tests/integration/e2e_native.rs
Due: Frontend

docs(new-plans): move between pointers and managed references only through explicit transfers
  new-plans/ir.md
  new-plans/rc.md
Due: none

feat(passes): receive managed values from raw pointers with tribute_rt.from_raw
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/native/ownership_plan/facts.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
Due: Middle End

fix(front): reserve every local of a function before copying a lambda
  crates/tribute-front/src/monomorphize/local.rs
  tests/integration/e2e_native.rs
Due: Frontend

refactor(front): combine node variants with the hasher other variants use
  crates/tribute-front/src/ast/node_id.rs
Due: Frontend

test: cover a row passed only to a let-bound lambda
  tests/integration/open_callback_evidence_root.rs
Due: none

feat(front): emit a let-bound lambda once per convention class in use (#1446)
  crates/tribute-front/src/ast/node_id.rs
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/local.rs
  crates/tribute-front/src/monomorphize/mod.rs
  new-plans/cps-effects.md
  new-plans/generics.md
  tests/integration/e2e_native.rs
  tests/integration/open_callback_evidence_root.rs
Due: Frontend

refactor(front): stop promoting a worker for the Cps callees it calls
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/tests/become_tail_calls.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/local_callable_instances.rs
  crates/tribute-front/tests/never_relations.rs
  crates/tribute-front/tests/snapshots/become_tail_calls__become_lowers_to_tail_call_ops.snap
  crates/tribute-front/tests/snapshots/expr_coverage__function_reference_as_value.snap
  crates/tribute-front/tests/snapshots/expr_coverage__lambda_as_argument.snap
  crates/tribute-front/tests/snapshots/expr_coverage__string_equality_operators.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
Due: Frontend

fix(front): resolve imported abilities inside function type annotations
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

refactor: let the root bridge read the root worker's convention
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/target_abi.rs
  src/pipeline.rs
Due: Frontend, Middle End, Driver

fix(front): resolve imported abilities inside function type annotations (#1452)
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

feat(passes): receive managed values from raw pointers with tribute_rt.from_raw (#1449)
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/native/ownership_plan/facts.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  new-plans/ir.md
  new-plans/rc.md
Due: Middle End

refactor(ir): declare the types of the ownership transfer operations
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/descriptor_to_clif.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_lowering.rs
  crates/tribute-passes/src/native/ownership_transfers.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  new-plans/ir.md
Due: Middle End

docs(new-plans): fix the types of the ownership transfer operations
  new-plans/rc.md
Due: none

fix(front): keep a row tail open while an expression relation can extend it
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/tests/effect_union.rs
  new-plans/type-inference.md
Due: Frontend

docs(front): note the emission order a waiting row equality relies on
  crates/tribute-front/src/typeck/solver/rows.rs
Due: Frontend
