Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

docs: separate ability instance identity from handler selection
  new-plans/type-inference.md
Due: none

docs: state how handlers treat effects arriving through a row tail (#1290)
  new-plans/cps-effects.md
  new-plans/type-inference.md
Due: none

feat(trunk-ir): declare list attributes in operation schemas
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR, Middle End

docs: declare attribute kinds as Rust types
  guides/development/ir.md
  new-plans/ir.md
Due: none

feat(trunk-ir): declare dictionary attributes as Attr<Dict<V>>
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/src/attr_kind.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
Due: TrunkIR

docs: add the dictionary attribute kind
  guides/development/ir.md
  new-plans/ir.md
Due: none

refactor(trunk-ir): declare attribute kinds through a trait
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/list.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/src/attr_kind.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mem.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/dialect/wasm_gc.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/tests/ui/attribute_kind_is_not_a_kind.rs
  crates/trunk-ir/tests/ui/attribute_kind_is_not_a_kind.stderr
  guides/development/ir.md
Due: TrunkIR, Middle End

feat(trunk-ir): declare attribute kinds through a trait (#1283)
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/list.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/src/attr_kind.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mem.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/dialect/wasm_gc.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/tests/ui/attribute_kind_is_not_a_kind.rs
  crates/trunk-ir/tests/ui/attribute_kind_is_not_a_kind.stderr
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR, Middle End

docs: write the example visibility attribute as a string
  new-plans/ir.md
Due: none

refactor: build the call graph from symbol references and CallLike
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  guides/development/ir.md
  new-plans/ir.md
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: TrunkIR, Middle End

fix: let the inliner treat only direct-call cycles as recursion
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/inline.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: TrunkIR

fix: root the references of the module operation itself in global DCE
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

refactor: build the call graph from symbol references and CallLike (#1291)
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR, Middle End

docs: select handler evidence by row position
  new-plans/abilities.md
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/type-inference.md
Due: none

perf: run global DCE before target lowering
  new-plans/optimizations.md
  src/pipeline.rs
Due: Driver

fix: treat references outside functions as address-taken
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/global_dce.rs
Due: TrunkIR

perf: run global DCE before target lowering (#1292)
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  new-plans/optimizations.md
  src/pipeline.rs
Due: TrunkIR, Driver

docs: list effect.mask and effect.dup in the shared effect ABI
  new-plans/implementation.md
Due: none

docs: scope the evidence selection rule to single-tail callees
  new-plans/type-inference.md
Due: none

docs: select handler evidence by row position (#1293)
  new-plans/abilities.md
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/type-inference.md
Due: none

feat(typeck): select call evidence by row position
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/evidence_plan.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/evidence_plans.rs
  crates/tribute-front/tests/int_text.rs
  new-plans/cps-effects.md
  new-plans/ir.md
  new-plans/type-inference.md
  src/pipeline.rs
Due: Frontend, Driver

feat(typeck): select call evidence by row position (#1295)
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/evidence_plan.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/evidence_plans.rs
  crates/tribute-front/tests/int_text.rs
  new-plans/cps-effects.md
  new-plans/ir.md
  new-plans/type-inference.md
  src/pipeline.rs
Due: Frontend, Driver

docs(ir): record the analysis cache API and scoped reuse contract
  new-plans/ir.md
Due: none

feat(ir): carry evidence selections on tribute_control ops
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/typeck/evidence_plan.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/evidence_plans.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/ir.md
  new-plans/type-inference.md
  src/pipeline.rs
  tests/integration/evidence_plan_ir.rs
  tests/integration/main.rs
Due: Frontend, Middle End, Driver

docs(ir): scope the shared phase cache to pipeline callers
  new-plans/ir.md
Due: none

feat(ir): carry evidence selections on tribute_control ops (#1298)
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/typeck/evidence_plan.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/evidence_plans.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/ir.md
  new-plans/type-inference.md
  src/pipeline.rs
  tests/integration/evidence_plan_ir.rs
  tests/integration/main.rs
Due: Frontend, Middle End, Driver

docs(ir): record the analysis cache API and scoped reuse contract (#1297)
  new-plans/ir.md
Due: none

feat(effects): keep a marker stack per ability in evidence
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/cps-effects.md
  new-plans/wasm-backend.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

test(wasm): run nested handlers and the evidence helpers on Wasm
  crates/tribute-bench/src/programs.rs
  tests/integration/wasm_compilation.rs
Due: none

refactor(front): store NodeId-keyed phase metadata in a sorted-vector map
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/sorted_map.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
  tests/integration/frontend_instances.rs
  tests/integration/frontend_type_roots.rs
Due: Frontend, Driver

refactor(front): store NodeId-keyed phase metadata in a sorted-vector map (#1300)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/sorted_map.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
  tests/integration/frontend_instances.rs
  tests/integration/frontend_type_roots.rs
Due: Frontend, Driver

feat(effects): keep a marker stack per ability in evidence (#1299)
  crates/tribute-bench/src/programs.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/cps-effects.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

experiment: hash Symbol by the atom's precomputed hash
  crates/trunk-ir/src/symbol.rs
Due: TrunkIR

test: allow qualified names in the per-edit symbol bound
  tests/symbol_reclamation.rs
Due: none

test: state what the symbol reclamation test shows
  tests/symbol_reclamation.rs
Due: none

feat: seed the symbol static set from trunk-ir's own names
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/build.rs
  crates/trunk-ir/src/symbol.rs
  crates/trunk-ir/src/types.rs
  guides/development/ir.md
  new-plans/ir.md
  tests/symbol_reclamation.rs
Due: TrunkIR, Frontend

test: clone the callee in the evidence select test
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
Due: Middle End

refactor: borrow the symbol in ModulePathExt
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-ir/src/lib.rs
Due: Frontend, Middle End
