Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

feat(trunk-ir): canonicalize scf.if with constant condition (#696)
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__scf__canonicalize_tests__if_const_true_splices_then_region.snap
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

feat(trunk-ir): const-fold integer division and remainder ops
  crates/trunk-ir/src/dialect/arith.rs
Due: TrunkIR

feat(trunk-ir): const-fold integer division and remainder ops (#702)
  crates/trunk-ir/src/dialect/arith.rs
Due: TrunkIR

chore(canonicalize): surface fixed-point miss to caller
  crates/trunk-ir/src/transforms/canonicalize.rs
  src/pipeline.rs
Due: TrunkIR, Driver

test(canonicalize): cover fixed-point reporting paths
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

chore(canonicalize): surface fixed-point miss to caller (#703)
  crates/trunk-ir/src/transforms/canonicalize.rs
  src/pipeline.rs
Due: TrunkIR, Driver

feat(trunk-ir): const-fold integer bitwise ops
  crates/trunk-ir/src/dialect/arith.rs
Due: TrunkIR

feat(trunk-ir): const-fold integer bitwise ops (#704)
  crates/trunk-ir/src/dialect/arith.rs
Due: TrunkIR

refactor(trunk-ir): drop crate = crate knob via extern crate self
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mem.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/lib.rs
Due: TrunkIR

refactor(trunk-ir): drop crate = crate knob via extern crate self (#705)
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mem.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/lib.rs
Due: TrunkIR

feat(trunk-ir): attribute-style canonicalize fold/pattern registration
  crates/trunk-ir-macros/src/canonicalize.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

fix(trunk-ir): forward cfg attrs and route inventory through trunk-ir
  crates/trunk-ir-macros/src/canonicalize.rs
  crates/trunk-ir/src/lib.rs
Due: TrunkIR

refactor(canonicalize): fold IfConstFold pattern into FoldResult::Splice
  crates/trunk-ir-macros/src/canonicalize.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

fix(canonicalize): guard fold_if cond type and apply_splice arity
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

fix(canonicalize): reject malformed i1 cond payloads in fold_if
  crates/trunk-ir/src/dialect/scf.rs
Due: TrunkIR

refactor(canonicalize): fold IfConstFold pattern into FoldResult::Splice (#707)
  crates/trunk-ir-macros/src/canonicalize.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

feat(trunk-ir): attribute-style canonicalize fold/pattern registration (#706)
  crates/trunk-ir-macros/src/canonicalize.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

feat(trunk-ir): add PassManager MVP with Pass trait and nested managers (#268)
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/pass.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(trunk-ir): change Pass::run to &mut self
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/trunk-ir/src/pass.rs
Due: TrunkIR, Middle End

feat(trunk-ir): add verifier hook and tracing spans to PassManager
  crates/trunk-ir/src/pass.rs
Due: TrunkIR

test(trunk-ir): broaden PassManager test coverage
  crates/trunk-ir/src/pass.rs
Due: TrunkIR

fix(trunk-ir): stop PassManager dispatch when a pass erases its target
  crates/trunk-ir/src/pass.rs
Due: TrunkIR

feat(trunk-ir): add PassManager MVP with Pass trait and nested managers (#708)
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/pass.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

feat(pipeline): route all shared middle-end passes through PassManager
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tail_resumptive.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(tribute-passes): hide pass entry points behind Pass wrappers
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tail_resumptive.rs
  src/pipeline.rs
  tests/evidence_lambda.rs
Due: Middle End, Driver

refactor(trunk-ir): add infallible core::Module -> rewrite::Module conversion
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tail_resumptive.rs
  crates/trunk-ir/src/rewrite/mod.rs
Due: TrunkIR, Middle End

test(trunk-ir): cover core::Module -> rewrite::Module conversion
  crates/trunk-ir/src/rewrite/mod.rs
Due: TrunkIR

refactor(tribute-passes): drop arena_ prefix from dialect import aliases
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tail_resumptive.rs
Due: Middle End

feat(pipeline): migrate remaining shared middle-end passes to PassManager (#709)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tail_resumptive.rs
  crates/trunk-ir/src/rewrite/mod.rs
  src/pipeline.rs
  tests/evidence_lambda.rs
Due: TrunkIR, Middle End, Driver

fix(trunk-ir): clear region subtree use-chains on remove_op
  crates/trunk-ir/src/context.rs
Due: TrunkIR

fix(trunk-ir): clear region subtree use-chains on remove_op (#710 step 1) (#711)
  crates/trunk-ir/src/context.rs
Due: TrunkIR

fix(tribute-passes): erase disposed ops to clear use-chains (#710 step 2)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

fix(tribute-passes): erase disposed ops to clear use-chains (#710 step 2) (#712)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

feat(pipeline): guard shared pipeline use-chain consistency in debug (#710 step 3)
  src/pipeline.rs
Due: Driver

refactor(trunk-ir): PassManager verifier returns Result
  crates/trunk-ir/src/pass.rs
  src/pipeline.rs
Due: TrunkIR, Driver

feat(trunk-ir): add observation-only PassManager instrumentation hook
  crates/trunk-ir/src/pass.rs
Due: TrunkIR

test(trunk-ir): prove both passes run in verifier_ok_lets_pipeline_proceed
  crates/trunk-ir/src/pass.rs
Due: TrunkIR

refactor(pipeline): flatten use-chain verifier closure with early return
  src/pipeline.rs
Due: Driver

feat(pipeline): use-chain regression guard + verifier/instrumentation API (#710 step 3) (#713)
  crates/trunk-ir/src/pass.rs
  src/pipeline.rs
Due: TrunkIR, Driver

fix(trunk-ir): erase disposed ops in transforms to clear use-chains (#710 step 2b)
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
