Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

feat(native): tell enum variants apart by descriptor and drop the tag field
  crates/tribute-ir/src/dialect/adt/layout.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/struct_to_mem.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/rc.md
  new-plans/runtime-types.md
  tests/integration/e2e_native.rs
Due: Middle End

docs(plans): name the type's same-name namespace in qualified UFCS lookup
  new-plans/syntax.md
Due: none

test(native): cover a fieldless enum; register descriptor_is as pure
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  src/pipeline.rs
  tests/integration/e2e_native.rs
Due: Middle End, Driver

fix(typeck): solve row equalities after the unions that fill their tails
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/tests/effect_union.rs
  new-plans/type-inference.md
Due: Frontend

feat(front): generate field set/modify and resolve qualified UFCS by receiver type
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/node_id.rs
  crates/tribute-front/src/ast/span_map.rs
  crates/tribute-front/src/ast/visit/tests.rs
  crates/tribute-front/src/astgen/context.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/field_lenses.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_single_extra_arg.snap
  lang-examples/README.md
  lang-examples/field-lenses.trb
  new-plans/capabilities.md
  new-plans/syntax.md
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/integration/e2e_field_lenses.rs
  tests/integration/main.rs
Due: Frontend, Driver

docs(plans): keep generated field functions out of unqualified UFCS
  new-plans/types.md
Due: none

feat(front): generate field set/modify and pick qualified UFCS candidates from modules in scope (#1326)
  new-plans/modules.md
  new-plans/syntax.md
  new-plans/types.md
Due: none

fix(front): do not start a qualified UFCS candidate from the module's own name
  crates/tribute-front/src/resolve/resolver.rs
  tests/integration/e2e_field_lenses.rs
Due: Frontend

perf(front): do not lower unreferenced generated field functions
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_single_extra_arg.snap
  tests/integration/e2e_field_lenses.rs
Due: Frontend

fix(front): match qualified UFCS receivers against generic, function, and tuple parameters
  crates/tribute-front/src/astgen/field_lenses.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  tests/integration/e2e_field_lenses.rs
Due: Frontend

docs(runtime): leave a variant test of a null reference undefined
  crates/tribute-passes/src/native/struct_to_mem.rs
  new-plans/runtime-types.md
Due: Middle End

fix(typeck): solve row equalities after the unions that fill their tails (#1329)
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/tests/effect_union.rs
  new-plans/type-inference.md
Due: Frontend

refactor(front): derive field functions from struct fields and drop unreachable source functions before CPS
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/node_id.rs
  crates/tribute-front/src/ast/span_map.rs
  crates/tribute-front/src/ast/visit/tests.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/astgen/context.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/field_lenses.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_single_extra_arg.snap
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/mod.rs
  new-plans/implementation.md
  new-plans/optimizations.md
  new-plans/types.md
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/integration/e2e_field_lenses.rs
Due: TrunkIR, Frontend, Driver

refactor(native): read the descriptor number and compare it with arith.cmpi
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/struct_to_mem.rs
  new-plans/cranelift-backend.md
Due: Middle End

feat(native): tell enum variants apart by descriptor and drop the tag field (#1328)
  crates/tribute-ir/src/dialect/adt/layout.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/struct_to_mem.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/rc.md
  new-plans/runtime-types.md
  src/pipeline.rs
  tests/integration/e2e_native.rs
Due: Middle End, Driver

refactor(ir): represent adt.enum variants as type parameters
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/tests/snapshots/block_scope__block_with_case_pattern_binding.snap
  crates/tribute-front/tests/snapshots/case_type__case_enum_variant.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_pattern_constructor_element.snap
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/adt/layout.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/descriptor_records.rs
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/native/ownership_plan/facts_tests.rs
  crates/tribute-passes/src/native/ownership_plan/liveness_tests.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/descriptors.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/struct_layouts.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  guides/development/ir.md
  new-plans/ir.md
Due: Frontend, Middle End

fix(ir): reject parameter attributes on adt.enum variants
  crates/tribute-ir/src/dialect/adt.rs
  new-plans/ir.md
Due: Middle End

test(native): spell the enum types of the variant tests in the new syntax
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/struct_to_mem.rs
Due: Middle End

refactor(native): take only managed references in tribute_rtti.descriptor
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/descriptor_to_clif.rs
  crates/tribute-passes/src/native/mod.rs
  new-plans/cranelift-backend.md
  src/pipeline.rs
Due: Middle End, Driver

fix(front): read a field through a qualified path only when its getter is the sole match
  crates/tribute-front/src/typeck/checker/expr.rs
  new-plans/types.md
  tests/integration/e2e_field_lenses.rs
Due: Frontend

fix(typeck): report method calls whose arguments do not match the selected function
  crates/tribute-front/src/typeck/checker/expr.rs
  tests/integration/e2e_field_lenses.rs
Due: Frontend

feat(native): lower variant field accesses to the variant's mem.struct
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/struct_to_mem.rs
Due: Middle End

test(native): cover variant field accesses through mem.struct
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/struct_to_mem.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
Due: Middle End

feat(front): generate field set/modify and resolve qualified UFCS by receiver type (#1330)
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/visit/tests.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_single_extra_arg.snap
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/mod.rs
  lang-examples/README.md
  lang-examples/field-lenses.trb
  new-plans/capabilities.md
  new-plans/implementation.md
  new-plans/optimizations.md
  new-plans/syntax.md
  new-plans/types.md
  src/pipeline.rs
  tests/integration/e2e_field_lenses.rs
  tests/integration/main.rs
Due: TrunkIR, Frontend, Driver

refactor(ir): register managed reference types at their definitions
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
Due: Middle End

test(native): run the descriptor lowering as a pass
  crates/tribute-passes/src/native/descriptor_to_clif.rs
Due: Middle End

refactor(ir): represent adt.enum variants as type parameters (#1331)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/tests/snapshots/block_scope__block_with_case_pattern_binding.snap
  crates/tribute-front/tests/snapshots/case_type__case_enum_variant.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_pattern_constructor_element.snap
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/adt/layout.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/descriptor_records.rs
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/native/ownership_plan/facts_tests.rs
  crates/tribute-passes/src/native/ownership_plan/liveness_tests.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/struct_to_mem.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/descriptors.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/struct_layouts.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  guides/development/ir.md
  new-plans/ir.md
Due: Frontend, Middle End

feat(effects): give each tail of a multi-tail callee its own evidence
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/typeck/evidence_plan.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/evidence_plans.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  crates/tribute-runtime/src/lib.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/type-inference.md
  tests/integration/e2e_ability_row_evidence.rs
Due: Frontend, Middle End

refactor(ir): register adt.enum as a managed reference through its wrapper
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
Due: Middle End

docs(plans): note the type-parameter hash fallback of compute_ability_id
  new-plans/implementation.md
Due: none

refactor(typeck): take plan step closures by value
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/typeck/mod.rs
Due: Frontend

refactor(effects): constrain effect operations to the evidence type
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  new-plans/cps-effects.md
Due: Middle End

feat(effects): give each tail of a multi-tail callee its own evidence (#1333)
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/typeck/evidence_plan.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/evidence_plans.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  crates/tribute-runtime/src/lib.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/type-inference.md
  tests/integration/e2e_ability_row_evidence.rs
Due: Frontend, Middle End

refactor(native): take only managed references in tribute_rtti.descriptor (#1336)
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/descriptor_to_clif.rs
  crates/tribute-passes/src/native/mod.rs
  new-plans/cranelift-backend.md
  src/pipeline.rs
Due: Middle End, Driver

feat(native): lower variant field accesses to the variant's mem.struct (#1339)
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/struct_to_mem.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
Due: Middle End

feat(native): allocate each enum variant with the size of its own fields
  crates/tribute-ir/src/dialect/adt/layout.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/rtti.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/rc.md
Due: Middle End

test(native): add ability-heavy ASan smoke test
  tests/integration/e2e_ability_nested.rs
Due: none

feat(front): give record field names NodeIds and index them in the LSP
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/mod.rs
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast/visit.rs
  crates/tribute-front/src/ast/visit/tests.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/record_field_type.rs
  src/lsp/definition_index.rs
Due: Frontend, Driver

refactor(front): record a type's definition as one location attribute
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-passes/src/abi_boundary.rs
  new-plans/ir.md
  src/pipeline.rs
Due: Frontend, Middle End, Driver

feat(native): allocate each enum variant with the size of its own fields (#1340)
  crates/tribute-ir/src/dialect/adt/layout.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/rtti.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/rc.md
Due: Middle End
