Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Print warnings from successful builds
  src/diagnostics.rs
  src/main.rs
  src/pipeline.rs
  tests/integration/cli_diagnostics.rs
  tests/integration/main.rs
Due: Driver

Lower the Wasm bytes intrinsic inside the representation/ABI boundary (#1176)
  crates/tribute-core/src/runtime_layout.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/bytes_intrinsic.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/wasm/bytes.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir/src/dialect/wasm.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

ci(bench): run the ABI boundary compile benchmarks on CodSpeed (#1172)
  .cargo/config.toml
  .github/workflows/codspeed.yml
  Cargo.lock
  Cargo.toml
  README.md
  crates/tribute-bench/Cargo.toml
  crates/tribute-bench/benches/abi_boundary.rs
Due: none

Reject unverified cases and drop arms past an exhaustive case's coverage (#1179)
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/tests/case_type.rs
  new-plans/types.md
  tests/integration/e2e_native.rs
  tests/integration/wasm_compilation.rs
Due: Frontend

Print warnings from successful builds (#1181)
  src/diagnostics.rs
  src/main.rs
  src/pipeline.rs
  tests/integration/cli_diagnostics.rs
  tests/integration/main.rs
Due: Driver

feat(trunk-ir): implement Clone for IrContext
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/types.rs
  src/pipeline.rs
Due: TrunkIR, Driver

perf(bench): clone prepared stage inputs instead of recompiling them
  crates/tribute-bench/benches/abi_boundary.rs
Due: none

docs(new-plans): define C runtime binding identity and intrinsic declaration disposal
  new-plans/ir.md
Due: none

refactor(wasm): bind bytes helpers through the C declarations their calls resolve to
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  tests/integration/wasm_compilation.rs
Due: Middle End

feat(abi-boundary): reject referenced C declarations the target does not bind
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
Due: Middle End, Driver

ci(bench): pin the CodSpeed runner image and toolchain
  .github/workflows/codspeed.yml
Due: none

ci(bench): read the glibc version without a broken pipe
  .github/workflows/codspeed.yml
Due: none

ci(bench): drop the code fence from the environment summary
  .github/workflows/codspeed.yml
Due: none

ci(bench): measure memory alongside simulation on CodSpeed
  .github/workflows/codspeed.yml
Due: none

ci(bench): drop a redundant workflow comment
  .github/workflows/codspeed.yml
Due: none

ci(bench): pin the CodSpeed runner image and toolchain (#1184)
  .github/workflows/codspeed.yml
Due: none

refactor(trunk-ir): fill the headroom clone's primary maps with extend
  crates/trunk-ir/src/context.rs
Due: TrunkIR

fix(bench): keep the frontend benchmark when the shared middle-end fails
  crates/tribute-bench/benches/abi_boundary.rs
Due: none

perf(bench): clone stage inputs with their arenas' growth headroom
  crates/tribute-bench/benches/abi_boundary.rs
  crates/trunk-ir/src/context.rs
Due: TrunkIR

ci(bench): run CodSpeed simulation and memory measurements in parallel
  .github/workflows/codspeed.yml
Due: none

ci(bench): build CodSpeed benchmarks for each job's measurement mode
  .github/workflows/codspeed.yml
Due: none

feat(trunk-ir): implement Clone for IrContext and clone benchmark inputs (#1182)
  .github/workflows/codspeed.yml
  crates/tribute-bench/benches/abi_boundary.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/types.rs
  src/pipeline.rs
Due: TrunkIR, Driver

Reject unsatisfiable C runtime bindings at the boundary exit (#1183)
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  new-plans/ir.md
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
  tests/integration/wasm_compilation.rs
Due: Middle End, Driver

Lower every literal pattern kind through its type's equality
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/matrix.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/case_type.rs
  lib/std/prelude.trb
  new-plans/string.md
  new-plans/syntax.md
  new-plans/types.md
  src/pipeline.rs
  tests/integration/e2e_native.rs
  tests/integration/wasm_compilation.rs
Due: Frontend, Driver

Lower every literal pattern kind through its type's equality (#1186)
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/matrix.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/case_type.rs
  lib/std/prelude.trb
  new-plans/string.md
  new-plans/syntax.md
  new-plans/types.md
  src/pipeline.rs
  tests/integration/e2e_native.rs
  tests/integration/wasm_compilation.rs
Due: Frontend, Driver

Pin tree-sitter-tribute v0.13.0 and accept lone rest patterns
  Cargo.lock
  Cargo.toml
  crates/tribute-front/tests/record_pattern.rs
  new-plans/syntax.md
  new-plans/types.md
  tests/integration/e2e_native.rs
Due: Frontend

Match consecutive rune patterns in the literal pattern test
  tests/integration/e2e_native.rs
Due: none

Pin tree-sitter-tribute v0.13.0 and accept lone rest patterns (#1187)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/tests/record_pattern.rs
  new-plans/syntax.md
  new-plans/types.md
  tests/integration/e2e_native.rs
Due: Frontend

Require a constructor name on record patterns
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/finalize.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
Due: Frontend, Driver

Require a constructor name on record patterns (#1188)
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/finalize.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
Due: Frontend, Driver

Describe the AST's conditional SalsaValue impls in the Salsa guide
  guides/salsa.md
Due: none

Implement SalsaValue for AST nodes only when their phase value does
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/mod.rs
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

fix(trunk-ir): print core.module attributes
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR, Middle End

test(pipeline): round-trip boundary-exit IR through text
  src/pipeline.rs
Due: Driver

fix(native): order final releases by definition order, not arena numbering
  crates/tribute-passes/src/native/ownership_plan/actions.rs
Due: Middle End

test(pipeline): require boundary-exit round trips to emit identical binaries
  src/pipeline.rs
Due: Driver

Implement SalsaValue for AST nodes only when their phase value does (#1189)
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/mod.rs
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  guides/salsa.md
Due: Frontend

Borrow projected modules and declarations instead of caching copies
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/context.rs
  guides/salsa.md
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
