Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

feat(native): read entry ownership from the physical signature contract
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  tests/integration/e2e_ability_handler.rs
Due: Middle End

fix(wasm): lower the remaining unsigned integer comparisons
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  new-plans/capabilities.md
  tests/integration/wasm_compilation.rs
Due: TrunkIR

docs(capabilities): list Nat comparisons and Bytes::slice clamping among wasm-run claims
  new-plans/capabilities.md
Due: none

Lower the remaining unsigned integer comparisons on Wasm (#1230)
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  new-plans/capabilities.md
  tests/integration/wasm_compilation.rs
Due: TrunkIR

feat(native): read entry ownership from the physical signature contract (#1228)
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  tests/integration/e2e_ability_handler.rs
Due: Middle End

perf(trunk-ir): keep successors inline and link regions as a list
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/callable.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dominance.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

refactor: snapshot region and successor lists without allocating
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rc_optimization.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

docs(guides): describe region/successor access and list snapshots
  guides/development/ir.md
Due: none

test(trunk-ir): compare region and successor lists without a Vec
  Cargo.toml
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/trunk-ir/src/context.rs
  guides/development/ir.md
Due: TrunkIR, Middle End

test(trunk-ir): model region and successor lists with proptest
  Cargo.lock
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/context/prop_tests.rs
Due: TrunkIR

refactor(trunk-ir): ask whether an operation has regions or successors
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/cfg.rs
  crates/tribute-passes/src/native/rc_optimization.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir/proptest-regressions/parser.txt
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  guides/development/ir.md
Due: TrunkIR, Middle End

refactor: handle a missing operation region without unwrapping
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  guides/development/ir.md
Due: Middle End

feat(passes): consume the semantic calling convention at its last reader
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/target_abi.rs
  new-plans/cps-effects.md
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__native_boundary_exit_violations_are_all_pending.snap
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
  tests/integration/active_pipeline_goldens.rs
  tests/integration/e2e_add.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: Middle End, Driver

perf(trunk-ir): start attribute maps at the capacity they need
  crates/trunk-ir/src/types.rs
Due: TrunkIR

fix(typeck): keep a revisited lambda's parameter types
  crates/tribute-front/proptest-regressions/ast/prop.txt
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/function_signatures.rs
Due: Frontend

feat(passes): consume the semantic calling convention at its last reader (#1232)
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/target_abi.rs
  new-plans/cps-effects.md
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__native_boundary_exit_violations_are_all_pending.snap
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
  tests/integration/active_pipeline_goldens.rs
  tests/integration/e2e_add.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: Middle End, Driver

fix(wasm): treat core.bytes and its layout struct as one GC field type
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR

feat(pipeline): enforce the representation/ABI boundary exit contract
  Cargo.toml
  crates/tribute-passes/src/abi_boundary.rs
  new-plans/ir.md
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__native_boundary_exit_violations_are_all_pending.snap
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
Due: Middle End, Driver

fix(typeck): keep a revisited lambda's parameter types (#1234)
  crates/tribute-front/proptest-regressions/ast/prop.txt
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/function_signatures.rs
Due: Frontend

fix(trunk-ir): bound the reserve when extending an empty attribute map
  crates/trunk-ir/src/types.rs
Due: TrunkIR

fix(typeck): treat an error type as no expectation
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

fix(typeck): keep a revisited let's first-visit schemes
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/function_signatures.rs
Due: Frontend

Start attribute maps at the capacity they need (#1233)
  crates/trunk-ir/src/types.rs
Due: TrunkIR

feat(pipeline): enforce the representation/ABI boundary exit contract (#1237)
  Cargo.toml
  crates/tribute-passes/src/abi_boundary.rs
  new-plans/ir.md
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__native_boundary_exit_violations_are_all_pending.snap
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
Due: Middle End, Driver

feat(wasm): convert core.bytes deeply into the @bytes layout struct
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

fix(typeck): stop re-deciding lambda arguments checked in an invalid context (#1238)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/function_signatures.rs
Due: Frontend

feat(wasm): convert core.bytes deeply into the @bytes layout struct (#1239)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

docs: use self-delimiting type syntax in doc comments
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/wasm/bytes.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR, Middle End

perf(trunk-ir): avoid redundant allocations when building parsed types
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR

refactor(trunk-ir): drop the retired core.func guards
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/validation.rs
  new-plans/ir.md
Due: TrunkIR

feat(abi-boundary): verify the parameter ownership contract at the exit
  crates/tribute-passes/src/abi_boundary.rs
  new-plans/ir.md
Due: Middle End

feat(abi-boundary): verify the parameter ownership contract at the exit (#1242)
  crates/tribute-passes/src/abi_boundary.rs
  new-plans/ir.md
Due: Middle End

fix: keep golden struct shapes nominal and reject fieldless markers
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  tests/integration/active_pipeline_goldens.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: TrunkIR

refactor(trunk-ir): accept any Into<Symbol> key in AttributeMap::insert
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/ownership_plan/facts_tests.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/bytes.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End, Driver
