Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

feat(trunk-ir): add parse_test_module helper and round-trip tests (#377)
  crates/trunk-ir/src/parser.rs
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_adt_struct.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_arith_ops.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_func_call.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_func_effects.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_scf_if.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_scf_loop.snap
  crates/trunk-ir/src/snapshots/trunk_ir__parser__tests__roundtrip_scf_switch.snap
Due: TrunkIR

refactor: extract shared cont utilities to cont_util module
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/lib.rs
Due: Middle End

fix(cranelift): use pointer_type for allocator ABI and fix stale comment
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

refactor: split pipeline into shared/wasm/native paths
  src/pipeline.rs
Due: Driver

feat(cranelift): allocator indirection (__tribute_alloc/__tribute_dealloc) (#378)
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  new-plans/rc.md
Due: none

feat(cranelift): implement boxing/unboxing and RC ops for native backend
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  new-plans/rc.md
  src/pipeline.rs
Due: Middle End, Driver

refactor(trunk-ir): migrate test helpers to textual IR format
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

docs(rc): complete RC design documentation
  new-plans/rc.md
Due: none

style(rc): apply markdownlint formatting fixes
  new-plans/rc.md
Due: none

perf(cont_util): optimize compute_op_idx and add comprehensive tests
  crates/tribute-passes/src/cont_util.rs
Due: Middle End

fix(cont_util): fail fast on missing marker attributes in collect_suspend_arms
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_util.rs
Due: Middle End

refactor: prepare pipeline for cont_to_libmprompt backend (#379)
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/lib.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(trunk-ir): wrap test block args in func.func for realistic IR
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

fix(cranelift): allow retain/release passthrough and fix iadd operand types
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
Due: Middle End

refactor(trunk-ir): wrap scf_to_cf test IR in func.func for realistic structure
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

feat(cranelift): implement boxing/unboxing and RC operations for native backend (#380)
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  new-plans/rc.md
  src/pipeline.rs
Due: Middle End, Driver

refactor(trunk-ir): migrate test helpers to textual IR format (#381)
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

refactor(cont): replace handler_dispatch multi-block convention with child ops (#382)
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/patterns.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir/src/dialect/cont.rs
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

fix(cont): recursively remap block-arg references in nested regions
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
Due: Middle End

style: fix clippy useless format! warnings in test
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
Due: Middle End

refactor(cont): replace handler_dispatch multi-block with child ops (#383)
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/patterns.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir/src/dialect/cont.rs
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

feat(cranelift): add RC insertion pass with liveness analysis
  Cargo.lock
  crates/tribute-passes/Cargo.toml
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_alloc_store_return.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_simple_param.snap
  src/pipeline.rs
Due: Middle End, Driver

fix(cranelift): release unused block args to prevent memory leak
  crates/tribute-passes/src/native/rc_insertion.rs
Due: Middle End

test(cranelift): improve RC insertion test coverage and reduce duplication
  crates/tribute-passes/src/native/rc_insertion.rs
Due: Middle End

feat(cont): implement cont_to_libmprompt pass for native backend (#352)
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/patterns.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
  crates/tribute-passes/src/lib.rs
Due: Middle End

fix(cranelift): ensure deterministic release emission order in RC insertion
  crates/tribute-passes/src/native/rc_insertion.rs
Due: Middle End

style: fix clippy collapsible_if warning in tests
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
Due: Middle End

fix(cont): address review feedback for cont_to_libmprompt pass
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
Due: Middle End

feat(cranelift): implement RC insertion pass with liveness analysis (#384)
  Cargo.lock
  crates/tribute-passes/Cargo.toml
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_alloc_store_return.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_simple_param.snap
  src/pipeline.rs
Due: Middle End, Driver

test(cont): add textual IR tests for cont_to_libmprompt review fixes
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
Due: Middle End

feat(cranelift): implement RC lowering pass to inline reference counting operations
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_simple_param.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_int_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_get_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_new_empty.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_new_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_set_to_clif.snap
  src/pipeline.rs
Due: Middle End, Driver

refactor(cont): extract shared remap functions to cont_util
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_util.rs
Due: Middle End

fix(cranelift): resolve placeholder block bug in RC lowering and centralize RC_HEADER_SIZE
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
Due: Middle End

refactor(cont): improve IR validation and remap cycle detection
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_util.rs
Due: Middle End

fix(cranelift): address RC lowering review feedback with value remapping and region recursion
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
Due: Middle End

test(cranelift): add comprehensive RC lowering tests
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
Due: Middle End

refactor(cont): convert cont_to_libmprompt tests to textual IR format
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
Due: Middle End

feat(cranelift): implement RC lowering pass to inline reference counting operations (#386)
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_simple_param.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_int_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_get_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_new_empty.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_new_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_set_to_clif.snap
  src/pipeline.rs
Due: Middle End, Driver

feat(cont): implement cont_to_libmprompt pass for native backend (#385)
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/patterns.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/lib.rs
Due: Middle End

feat(native): integrate libmprompt runtime for native continuation support
  .gitmodules
  .markdownlint-cli2.jsonc
  Cargo.lock
  Cargo.toml
  build.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/build.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  src/pipeline.rs
Due: Driver

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
