Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

fix(native): fix dangling SSA value refs in lower_evidence_to_native
  crates/tribute-passes/src/native/evidence.rs
Due: Middle End

fix(native): convert Marker ADT type to core.ptr like other structs
  crates/tribute-passes/src/native/type_converter.rs
Due: Middle End

fix(native): handle clif.trap operation in Cranelift emitter
  crates/trunk-ir-cranelift-backend/src/function.rs
Due: none

refactor(native): unify resume/resume_drop with their _safe variants
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  new-plans/rc.md
Due: TrunkIR, Middle End

fix(native): fix nil-to-ptr materialization and add cont.prompt_tag type conversion
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir/src/rewrite/applicator.rs
Due: TrunkIR, Middle End

fix(front): cast lambda body result to erased return type before func.return
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
Due: Frontend

fix(ir): revert result type conversion in applicator to avoid WASM regressions
  crates/trunk-ir/src/rewrite/applicator.rs
Due: TrunkIR

feat(ir): add value integrity validation for SSA values in TrunkIR
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  src/pipeline.rs
Due: TrunkIR, Driver

fix(native): fix stale SSA value refs in push_prompt and scf_to_cf
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

fix(native): skip nil-typed store/load in Cranelift emitter and add per-pass integrity checks
  crates/trunk-ir-cranelift-backend/src/function.rs
  src/pipeline.rs
Due: Driver

fix(native): skip static/null ptrs from RC and add null-guarded field releases
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
Due: Middle End

fix(native): use Func::build_extern with abi="C" for evidence extern decls
  crates/tribute-passes/src/native/evidence.rs
Due: Middle End

fix(native): initialize libmprompt before first ability invocation
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-runtime/src/lib.rs
Due: Middle End

refactor(trunk-ir): clean up global_dce, scf_to_cf, and validation internals
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

fix(native): fix SIGILL and SIGBUS crashes in ability-using programs (#424)
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  new-plans/rc.md
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

refactor(passes): address PR review comments on PatternRewriter usage
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  new-plans/ir.md
Due: Middle End

fix(native): fix RC corruption and null-ptr crashes in ability programs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
Due: Middle End

style: fix clippy warnings
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-runtime/src/lib.rs
Due: Middle End

fix(native): address review feedback on RC/evidence fixes (#426)
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-runtime/src/lib.rs
Due: Middle End

fix(native): fix ability programs crashing in native backend (#426)
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
Due: Middle End

test(e2e): migrate all e2e tests from WASM to native backend
  tests/common/mod.rs
  tests/e2e_ability_core.rs
  tests/e2e_add.rs
  tests/e2e_float.rs
  tests/e2e_native.rs
Due: none

test(e2e): upgrade generic/HOF tests to full native compilation
  tests/e2e_ability_core.rs
  tests/e2e_add.rs
Due: none

refactor(test): extract compile_native_or_panic helper to eliminate duplication
  tests/common/mod.rs
  tests/e2e_add.rs
Due: none

test(e2e): un-ignore passing ability tests and fix type/handler bugs
  tests/e2e_ability_core.rs
Due: none

test(e2e): re-ignore test_ability_core_execution under coverage
  tests/e2e_ability_core.rs
Due: none

test(e2e): re-ignore state handler tests that crash under coverage
  tests/e2e_ability_core.rs
Due: none

docs(test): rename section header from WASM to Native Execution Tests
  tests/e2e_ability_core.rs
Due: none

test(e2e): migrate all e2e tests from WASM to native backend (#427)
  tests/common/mod.rs
  tests/e2e_ability_core.rs
  tests/e2e_add.rs
  tests/e2e_float.rs
  tests/e2e_native.rs
Due: none

ci: add CodeRabbit configuration
  .coderabbit.yaml
Due: none

feat(runtime): convert tribute-runtime to no_std with OS-native TLS
  Cargo.lock
  Cargo.toml
  build.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
  crates/tribute-runtime/src/tls.rs
  src/pipeline.rs
Due: Driver

refactor(runtime): make tls_init/thread_state unsafe, remove TLS_STATE machine
  crates/tribute-runtime/src/lib.rs
  crates/tribute-runtime/src/tls.rs
Due: none

refactor(runtime): deduplicate thread_state() calls
  crates/tribute-runtime/src/lib.rs
Due: none

style(runtime): fix clippy type_complexity lint in PromptRegistry
  crates/tribute-runtime/src/tls.rs
Due: none

fix(runtime): make tls_init() idempotent with AtomicBool guard
  crates/tribute-runtime/src/tls.rs
Due: none

fix(runtime): eliminate TLS init race by encoding state in key atomic
  crates/tribute-runtime/src/tls.rs
Due: none

feat(runtime): convert tribute-runtime to no_std with OS-native TLS (#428)
  Cargo.lock
  Cargo.toml
  build.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
  crates/tribute-runtime/src/tls.rs
  src/pipeline.rs
Due: Driver

feat(native): implement ASan milestone 1 -- red zones, quarantine, and --sanitize=address flag
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-runtime/src/asan.rs
  crates/tribute-runtime/src/lib.rs
  src/cli.rs
  src/lib.rs
  src/main.rs
  src/pipeline.rs
  tests/common/mod.rs
  tests/e2e_ability_core.rs
  tests/e2e_float.rs
Due: Middle End, Driver

fix(runtime): disable -O1+ for libmprompt on aarch64 to avoid LLVM miscompilation
  crates/tribute-runtime/build.rs
Due: none

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
