Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

docs: clarify tree-sitter grammar repository location
  AGENTS.md
Due: none

Add extern function declarations for AST-based prelude pipeline (Phase 1) (#294)
  AGENTS.md
  Cargo.lock
  codecov.yml
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_binop_add.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_extern_function.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_let_binding.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_mixed_module.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_nat_literal.snap
  crates/tribute-front/src/astgen/context.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker.rs
  lib/std/prelude.trb
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/e2e_ability_core.rs
Due: Frontend, Driver

feat(front): implement call and constructor lowering with IrBuilder pattern (Phase 2)
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_constructor.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_function_call.snap
Due: Frontend

feat(front): implement case expressions and enum declarations (Phase 3)
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_enum_decl.snap
Due: Frontend

feat(front): implement field access via UFCS (Phase 4)
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
Due: Frontend, Driver

feat(front): implement tuple, record, and struct IR lowering (Phase 4, Part D)
  crates/tribute-front/src/ast_to_ir/lower.rs
Due: Frontend

refactor(front): address PR review feedback for test reliability and code clarity
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
Due: Frontend

fix(front): correct error propagation and improve pattern guard handling in IR lowering
  crates/tribute-front/src/ast_to_ir/lower.rs
Due: Frontend

refactor(front): use unreachable\! for non-constructor in bind_pattern_fields
  crates/tribute-front/src/ast_to_ir/lower.rs
Due: Frontend

refactor(front): use unreachable\! for unsupported patterns in bind_pattern_fields
  crates/tribute-front/src/ast_to_ir/lower.rs
Due: Frontend

fix(front): fix three critical bugs in case expression IR lowering
  crates/tribute-front/src/ast_to_ir/lower.rs
Due: Frontend

fix(front): prevent FuncDefId collision for struct field accessors across modules
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
Due: Frontend

feat(front): add tuple pattern and lambda expression support to ast_to_ir
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
Due: Frontend

feat(front): implement closure conversion in ast_to_ir
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
Due: Frontend

fix(front): preserve type parameters in TDNR struct field accessor types
  crates/tribute-front/src/tdnr/resolver.rs
Due: Frontend

refactor(front): extract build_qualified_field_name to shared utility
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
Due: Frontend

Implement AST-to-IR lowering pipeline (Phases 2-4) (#297)
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_constructor.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_enum_decl.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_function_call.snap
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
Due: Frontend, Driver

feat(front): implement prelude type info injection for AST pipeline
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/typeck/checker.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  src/pipeline.rs
Due: Frontend, Driver

refactor(front): change FuncDefId/CtorId from tracked to interned
  crates/tribute-front/src/ast/phases.rs
Due: Frontend

fix(front): find constructor argument_list by kind instead of field name
  crates/tribute-front/src/astgen/expressions.rs
Due: Frontend

feat(front): add type parameter parsing for structs and enums
  crates/tribute-front/src/astgen/declarations.rs
Due: Frontend

feat(front): add qualified function names and generalization mapping
  crates/tribute-front/src/typeck/checker.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/tests/tuple_pattern.rs
Due: Frontend

refactor(pipeline): switch prelude to AST pipeline
  src/lib.rs
  src/main.rs
  src/pipeline.rs
  tests/e2e_add.rs
Due: Driver

refactor(prelude): simplify tuple patterns to nested case expressions
  lib/std/prelude.trb
Due: none

refactor(typeck): introduce per-function type inference architecture
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/typeck/checker.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/tests/tuple_pattern.rs
  src/lsp/type_index.rs
  src/pipeline.rs
Due: Frontend, Driver

fix(front): resolve type inference issues in prelude compilation
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
Due: Frontend

fix(typeck): implement struct field type inference for MethodCall TDNR
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  tests/e2e_add.rs
Due: Frontend

fix(resolve): use empty module path for top-level function resolution
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/typeck/checker/mod.rs
Due: Frontend

fix(ast_to_ir): lower Record directly to adt.struct_new
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
Due: Frontend

feat(astgen): add parse error diagnostics for syntax errors
  crates/tribute-front/src/astgen/context.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
Due: Frontend

feat(typeck): implement case expression exhaustiveness checking
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
Due: Frontend

docs: remove legacy driver documentation
  AGENTS.md
Due: none

test: ignore calc_eval test due to WASM backend type issue
  tests/e2e_add.rs
Due: none

refactor(front): remove legacy tirgen (CST→TrunkIR) pipeline
  .claude/rules/crates.md
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/source_file.rs
  crates/tribute-front/src/tirgen/context.rs
  crates/tribute-front/src/tirgen/declarations.rs
  crates/tribute-front/src/tirgen/expressions.rs
  crates/tribute-front/src/tirgen/helpers.rs
  crates/tribute-front/src/tirgen/literals.rs
  crates/tribute-front/src/tirgen/mod.rs
  crates/tribute-front/src/tirgen/statements.rs
  examples/salsa_usage.rs
  src/lib.rs
  tests/salsa_integration.rs
Due: Frontend, Driver

refactor(passes): remove unused passes and simplify pipeline
  .claude/rules/ir.md
  crates/tribute-ir/src/dialect/list.rs
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-ir/src/dialect/tribute.rs
  crates/tribute-ir/src/dialect/tribute_pat.rs
  crates/tribute-passes/src/const_inline.rs
  crates/tribute-passes/src/inline_refs.rs
  crates/tribute-passes/src/lambda_lift.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/resolve.rs
  crates/tribute-passes/src/tdnr.rs
  crates/tribute-passes/src/tribute_to_cont.rs
  crates/tribute-passes/src/tribute_to_scf.rs
  crates/tribute-passes/src/typeck/checker.rs
  src/main.rs
  src/pipeline.rs
  tests/e2e_add.rs
Due: Middle End, Driver

docs: update .claude/rules for AST-based pipeline migration
  .claude/rules/conventions.md
  .claude/rules/crates.md
  .claude/rules/pipeline.md
Due: none

refactor(passes): remove legacy TrunkIR-level typeck module
  AGENTS.md
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/typeck/checker.rs
  crates/tribute-passes/src/typeck/constraint.rs
  crates/tribute-passes/src/typeck/effect_row.rs
  crates/tribute-passes/src/typeck/mod.rs
  crates/tribute-passes/src/typeck/solver.rs
  crates/tribute-passes/src/typeck/subst.rs
  src/pipeline.rs
Due: Middle End, Driver

style: fix clippy collapsible_if warning
  crates/tribute-passes/src/tribute_to_cont.rs
Due: Middle End

refactor(front): separate module_path in FuncDefId and CtorId
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
Due: Frontend

fix(typeck): fix effect substitution and record field validation
  .claude/rules/conventions.md
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-passes/src/lib.rs
Due: Frontend, Middle End
