Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

Visit phase values with closures through Refs
  crates/tribute-front/src/ast/visit.rs
  crates/tribute-front/src/ast/visit/tests.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/typeck/checker/finalize.rs
Due: Frontend

Apply solved substitutions in place with VisitMut
  crates/tribute-front/src/typeck/checker/finalize.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

Rewrite typed AST passes in place through VisitMut (#1206)
  crates/tribute-front/src/ast/visit.rs
  crates/tribute-front/src/ast/visit/tests.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/finalize.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

fix(frontend): bring inline module imports into scope in the module body
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

fix(frontend): keep imported namespaces from falling back and inject imported ability operations
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

fix(frontend): resolve an imported module prefix in qualified effect annotations
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

test(abi-boundary): cover convention mismatches, deep markers, and debug info
  crates/tribute-passes/src/abi_boundary.rs
Due: Middle End

Require complete signatures on module-level functions in the design
  new-plans/abilities.md
  new-plans/design.md
  new-plans/generics.md
  new-plans/syntax.md
  new-plans/type-inference.md
Due: none

Check module-level functions against complete, final signatures
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/context.rs
Due: Frontend

Share the callback row with the result in prelude combinators
  lib/std/prelude.trb
Due: none

Test that module-level signatures are complete and final
  crates/tribute-front/tests/function_signatures.rs
Due: Frontend

Share callback rows in fixtures that only inspect IR
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/logical_callback_adaptation.rs
Due: Frontend

fix(frontend): let module definitions win over imported abilities and rewrite single-segment imports
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

test(abi-boundary): cover convention mismatches, deep markers, and debug info (#1208)
  crates/tribute-passes/src/abi_boundary.rs
Due: Middle End

Declare the return type of the metadata-roots fixture's marker
  tests/integration/frontend_type_roots.rs
Due: none

Bring inline module imports into scope in the module body (#1207)
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

Declare main's return type in the inline-module import fixtures
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

Declare main's return type in the inline-module import fixtures (#1217)
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

test(bench): pin which benchmark programs compile on each target
  Cargo.lock
  crates/tribute-bench/Cargo.toml
  crates/tribute-bench/src/programs.rs
  crates/tribute-bench/src/stages.rs
  crates/tribute-bench/tests/programs.rs
Due: none

test(bench): track the Wasm read_line gap in #1215
  crates/tribute-bench/src/programs.rs
Due: none

Reference the issues behind the examples' known gaps
  lang-examples/modules_inline.trb
  tests/integration/lang_examples.rs
Due: none

Check every language example in the frontend
  lang-examples/README.md
  tests/integration/lang_examples.rs
  tests/integration/main.rs
Due: none

Bring the language examples up to the current language
  lang-examples/add.trb
  lang-examples/basic.trb
  lang-examples/calc.trb
  lang-examples/float.trb
  lang-examples/function_visibility.trb
  lang-examples/functions.trb
  lang-examples/generics.trb
  lang-examples/lambda.trb
  lang-examples/let-destructuring.trb
  lang-examples/let_advanced.trb
  lang-examples/let_bindings.trb
  lang-examples/let_simple.trb
  lang-examples/let_with_function.trb
  lang-examples/milestone3_test.trb
  lang-examples/modules_file/main.trb
  lang-examples/modules_file/math.trb
  lang-examples/modules_file/math/advanced.trb
  lang-examples/modules_file/math/basic.trb
  lang-examples/modules_file/utils.trb
  lang-examples/modules_inline.trb
  lang-examples/modules_use.trb
  lang-examples/operator-functions.trb
  lang-examples/option.trb
  lang-examples/pattern_advanced.trb
  lang-examples/pattern_matching.trb
  lang-examples/performance_test.trb
  lang-examples/record-patterns.trb
  lang-examples/result.trb
  lang-examples/simple_closure.trb
  lang-examples/simple_function.trb
  lang-examples/simple_test.trb
  lang-examples/string_interpolation.trb
  lang-examples/strings/string_interpolation.trb
  lang-examples/tuples.trb
  lang-examples/ufcs-qualified.trb
  lang-examples/ufcs-simple.trb
  lang-examples/zero-arg-comprehensive.trb
  lang-examples/zero-arg-no-parens.trb
  lang-examples/zero-arg-simple.trb
Due: none

test(bench): pin which benchmark programs compile on each target (#1216)
  Cargo.lock
  crates/tribute-bench/Cargo.toml
  crates/tribute-bench/src/programs.rs
  crates/tribute-bench/src/stages.rs
  crates/tribute-bench/tests/programs.rs
Due: none

perf(trunk-ir): hash the symbol interner with FxHash
  crates/trunk-ir/src/symbol.rs
Due: TrunkIR

fix(closure-lower): discover and lower closures in one walk per batch
  crates/tribute-passes/src/closure_lower.rs
Due: Middle End

fix(closure-lower): discover and lower closures in one walk per batch (#1218)
  crates/tribute-passes/src/closure_lower.rs
Due: Middle End

perf(trunk-ir): hash the symbol interner with FxHash (#1219)
  crates/trunk-ir/src/symbol.rs
Due: TrunkIR

feat(target-abi): record the physical ownership contract in Cps signatures
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/effect_dispatch.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  guides/development/ir.md
  new-plans/ir.md
  new-plans/rc.md
  src/pipeline.rs
Due: Middle End, Driver

fix(native): stop retaining arguments for retained parameters
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  new-plans/rc.md
Due: Middle End

refactor(prelude): drop the legacy C print helpers in favor of std::io
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-runtime/src/lib.rs
  lang-examples/hello.trb
  lib/std/prelude.trb
  tests/integration/e2e_native.rs
  tests/integration/salsa_integration.rs
Due: Middle End

feat(wasm): bind __tribute_next_tag and __tribute_bytes_slice_or_panic
  crates/tribute-bench/src/programs.rs
  crates/tribute-bench/tests/programs.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  new-plans/capabilities.md
  new-plans/wasm-backend.md
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
  tests/integration/wasm_compilation.rs
Due: Middle End, Driver

fix(native): stop retaining arguments for retained parameters (#1224)
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  new-plans/rc.md
Due: Middle End

perf(trunk-ir): build the from_op mismatch error without allocating
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir/src/ops.rs
Due: TrunkIR

Bind the remaining C runtime helpers on Wasm (#1225)
  crates/tribute-bench/src/programs.rs
  crates/tribute-bench/tests/programs.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  crates/tribute-runtime/src/lib.rs
  lang-examples/hello.trb
  lib/std/prelude.trb
  new-plans/capabilities.md
  new-plans/wasm-backend.md
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
  tests/integration/e2e_native.rs
  tests/integration/salsa_integration.rs
  tests/integration/wasm_compilation.rs
Due: Middle End, Driver

perf(trunk-ir): build the from_op mismatch error without allocating (#1226)
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir/src/ops.rs
Due: TrunkIR

feat(target-abi): record the physical ownership contract in Cps signatures (#1222)
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/effect_dispatch.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  guides/development/ir.md
  new-plans/ir.md
  new-plans/rc.md
  src/pipeline.rs
Due: Middle End, Driver
