Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

test: compare Wasm stdout as bytes and record new Wasm execution evidence
  new-plans/capabilities.md
  tests/integration/common/mod.rs
Due: none

build: disable incremental compilation for all worktrees (#1363)
  .cargo/config.toml
  Cargo.toml
Due: none

test: merge native/wasm twin e2e tests and share wasmtime execution (#1361)
  new-plans/capabilities.md
  tests/integration/common/mod.rs
  tests/integration/e2e_ability_nested.rs
  tests/integration/e2e_native.rs
  tests/integration/open_callback_evidence_root.rs
  tests/integration/wasm_compilation.rs
Due: none

fix(native): reject a cf.switch case that clif.switch cannot hold
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  new-plans/cranelift-backend.md
Due: none

test: consolidate example-test families into table-driven tests (#1362)
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/source_file.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/numeric_literals.rs
  crates/tribute-front/tests/raw_identifiers.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/test_support.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/validation.rs
  tests/integration/e2e_add.rs
Due: TrunkIR, Frontend, Middle End

feat(native): lower integer switches through cf.switch to clif.switch (#1360)
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
Due: TrunkIR

fix(rewrite): keep staged type conversion schema-valid between passes
  crates/trunk-ir/src/rewrite/applicator.rs
  guides/development/ir.md
  new-plans/ir.md
  src/pipeline.rs
Due: TrunkIR, Driver

feat(ir): canonicalize after inlining and add adt, scf.switch, box folds
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__scf__canonicalize_tests__switch_const_selector_splices_matching_case.snap
  crates/trunk-ir/src/transforms/canonicalize.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

feat(typeck): require an arm for every operation of a handled ability
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/handler_arm_coverage.rs
  new-plans/abilities.md
  new-plans/type-inference.md
  tests/integration/diagnostic_snapshots.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_missing_handler_arm.snap
Due: Frontend

test(trunk-ir): check graph analyses against naive oracles
  crates/trunk-ir/src/dominance.rs
  crates/trunk-ir/src/dominance/prop_tests.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/call_graph/prop_tests.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/global_dce/prop_tests.rs
Due: TrunkIR

fix(trunk-ir): name global DCE extra entry points by SymbolPath
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/global_dce/prop_tests.rs
Due: TrunkIR

fix(rewrite): keep staged type conversion schema-valid between passes (#1366)
  crates/trunk-ir/src/rewrite/applicator.rs
  guides/development/ir.md
  new-plans/ir.md
  src/pipeline.rs
Due: TrunkIR, Driver

refactor(ir): simplify unbox-of-box fold with ?
  crates/tribute-ir/src/dialect/tribute_rt.rs
Due: Middle End

test(front): replace typeck example families with law-based properties
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/prop.rs
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/tests.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

test(front): link ignored property repros to their issues
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

fix(ir): propagate canonicalize failures and guard struct_get by layout writes
  crates/tribute-ir/src/dialect/adt.rs
  src/pipeline.rs
Due: Middle End, Driver

perf(ir): forward struct reads in one module-level pass
  crates/tribute-ir/src/dialect/adt.rs
  src/pipeline.rs
Due: Middle End, Driver

feat(typeck): require an arm for every operation of a handled ability (#1368)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/handler_arm_coverage.rs
  new-plans/abilities.md
  new-plans/type-inference.md
  tests/integration/diagnostic_snapshots.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_missing_handler_arm.snap
Due: Frontend

feat(ir): canonicalize after inlining and add adt/switch/box folds (#1367)
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__scf__canonicalize_tests__switch_const_selector_splices_matching_case.snap
  crates/trunk-ir/src/transforms/canonicalize.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

Pass built IR to graph-analysis properties
  crates/trunk-ir/proptest-regressions/dominance/prop_tests.txt
  crates/trunk-ir/src/dominance/prop_tests.rs
  crates/trunk-ir/src/transforms/call_graph/prop_tests.rs
  crates/trunk-ir/src/transforms/global_dce/prop_tests.rs
Due: TrunkIR

Remove a proptest regression file left by a local probe
  crates/trunk-ir/proptest-regressions/dominance/prop_tests.txt
Due: TrunkIR

test(front): strengthen substitution composition and restore mangle contrasts
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

Share random IR generators across graph-analysis properties
  crates/trunk-ir/src/dominance/prop_tests.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/prop.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/call_graph/prop_tests.rs
  crates/trunk-ir/src/transforms/global_dce/prop_tests.rs
Due: TrunkIR

test(trunk-ir): check dominance, call graph and global DCE against reference definitions (#1369)
  crates/trunk-ir/src/dominance.rs
  crates/trunk-ir/src/dominance/prop_tests.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/prop.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/call_graph/prop_tests.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/global_dce/prop_tests.rs
Due: TrunkIR

test(front): replace typeck example families with law-based properties (#1374)
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/prop.rs
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/tests.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

typeck: report closed-row mismatch before ambiguity
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/rows.rs
Due: Frontend

fix(front): report out-of-range bound vars in effect rows as OutOfBounds
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

test(front): drop the bound_vars_in_rows generator switch
  crates/tribute-front/src/typeck/prop.rs
Due: Frontend

refactor(front): make substitute_effect_row report out-of-range indices
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

typeck: document mismatch-before-ambiguity for closed rows
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  new-plans/type-inference.md
Due: Frontend

refactor(front): name the effect-row substitution error
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

fix(front): tag compiler-constructed types in specialization mangling
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  new-plans/generics.md
  new-plans/implementation.md
Due: Frontend

fix(front): call the specialized struct's field functions
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  tests/integration/e2e_field_lenses.rs
Due: Frontend

typeck: reject mergeable effect declarations and unsettled ambiguity
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast/types/display/tests.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/solver/error.rs
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/src/typeck/solver/unify.rs
  crates/tribute-front/tests/solve_error_display.rs
  new-plans/type-inference.md
  tests/integration/diagnostic_snapshots.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_effects_that_type_arguments_can_merge.snap
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_unsettled_ambiguous_effect_equality.snap
Due: Frontend

fix(front): report out-of-range bound vars in effect rows as OutOfBounds (#1375)
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/typeck/prop.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

typeck: settle ambiguous effect matches independently of order (#1376)
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast/types/display/tests.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/solver/error.rs
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/src/typeck/solver/unify.rs
  crates/tribute-front/tests/solve_error_display.rs
  new-plans/type-inference.md
  tests/integration/diagnostic_snapshots.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_effects_that_type_arguments_can_merge.snap
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_unsettled_ambiguous_effect_equality.snap
Due: Frontend

fix(front): tag compiler-constructed types in specialization mangling (#1378)
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  new-plans/generics.md
  new-plans/implementation.md
Due: Frontend

fix(front): call the specialized struct's field functions (#1379)
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  tests/integration/e2e_field_lenses.rs
Due: Frontend

fix(typeck): keep row tail bindings made by effect argument unification
  crates/tribute-front/src/typeck/prop.rs
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/rows.rs
Due: Frontend

fix(typeck): check each open tail only against its own remainder
  crates/tribute-front/src/typeck/solver/laws.rs
  crates/tribute-front/src/typeck/solver/rows.rs
Due: Frontend
