Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

Preserve qualified operator references through callable lowering (#1029)
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/tests/local_callable_instances.rs
  new-plans/syntax.md
  tests/e2e_native.rs
Due: Frontend

test: align source-logical callable regression contracts
  crates/tribute-front/tests/cps_lowering.rs
  tests/e2e_add.rs
  tests/open_callback_evidence_root.rs
Due: Frontend

fix: preserve nominal recovery until target materialization
  crates/tribute-passes/src/type_converter.rs
  new-plans/ir.md
Due: Middle End

fix: use converted result type for Wasm struct projections
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
Due: TrunkIR, Middle End

fix: match Never reject continuation to dispatch ABI
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/cps-effects.md
Due: Middle End

fix: preserve nominal recovery until target materialization (#1030)
  crates/tribute-passes/src/type_converter.rs
  new-plans/ir.md
Due: Middle End

fix: use converted result type for Wasm struct projections (#1031)
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
Due: TrunkIR, Middle End

fix: match Never reject continuation to dispatch ABI (#1032)
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/cps-effects.md
Due: Middle End

Reject unsupported compiler intrinsic directives before specialization
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/tests/common/mod.rs
  new-plans/ir.md
  src/pipeline.rs
Due: Frontend, Driver

Clarify FFI contracts and stabilize pipeline tests
  crates/tribute-front/tests/record_field_type.rs
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/modules.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/active_pipeline_goldens.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend, Driver

Tighten Wasm managed C FFI emission tests
  src/pipeline.rs
Due: Driver

Tune coverage test concurrency
  .config/nextest.toml
  .github/workflows/ci.yml
Due: none

Strengthen use-chain validation for module membership
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

WIP: integrate source-logical CPS pipeline (#825) (#854)
  .config/nextest.toml
  .github/workflows/ci.yml
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/logical_callback_adaptation.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/validation.rs
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/modules.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/active_pipeline_goldens.rs
  tests/e2e_ability_handler.rs
  tests/e2e_add.rs
  tests/e2e_local_callables.rs
  tests/e2e_native.rs
  tests/evidence_lambda.rs
  tests/open_callback_evidence_root.rs
  tests/optimization_conformance.rs
  tests/salsa_integration.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: TrunkIR, Frontend, Middle End, Driver

refactor(front): remove superseded physical CPS lowering
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/control.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/ast_to_ir/normalize.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  new-plans/implementation.md
  new-plans/optimizations.md
  src/pipeline.rs
  tests/common/mod.rs
  tests/optimization_conformance.rs
Due: Frontend, Driver

refactor(cps): remove superseded shared lowering paths
  crates/tribute-core/src/callable_abi.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/snapshots/tribute_passes__lower_handle_dispatch__tests__lower_handle_dispatch_forwards_foreign_escape.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_handle_dispatch__tests__lower_handle_dispatch_identity_done.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_handle_dispatch__tests__lower_handle_dispatch_no_done.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_handle_dispatch__tests__lower_handle_dispatch_transforming_done.snap
  crates/tribute-passes/src/tail_resumptive.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  guides/development/ir.md
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/optimizations.md
  src/pipeline.rs
  tests/common/mod.rs
  tests/evidence_lambda.rs
Due: Middle End, Driver

refactor(wasm): remove retired trampoline layouts
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/plan.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(evidence): let target passes own runtime helpers
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/io.md
  src/pipeline.rs
Due: Middle End, Driver

refactor(core): rename needs_done_k to needs_continuation_frame
  crates/tribute-core/src/callable_abi.rs
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
Due: Middle End, Driver

refactor(passes): read evidence from the declared callable contract
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

refactor: drop retired compatibility re-export modules
  Cargo.toml
  crates/tribute-passes/src/boxing.rs
  crates/tribute-passes/src/diagnostic.rs
  crates/tribute-passes/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/adt_layout.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  src/diagnostics.rs
  src/lib.rs
  src/lsp/server.rs
  src/main.rs
  tests/canonical_smoke.rs
  tests/common/mod.rs
  tests/diagnostic_snapshots.rs
  tests/e2e_ability_core.rs
  tests/salsa_integration.rs
Due: Middle End, Driver

refactor(trunk-ir): reject retired core.func type spellings
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

refactor(wasm): remove the legacy single-result call_indirect path
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/memory_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
Due: TrunkIR

refactor(front): drop compatibility branches in AST lowering
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/tests/cps_lowering.rs
Due: Frontend

refactor(pipeline): drop shared-stage compatibility entry points
  src/pipeline.rs
  tests/constructor_instances.rs
  tests/e2e_add.rs
  tests/fixtures/optimizations/state_handlers.trb
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__done_continuation_dedup_after.snap
  tests/snapshots/optimization_conformance__done_continuation_dedup_before.snap
Due: Driver

chore: drop unreferenced snapshots and fix ignored-test reasons
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_binop_add.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_nat_literal.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_constructor.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_enum_decl.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_extern_function.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_function_call.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_let_binding.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_mixed_module.snap
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_nat_literal.snap
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_module_with_params.snap
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__print_simple_module.snap
  tests/wasm_compilation.rs
Due: TrunkIR, Frontend

docs: drop comments about retired compiler paths
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/rewrite/pattern.rs
  crates/trunk-ir/src/transforms/dce.rs
  tests/active_pipeline_goldens.rs
  tests/cps_closure_lowering.rs
Due: TrunkIR, Frontend, Middle End

chore: drop the obsolete performance comparison script
  scripts/performance_comparison.sh
Due: none

docs: prune superseded pipeline documentation
  guides/development/conventions.md
  guides/development/crates.md
  guides/development/ir.md
  guides/salsa.md
  new-plans/abilities.md
  new-plans/capabilities.md
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/generics.md
  new-plans/implementation.md
  new-plans/io.md
  new-plans/ir.md
  new-plans/linking.md
  new-plans/lowering.md
  new-plans/modules.md
  new-plans/optimizations.md
  new-plans/rc.md
  new-plans/string.md
  new-plans/syntax.md
  new-plans/type-inference.md
  new-plans/types.md
  new-plans/wasm-backend.md
  plans/02.03-wasm-runtime-research.md
  plans/02.04-wasm-translation.md
  plans/05-standard-library.md
  plans/06-package-manager.md
  plans/07-testing-framework.md
  plans/08-documentation-system.md
  plans/README.md
Due: none

docs: fix stale pass and module references in the RC design
  new-plans/rc.md
Due: none

chore: drop unused cargo dependencies
  Cargo.lock
  crates/tribute-ir/Cargo.toml
  crates/tribute-passes/Cargo.toml
  crates/trunk-ir-wasm-backend/Cargo.toml
  crates/trunk-ir/Cargo.toml
Due: TrunkIR, Middle End

docs: fix repository-root links in the crates guide
  guides/development/crates.md
Due: none

test: enable the now-passing named-operator alias test
  tests/e2e_native.rs
Due: none

refactor(pipeline): drop the vestigial target lowering stage
  src/pipeline.rs
Due: Driver

docs: drop a comment about retired resume wrappers
  crates/tribute-passes/src/wasm/type_converter.rs
Due: Middle End

refactor(passes): drop the per-function closure lowering entry
  crates/tribute-passes/src/closure_lower.rs
  src/pipeline.rs
  tests/cps_closure_lowering.rs
  tests/e2e_add.rs
Due: Middle End, Driver

refactor(pipeline): share the structural pass pipeline
  src/pipeline.rs
Due: Driver

docs(ir): define the policy-neutral ownership facts contract
  new-plans/ir.md
  new-plans/rc.md
Due: none

refactor(native): extract policy-neutral ownership flow facts as analyses
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/facts.rs
  crates/tribute-passes/src/native/ownership_plan/facts_tests.rs
Due: Middle End
