Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

feat(tribute-front): implement Abort ability with Never bottom type (#622)
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  tests/e2e_ability_handler.rs
Due: Frontend

feat: add tribute-rc crate with RcBox<T> and use it in runtime (#623)
  Cargo.lock
  Cargo.toml
  crates/tribute-rc/Cargo.toml
  crates/tribute-rc/src/lib.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
Due: none

refactor: replace hardcoded RC header offsets with tribute-rc constants
  Cargo.lock
  crates/tribute-ir/Cargo.toml
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: Middle End

test: add E2E tests for Throw(e) parameterized ability (#193)
  tests/e2e_ability_handler.rs
Due: none

fix(ast-to-ir): insert return type cast for mismatched function body results
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_single_extra_arg.snap
  tests/e2e_ability_handler.rs
Due: Frontend

refactor(tribute-ir): use pub use re-exports for RC header constants
  crates/tribute-ir/src/dialect/tribute_rt.rs
Due: Middle End

refactor: use &raw mut for payload pointer creation
  crates/tribute-rc/src/lib.rs
  crates/tribute-runtime/src/lib.rs
Due: none

fix(runtime): add overflow check in bytes concat length calculation
  crates/tribute-runtime/src/lib.rs
Due: none

fix(ast-to-ir): insert return type cast for mismatched function body results (#628)
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_single_extra_arg.snap
  tests/e2e_ability_handler.rs
Due: Frontend

fix(tribute-rc): use per-T payload offset and return raw pointer from init
  crates/tribute-rc/src/lib.rs
  crates/tribute-runtime/src/lib.rs
Due: none

refactor(tribute-rc): replace addr_of_mut! with &raw mut
  crates/tribute-rc/src/lib.rs
Due: none

test(ability): add E2E tests for Throw(e) parameterized ability (#626)
  tests/e2e_ability_handler.rs
Due: none

fix(test): rename check_positive to throw_with_offset for clarity
  tests/e2e_ability_handler.rs
Due: none

feat: add Abort and Throw(e) abilities to prelude with module-qualified path support
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/resolve/resolver.rs
  lib/std/prelude.trb
  tests/e2e_ability_handler.rs
Due: Frontend

Add tribute-rc crate and replace hardcoded RC header offsets with named constants (#627)
  Cargo.lock
  Cargo.toml
  crates/tribute-ir/Cargo.toml
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-rc/Cargo.toml
  crates/tribute-rc/src/lib.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: Middle End

feat: add Abort/Throw(e) to prelude with module-qualified ability path support (#630)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/resolve/resolver.rs
  lib/std/prelude.trb
  tests/e2e_ability_handler.rs
Due: Frontend

feat(tribute-front): effect-directed name resolution for ability operations
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/resolver.rs
  tests/e2e_ability_handler.rs
Due: Frontend

feat(clif): add atomic_rmw op and use it for RC retain/release
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir/src/dialect/clif.rs
Due: TrunkIR, Middle End

fix(resolve): filter row tail variables in effect-directed resolution
  crates/tribute-front/src/resolve/resolver.rs
  tests/e2e_ability_handler.rs
Due: Frontend

feat(tribute-front): effect-directed name resolution for ability operations (#632)
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/resolver.rs
  tests/e2e_ability_handler.rs
Due: Frontend

docs(rc-lowering): update doc comments to reflect atomic_rmw semantics
  crates/tribute-passes/src/native/rc_lowering.rs
Due: Middle End

refactor(rc-lowering): rename vars and comments to reflect atomic_rmw semantics
  crates/tribute-passes/src/native/rc_lowering.rs
Due: Middle End

feat(resolve): resolve `use` imports for module-qualified abilities
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  src/pipeline.rs
  tests/e2e_ability_handler.rs
Due: Frontend, Driver

style: collapse nested if per clippy suggestion
  crates/tribute-front/src/resolve/resolver.rs
Due: Frontend

feat(resolve): resolve `use` imports for module-qualified abilities (#634)
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  src/pipeline.rs
  tests/e2e_ability_handler.rs
Due: Frontend, Driver

refactor(rc-lowering): reuse `one` value for icmp in gen_release_decrement
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
Due: Middle End

feat(ast-to-ir): WIP CPS transform for effectful calls via done_k (#624)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
Due: Frontend

feat(clif): use atomic_rmw for RC retain/release instead of load+add/sub+store (#633)
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir/src/dialect/clif.rs
Due: TrunkIR, Middle End

wip(ast-to-ir): fix done_k scope leak and CPS terminator issues (#624)
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
Due: Frontend

feat(ast-to-ir): uniform CPS for all closures via done_k (#624, #639)
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/tests/snapshots/cps_lowering__ability_op_then_pure_expr.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__multi_arg_ability_op.snap
  crates/tribute-front/tests/snapshots/cps_lowering__resume_in_op_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__sequential_ability_ops.snap
  crates/tribute-front/tests/snapshots/cps_lowering__single_ability_op_in_block.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
Due: Frontend

fix(ast-to-ir): correct CPS calling convention for computed callees and local closures
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  tests/e2e_ability_effect_row.rs
Due: Frontend

fix(ast-to-ir): uniform CPS for all closures, resolving row-poly done_k gap (#640)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/tests/snapshots/cps_lowering__ability_op_then_pure_expr.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__multi_arg_ability_op.snap
  crates/tribute-front/tests/snapshots/cps_lowering__resume_in_op_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__sequential_ability_ops.snap
  crates/tribute-front/tests/snapshots/cps_lowering__single_ability_op_in_block.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  tests/e2e_ability_effect_row.rs
Due: Frontend

chore(deps): bump clap from 4.5 to 4.6.0
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): bump clap from 4.5 to 4.6.0 (#643)
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): bump cranelift crates from 0.128.3 to 0.130.0
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): bump cranelift crates from 0.128.3 to 0.130.0 (#644)
  Cargo.lock
  Cargo.toml
Due: none

fix(ci): include all workspace crates in coverage report
  .github/workflows/ci.yml
Due: none

fix(ci): include all workspace crates in coverage report (#645)
  .github/workflows/ci.yml
Due: none

test: add tests to improve code coverage across frontend and LSP
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/snapshots/expr_coverage__bool_literal_false.snap
  crates/tribute-front/tests/snapshots/expr_coverage__bool_literal_true.snap
  crates/tribute-front/tests/snapshots/expr_coverage__boolean_operators.snap
  crates/tribute-front/tests/snapshots/expr_coverage__bytes_literal.snap
  crates/tribute-front/tests/snapshots/expr_coverage__float_literal.snap
  crates/tribute-front/tests/snapshots/expr_coverage__function_reference_as_value.snap
  crates/tribute-front/tests/snapshots/expr_coverage__lambda_as_argument.snap
  crates/tribute-front/tests/snapshots/expr_coverage__nil_literal.snap
  crates/tribute-front/tests/snapshots/expr_coverage__parenthesized_expression.snap
  crates/tribute-front/tests/snapshots/expr_coverage__rune_literal.snap
  crates/tribute-front/tests/snapshots/expr_coverage__string_literal.snap
  crates/tribute-front/tests/snapshots/expr_coverage__tuple_construction.snap
  src/lsp/server.rs
Due: Frontend, Driver

fix(test): use correct #(...) tuple syntax in test_tuple_construction
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/snapshots/expr_coverage__tuple_construction.snap
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
