Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

feat(trunk-ir): add inlining policy, pass entry, and native pipeline slot
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/mod.rs
  src/pipeline.rs
Due: TrunkIR, Driver

feat(pipeline): wire inlining into native target after evidence_to_native
  src/pipeline.rs
Due: Driver

refactor(trunk-ir): simplify inliner to single-block-only, drop cf dependency
  crates/trunk-ir/src/transforms/inline.rs
  src/pipeline.rs
Due: TrunkIR, Driver

test(trunk-ir): assert ArityMismatch variant in inline arity test
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

refactor(tribute-core,trunk-ir): use itertools for join formatting
  Cargo.lock
  Cargo.toml
  crates/tribute-core/Cargo.toml
  crates/tribute-core/src/fmt.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/transforms/call_graph.rs
Due: TrunkIR, Driver

fix(call-graph): use sym_name attr when extending nested module paths
  crates/trunk-ir/src/transforms/call_graph.rs
Due: TrunkIR

Implement general function inlining (#675) (#677)
  Cargo.lock
  Cargo.toml
  crates/tribute-core/Cargo.toml
  crates/tribute-core/src/fmt.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/mod.rs
  src/pipeline.rs
Due: TrunkIR, Driver

feat(trunk-ir): add MLIR-style AnalysisManager with lazy caching
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/mod.rs
Due: TrunkIR

test(trunk-ir): remove shared compute-count, fix inline doc
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

feat(trunk-ir): guard AnalysisManager against IrContext mixing
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/lib.rs
Due: TrunkIR

refactor(trunk-ir): inject AnalysisManager from orchestrator
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/mod.rs
  src/pipeline.rs
Due: TrunkIR, Driver

refactor(trunk-ir): rename AnalysisManager to AnalysisCache, add scope helper
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/inline.rs
  src/pipeline.rs
Due: TrunkIR, Driver

feat(trunk-ir): add MLIR-style AnalysisManager with lazy caching (#681)
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/inline.rs
  src/pipeline.rs
Due: TrunkIR, Driver

refactor(trunk-ir): drive inliner with PatternApplicator
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

fix(trunk-ir): rebuild call graph between inliner iterations
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

refactor(trunk-ir): drop unused InlineResult.inlined_sites tracking
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

docs(trunk-ir): fix typos in inliner comments
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

fix(trunk-ir): remove artificial cap on inliner outer loop
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

refactor(trunk-ir): drive inliner with PatternApplicator (#683)
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

feat(trunk-ir): add canonicalize pass with integer identity folds
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/mod.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__add_zero_fold_rhs_zero.snap
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__mul_zero_fold_replaces_with_const_zero.snap
  src/pipeline.rs
Due: TrunkIR, Driver

feat(trunk-ir): add canonicalize pass with integer identity folds (#689)
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/mod.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__add_zero_fold_rhs_zero.snap
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__mul_zero_fold_replaces_with_const_zero.snap
  src/pipeline.rs
Due: TrunkIR, Driver

feat(trunk-ir): fold integer constants and subi identity in canonicalize
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__int_const_fold_addi.snap
Due: TrunkIR

test(trunk-ir): pin folded value in int_const_fold_wraps_on_overflow
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__int_const_fold_wraps_on_overflow.snap
Due: TrunkIR

fix(trunk-ir): make int const fold type-aware (signed wrap at result width)
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__int_const_fold_wraps_at_i32_width.snap
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__int_const_fold_wraps_at_i64_width.snap
Due: TrunkIR

test(trunk-ir): assert wrap fold values directly instead of via snapshot
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__int_const_fold_wraps_at_i32_width.snap
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__int_const_fold_wraps_at_i64_width.snap
Due: TrunkIR

style(trunk-ir): collapse nested if in return_value_int_const helper
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

refactor(trunk-ir): parse core_int_width from i{N} instead of hard-coded set
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

feat(trunk-ir): fold integer constants and subi identity in canonicalize (#691)
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__int_const_fold_addi.snap
Due: TrunkIR

feat(trunk-ir): canonicalize unrealized_conversion_cast identity and round-trips
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__unrealized_cast_identity_drops_same_type_cast.snap
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__unrealized_cast_round_trip_collapses_pair.snap
Due: TrunkIR

docs(trunk-ir): explain why unrealized cast round-trip is safe
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

feat(trunk-ir): canonicalize unrealized_conversion_cast identity and round-trips (#692)
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__unrealized_cast_identity_drops_same_type_cast.snap
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__unrealized_cast_round_trip_collapses_pair.snap
Due: TrunkIR

refactor(trunk-ir): move canonicalize patterns to per-dialect registries
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__arith__canonicalize_tests__add_zero_fold_rhs_zero.snap
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__arith__canonicalize_tests__int_const_fold_addi.snap
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__arith__canonicalize_tests__mul_zero_fold_replaces_with_const_zero.snap
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__core__canonicalize_tests__unrealized_cast_identity_drops_same_type_cast.snap
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__core__canonicalize_tests__unrealized_cast_round_trip_collapses_pair.snap
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__mul_zero_fold_replaces_with_const_zero.snap
Due: TrunkIR

refactor(trunk-ir): MLIR-style fold API for canonicalize patterns
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

refactor(trunk-ir): MLIR-style fold API for canonicalize patterns (#694)
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

refactor(trunk-ir): inventory-based registration for canonicalize folds
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

fix(trunk-ir): enforce duplicate-fold detection in release builds
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

refactor(trunk-ir): inventory-based registration for canonicalize folds (#695)
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR

refactor(trunk-ir): use Const typed wrapper in const_int_value
  crates/trunk-ir/src/dialect/arith.rs
Due: TrunkIR

refactor(trunk-ir): per-dialect canonicalization pattern registries (#693)
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__arith__canonicalize_tests__add_zero_fold_rhs_zero.snap
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__arith__canonicalize_tests__int_const_fold_addi.snap
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__arith__canonicalize_tests__mul_zero_fold_replaces_with_const_zero.snap
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__core__canonicalize_tests__unrealized_cast_identity_drops_same_type_cast.snap
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__core__canonicalize_tests__unrealized_cast_round_trip_collapses_pair.snap
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/snapshots/trunk_ir__transforms__canonicalize__tests__mul_zero_fold_replaces_with_const_zero.snap
Due: TrunkIR

feat(trunk-ir): canonicalize scf.if with constant condition
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/dialect/snapshots/trunk_ir__dialect__scf__canonicalize_tests__if_const_true_splices_then_region.snap
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR
