Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

refactor(typeck): separate solver algorithms and checked-body finalization
  crates/tribute-front/src/typeck/checker/diagnostics.rs
  crates/tribute-front/src/typeck/checker/finalize.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/func_check/tests.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/solver/error.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/relations.rs
  crates/tribute-front/src/typeck/solver/row_union_tests.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/src/typeck/solver/substitution.rs
  crates/tribute-front/src/typeck/solver/tests.rs
  crates/tribute-front/src/typeck/solver/unify.rs
Due: Frontend

docs: share development guides across tools
  .claude/rules
  AGENTS.md
  guides/development/README.md
  guides/development/conventions.md
  guides/development/crates.md
  guides/development/ir.md
Due: none

docs: retain preferred tribute formatting helpers
  guides/development/conventions.md
Due: none

refactor(frontend): use shared joined formatting helpers
  Cargo.lock
  crates/tribute-core/Cargo.toml
  crates/tribute-core/src/fmt.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/solver/mod.rs
Due: Frontend, Driver

refactor(frontend): prefer itertools formatting adapters
  Cargo.lock
  crates/tribute-core/Cargo.toml
  crates/tribute-core/src/fmt.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  guides/development/conventions.md
Due: Frontend, Driver

refactor(frontend): compare effect display without strings
  Cargo.lock
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast/types/display.rs
  crates/tribute-front/src/ast/types/display/tests.rs
  crates/tribute-front/src/typeck/solver/error.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  new-plans/implementation.md
Due: Frontend

refactor(frontend): simplify effect row display sorting
  Cargo.lock
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast/types/display.rs
  crates/tribute-front/src/ast/types/display/tests.rs
  new-plans/implementation.md
Due: Frontend

Make EffectRow formatting safe without a Salsa database
  crates/tribute-front/src/ast/types/display.rs
  crates/tribute-front/tests/solve_error_display.rs
  guides/development/crates.md
Due: Frontend

refactor(typeck): reuse mapped type generalization
  crates/tribute-front/src/typeck/solver/substitution.rs
Due: Frontend

refactor(typeck): reuse retained row relation analysis
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

refactor(typeck): share protected relation result collection
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/relations.rs
Due: Frontend

refactor(astgen): consolidate closing delimiter diagnostics
  crates/tribute-front/src/astgen/diagnostics.rs
Due: Frontend

refactor(typeck): remove redundant univar collection wrapper
  crates/tribute-front/src/typeck/solver/substitution.rs
Due: Frontend

refactor(frontend): separate syntax diagnostics and type-checker responsibilities (#996)
  .claude/rules
  .claude/rules/crates.md
  AGENTS.md
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast/types/display.rs
  crates/tribute-front/src/ast/types/display/tests.rs
  crates/tribute-front/src/astgen/diagnostics.rs
  crates/tribute-front/src/astgen/helpers.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/checker/diagnostics.rs
  crates/tribute-front/src/typeck/checker/finalize.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/func_check/tests.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/solver/error.rs
  crates/tribute-front/src/typeck/solver/mod.rs
  crates/tribute-front/src/typeck/solver/relations.rs
  crates/tribute-front/src/typeck/solver/row_union_tests.rs
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/src/typeck/solver/substitution.rs
  crates/tribute-front/src/typeck/solver/tests.rs
  crates/tribute-front/src/typeck/solver/unify.rs
  crates/tribute-front/tests/solve_error_display.rs
  guides/development/README.md
  guides/development/conventions.md
  guides/development/crates.md
  guides/development/ir.md
  new-plans/implementation.md
Due: Frontend

Preserve local callable conventions during IR lowering
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/local_callable_instances.rs
  new-plans/cps-effects.md
  new-plans/type-inference.md
  src/pipeline.rs
  tests/effect_var_collision.rs
Due: Frontend, Driver

Preserve parent generic types in local callable annotations
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/let_generalization.rs
  new-plans/type-inference.md
Due: Frontend

Materialize fixed-type local callable instances and preserve captures (#999)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/let_generalization.rs
  crates/tribute-front/tests/local_callable_instances.rs
  new-plans/cps-effects.md
  new-plans/type-inference.md
  src/pipeline.rs
  tests/effect_var_collision.rs
Due: Frontend, Driver

Parallelize test execution
  .ci/check.sh
  .ci/test-lint.sh
  .claude/skills/tribute-testing/SKILL.md
  .github/workflows/ci.yml
  README.md
Due: none

Parallelize coverage test
  .github/workflows/ci.yml
Due: none

More parallel jobs for CI
  .github/workflows/ci.yml
Due: none

chore: update minor dependencies
  Cargo.lock
  Cargo.toml
  src/lsp/server.rs
Due: Driver

chore: drop dashmap
  Cargo.lock
  Cargo.toml
  src/database.rs
Due: Driver

chore(deps): upgrade cranelift dependencies
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

chore(lint): fix clippy lints
  src/database.rs
Due: Driver

chore(deps): update to salsa 26.2 and minor deps
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/common/mod.rs
  src/pipeline.rs
Due: Frontend, Driver

fix(cranelift): sign-extend atomic_rmw offsets via iadd_imm_s
  crates/trunk-ir-cranelift-backend/src/function.rs
Due: none

chore(deps): bump wasmparser to 0.259.0
  Cargo.lock
  Cargo.toml
Due: none

test: mark the incremental record-shape test as slow
  tests/salsa_integration.rs
Due: none

Preserve exact indirect call signatures in CPS conversion
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/cps-effects.md
Due: Middle End

test(cps): cover named, local, and capturing indirect callees
  crates/tribute-passes/src/tribute_control_to_cps.rs
Due: Middle End

fix(cps): preserve exact indirect call signatures during CPS conversion (#1000)
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/cps-effects.md
Due: Middle End

Trust the declared intrinsic ABI instead of requiring registration
  crates/tribute-ir/src/dialect/tribute_control.rs
  src/pipeline.rs
Due: Middle End, Driver

fix(wasm): accept registered concrete GC references in abstract slots
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  new-plans/wasm-backend.md
Due: TrunkIR

fix(wasm): widen the CPS dispatch payload slot physically
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  new-plans/cps-effects.md
Due: TrunkIR, Middle End

fix(wasm): require registration evidence for variant anyref arguments
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
Due: TrunkIR, Middle End

fix(wasm): accept registered concrete GC references in abstract slots (#1002)
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  new-plans/cps-effects.md
  new-plans/wasm-backend.md
Due: TrunkIR, Middle End

fix(wasm): omit unreferenced bodyless declarations from emission
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/references.rs
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
  tests/wasm_compilation.rs
Due: TrunkIR

fix(wasm): reject malformed bodyless wasm.func declarations
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/references.rs
Due: TrunkIR

fix(wasm): omit unreferenced bodyless declarations from emission (#1003)
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/references.rs
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
  tests/wasm_compilation.rs
Due: TrunkIR

fix(wasm): produce created wasm.* result types through the target converter
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  new-plans/wasm-backend.md
Due: TrunkIR, Middle End
