Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

fix(runtime): replace -O0 workaround with targeted volatile fix in libmprompt fork
  .gitmodules
  crates/tribute-runtime/build.rs
Due: none

test(e2e): re-enable 3 ability tests after LLVM miscompilation fix
  tests/e2e_ability_core.rs
Due: none

fix(native): address PR review comments on ASan milestone 1
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-runtime/src/asan.rs
  src/main.rs
Due: Middle End, Driver

Revert "test(e2e): re-enable 3 ability tests after LLVM miscompilation fix"
  tests/e2e_ability_core.rs
Due: none

feat(native): ASan milestone 1 and AArch64 libmprompt volatile fix (#429)
  .gitmodules
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-runtime/src/asan.rs
  crates/tribute-runtime/src/lib.rs
  src/cli.rs
  src/lib.rs
  src/main.rs
  src/pipeline.rs
  tests/common/mod.rs
  tests/e2e_ability_core.rs
  tests/e2e_float.rs
Due: Middle End, Driver

refactor(typeck): deduplicate effect-row substitution logic in solver
  crates/tribute-front/src/typeck/solver.rs
Due: Frontend

style: apply cargo fmt formatting
  crates/tribute-front/src/typeck/solver.rs
Due: Frontend

Refactor effect row type argument handling into shared helper (#430)
  crates/tribute-front/src/typeck/solver.rs
Due: Frontend

fix(runtime): fix prompt registry pop removing wrong entry for recursive handlers
  crates/tribute-runtime/build.rs
  crates/tribute-runtime/src/lib.rs
  crates/tribute-runtime/src/tls.rs
  tests/common/mod.rs
  tests/e2e_ability_core.rs
Due: none

test: un-ignore 5 tests that now pass consistently
  tests/e2e_add.rs
  tests/effect_var_collision.rs
  tests/evidence_lambda.rs
  tests/wasm_compilation.rs
Due: none

test(native): revert ability tests from ASan to standard runner
  tests/e2e_ability_core.rs
Due: none

test(native): skip 3 ability tests on Linux CI due to munmap_chunk crash
  tests/e2e_ability_core.rs
Due: none

fix(runtime): fix PromptRegistry LIFO bug causing flaky ability tests (#431)
  crates/tribute-runtime/build.rs
  crates/tribute-runtime/src/lib.rs
  crates/tribute-runtime/src/tls.rs
  tests/common/mod.rs
  tests/e2e_ability_core.rs
  tests/e2e_add.rs
  tests/effect_var_collision.rs
  tests/evidence_lambda.rs
  tests/wasm_compilation.rs
Due: none

feat(trunk-ir): add arena-based IR core (Milestone 1)
  Cargo.lock
  Cargo.toml
  crates/tribute-ir/src/arena/dialect/ability.rs
  crates/tribute-ir/src/arena/dialect/closure.rs
  crates/tribute-ir/src/arena/dialect/mod.rs
  crates/tribute-ir/src/arena/dialect/tribute_rt.rs
  crates/tribute-ir/src/arena/mod.rs
  crates/tribute-ir/src/lib.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/arena/context.rs
  crates/trunk-ir/src/arena/dialect/adt.rs
  crates/trunk-ir/src/arena/dialect/arith.rs
  crates/trunk-ir/src/arena/dialect/cf.rs
  crates/trunk-ir/src/arena/dialect/clif.rs
  crates/trunk-ir/src/arena/dialect/cont.rs
  crates/trunk-ir/src/arena/dialect/core.rs
  crates/trunk-ir/src/arena/dialect/func.rs
  crates/trunk-ir/src/arena/dialect/mem.rs
  crates/trunk-ir/src/arena/dialect/mod.rs
  crates/trunk-ir/src/arena/dialect/scf.rs
  crates/trunk-ir/src/arena/dialect/trampoline.rs
  crates/trunk-ir/src/arena/dialect/wasm.rs
  crates/trunk-ir/src/arena/mod.rs
  crates/trunk-ir/src/arena/ops.rs
  crates/trunk-ir/src/arena/printer.rs
  crates/trunk-ir/src/arena/refs.rs
  crates/trunk-ir/src/arena/types.rs
  crates/trunk-ir/src/lib.rs
Due: TrunkIR, Middle End

test(trunk-ir): update float attribute test value from 3.14 to 2.78
  crates/trunk-ir/src/arena/printer.rs
Due: TrunkIR

refactor(trunk-ir): replace arena_dialect\! declarative macro with proc macro
  Cargo.lock
  Cargo.toml
  crates/tribute-ir/src/arena/dialect/ability.rs
  crates/tribute-ir/src/arena/dialect/closure.rs
  crates/tribute-ir/src/arena/dialect/tribute_rt.rs
  crates/trunk-ir-macros/Cargo.toml
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/arena/dialect/adt.rs
  crates/trunk-ir/src/arena/dialect/arith.rs
  crates/trunk-ir/src/arena/dialect/cf.rs
  crates/trunk-ir/src/arena/dialect/clif.rs
  crates/trunk-ir/src/arena/dialect/cont.rs
  crates/trunk-ir/src/arena/dialect/core.rs
  crates/trunk-ir/src/arena/dialect/func.rs
  crates/trunk-ir/src/arena/dialect/mem.rs
  crates/trunk-ir/src/arena/dialect/scf.rs
  crates/trunk-ir/src/arena/dialect/trampoline.rs
  crates/trunk-ir/src/arena/dialect/wasm.rs
  crates/trunk-ir/src/arena/ops.rs
  crates/trunk-ir/src/lib.rs
Due: TrunkIR, Middle End

refactor(trunk-ir): convert arena_dialect\! to attribute macro #[arena_dialect]
  crates/tribute-ir/src/arena/dialect/ability.rs
  crates/tribute-ir/src/arena/dialect/closure.rs
  crates/tribute-ir/src/arena/dialect/tribute_rt.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/arena/dialect/adt.rs
  crates/trunk-ir/src/arena/dialect/arith.rs
  crates/trunk-ir/src/arena/dialect/cf.rs
  crates/trunk-ir/src/arena/dialect/clif.rs
  crates/trunk-ir/src/arena/dialect/cont.rs
  crates/trunk-ir/src/arena/dialect/core.rs
  crates/trunk-ir/src/arena/dialect/func.rs
  crates/trunk-ir/src/arena/dialect/mem.rs
  crates/trunk-ir/src/arena/dialect/scf.rs
  crates/trunk-ir/src/arena/dialect/trampoline.rs
  crates/trunk-ir/src/arena/dialect/wasm.rs
  crates/trunk-ir/src/lib.rs
Due: TrunkIR, Middle End

refactor(trunk-ir): remove arena_dialect_internal\! wrapper macro
  crates/trunk-ir/src/arena/dialect/adt.rs
  crates/trunk-ir/src/arena/dialect/arith.rs
  crates/trunk-ir/src/arena/dialect/cf.rs
  crates/trunk-ir/src/arena/dialect/clif.rs
  crates/trunk-ir/src/arena/dialect/cont.rs
  crates/trunk-ir/src/arena/dialect/core.rs
  crates/trunk-ir/src/arena/dialect/func.rs
  crates/trunk-ir/src/arena/dialect/mem.rs
  crates/trunk-ir/src/arena/dialect/scf.rs
  crates/trunk-ir/src/arena/dialect/trampoline.rs
  crates/trunk-ir/src/arena/dialect/wasm.rs
  crates/trunk-ir/src/lib.rs
Due: TrunkIR

refactor(trunk-ir-macros): add parse validation and remove redundant clone
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
Due: none

refactor(trunk-ir): normalize handler_dispatch operand and result names
  crates/trunk-ir/src/arena/dialect/cont.rs
Due: TrunkIR

fix(trunk-ir): correct arena printer and context invariants
  crates/trunk-ir/src/arena/context.rs
  crates/trunk-ir/src/arena/printer.rs
Due: TrunkIR

fix(trunk-ir): address code review feedback on parse validation and arena invariants
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/arena/context.rs
  crates/trunk-ir/src/arena/printer.rs
Due: TrunkIR

fix(trunk-ir): enforce arena invariants in insert_op_before and remove_op
  crates/trunk-ir/src/arena/context.rs
Due: TrunkIR

fix(trunk-ir): harden macro parser and arena invariants with explicit errors
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/arena/context.rs
  crates/trunk-ir/src/arena/printer.rs
Due: TrunkIR

fix(trunk-ir): guard duplicate region names and harden skip_type in macro parser
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/arena/printer.rs
Due: TrunkIR

fix(trunk-ir): guard duplicate result names in macro parser
  crates/trunk-ir-macros/src/parse.rs
Due: none

fix(trunk-ir-macros): reject #[attr] and #[rest_results] on type items
  crates/trunk-ir-macros/src/parse.rs
Due: none

fix(trunk-ir-macros): reject duplicate operation names in dialect macro
  crates/trunk-ir-macros/src/parse.rs
Due: none

style(trunk-ir-macros): collapse nested if blocks per clippy suggestion
  crates/trunk-ir-macros/src/parse.rs
Due: none

feat(trunk-ir): add arena-based IR core (Milestone 1) (#452)
  Cargo.lock
  Cargo.toml
  crates/tribute-ir/src/arena/dialect/ability.rs
  crates/tribute-ir/src/arena/dialect/closure.rs
  crates/tribute-ir/src/arena/dialect/mod.rs
  crates/tribute-ir/src/arena/dialect/tribute_rt.rs
  crates/tribute-ir/src/arena/mod.rs
  crates/tribute-ir/src/lib.rs
  crates/trunk-ir-macros/Cargo.toml
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/arena/context.rs
  crates/trunk-ir/src/arena/dialect/adt.rs
  crates/trunk-ir/src/arena/dialect/arith.rs
  crates/trunk-ir/src/arena/dialect/cf.rs
  crates/trunk-ir/src/arena/dialect/clif.rs
  crates/trunk-ir/src/arena/dialect/cont.rs
  crates/trunk-ir/src/arena/dialect/core.rs
  crates/trunk-ir/src/arena/dialect/func.rs
  crates/trunk-ir/src/arena/dialect/mem.rs
  crates/trunk-ir/src/arena/dialect/mod.rs
  crates/trunk-ir/src/arena/dialect/scf.rs
  crates/trunk-ir/src/arena/dialect/trampoline.rs
  crates/trunk-ir/src/arena/dialect/wasm.rs
  crates/trunk-ir/src/arena/mod.rs
  crates/trunk-ir/src/arena/ops.rs
  crates/trunk-ir/src/arena/printer.rs
  crates/trunk-ir/src/arena/refs.rs
  crates/trunk-ir/src/arena/types.rs
  crates/trunk-ir/src/lib.rs
Due: TrunkIR, Middle End

feat(trunk-ir): add arena IR rewrite infrastructure (#437)
  crates/trunk-ir/src/arena/mod.rs
  crates/trunk-ir/src/arena/rewrite/applicator.rs
  crates/trunk-ir/src/arena/rewrite/conversion_target.rs
  crates/trunk-ir/src/arena/rewrite/mod.rs
  crates/trunk-ir/src/arena/rewrite/pattern.rs
  crates/trunk-ir/src/arena/rewrite/rewriter.rs
  crates/trunk-ir/src/arena/rewrite/type_converter.rs
  crates/trunk-ir/src/arena/walk.rs
  crates/trunk-ir/src/op_interface.rs
Due: TrunkIR

fix(trunk-ir): harden ArenaModule and arena rewrite safety
  crates/trunk-ir/src/arena/rewrite/applicator.rs
  crates/trunk-ir/src/arena/rewrite/mod.rs
  crates/trunk-ir/src/arena/rewrite/type_converter.rs
  crates/trunk-ir/src/arena/walk.rs
Due: TrunkIR

refactor(trunk-ir): introduce TypeDataBuilder and migrate all construction sites
  crates/trunk-ir/src/arena/context.rs
  crates/trunk-ir/src/arena/dialect/mod.rs
  crates/trunk-ir/src/arena/mod.rs
  crates/trunk-ir/src/arena/printer.rs
  crates/trunk-ir/src/arena/rewrite/applicator.rs
  crates/trunk-ir/src/arena/rewrite/type_converter.rs
  crates/trunk-ir/src/arena/types.rs
  crates/trunk-ir/src/arena/walk.rs
Due: TrunkIR

feat(trunk-ir): add arena IR rewrite infrastructure (#437) (#458)
  crates/trunk-ir/src/arena/context.rs
  crates/trunk-ir/src/arena/dialect/mod.rs
  crates/trunk-ir/src/arena/mod.rs
  crates/trunk-ir/src/arena/printer.rs
  crates/trunk-ir/src/arena/rewrite/applicator.rs
  crates/trunk-ir/src/arena/rewrite/conversion_target.rs
  crates/trunk-ir/src/arena/rewrite/mod.rs
  crates/trunk-ir/src/arena/rewrite/pattern.rs
  crates/trunk-ir/src/arena/rewrite/rewriter.rs
  crates/trunk-ir/src/arena/rewrite/type_converter.rs
  crates/trunk-ir/src/arena/types.rs
  crates/trunk-ir/src/arena/walk.rs
  crates/trunk-ir/src/op_interface.rs
Due: TrunkIR

feat(trunk-ir): add arena IR transform passes and rewrite helpers
  crates/trunk-ir/src/arena/context.rs
  crates/trunk-ir/src/arena/mod.rs
  crates/trunk-ir/src/arena/rewrite/helpers.rs
  crates/trunk-ir/src/arena/rewrite/mod.rs
  crates/trunk-ir/src/arena/transforms/dce.rs
  crates/trunk-ir/src/arena/transforms/global_dce.rs
  crates/trunk-ir/src/arena/transforms/mod.rs
  crates/trunk-ir/src/arena/transforms/scf_to_cf.rs
  crates/trunk-ir/src/op_interface.rs
Due: TrunkIR

fix(trunk-ir): fix two bugs in arena rewrite/transform helpers
  crates/trunk-ir/src/arena/rewrite/helpers.rs
  crates/trunk-ir/src/arena/transforms/scf_to_cf.rs
Due: TrunkIR

fix(trunk-ir): fix global DCE dropping callees of abi functions
  crates/trunk-ir/src/arena/transforms/global_dce.rs
Due: TrunkIR

fix(trunk-ir): fix scf_to_cf lowering bugs for switch and yield
  crates/trunk-ir/src/arena/transforms/scf_to_cf.rs
Due: TrunkIR

feat(trunk-ir): add arena IR transform passes and rewrite helpers (#439) (#459)
  crates/trunk-ir/src/arena/context.rs
  crates/trunk-ir/src/arena/mod.rs
  crates/trunk-ir/src/arena/rewrite/helpers.rs
  crates/trunk-ir/src/arena/rewrite/mod.rs
  crates/trunk-ir/src/arena/transforms/dce.rs
  crates/trunk-ir/src/arena/transforms/global_dce.rs
  crates/trunk-ir/src/arena/transforms/mod.rs
  crates/trunk-ir/src/arena/transforms/scf_to_cf.rs
  crates/trunk-ir/src/op_interface.rs
Due: TrunkIR
