Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Promote logical worker conventions
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
Due: Frontend

Lower logical CPS signatures to physical ABI
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/target_abi.rs
Due: Middle End

fix(passes): skip bodyless intrinsic declarations
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/trunk-ir/src/rewrite/applicator.rs
Due: TrunkIR, Middle End

fix(passes): skip bodyless evidence declarations
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

feat(pipeline): route production through logical CPS
  src/pipeline.rs
Due: Driver

fix(trunk-ir): stabilize auto type alias order
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

fix(trunk-ir): stabilize automatic type alias ordering (#860)
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

fix(passes): skip bodyless intrinsic declarations (#861)
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/trunk-ir/src/rewrite/applicator.rs
Due: TrunkIR, Middle End

fix(trunk-ir): stabilize registered type alias ordering
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

fix(trunk-ir): stabilize registered type alias ordering (#862)
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

Preserve bodyless target declarations
  crates/tribute-passes/src/native/evidence.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
Due: TrunkIR, Middle End

Strengthen bodyless declaration tests
  crates/tribute-passes/src/native/evidence.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
Due: TrunkIR, Middle End

Preserve bodyless target declarations (#858)
  crates/tribute-passes/src/native/evidence.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
Due: TrunkIR, Middle End

Reject unresolved specialization types
  crates/tribute-front/src/monomorphize/collect.rs
Due: Frontend

Preserve specialized extern signatures
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
Due: Frontend, Driver

Preserve prelude generic callee metadata
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  src/pipeline.rs
Due: Frontend, Driver

Preserve metadata through generic specialization
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
Due: Frontend, Driver

Preserve generic specialization metadata
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
Due: Frontend, Driver

Name generic specialization results
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

Cover sparse specialization metadata
  crates/tribute-front/src/monomorphize/mod.rs
Due: Frontend

Preserve specialized struct constructor metadata
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

Preserve metadata through generic specialization (#840)
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
Due: Frontend, Driver

Preserve local callable metadata after solving
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/let_generalization.rs
Due: Frontend

Reject abstract type specialization requests
  crates/tribute-front/src/monomorphize/collect.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend

#863: Reject abstract type specialization requests (#864)
  crates/tribute-front/src/monomorphize/collect.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend

Finalize local callable metadata
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/tests/let_generalization.rs
Due: Frontend

Preserve record identity for deferred methods
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/ufcs_method_call.rs
Due: Frontend

Name pattern binding collection fields
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

Share record literal type inference
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

Preserve local callable metadata after solving (#843)
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/let_generalization.rs
  crates/tribute-front/tests/ufcs_method_call.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend

Lower zero-result CPS scf branches
  crates/tribute-passes/src/tribute_control_to_cps.rs
Due: Middle End

Lower structured scf.if flows in tribute_control CPS legalization (#866)
  crates/tribute-passes/src/tribute_control_to_cps.rs
Due: Middle End

Adapt logical ability operation arguments
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
Due: Frontend

Adapt logical ability-call arguments to resolved operation signatures (#867)
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
Due: Frontend

Fix CPS lowering review findings
  crates/tribute-core/src/callable_abi.rs
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/trunk-ir/src/context.rs
Due: TrunkIR, Middle End, Driver

Fix CPS handler dispatcher rebinding
  crates/tribute-core/src/callable_abi.rs
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End, Driver

Add dormant exact CPS callable metadata seam
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/trunk-ir/src/dialect/func.rs
Due: TrunkIR, Middle End, Driver

Add dormant physical CPS target boundary
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/target_abi.rs
Due: Middle End

fix: harden physical CPS ABI validation
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/target_abi.rs
  new-plans/cps-effects.md
Due: Middle End, Driver

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
