Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

fix(passes): restore core.ptr in evidence FFI signatures
  crates/tribute-passes/src/native/evidence.rs
Due: Middle End

fix(rc): address review comments on anyref-rc-type branch
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/type_converter.rs
Due: Frontend, Middle End

refactor(passes): unify evidence pointer type to core.ptr in native pipeline
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/type_converter.rs
Due: Middle End

refactor(passes): simplify build_env_struct_type after evidence ptr unification
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
Due: Middle End

wip: add IrMapping for deep clone infrastructure (#512)
  crates/trunk-ir/src/ir_mapping.rs
Due: TrunkIR

feat(trunk-ir): implement deep clone for IrContext (#512)
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/tr_dispatch.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/ir_mapping.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_flat_ops.snap
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_op_with_nested_region.snap
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_region_with_forward_block_ref.snap
Due: TrunkIR, Middle End

feat(trunk-ir): add MLIR-style deep clone to IrContext (#520)
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/tr_dispatch.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/ir_mapping.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_flat_ops.snap
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_op_with_nested_region.snap
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_region_with_forward_block_ref.snap
Due: TrunkIR, Middle End

docs(.claude/rules): trim agent rules to design intent only
  .claude/rules/conventions.md
  .claude/rules/crates.md
  .claude/rules/ir.md
  .claude/rules/pipeline.md
Due: none

docs(agents): move test commands to tribute-testing skill
  .claude/skills/tribute-testing/SKILL.md
  AGENTS.md
Due: none

feat(trunk-ir): add type alias support to text format (#511 branch 1)
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

fix(trunk-ir): restrict type aliases to module regions and isolate alias scopes
  crates/trunk-ir/src/parser/builder.rs
Due: TrunkIR

refactor(trunk-ir): group scope fields into BuilderScope struct
  crates/trunk-ir/src/parser/builder.rs
Due: TrunkIR

feat(trunk-ir): support quoted type alias names in text format
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

style(trunk-ir): fix clippy manual_strip warning in is_type_alias_def
  crates/trunk-ir/src/parser/raw.rs
Due: TrunkIR

fix(trunk-ir): hash Symbol by string content instead of Spur index
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_multi_suspend_arms.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_shift_basic.snap
  crates/trunk-ir/src/symbol.rs
Due: TrunkIR, Middle End

feat(tribute-passes): add cont_to_yield_bubbling pass
  crates/tribute-passes/src/cont_to_yield_bubbling/analysis.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/shift_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/types.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/wrap_returns.rs
  crates/tribute-passes/src/lib.rs
Due: Middle End

feat(tribute-passes): implement push_prompt lowering and effectful call chaining
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
Due: Middle End

feat(trunk-ir): auto-generate type aliases in printer (#511 branch 2)
  crates/tribute-front/tests/snapshots/block_scope__block_with_case_pattern_binding.snap
  crates/tribute-front/tests/snapshots/case_type__case_enum_variant.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_basic.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_from_function.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_wildcard.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_done_only.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_multi_suspend_arms.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_single_suspend_arm.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_with_tr_annotation.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_drop_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_shift_basic.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_flat_ops.snap
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_op_with_nested_region.snap
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_region_with_forward_block_ref.snap
  crates/trunk-ir/src/types.rs
Due: TrunkIR, Frontend, Middle End

chore: ignore .claude/worktrees in markdownlint-cli2
  .markdownlint-cli2.jsonc
Due: none

refactor(trunk-ir): only auto-alias types with dialect-provided names
  crates/tribute-front/tests/snapshots/case_type__case_enum_variant.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_from_function.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_done_only.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_multi_suspend_arms.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_single_suspend_arm.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_with_tr_annotation.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_drop_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_shift_basic.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_flat_ops.snap
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_op_with_nested_region.snap
  crates/trunk-ir/src/snapshots/trunk_ir__context__tests__clone_region_with_forward_block_ref.snap
Due: TrunkIR, Frontend, Middle End

refactor(trunk-ir): move print_len to TypeInterner and Attribute
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR

refactor(trunk-ir): rename print_len to complexity
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR

refactor(trunk-ir): improve auto-alias scoping and eligibility rules
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_resume_basic.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/snapshots/trunk_ir__printer__tests__auto_alias_nested_module_isolation.snap
Due: TrunkIR, Frontend, Middle End

WIP: fix RC corruption on function pointers in yield bubbling
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/shift_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/types.rs
  crates/tribute-passes/src/live_vars.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  src/pipeline.rs
Due: Middle End, Driver

fix(tribute-passes): refine effectful classification and fix YieldResult handling in yield bubbling
  crates/tribute-passes/src/cont_to_yield_bubbling/analysis.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
  tests/e2e_ability_core.rs
Due: Middle End

fix(tribute-passes): support nested handlers in cont_to_yield_bubbling
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/shift_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/wrap_returns.rs
  tests/e2e_ability_core.rs
Due: Middle End

test(e2e): add 7 E2E tests for yield bubbling pass
  tests/e2e_ability_core.rs
Due: none

fix(tribute-passes): fix RAUW detection order in create_resume_function
  crates/tribute-passes/src/cont_to_yield_bubbling/shift_lower.rs
  tests/e2e_ability_core.rs
Due: Middle End

fix(tribute-passes): inline cont.done body in yield bubbling handler dispatch
  crates/tribute-passes/src/cont_to_yield_bubbling/handler_dispatch.rs
  tests/e2e_ability_core.rs
Due: Middle End

refactor(tribute-passes): flatten nesting in analyze_shift_points_in_region
  crates/tribute-passes/src/cont_to_yield_bubbling/analysis.rs
Due: Middle End

refactor(tribute-passes): replace manual recursive traversals with walk_region in analysis
  crates/tribute-passes/src/cont_to_yield_bubbling/analysis.rs
Due: Middle End

refactor(tribute-passes): remove duplicate effectful call type update logic
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
Due: Middle End

refactor(tribute-passes): simplify call_lower with merged impl and helpers
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
Due: Middle End

refactor(tribute-passes): introduce context structs to eliminate too_many_arguments
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
Due: Middle End

fix(tribute-passes): correct yield bubbling pass bugs
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
Due: Middle End

fix(tribute): propagate cont_to_yield_bubbling errors in native pipeline
  src/pipeline.rs
Due: Driver

fix(tribute-passes): handle call_indirect as effectful in yield bubbling
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  tests/e2e_ability_core.rs
Due: Middle End

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
