Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

fix(tribute-front): detect unmatched delimiters in parser ERROR nodes
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  tests/snapshots/diagnostic_snapshots__diag_syntax_error.snap
Due: Frontend

fix(tribute-front): fix UTF-8 unsafe byte slicing in truncate_token_preview
  crates/tribute-front/src/astgen/mod.rs
Due: Frontend

fix(astgen): report innermost unclosed delimiter in error messages
  crates/tribute-front/src/astgen/mod.rs
Due: Frontend

fix(tribute-front): skip string literals and line comments in detect_unmatched_delimiter
  crates/tribute-front/src/astgen/mod.rs
Due: Frontend

feat(astgen): improve parser error messages with context (#568) (#661)
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  tests/snapshots/diagnostic_snapshots__diag_syntax_error.snap
Due: Frontend

feat(trunk-ir): support extra attributes in func.func custom asm format
  crates/trunk-ir/src/dialect/func.rs
Due: TrunkIR

fix(passes): generate real body for intrinsic operator declarations (#620)
  crates/tribute-passes/src/intrinsic_to_arith.rs
Due: Middle End

refactor(trunk-ir): use winnow combinators for func.func attribute parsing
  crates/trunk-ir/src/dialect/func.rs
Due: TrunkIR

fix(passes): address review feedback on intrinsic_to_arith
  crates/tribute-passes/src/intrinsic_to_arith.rs
Due: Middle End

fix(passes): generate real body for intrinsic operator declarations (#662)
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/trunk-ir/src/dialect/func.rs
Due: TrunkIR, Middle End

docs: detail monomorphization implementation plan (#53)
  new-plans/generics.md
Due: none

Document monomorphization implementation plan (#668)
  new-plans/generics.md
Due: none

feat(front): add monomorphize module with name mangling (#663)
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/mod.rs
Due: Frontend

fix(front): panic on unresolved types in mangling, add tests
  crates/tribute-front/src/monomorphize/mangle.rs
Due: Frontend

refactor(front): use joined_by in write_type_mangled
  crates/tribute-front/src/monomorphize/mangle.rs
Due: Frontend

refactor(front): use $0/$1 bracket scheme for name mangling
  crates/tribute-front/src/monomorphize/mangle.rs
  new-plans/generics.md
Due: Frontend

Add monomorphize module with name mangling (#663) (#669)
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/mod.rs
  new-plans/generics.md
Due: Frontend

feat(front): add instantiation collector for monomorphization (#664)
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
Due: Frontend

refactor(front): use exhaustive match in visit_expr
  crates/tribute-front/src/monomorphize/collect.rs
Due: Frontend

Add instantiation collector for monomorphization (#664) (#670)
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
Due: Frontend

feat(front): add specialized function generator for monomorphization (#665)
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

fix(front): sort specializations for deterministic output, add monomorphic assertion
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

fix(front): sort specializations for deterministic output, add monomorphic assertion
  crates/tribute-front/src/ast/node_id.rs
  crates/tribute-front/src/ast/span_map.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

fix(front): fail-fast on BoundVar OOB, add SpanMap variant fallback test
  crates/tribute-front/src/ast/span_map.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

fix(front): use qualified names in collect_func_decls for nested modules
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

Add specialized function generator for monomorphization (#665) (#671)
  crates/tribute-front/src/ast/node_id.rs
  crates/tribute-front/src/ast/span_map.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

feat(front): add call site rewriting and pipeline integration (#666)
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  src/pipeline.rs
Due: Frontend, Driver

fix(front): rewrite call sites inside specialized function bodies
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
Due: Frontend

Add call site rewriting and pipeline integration (#666) (#673)
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  src/pipeline.rs
Due: Frontend, Driver

feat(front): add type instantiation collector for generic struct/enum (#667)
  crates/tribute-front/src/monomorphize/collect.rs
Due: Frontend

feat(front): add struct/enum specialization for type monomorphization (#667)
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

feat(front): add generic type (struct/enum) monomorphization (#667)
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
Due: Frontend

fix(front): rewrite types in patterns, recurse into App/Continuation, nested modules
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

style(front): fix clippy collapsible_if lints in monomorphize
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

test(front): add unit tests for type monomorphization
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

fix(front): rewrite handler kinds + use qualified names for type decls
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

fix(front): use original args for type rewrite lookup + preserve Func effects
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

style(front): fix unnecessary_sort_by clippy lints from Rust 1.95
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

Add generic type (struct/enum) monomorphization (#667) (#674)
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

feat(trunk-ir): add call graph analysis and inline primitive
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/mod.rs
Due: TrunkIR
