Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

feat(wasm): tell variants apart by descriptor under a Described supertype (#1313)
  crates/tribute-ir/src/runtime_layout.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End

fix: retain randomized hashing for document URI keys
  src/database.rs
Due: Driver

fix: use FxHashMap in native struct lowering
  crates/tribute-passes/src/native/struct_to_mem.rs
Due: Middle End

perf(passes): use borrowed hashbrown entries for constant and name keys
  Cargo.lock
  crates/tribute-passes/Cargo.toml
  crates/tribute-passes/src/collections.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/descriptor_records.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  guides/development/lints.md
Due: Middle End

perf(passes): use borrowed hashbrown entries for constant and name keys (#1315)
  Cargo.lock
  crates/tribute-passes/Cargo.toml
  crates/tribute-passes/src/collections.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/descriptor_records.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  guides/development/lints.md
Due: Middle End

refactor(effects): drop the marker's unused general dispatch slot
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps/boundary.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  src/pipeline.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

docs(effects): describe row-directed dispatch as what the targets run
  new-plans/capabilities.md
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/wasm-backend.md
  tests/integration/evidence_plan_ir.rs
Due: none

refactor(effects): drop the marker's unused general dispatch slot (#1317)
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps/boundary.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/capabilities.md
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/integration/evidence_plan_ir.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

refactor(ir): pass strings directly to name attribute builders
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/descriptor_records.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  guides/development/ir.md
Due: TrunkIR, Middle End

fix(ir): scan symbol literals after leading whitespace
  crates/trunk-ir/build.rs
Due: TrunkIR

refactor(ir): reuse string names across function dialects
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/facts_tests.rs
  crates/tribute-passes/src/native/ownership_plan/liveness_tests.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/dialect/mod.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(ir): require explicit symbol conversion for string arguments
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/trunk-ir/build.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/types.rs
  guides/development/ir.md
Due: TrunkIR, Frontend, Middle End

build(ir): use litrs for string literal decoding
  Cargo.lock
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/build/string_literal.rs
Due: TrunkIR

fix(ir): decode Rust literals when collecting static symbols
  Cargo.lock
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/build.rs
  crates/trunk-ir/build/string_literal.rs
  crates/trunk-ir/src/symbol.rs
  crates/trunk-ir/tests/string_literal.rs
Due: TrunkIR

build(ir): use conventional build modules and workspace dependencies
  Cargo.toml
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/build/main.rs
  crates/trunk-ir/build/string_literal.rs
  crates/trunk-ir/tests/string_literal.rs
Due: TrunkIR

feat(wasm): merge same-shaped GC structs into one structural type
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/struct_layouts.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir/src/dialect/wasm_gc.rs
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/wasm-backend.md
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End

perf(wasm): cache struct layout substitutions and listed GC types
  crates/tribute-passes/src/closure_lower.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
Due: TrunkIR, Middle End

fix(wasm): check accesses against declared structural struct fields
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
Due: TrunkIR

feat(wasm): merge same-shaped GC structs into one structural type (#1318)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/struct_layouts.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir/src/dialect/wasm_gc.rs
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/wasm-backend.md
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End

refactor(wasm): identify builtin layouts and GC struct references without names
  crates/tribute-ir/src/runtime_layout.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: TrunkIR, Middle End

feat(front): resolve qualified UFCS calls as calls of the path
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/tests/ufcs_method_call.rs
  tests/integration/lang_examples.rs
Due: Frontend

test(wasm): cover the boxed float layout identifier; wrap the index table note
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  new-plans/wasm-backend.md
Due: Middle End

wip: record the evidence a handler is installed on in its marker
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/capabilities.md
  new-plans/cps-effects.md
  new-plans/ir.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/integration/e2e_ability_row_evidence.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

fix(mono): write the effect row before the function result
  crates/tribute-front/src/monomorphize/mangle.rs
Due: Frontend

fix(mono): encode effect rows in specialization mangling
  crates/tribute-front/src/monomorphize/mangle.rs
  new-plans/implementation.md
  tests/integration/e2e_ability_effect_row.rs
Due: Frontend

refactor(wasm): identify builtin layouts and GC struct references without names (#1319)
  crates/tribute-ir/src/runtime_layout.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: TrunkIR, Middle End

test(effects): expect the installation evidence on effect.extend
  crates/tribute-passes/src/resolve_evidence.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Middle End

feat(front): resolve qualified UFCS calls as calls of the path (#1320)
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/tests/ufcs_method_call.rs
  tests/integration/lang_examples.rs
Due: Frontend

refactor(wasm): remove the backend's knowledge of adt types
  crates/tribute-passes/src/wasm/struct_layouts.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/reference_upcast_elision.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  new-plans/wasm-backend.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(wasm): remove the backend's knowledge of adt types (#1321)
  crates/tribute-passes/src/wasm/struct_layouts.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/reference_upcast_elision.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  new-plans/wasm-backend.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

docs(wasm): drop stale ADT reference and object wording from comments
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
Due: TrunkIR, Middle End

fix(mono): distinguish compiler-owned abilities in mangled effect rows
  crates/tribute-front/src/monomorphize/mangle.rs
  new-plans/implementation.md
Due: Frontend

fix(mono): encode effect rows in specialization mangling (#1322)
  crates/tribute-front/src/monomorphize/mangle.rs
  new-plans/implementation.md
  tests/integration/e2e_ability_effect_row.rs
Due: Frontend

fix(effects): record the evidence a handler is installed on in its marker (#1323)
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/runtime_bindings.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/capabilities.md
  new-plans/cps-effects.md
  new-plans/ir.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/integration/e2e_ability_row_evidence.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

docs(wasm): drop stale ADT reference and object wording from comments (#1324)
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
Due: TrunkIR, Middle End

docs(plans): specify field lens generation and qualified UFCS precedence
  new-plans/modules.md
  new-plans/syntax.md
  new-plans/types.md
Due: none

docs(plans): pick qualified UFCS candidates from modules in scope
  new-plans/modules.md
  new-plans/syntax.md
  new-plans/types.md
Due: none

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
