Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

Establish canonical runnable examples and CLI documentation (#801)
  README.md
  lang-examples/README.md
  lang-examples/invalid_unresolved_name.trb
  lang-examples/native_effects.trb
  lang-examples/wasm_dynamic_output.trb
Due: none

Document refreshed M0 test baseline
  new-plans/capabilities.md
Due: none

test: add canonical M0 smoke oracles
  tests/canonical_smoke.rs
  tests/expected/native_effects.stdout
  tests/expected/wasm_dynamic_output.stdout
Due: none

ci: gate canonical M0 examples
  .github/workflows/ci.yml
Due: none

Restore M0 ignored test coverage
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_from_function.snap
  crates/tribute-front/tests/tuple_pattern.rs
  tests/diagnostic_snapshots.rs
  tests/e2e_ability_effect_row.rs
  tests/e2e_ability_handler.rs
  tests/e2e_native.rs
  tests/snapshots/diagnostic_snapshots__diag_missing_struct_field.snap
  tests/snapshots/diagnostic_snapshots__diag_unknown_struct_field.snap
Due: Frontend

Restore M0 ignored test coverage (#804)
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_from_function.snap
  crates/tribute-front/tests/tuple_pattern.rs
  new-plans/capabilities.md
  tests/diagnostic_snapshots.rs
  tests/e2e_ability_effect_row.rs
  tests/e2e_ability_handler.rs
  tests/e2e_native.rs
  tests/snapshots/diagnostic_snapshots__diag_missing_struct_field.snap
  tests/snapshots/diagnostic_snapshots__diag_unknown_struct_field.snap
Due: Frontend

ci: run canonical native example on macOS and Ubuntu
  .github/workflows/ci.yml
Due: none

ci: harden workflow token access
  .github/workflows/ci.yml
Due: none

Gate canonical M0 examples in CI (#803)
  .github/workflows/ci.yml
  tests/canonical_smoke.rs
  tests/expected/native_effects.stdout
  tests/expected/wasm_dynamic_output.stdout
Due: none

Implement byte-wise String equality
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/snapshots/expr_coverage__string_equality_operators.snap
  lib/std/prelude.trb
  new-plans/capabilities.md
  new-plans/string.md
  tests/e2e_native.rs
Due: Frontend

Lower canonical List literals
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/snapshots/expr_coverage__empty_list_infers_from_result_type.snap
  crates/tribute-front/tests/snapshots/expr_coverage__list_literal_lowering.snap
  crates/tribute-ir/src/metadata.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  lib/std/prelude.trb
  new-plans/capabilities.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/modules.md
  new-plans/types.md
  src/pipeline.rs
  tests/diagnostic_snapshots.rs
  tests/e2e_native.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/snapshots/diagnostic_snapshots__diag_list_literal_element_type_mismatch.snap
Due: Frontend, Middle End, Driver

Compare rope leaf spans for String equality
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  lib/std/prelude.trb
  new-plans/capabilities.md
  new-plans/string.md
  tests/e2e_native.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/wasm_compilation.rs
Due: TrunkIR, Middle End

Make String equality structural test whitespace-independent
  tests/e2e_native.rs
Due: none

Implement byte-wise String equality (#808)
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/snapshots/expr_coverage__string_equality_operators.snap
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  lib/std/prelude.trb
  new-plans/capabilities.md
  new-plans/string.md
  tests/e2e_native.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/wasm_compilation.rs
Due: TrunkIR, Frontend, Middle End

Define declaration-based nominal type identity
  new-plans/implementation.md
  new-plans/type-inference.md
  new-plans/types.md
Due: none

Preserve nominal identity through compilation
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/ufcs_method_call.rs
  src/lsp/type_index.rs
  tests/e2e_native.rs
Due: Frontend, Driver

Fix handler result type propagation before TDNR
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/ufcs_method_call.rs
  tests/e2e_ability_handler.rs
Due: Frontend

Scope handler arm type checking independently
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

Refresh ignored-test audit after handler fix
  new-plans/capabilities.md
  tests/e2e_ability_handler.rs
Due: none

Specify canonical Int text conversion
  new-plans/numeric-types.md
Due: none

Implement public Int text conversion
  crates/tribute-front/tests/int_text.rs
  lib/std/prelude.trb
  new-plans/capabilities.md
  tests/e2e_int_text.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend

Fix lexical nominal type lookup
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/nominal_type_identity.rs
Due: Frontend

Fix nominal identity review regressions
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/nominal_type_identity.rs
  crates/tribute-front/tests/ufcs_method_call.rs
Due: Frontend

Validate Int parse input after overflow
  lib/std/prelude.trb
  tests/e2e_int_text.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: none

Require handle context during arm conversion
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

Tighten handler scope test assertions
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

Clarify current workspace test inventory
  new-plans/capabilities.md
Due: none

Cover generic nominal identity paths
  crates/tribute-front/tests/nominal_type_identity.rs
  tests/e2e_native.rs
Due: Frontend

Specify opaque persistent List semantics
  new-plans/capabilities.md
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/modules.md
  new-plans/rc.md
  new-plans/syntax.md
  new-plans/type-inference.md
  new-plans/types.md
  new-plans/wasm-backend.md
Due: none

Align List M1 documentation with public API
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/modules.md
  new-plans/syntax.md
  new-plans/types.md
Due: none

Cover native List as-pattern binding
  tests/e2e_native.rs
Due: none

Test native List operation lowering
  crates/tribute-passes/src/native/list.rs
Due: Middle End

Clarify post-M1 List each example
  new-plans/syntax.md
Due: none

Keep List prepend intrinsic private
  crates/tribute-passes/src/list_intrinsics.rs
  lib/std/prelude.trb
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/modules.md
  tests/e2e_native.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Middle End

Guard List intrinsic lowering by ABI declarations
  crates/tribute-passes/src/list_intrinsics.rs
Due: Middle End

Implement opaque List lowering and native execution
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/snapshots/expr_coverage__list_literals_use_shared_sequence_ops.snap
  crates/tribute-front/tests/snapshots/expr_coverage__list_sequence_patterns_use_shared_observation_ops.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-ir/src/dialect/list.rs
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/native/list.rs
  crates/tribute-passes/src/native/mod.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_is_null_to_clif.snap
  lib/std/prelude.trb
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/diagnostic_snapshots.rs
  tests/e2e_native.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/snapshots/diagnostic_snapshots__diag_canonical_list_literal_does_not_match_shadowing_source_list.snap
  tests/snapshots/diagnostic_snapshots__diag_heterogeneous_list_literal.snap
  tests/snapshots/diagnostic_snapshots__diag_non_exhaustive_list_patterns.snap
Due: Frontend, Middle End, Driver

Trap invalid native List observations
  crates/tribute-passes/src/native/list.rs
  new-plans/implementation.md
  new-plans/ir.md
Due: Middle End

Cover resumed handler result transformation
  tests/e2e_ability_handler.rs
Due: none

Preserve declaration identity for nominal types (#812)
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/nominal_type_identity.rs
  crates/tribute-front/tests/ufcs_method_call.rs
  new-plans/implementation.md
  new-plans/type-inference.md
  new-plans/types.md
  src/lsp/type_index.rs
  tests/e2e_native.rs
Due: Frontend, Driver
