Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

test(passes): cover lambda lifting and document signature rebuilds
  crates/tribute-passes/src/lower_closure_lambda.rs
  guides/development/ir.md
Due: Middle End

Unify root entry bridges behind a single parameterless wrapper main (#1136)
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/integration/active_pipeline_goldens.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: Middle End, Driver

Give up on a case when a sibling variant's constructor is missing
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
Due: Frontend

refactor(bench): move ABI boundary measurements into a tribute-bench crate
  Cargo.lock
  Cargo.toml
  crates/tribute-bench/Cargo.toml
  crates/tribute-bench/benches/abi_boundary.rs
  crates/tribute-bench/src/bin/abi_boundary_report.rs
  crates/tribute-bench/src/lib.rs
  crates/tribute-bench/src/programs.rs
  crates/tribute-bench/src/stages.rs
Due: none

refactor: return borrowed parameter/attribute iterators
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/dialect/func.rs
  guides/development/ir.md
Due: TrunkIR, Middle End

refactor: rebuild signatures by editing parameter/attribute pairs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/dialect/func.rs
  guides/development/ir.md
Due: TrunkIR, Middle End

feat(passes): carry parameter attributes through signature rebuilds (#1144)
  crates/tribute-core/src/callable_abi.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/dialect/func.rs
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR, Middle End, Driver

perf(trunk-ir): store AttributeMap as a key-sorted vector
  crates/trunk-ir/src/symbol.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR

Cancel superseded pull request CI runs
  .github/workflows/ci.yml
Due: none

Cancel superseded pull request CI runs (#1147)
  .github/workflows/ci.yml
Due: none

perf(trunk-ir): store AttributeMap as a key-sorted vector (#1146)
  crates/trunk-ir/src/symbol.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR

perf(trunk-ir): store each interned type and path once
  Cargo.lock
  Cargo.toml
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR

docs(new-plans): lower Wasm effects inside the boundary via the shared helper ABI
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/effect_dispatch.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/cps-effects.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
  tests/integration/wasm_compilation.rs
Due: Middle End, Driver

feat(wasm): lower evidence operations inside the representation/ABI boundary
  crates/tribute-passes/src/effect_dispatch.rs
Due: Middle End

perf(trunk-ir): store each interned type and path once (#1149)
  Cargo.lock
  Cargo.toml
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR

refactor(trunk-ir): intern paths from borrowed strings
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/callable.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/ir_mapping.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/helpers.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/rewrite/type_converter.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
  crates/trunk-ir/src/walk.rs
Due: TrunkIR, Frontend, Middle End

Lower Wasm evidence operations inside the representation/ABI boundary (#1150)
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/effect_dispatch.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/cps-effects.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
  tests/integration/wasm_compilation.rs
Due: Middle End, Driver

refactor(trunk-ir): intern paths from borrowed strings (#1151)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir/src/analysis.rs
  crates/trunk-ir/src/callable.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/ir_mapping.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/conversion_target.rs
  crates/trunk-ir/src/rewrite/helpers.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/rewrite/type_converter.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
  crates/trunk-ir/src/walk.rs
Due: TrunkIR, Frontend, Middle End

docs(new-plans): identify compiler-owned runtime layouts by a layout attribute
  new-plans/cranelift-backend.md
  new-plans/ir.md
Due: none

feat(closure): identify closure storage by its layout attribute
  crates/tribute-core/src/lib.rs
  crates/tribute-core/src/runtime_layout.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_adaptation.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_anyref_adaptation.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/reference_upcast_elision.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/types.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

Identify closure storage by an explicit layout attribute (#1152)
  crates/tribute-core/src/lib.rs
  crates/tribute-core/src/runtime_layout.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_adaptation.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_anyref_adaptation.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/reference_upcast_elision.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/types.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

Keep catch-all coverage when an arm's pattern cannot be analyzed
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  new-plans/types.md
Due: Frontend

Check case exhaustiveness with pattern-matrix usefulness (#1143)
  crates/tribute-front/src/typeck/checker/exhaustiveness/matrix.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/tuple_pattern.rs
  new-plans/syntax.md
  new-plans/types.md
  src/pipeline.rs
  tests/integration/diagnostic_snapshots.rs
  tests/integration/e2e_native.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_non_exhaustive_list_patterns.snap
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_non_exhaustive_nested_variant.snap
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_non_exhaustive_tuple_case.snap
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_unreachable_pattern.snap
Due: Frontend, Driver

docs(new-plans): mark the root CPS contract by its source result alone
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/target_abi.rs
  new-plans/cps-effects.md
  new-plans/ir.md
  src/pipeline.rs
  tests/integration/open_callback_evidence_root.rs
Due: Frontend, Middle End, Driver

fix(frontend): stop recording tribute.root_export_convention
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
Due: Frontend

docs(new-plans): keep Wasm evidence identified by its layout through emission
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: none

feat(evidence): identify evidence markers and arrays by layout attributes
  Cargo.lock
  crates/tribute-ir/Cargo.toml
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  src/pipeline.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

docs(new-plans): specify mem.ptr_add and native bytes lowering in the boundary
  new-plans/cranelift-backend.md
  new-plans/ir.md
Due: none

feat(native): lower the bytes intrinsic inside the representation/ABI boundary
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/trunk-ir-cranelift-backend/src/passes/mem_to_clif.rs
  crates/trunk-ir/src/dialect/mem.rs
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__native_boundary_exit_violations_are_all_pending.snap
Due: TrunkIR, Middle End, Driver

test(frontend): drop assertions on the removed root export attribute
  crates/tribute-front/tests/cps_lowering.rs
Due: Frontend

feat(mem): type mem.ptr_add as (core.ptr, integer) -> core.ptr
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/trunk-ir/src/dialect/mem.rs
  new-plans/ir.md
Due: TrunkIR, Middle End

Specify name-matched constructor pattern fields
  new-plans/syntax.md
  new-plans/types.md
Due: none

Match brace-form constructor pattern fields by name
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/record_pattern.rs
  tests/integration/diagnostic_snapshots.rs
  tests/integration/e2e_native.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_constructor_pattern_arity.snap
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_unknown_pattern_field.snap
Due: Frontend

Cover generic named-variant patterns and name the lowering table miss
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  tests/integration/e2e_native.rs
Due: Frontend

feat(mem): type the remaining mem operations' pointer operands
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/trunk-ir/src/dialect/mem.rs
  new-plans/ir.md
Due: TrunkIR, Middle End

feat(mem): restrict mem.load and mem.store to machine scalars
  crates/tribute-passes/src/native/io.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/mem.rs
  new-plans/ir.md
Due: TrunkIR, Middle End

Stop recording tribute.root_export_convention (#1156)
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/target_abi.rs
  new-plans/cps-effects.md
  new-plans/ir.md
  src/pipeline.rs
  tests/integration/open_callback_evidence_root.rs
Due: Frontend, Middle End, Driver

Identify evidence markers and arrays by layout attributes (#1157)
  Cargo.lock
  crates/tribute-ir/Cargo.toml
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

Match brace-form constructor pattern fields by name (#1160)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/record_pattern.rs
  new-plans/syntax.md
  new-plans/types.md
  tests/integration/diagnostic_snapshots.rs
  tests/integration/e2e_native.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_constructor_pattern_arity.snap
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_unknown_pattern_field.snap
Due: Frontend

Drop the im crate from IR lowering's type map
  Cargo.lock
  Cargo.toml
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/ast_to_ir/context.rs
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
