Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

feat(cranelift): implement RTTI pass for deep release functions
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/adt_layout.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir/src/adt_layout.rs
  crates/trunk-ir/src/lib.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

feat(native): add entrypoint generation pass and E2E native tests
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/mod.rs
  src/pipeline.rs
  tests/e2e_native.rs
Due: Middle End, Driver

feat(cranelift): integrate RTTI dispatch with RC lowering for deep release
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: Middle End

refactor(native): use let-chains in entrypoint generation
  crates/tribute-passes/src/native/entrypoint.rs
Due: Middle End

fix(cranelift): fail fast on missing struct fields/layout in RTTI release generation
  crates/tribute-passes/src/native/rtti.rs
Due: Middle End

fix(cranelift): pass alloc_size to __tribute_deep_release for correct shallow dealloc
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: Middle End

fix(cranelift): use isub instead of iadd with negative constant for pointer arithmetic
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
Due: Middle End

feat(cranelift): implement RTTI-based deep release dispatch (#392)
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/adt_layout.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/adt_layout.rs
  crates/trunk-ir/src/lib.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(passes): move RC header logic from cranelift backend to tribute-passes (#387)
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  src/pipeline.rs
Due: Middle End, Driver

feat(typeck): validate that main function returns Nil (#395)
  crates/tribute-front/src/typeck/checker/func_check.rs
  src/pipeline.rs
  tests/e2e_ability_core.rs
  tests/e2e_add.rs
  tests/effect_var_collision.rs
  tests/evidence_lambda.rs
Due: Frontend, Driver

fix(test): update remaining tests to use Nil-returning main
  src/pipeline.rs
  tests/e2e_add.rs
Due: Driver

Validate that main function returns Nil (#396)
  crates/tribute-front/src/typeck/checker/func_check.rs
  src/pipeline.rs
  tests/e2e_ability_core.rs
  tests/e2e_add.rs
  tests/effect_var_collision.rs
  tests/evidence_lambda.rs
Due: Frontend, Driver

refactor(native): address PR review comments for entrypoint and runtime
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-runtime/build.rs
  crates/tribute-runtime/src/lib.rs
  src/pipeline.rs
Due: Middle End, Driver

feat(native): integrate libmprompt runtime for native continuation support
  .gitmodules
  .markdownlint-cli2.jsonc
  Cargo.lock
  Cargo.toml
  build.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/build.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  src/pipeline.rs
Due: Driver

test(runtime): add comprehensive tests for libmprompt FFI safety
  crates/tribute-runtime/src/lib.rs
Due: none

fix(ci): build workspace with coverage instrumentation flags
  .github/workflows/ci.yml
Due: none

fix(runtime): improve FFI safety in libmprompt integration
  crates/tribute-runtime/src/lib.rs
Due: none

fix(ci): add workspace build step before tests to generate runtime library
  .github/workflows/ci.yml
Due: none

fix(ci): run coverage build and test in a single shell environment
  .github/workflows/ci.yml
Due: none

feat(native): implement libmprompt-based native backend pipeline (#393)
  .github/workflows/ci.yml
  .gitmodules
  .markdownlint-cli2.jsonc
  Cargo.lock
  Cargo.toml
  build.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/build.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  src/pipeline.rs
  tests/e2e_native.rs
Due: Middle End, Driver

refactor(ir): use unsigned type for allocation sizes (#394)
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir/src/dialect/core.rs
Due: TrunkIR, Middle End

refactor(ir): remove unnecessary core.u64 type
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir/src/dialect/core.rs
Due: TrunkIR, Middle End

refactor(ir): use unsigned type for allocation sizes (#397)
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-runtime/src/lib.rs
Due: Middle End

feat(native): implement evidence-based ability dispatch for native backend
  Cargo.lock
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
  src/pipeline.rs
Due: Middle End, Driver

style: fix clippy warnings in evidence pass tests
  crates/tribute-passes/src/native/evidence.rs
Due: Middle End

fix(native): fail-fast on missing marker in evidence extend rewrite
  crates/tribute-passes/src/native/evidence.rs
Due: Middle End

fix(native): add safety checks for type conversions and allocation overflow
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
Due: Middle End

test(native): expand E2E tests with intermediate features and ability handlers
  crates/trunk-ir-cranelift-backend/src/function.rs
  tests/e2e_native.rs
Due: none

refactor(ir): use unsigned type for allocation sizes (#394)
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir/src/dialect/core.rs
Due: TrunkIR, Middle End

feat(native): implement native evidence runtime for ability dispatch (#399)
  Cargo.lock
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(ir): use unsigned type for allocation sizes and expand native E2E tests (#398)
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  tests/e2e_native.rs
Due: Middle End

feat(native): add RC protection for captured continuation stacks
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_yield_with_live_ptr.snap
  crates/tribute-runtime/src/lib.rs
Due: Middle End

fix(native): resolve clippy warnings in TributeContinuation runtime
  crates/tribute-runtime/src/lib.rs
Due: none

feat(native): implement Phase 4a RC-safe continuation protection
  .claude/rules/pipeline.md
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/mod.rs
  new-plans/rc.md
  src/pipeline.rs
Due: Middle End, Driver

docs: fix native pipeline table order and clarify Phase 4b
  .claude/rules/pipeline.md
  new-plans/rc.md
Due: none

feat(native): implement Phase 4a RC-safe continuation protection (#401)
  .claude/rules/pipeline.md
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_yield_with_live_ptr.snap
  crates/tribute-runtime/src/lib.rs
  new-plans/rc.md
  src/pipeline.rs
Due: Middle End, Driver

fix(native): enable case expression and recursion E2E tests
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_case_variant.snap
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  tests/e2e_native.rs
Due: TrunkIR, Frontend, Middle End

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
