Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Test indirect tail signature validation
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
Due: none

Lower Cranelift CPS tail transfers
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__tail_transfers_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

Guard Cranelift tail convention by physical CPS ABI
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

Guard native indirect tail calls and frame pointers
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

Lower logical CPS signatures to shared physical ABI (#847)
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/target_abi.rs
  crates/trunk-ir/src/dialect/func.rs
  new-plans/cps-effects.md
Due: TrunkIR, Middle End, Driver

Lower Cranelift CPS tail transfers (#848)
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__tail_transfers_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

fix(wasm): recognize indirect tail transfers
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-wasm-backend/src/emit.rs
Due: TrunkIR

Lower Wasm tail transfers
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-wasm-backend/Cargo.toml
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/mod.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/dialect/wasm.rs
Due: TrunkIR

Test Wasm indirect tail transfer contracts
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
Due: TrunkIR

Lower proper tail transfers through the Wasm backend (#849)
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-wasm-backend/Cargo.toml
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/mod.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/dialect/wasm.rs
Due: TrunkIR

fix(passes): skip bodyless evidence declarations
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

refactor(passes): name optional function bodies
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

Preserve bodyless declarations during evidence resolution (#869)
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

Promote logical worker calling conventions
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
Due: Frontend

Clarify logical convention regression checks
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/tests/cps_lowering.rs
Due: Frontend

Preserve explicit physical closure environment slots
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/cps-effects.md
Due: Middle End, Driver

Accept explicit closure environment slots
  crates/tribute-passes/src/target_abi.rs
  new-plans/cps-effects.md
Due: Middle End

#844: Preserve explicit physical closure environment slots (#871)
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/cps-effects.md
Due: Middle End, Driver

Add CPS parent-frame ABI metadata
  crates/tribute-core/src/calling_convention.rs
Due: Driver

Validate CPS closure environment slots
  crates/tribute-core/src/calling_convention.rs
Due: Driver

#873: Add CPS parent-frame ABI metadata (#874)
  crates/tribute-core/src/calling_convention.rs
Due: Driver

Document ContinuationFrame CPS ABI
  crates/tribute-core/src/calling_convention.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
Due: Driver

#836: Define the ContinuationFrame CPS ABI (#875)
  crates/tribute-core/src/calling_convention.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
Due: Driver

fix(wasm): preserve bodyless function declarations
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
Due: TrunkIR

#856: Preserve bodyless declarations in Wasm function lowering (#876)
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
Due: TrunkIR

Add CPS root entry wrapper
  crates/tribute-passes/src/target_abi.rs
  src/pipeline.rs
Due: Middle End, Driver

Fix root done continuation environment index
  crates/tribute-passes/src/target_abi.rs
Due: Middle End

#825: Add CPS root entry wrapper (#877)
  crates/tribute-passes/src/target_abi.rs
  src/pipeline.rs
Due: Middle End, Driver

test: reserve nextest capacity for ability regression
  .config/nextest.toml
Due: none

test: reuse native binaries across stdin cases
  tests/common/mod.rs
  tests/e2e_ability_handler.rs
Due: none

#881: Reuse native binaries across stdin cases (#882)
  tests/common/mod.rs
  tests/e2e_ability_handler.rs
Due: none

fix(trunk-ir): skip bodyless SCF function declarations
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

fix(trunk-ir): skip bodyless SCF function declarations (#883)
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

Fix SCF nil result lowering
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

fix(cranelift): lower core.nil as zero-width
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  new-plans/cranelift-backend.md
Due: none

#886: Lower core.nil as zero-width in Cranelift (#887)
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  new-plans/cranelift-backend.md
Due: none

fix(trunk-ir): lower SCF results by arity
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

Fix malformed SCF switch lowering guard
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
