Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Replace String primitive with prelude-defined enum rope type (#563)
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/mod.rs
  lib/std/prelude.trb
  new-plans/string.md
  src/lsp/type_index.rs
  tests/e2e_native.rs
Due: TrunkIR, Frontend, Driver

test(diagnostic): add YAML snapshot tests for error messages (#569)
  Cargo.lock
  Cargo.toml
  crates/tribute-core/Cargo.toml
  crates/tribute-core/src/diagnostic.rs
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_non_exhaustive_case.snap
  tests/snapshots/diagnostic_snapshots__diag_syntax_error.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_name.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_type.snap
Due: Driver

test(diagnostic): add type mismatch, main return, and lowering error cases
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_main_must_return_nil.snap
  tests/snapshots/diagnostic_snapshots__diag_type_mismatch_in_function.snap
Due: none

refactor(test): pass db explicitly to source_from_str
  tests/diagnostic_snapshots.rs
Due: none

refactor(test): pass db explicitly to source_from_str in tribute-front tests
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/tuple_pattern.rs
Due: Frontend

refactor(test): share source_from_str via tests/common module
  tests/common/mod.rs
  tests/diagnostic_snapshots.rs
  tests/effect_var_collision.rs
Due: none

refactor(test): use shared source_from_str in wasm_compilation tests
  tests/wasm_compilation.rs
Due: none

Establish diagnostic message snapshot test patterns (#570)
  Cargo.lock
  Cargo.toml
  crates/tribute-core/Cargo.toml
  crates/tribute-core/src/diagnostic.rs
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/tuple_pattern.rs
  tests/common/mod.rs
  tests/diagnostic_snapshots.rs
  tests/effect_var_collision.rs
  tests/snapshots/diagnostic_snapshots__diag_main_must_return_nil.snap
  tests/snapshots/diagnostic_snapshots__diag_non_exhaustive_case.snap
  tests/snapshots/diagnostic_snapshots__diag_syntax_error.snap
  tests/snapshots/diagnostic_snapshots__diag_type_mismatch_in_function.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_name.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_type.snap
  tests/wasm_compilation.rs
Due: Frontend, Driver

feat(diagnostic): improve type checking error messages (#566)
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/solver.rs
  tests/e2e_ability_core.rs
Due: Frontend

refactor: implement Display for TypeKind directly
  crates/tribute-front/src/ast/types.rs
Due: Frontend

refactor: add PluralExt trait for English plural/verb agreement
  crates/tribute-core/src/fmt.rs
  crates/tribute-front/src/typeck/solver.rs
Due: Frontend, Driver

refactor: use joined_by helper in TypeKind and Effect Display impls
  crates/tribute-front/src/ast/types.rs
Due: Frontend

test: update diagnostic snapshots for improved error messages
  tests/snapshots/diagnostic_snapshots__diag_main_must_return_nil.snap
  tests/snapshots/diagnostic_snapshots__diag_type_mismatch_in_function.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_name.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_type.snap
Due: none

Improve type checking error messages (#571)
  crates/tribute-core/src/fmt.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/solver.rs
  tests/e2e_ability_core.rs
  tests/snapshots/diagnostic_snapshots__diag_main_must_return_nil.snap
  tests/snapshots/diagnostic_snapshots__diag_type_mismatch_in_function.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_name.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_type.snap
Due: Frontend, Driver

feat(diagnostic): suggest similar names for unresolved name errors (#567)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/resolver.rs
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_unresolved_name_with_suggestion.snap
Due: Frontend

fix: deduplicate name suggestion candidates
  crates/tribute-front/src/resolve/resolver.rs
Due: Frontend

Suggest similar names for unresolved name errors (#572)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/resolver.rs
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_unresolved_name_with_suggestion.snap
Due: Frontend

feat(diagnostic): add ability-related error message tests (#506)
  crates/tribute-passes/src/lower_ability_perform.rs
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_misspelled_ability_name.snap
  tests/snapshots/diagnostic_snapshots__diag_unhandled_effect_in_main.snap
Due: Middle End

test: assert perform op remains unchanged when evidence is missing
  crates/tribute-passes/src/lower_ability_perform.rs
Due: Middle End

Add ability-related error message tests and fix lowering panic (#574)
  crates/tribute-passes/src/lower_ability_perform.rs
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_misspelled_ability_name.snap
  tests/snapshots/diagnostic_snapshots__diag_unhandled_effect_in_main.snap
Due: Middle End

feat(ability): lower fn handlers to ability.yield instead of ability.suspend
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
Due: Frontend

feat(ability): optimize fn operations with direct ability.call (no CPS)
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/tests/snapshots/cps_lowering__ability_op_then_pure_expr.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__multi_arg_ability_op.snap
  crates/tribute-front/tests/snapshots/cps_lowering__resume_in_op_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__sequential_ability_ops.snap
  crates/tribute-front/tests/snapshots/cps_lowering__single_ability_op_in_block.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/resolve_evidence.rs
  src/lsp/definition_index.rs
Due: Frontend, Middle End, Driver

docs(resolve): clarify AbilityOp lowering paths and deduplicate operands fetch
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Frontend, Middle End

Optimize fn (tail-resumptive) ability ops with direct ability.call, bypassing CPS (#575)
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/tests/snapshots/cps_lowering__ability_op_then_pure_expr.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__multi_arg_ability_op.snap
  crates/tribute-front/tests/snapshots/cps_lowering__resume_in_op_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__sequential_ability_ops.snap
  crates/tribute-front/tests/snapshots/cps_lowering__single_ability_op_in_block.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/resolve_evidence.rs
  src/lsp/definition_index.rs
Due: Frontend, Middle End, Driver

fix: align qualified name generation across resolve, TDNR, and ast_to_ir
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  lib/std/prelude.trb
Due: Frontend

feat: replace String primitive with prelude-defined enum rope type
  new-plans/string.md
Due: none

refactor: remove depth field from String::Branch
  new-plans/string.md
Due: none

feat: implement native Bytes/String const lowering and print_line
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  lib/std/prelude.trb
  src/pipeline.rs
  tests/e2e_native.rs
  tests/wasm_compilation.rs
Due: Middle End, Driver

fix: remove duplicate __tribute_print_newline after rebase
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-runtime/src/lib.rs
Due: Middle End

fix: address review feedback and add string E2E tests
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  tests/e2e_native.rs
Due: Frontend, Middle End

feat: string rope type in prelude + native Bytes/String const lowering (#576)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_only.snap
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  lib/std/prelude.trb
  src/pipeline.rs
  tests/e2e_native.rs
  tests/wasm_compilation.rs
Due: Frontend, Middle End, Driver

fix: abort on OOM in __tribute_alloc instead of returning null
  crates/tribute-runtime/src/asan.rs
  crates/tribute-runtime/src/lib.rs
Due: none

refactor(runtime): remove leftover comment from reverted alloc experiment
  crates/tribute-runtime/src/lib.rs
Due: none

refactor(typeck): return TypeCheckOutput::module by ref via #[returns(ref)]
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/mod.rs
Due: Frontend

fix(typeck): key export_function_types by qualified name
  crates/tribute-front/src/typeck/context.rs
Due: Frontend

refactor(tdnr): key method index by name only, filter by receiver type at lookup
  crates/tribute-front/src/tdnr/resolver.rs
Due: Frontend

fix(tdnr): pre-index prelude imports so UFCS resolves across modules
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/tdnr/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/tests/common/mod.rs
  src/pipeline.rs
Due: Frontend, Driver

test(e2e): add UFCS resolution tests for prelude String/Bytes methods (#577)
  tests/e2e_native.rs
Due: none

docs(runtime): expand __tribute_alloc aborts section
  crates/tribute-runtime/src/lib.rs
Due: none

Abort on OOM in __tribute_alloc instead of returning null (#579)
  crates/tribute-runtime/src/asan.rs
  crates/tribute-runtime/src/lib.rs
Due: none

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
