Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

test: enable tuple pattern tests after UniVar fix
  crates/tribute-front/tests/tuple_pattern.rs
Due: Frontend

feat(typeck): implement binary operation type checking with mismatch detection
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/source_file.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-ir/src/dialect/tribute.rs
  lib/std/prelude.trb
  tests/e2e_add.rs
Due: Frontend, Middle End

refactor(front): use type-safe IDs instead of Symbols for better identification
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
Due: Frontend

fix(types): use Nil for unit type and #() for empty tuple
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-ir/src/dialect/tribute.rs
  crates/trunk-ir/src/dialect/core.rs
  src/lsp/pretty.rs
Due: TrunkIR, Frontend, Middle End, Driver

fix(wasm): remove redundant i32↔i64 conversions in bytes intrinsics
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
Due: Middle End

feat(typeck): validate record field types during construction
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
Due: Frontend

fix(typeck): unify case expression arm types and distinguish Nat/Int patterns
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/snapshots/case_type__case_bool_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_enum_variant.snap
  crates/tribute-front/tests/snapshots/case_type__case_int_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_nat_literal.snap
  crates/tribute-front/tests/snapshots/case_type__case_nested.snap
  crates/tribute-front/tests/snapshots/case_type__case_result_type_unification.snap
  src/pipeline.rs
Due: Frontend, Driver

fix(typeck): thread SpanMap through type checker for accurate diagnostics
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/tuple_pattern.rs
  src/pipeline.rs
Due: Frontend, Driver

fix(front): pre-register struct fields to handle forward references in IR lowering
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/tests/record_field_type.rs
Due: Frontend

test(typeck): add comprehensive EffectVar collision detection tests
  tests/effect_var_collision.rs
Due: none

docs(astgen): clarify True/False capitalization as intentional design choice
  crates/tribute-front/src/astgen/patterns.rs
Due: Frontend

test(front): add comprehensive unit tests for source_file utilities
  crates/tribute-front/src/source_file.rs
Due: Frontend

test(typeck): add comprehensive unit tests for type checker internals
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

refactor(typeck)!: remove legacy TypeContext and fix record pattern field types
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/constraint.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  src/pipeline.rs
Due: Frontend, Driver

refactor(typeck): consolidate substitution logic and enforce fail-fast on invalid BoundVars
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

fix(typeck): ensure deterministic export ordering and correct list pattern type inference
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
Due: Frontend

style(typeck): collapse nested if statements per clippy
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

refactor: separate TypeDefId from CtorId
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  src/lsp/definition_index.rs
Due: Frontend, Driver

style: apply cargo fmt
  crates/tribute-front/src/resolve/mod.rs
Due: Frontend

feat(typeck): implement effect row union in merge_effect
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/func_context.rs
Due: Frontend

refactor: deduplicate qualified_name implementations
  crates/tribute-front/src/ast/phases.rs
Due: Frontend

refactor: use Display trait for qualified name formatting
  crates/tribute-front/src/ast/phases.rs
Due: Frontend

refactor: return impl Display from qualified_name methods
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
Due: Frontend

Separate type definitions from constructors with TypeDefId (#305)
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  src/lsp/definition_index.rs
Due: Frontend, Driver

test(lsp): add hover type content verification tests
  src/lsp/server.rs
Due: Driver

fix(typeck): handle block scope and let bindings during type inference
  crates/tribute-front/src/typeck/checker/expr.rs
  src/lsp/server.rs
Due: Frontend, Driver

perf(typeck): optimize effect row merging for shared rest variables
  crates/tribute-front/src/typeck/func_context.rs
Due: Frontend

fix(typeck): prevent let-pattern bindings from escaping block scope in AST conversion
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/snapshots/block_scope__block_let_binding_accessible_inside.snap
  crates/tribute-front/tests/snapshots/block_scope__block_with_case_pattern_binding.snap
  crates/tribute-front/tests/snapshots/block_scope__nested_blocks_separate_scopes.snap
  crates/tribute-front/tests/snapshots/block_scope__outer_scope_accessible_in_inner_block.snap
  crates/tribute-front/tests/snapshots/block_scope__sequential_blocks_independent_scopes.snap
Due: Frontend

feat(typeck): implement effect row union in merge_effect (#306)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/snapshots/block_scope__block_let_binding_accessible_inside.snap
  crates/tribute-front/tests/snapshots/block_scope__block_with_case_pattern_binding.snap
  crates/tribute-front/tests/snapshots/block_scope__nested_blocks_separate_scopes.snap
  crates/tribute-front/tests/snapshots/block_scope__outer_scope_accessible_in_inner_block.snap
  crates/tribute-front/tests/snapshots/block_scope__sequential_blocks_independent_scopes.snap
  src/lsp/server.rs
Due: Frontend, Driver

refactor(ir): remove tribute.struct_def/enum_def and resolve_type_references pass
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_enum_decl.snap
  crates/tribute-front/tests/snapshots/block_scope__block_with_case_pattern_binding.snap
  crates/tribute-front/tests/snapshots/case_type__case_enum_variant.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-ir/src/dialect/tribute.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/resolve_type_references.rs
  crates/tribute-passes/src/wasm/lower.rs
  src/lsp/server.rs
  src/pipeline.rs
Due: Frontend, Middle End, Driver

refactor(pipeline): extract common prelude processing into helper functions
  src/pipeline.rs
Due: Driver

refactor(pipeline): consolidate pipeline stages and remove redundant wrapper
  src/pipeline.rs
  tests/e2e_add.rs
Due: Driver

refactor(pipeline): improve prelude processing and error reporting
  src/pipeline.rs
Due: Driver

Remove redundant tribute.struct_def/enum_def operations (#309)
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/ast_to_ir/snapshots/tribute_front__ast_to_ir__lower__tests__snapshot_enum_decl.snap
  crates/tribute-front/tests/snapshots/block_scope__block_with_case_pattern_binding.snap
  crates/tribute-front/tests/snapshots/case_type__case_enum_variant.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_construction.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_generic.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread.snap
  crates/tribute-ir/src/dialect/tribute.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/resolve_type_references.rs
  crates/tribute-passes/src/wasm/lower.rs
  src/lsp/server.rs
  src/pipeline.rs
  tests/e2e_add.rs
Due: Frontend, Middle End, Driver

refactor: remove tribute.handle and tribute_pat operations
  .claude/rules/crates.md
  .claude/rules/ir.md
  .claude/rules/pipeline.md
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-ir/src/dialect/tribute.rs
  crates/tribute-ir/src/dialect/tribute_pat.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/handler_lower.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/tribute_to_cont.rs
  src/pipeline.rs
Due: Middle End, Driver

feat(ast-to-ir): implement handle expression lowering to cont dialect
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
Due: Frontend

refactor: remove unused tribute.type_var and tribute.error_type IR types
  crates/tribute-ir/src/dialect/tribute.rs
  crates/tribute-passes/src/boxing.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/wasm_type_concrete.rs
  src/lsp/pretty.rs
Due: Middle End, Driver

feat(typeck): implement comprehensive effect system improvements
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/solver.rs
Due: Frontend

feat(ability): implement direct lowering of ability operations to cont.shift
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-ir/src/dialect/ability.rs
  src/lsp/definition_index.rs
Due: Frontend, Middle End, Driver

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
