Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

fix(tribute-passes): emit ref_cast for anyref → structref downcasts
  crates/tribute-passes/src/wasm/type_converter.rs
Due: Middle End

fix(native-passes): address further PR review comments in RC and RTTI passes
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/rtti.rs
Due: Middle End

refactor(native-passes): guard against duplicate _tribute_main and extract ClifTypes helper
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/rtti.rs
Due: Middle End

feat(tribute-passes): port native passes to Arena IR (#447) (#467)
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/cont_rc.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_alloc_store_return.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_release_before_jump.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_simple_param.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_yield_with_live_ptr.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_int_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir/src/adt_layout.rs
  crates/trunk-ir/src/arena/context.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(trunk-ir,tribute-passes,trunk-ir-wasm-backend): change ref_cast/ref_test target_type from Symbol to Type
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  crates/trunk-ir/src/arena/dialect/wasm.rs
Due: TrunkIR, Middle End

test(native-passes): restore snapshot and unit tests for arena-based passes
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_alloc_store_return.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_multiple_uses.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_simple_param.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_yield_with_live_ptr.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_int_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
Due: Middle End

fix(tribute-passes,trunk-ir-wasm-backend): address PR review issues in WASM lowering passes
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
Due: TrunkIR, Middle End

fix(trunk-ir-wasm-backend,tribute-passes): convert all result types in trampoline pattern and fail fast on missing state_type
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
Due: TrunkIR, Middle End

fix(native-passes): enforce IR invariants with panics and fix duplicate block bug
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/trunk-ir/src/arena/context.rs
Due: TrunkIR, Middle End

fix(native-passes): correct rtti func_ty return type and add box/unbox tests
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_bool_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_nat_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_bool_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_nat_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
Due: Middle End

fix(tribute-passes,trunk-ir-wasm-backend): fix ref_cast result type and use checked op_idx conversion
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
Due: TrunkIR, Middle End

refactor(native-passes): port native passes to Arena-based IR (#468)
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_alloc_store_return.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_multiple_uses.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_simple_param.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_insertion__tests__snapshot_yield_with_live_ptr.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_bool_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_nat_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_bool_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_int_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__unbox_nat_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/trunk-ir/src/arena/context.rs
Due: TrunkIR, Middle End

feat(tribute-passes): port WASM passes and type converter to Arena IR (#445) (#466)
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/tribute-passes/src/wasm/wasm_gc_type_assign.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  crates/trunk-ir/src/arena/dialect/wasm.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(trunk-ir-wasm-backend): port WASM emit layer to arena IR (#446)
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/array_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/const_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/local_global_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/memory_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/misc_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/emit/value_emission.rs
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/translate.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/arena/types.rs
Due: TrunkIR

fix(trunk-ir-wasm-backend): address PR review issues
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
Due: TrunkIR

feat(cranelift-backend): port Cranelift backend to Arena IR with auto type conversion
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/arena/rewrite/applicator.rs
  crates/trunk-ir/src/arena/rewrite/conversion_target.rs
  crates/trunk-ir/src/arena/rewrite/rewriter.rs
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  src/pipeline.rs
Due: TrunkIR, Driver

fix(trunk-ir-wasm-backend): replace unwrap with error propagation in review items
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
Due: TrunkIR

refactor(cont-to-libmprompt): delegate block arg type conversion to auto_type_conversion
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
Due: Middle End

fix(trunk-ir-wasm-backend): address remaining PR review items
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
Due: TrunkIR

fix(trunk-ir-wasm-backend): replace unchecked integer casts with checked conversions
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
Due: TrunkIR

fix(cranelift-backend): address PR review issues in arena lowering passes
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir/src/arena/rewrite/applicator.rs
Due: TrunkIR, Middle End

style(trunk-ir): collapse nested if-let guards in applicator.rs
  crates/trunk-ir/src/arena/rewrite/applicator.rs
Due: TrunkIR

fix(trunk-ir-wasm-backend): fail-fast on invalid integer conversions instead of silent fallback
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
Due: TrunkIR

fix(trunk-ir-wasm-backend): improve error handling and reduce duplication in emit handlers
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/errors.rs
Due: TrunkIR

Port WASM emit layer to arena IR (#469)
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/array_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/const_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/local_global_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/memory_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/misc_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/emit/value_emission.rs
  crates/trunk-ir-wasm-backend/src/errors.rs
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/translate.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/arena/types.rs
Due: TrunkIR

refactor(cranelift-backend): remove Salsa-based code and canonicalize Arena API names
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/patterns.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_cast_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_is_null_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_null_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_get_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_set_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__call_indirect_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__func_func_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  src/pipeline.rs
Due: Middle End, Driver

test(cranelift-backend): add arena-based snapshot tests for adt_to_clif and func_to_clif
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_cast_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_is_null_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_null_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_get_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_set_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__call_indirect_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__func_func_to_clif.snap
Due: none

fix(cont-to-libmprompt): restore block arg conversion and add arena tests
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/patterns.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_done_only.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_multi_suspend_arms.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_single_suspend_arm.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_drop_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
Due: Middle End

fix(cranelift-backend): wrap test IR in func.func to fix snapshot value numbering
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_cast_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_is_null_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_null_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_get_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_set_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__call_indirect_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
Due: none

fix(cranelift-backend): use ISA-derived pointer type and calling convention
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
Due: Middle End

fix(cranelift-backend): use raw result type for signedness in arith lowering
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
Due: none

fix(cranelift-backend): address PR review findings across backend passes
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
Due: Middle End

fix(cranelift-backend): add i1 type mapping and revert unsafe changes
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
Due: Middle End

fix(cranelift-backend): add idempotency guard to ClosureStructAdaptPattern
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
Due: none

feat(cranelift-backend): port Cranelift backend to Arena IR (#470)
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/patterns.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_done_only.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_multi_suspend_arms.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_single_suspend_arm.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_drop_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/cf_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_cast_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_is_null_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_null_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_get_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__struct_set_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__call_indirect_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__func_func_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/arena/rewrite/applicator.rs
  crates/trunk-ir/src/arena/rewrite/conversion_target.rs
  crates/trunk-ir/src/arena/rewrite/rewriter.rs
  crates/trunk-ir/src/arena/rewrite/signature_conversion.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(pipeline): remove Salsa wrappers from resolve_casts and WASM emit
  crates/tribute-passes/src/boxing.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/translate.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

docs(tribute-passes): fix stale file path in boxing.rs doc comment
  crates/tribute-passes/src/boxing.rs
Due: Middle End

refactor(pipeline): port resolve_casts and WASM emit to arena IR (#471)
  crates/tribute-passes/src/boxing.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/translate.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

fix(trunk-ir): fix indentation for nested modules in IR printer
  crates/trunk-ir/src/arena/printer.rs
  crates/trunk-ir/src/arena/snapshots/trunk_ir__arena__printer__tests__print_nested_module.snap
Due: TrunkIR

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
