Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

fix(native): add missing `abi` attribute to extern function IR lowering
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: Frontend

feat(runtime): add print_int/print_nat intrinsics for e2e test verification
  crates/tribute-runtime/src/lib.rs
  tests/e2e_native.rs
Due: none

test(native): add stdout verification to e2e native tests
  tests/common/mod.rs
  tests/e2e_native.rs
Due: none

fix(ast-to-ir): implement tuple pattern destructuring in let bindings
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  tests/e2e_native.rs
Due: Frontend

test(ast-to-ir): add snapshot tests for tuple let destructuring
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_basic.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_from_function.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_wildcard.snap
  crates/tribute-front/tests/tuple_pattern.rs
Due: Frontend

test(e2e): add stdout verification to e2e_add tests
  tests/common/mod.rs
  tests/e2e_add.rs
Due: none

feat(runtime): add __tribute_print_float intrinsic and verify e2e_float tests
  crates/tribute-runtime/src/lib.rs
  tests/common/mod.rs
  tests/e2e_float.rs
Due: none

refactor(runtime): replace hand-written format_f64 with zmij crate
  Cargo.lock
  Cargo.toml
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
Due: none

refactor(runtime): replace hand-written integer formatting with itoa crate
  Cargo.lock
  Cargo.toml
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
Due: none

docs(runtime): clarify Nat maps to core.i32 with unsigned interpretation
  crates/tribute-runtime/src/lib.rs
Due: none

feat: add print intrinsics, fix extern ABI, and implement tuple pattern destructuring (#495)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_basic.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_from_function.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_wildcard.snap
  crates/tribute-front/tests/tuple_pattern.rs
  crates/tribute-runtime/Cargo.toml
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  tests/common/mod.rs
  tests/e2e_add.rs
  tests/e2e_float.rs
  tests/e2e_native.rs
Due: Frontend

fix(cranelift): native backend closure and higher-order function codegen (#496)
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/type_converter.rs
  tests/e2e_add.rs
  tests/e2e_native.rs
Due: Frontend, Middle End

fix(ast-to-ir): coerce arguments in closure wrapper for polymorphic callees (#496)
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
Due: Frontend

fix(cranelift): native backend closure and higher-order function codegen (#498)
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/type_converter.rs
  tests/e2e_add.rs
  tests/e2e_native.rs
Due: Frontend, Middle End

fix(cranelift): emit nil const instead of unrealized_cast for nil returns after cont ops
  crates/tribute-passes/src/cont_to_libmprompt/patterns.rs
  tests/e2e_ability_core.rs
Due: Middle End

fix(cranelift): use runtime-unique tags to fix nested handler crash
  crates/tribute-passes/src/cont_to_libmprompt/ffi.rs
  crates/tribute-passes/src/cont_to_libmprompt/push_prompt.rs
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_done_only.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_multi_suspend_arms.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_single_suspend_arm.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_drop_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__lower_shift_basic.snap
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-runtime/src/lib.rs
  crates/tribute-runtime/src/tls.rs
  crates/trunk-ir/src/context.rs
  tests/e2e_ability_core.rs
Due: TrunkIR, Middle End

test(e2e): add multi-ability handling E2E tests (#499)
  tests/e2e_ability_core.rs
Due: none

fix(typeck): avoid over-constraining tail row variables in merge_effect
  crates/tribute-front/src/typeck/func_context.rs
Due: Frontend

fix(ast-to-ir): use tribute_rt.any return type only for lambdas with concrete abilities
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
Due: Frontend

fix(ability): propagate evidence through nested handlers for multi-ability dispatch
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-runtime/src/lib.rs
  tests/e2e_ability_core.rs
Due: Middle End

test(e2e): use State(Bool) in inner() to truly exercise distinct type params
  tests/e2e_ability_core.rs
Due: none

fix(build): strip RUSTFLAGS when building tribute-runtime staticlib
  build.rs
Due: none

fix(build): strip RUSTC_WRAPPER when building tribute-runtime staticlib
  build.rs
Due: none

fix(runtime): use overcommit stacks on Linux to prevent nested-handler crash
  crates/tribute-runtime/src/lib.rs
  tests/e2e_ability_core.rs
Due: none

test(e2e): re-ignore flaky test_ability_core_execution on Linux (#509)
  tests/e2e_ability_core.rs
Due: none

fix(test): ignore flaky nested handler tests on Linux and revert redundant overcommit config
  crates/tribute-runtime/src/lib.rs
  tests/e2e_ability_core.rs
Due: none

test(e2e): ignore all native ability tests on Linux (#509)
  tests/e2e_ability_core.rs
Due: none

fix(ability): support multi-ability nested handler dispatch (#499) (#508)
  build.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-runtime/src/lib.rs
  tests/e2e_ability_core.rs
Due: Frontend, Middle End

feat(passes): implement tail-resumptive optimization analysis (Phase 1, #56)
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_with_tr_annotation.snap
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/tail_resumptive.rs
  src/pipeline.rs
Due: Middle End, Driver

feat(passes): implement dynamic tail-resumptive optimization (Phase 2, #56)
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_shift_basic.snap
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tr_dispatch.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-runtime/src/lib.rs
  src/pipeline.rs
Due: Frontend, Middle End, Driver

chore: revert unintended whitespace change in handler_dispatch.rs
  crates/tribute-passes/src/cont_to_libmprompt/handler_dispatch.rs
Due: Middle End

refactor(resolve_evidence): remove unused dispatch_block parameter
  crates/tribute-passes/src/resolve_evidence.rs
Due: Middle End

refactor(passes): encode TR status in op type via cont.yield (#56)
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tail_resumptive.rs
  crates/tribute-passes/src/tr_dispatch.rs
  crates/trunk-ir/src/dialect/cont.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(passes): address PR review nitpicks in tr_dispatch and tests
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
  crates/tribute-passes/src/tr_dispatch.rs
Due: Middle End

refactor(passes): address PR review comments in tr_dispatch
  crates/tribute-passes/src/tr_dispatch.rs
Due: Middle End

fix(passes): patch only markers sharing tag_val with their push_prompt
  crates/tribute-passes/src/tr_dispatch.rs
Due: Middle End

fix(passes): correct TR eligibility and push_prompt/dispatch pairing
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
  crates/tribute-passes/src/tr_dispatch.rs
Due: Middle End

feat(passes): implement tail-resumptive optimization (TRO, #56) (#510)
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/cont_to_libmprompt/mod.rs
  crates/tribute-passes/src/cont_to_libmprompt/snapshots/tribute_passes__cont_to_libmprompt__tests__handler_dispatch_with_tr_annotation.snap
  crates/tribute-passes/src/cont_to_libmprompt/tests.rs
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_resume_basic.snap
  crates/tribute-passes/src/cont_to_trampoline/snapshots/tribute_passes__cont_to_trampoline__tests__lower_shift_basic.snap
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tail_resumptive.rs
  crates/tribute-passes/src/tr_dispatch.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-runtime/src/lib.rs
  crates/trunk-ir/src/dialect/cont.rs
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
