Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

Generalize deferred method callee vars during typecheck
  crates/tribute-front/src/typeck/checker/func_check.rs
  new-plans/implementation.md
Due: Frontend

Include deferred callee types when collecting unification variables (#757)
  crates/tribute-front/src/typeck/checker/func_check.rs
  new-plans/implementation.md
Due: Frontend

docs: define layered TrunkIR validation responsibilities
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/snapshots/expr_coverage__float_comparison_operators.snap
  crates/trunk-ir/src/validation.rs
  new-plans/implementation.md
  new-plans/ir.md
  tests/active_pipeline_goldens.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
Due: TrunkIR, Frontend

Define layered TrunkIR validation responsibilities (#758)
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/snapshots/expr_coverage__float_comparison_operators.snap
  crates/trunk-ir/src/validation.rs
  new-plans/implementation.md
  new-plans/ir.md
  tests/active_pipeline_goldens.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
Due: TrunkIR, Frontend

feat: verify scf.if operation structure
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

Verify scf.if operation structure (#759)
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

test: cover pass-manager use-chain verifier
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  src/pipeline.rs
Due: TrunkIR, Driver

Cover pass-manager use-chain verification (#760)
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  src/pipeline.rs
Due: TrunkIR, Driver

Add duplicate effect annotation diagnostic
  crates/tribute-front/src/typeck/checker/func_check.rs
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_duplicate_effect_in_annotation.snap
Due: Frontend

Add duplicate effect annotation diagnostic (#761)
  crates/tribute-front/src/typeck/checker/func_check.rs
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_duplicate_effect_in_annotation.snap
Due: Frontend

fix(wasm): satisfy manual_filter lint
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
Due: TrunkIR, Middle End

fix(ci): propagate clippy failures from lint hook
  .ci/lint.sh
  .ci/test-lint.sh
  .github/workflows/ci.yml
Due: none

test(ci): extract lint command fixtures
  .ci/test-fixtures/lint/bin/cargo
  .ci/test-fixtures/lint/bin/npx
  .ci/test-lint.sh
Due: none

ci: upgrade checkout action to v7
  .github/workflows/ci.yml
Due: none

fix(ci): harden clippy output cleanup
  .ci/lint.sh
  .ci/test-lint.sh
Due: none

Fix clippy failure propagation in pre-commit hook (#765)
  .ci/lint.sh
  .ci/test-fixtures/lint/bin/cargo
  .ci/test-fixtures/lint/bin/npx
  .ci/test-lint.sh
  .github/workflows/ci.yml
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
Due: TrunkIR, Middle End

Upgrade actions/checkout to v7 (#766)
  .github/workflows/ci.yml
Due: none

fix(typeck): freshen effect rows when instantiating schemes
  crates/tribute-front/src/typeck/func_context.rs
Due: Frontend

docs(implementation): define effect diagnostic boundaries
  new-plans/implementation.md
Due: none

fix(pipeline): make frontend diagnostics terminal and deterministic
  crates/tribute-front/src/typeck/checker/func_check.rs
  src/diagnostics.rs
  src/pipeline.rs
  tests/diagnostic_snapshots.rs
  tests/e2e_ability_handler.rs
  tests/e2e_float.rs
  tests/evidence_lambda.rs
  tests/salsa_integration.rs
  tests/snapshots/diagnostic_snapshots__diag_main_must_return_nil.snap
  tests/snapshots/diagnostic_snapshots__diag_unhandled_effect_in_main.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_method_after_tdnr.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_type.snap
  tests/wasm_compilation.rs
Due: Frontend, Driver

test(typeck): cover nested effect row freshening
  crates/tribute-front/src/typeck/func_context.rs
Due: Frontend

test(frontend): centralize diagnostic compile failures
  tests/salsa_integration.rs
Due: none

feat(typeck): report source-anchored effect diagnostics
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/constraint.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_effect_arg_arity_mismatch.snap
  tests/snapshots/diagnostic_snapshots__diag_residual_effect_rejected_at_handler_boundary.snap
  tests/snapshots/diagnostic_snapshots__diag_row_unification_mismatch_at_lambda.snap
  tests/snapshots/diagnostic_snapshots__diag_type_mismatch_in_function.snap
Due: Frontend

Refactor type error context and simplify wasm main lowering
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/memory_handlers.rs
  new-plans/wasm-backend.md
  tests/wasm_compilation.rs
Due: TrunkIR, Frontend, Middle End

Refactor compilation tests to surface diagnostics
  tests/salsa_integration.rs
  tests/wasm_compilation.rs
Due: none

Return WASM compile diagnostics from pipeline and update tests
  src/main.rs
  src/pipeline.rs
  tests/salsa_integration.rs
  tests/wasm_compilation.rs
Due: Driver

Move WebAssembly success logging after successful write
  src/main.rs
Due: Driver

Remove diagnostic sorting from wasm compile errors
  src/pipeline.rs
Due: Driver

Improve effect diagnostics across type checking and pipeline validation (#763)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/constraint.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/memory_handlers.rs
  new-plans/implementation.md
  new-plans/wasm-backend.md
  src/diagnostics.rs
  src/main.rs
  src/pipeline.rs
  tests/diagnostic_snapshots.rs
  tests/e2e_ability_handler.rs
  tests/e2e_float.rs
  tests/evidence_lambda.rs
  tests/salsa_integration.rs
  tests/snapshots/diagnostic_snapshots__diag_effect_arg_arity_mismatch.snap
  tests/snapshots/diagnostic_snapshots__diag_main_must_return_nil.snap
  tests/snapshots/diagnostic_snapshots__diag_residual_effect_rejected_at_handler_boundary.snap
  tests/snapshots/diagnostic_snapshots__diag_row_unification_mismatch_at_lambda.snap
  tests/snapshots/diagnostic_snapshots__diag_type_mismatch_in_function.snap
  tests/snapshots/diagnostic_snapshots__diag_unhandled_effect_in_main.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_method_after_tdnr.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_type.snap
  tests/wasm_compilation.rs
Due: TrunkIR, Frontend, Middle End, Driver

Document builtin Io ambient ability and effect ABI rules
  AGENTS.md
  new-plans/abilities.md
  new-plans/cps-effects.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/io.md
  new-plans/modules.md
  new-plans/optimizations.md
  new-plans/syntax.md
  new-plans/type-inference.md
  new-plans/wasm-backend.md
Due: none

Clarify inferred function return type in type inference docs
  new-plans/type-inference.md
Due: none

Define builtin ambient Io and standard I/O API (#767)
  AGENTS.md
  new-plans/abilities.md
  new-plans/cps-effects.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/io.md
  new-plans/modules.md
  new-plans/optimizations.md
  new-plans/syntax.md
  new-plans/type-inference.md
  new-plans/wasm-backend.md
Due: none

Clarify effect row ABI and selective CPS rules
  new-plans/implementation.md
Due: none

Use explicit u8 codes for calling conventions
  crates/tribute-core/src/calling_convention.rs
Due: Driver

Preserve ABI floors and fix effect-row occurrence checks
  crates/tribute-front/src/ast/calling_convention.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/tests/snapshots/cps_lowering__nested_effectful_call_in_handler_arm.snap
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/rewrite/helpers.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
Due: TrunkIR, Frontend, Middle End

Use shared effect ABI floor and occurs check helper
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/solver.rs
Due: Frontend

Treat empty effect rows as Direct
  crates/tribute-front/src/ast/calling_convention.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  new-plans/abilities.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/io.md
  tests/effect_var_collision.rs
  tests/evidence_lambda.rs
Due: Frontend

feat(front): add compiler-owned ambient Io identity
  crates/tribute-front/src/ast/calling_convention.rs
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  new-plans/abilities.md
  new-plans/io.md
  new-plans/modules.md
  src/lsp/type_index.rs
  tests/e2e_ability_core.rs
  tests/wasm_compilation.rs
Due: Frontend, Driver
