Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

test(ir): prefer textual tribute_control fixtures
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Middle End

#822: Implement the verified tribute_control dialect (#828)
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
Due: TrunkIR, Middle End

Legalize tribute control graphs to CPS
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
Due: Middle End

Address PR #830 callable scope and atomicity review
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/validation.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

Strengthen one-shot runtime trap regression
  src/pipeline.rs
Due: Driver

feat(ir): define logical tribute control boundary
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Middle End

feat(front): emit logical tribute control IR
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
Due: Frontend

test(driver): preserve explicit legacy pipeline routing
  src/pipeline.rs
  tests/e2e_ability_core.rs
  tests/e2e_ability_handler.rs
  tests/e2e_ability_nested.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_after.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_before.snap
Due: Driver

fix(front): tighten logical frontend boundary
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
Due: Frontend

test: cover logical control boundary
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/tests/cps_lowering.rs
  src/pipeline.rs
Due: Frontend, Driver

refactor(ir): simplify resume pair validation
  Cargo.lock
  crates/tribute-ir/Cargo.toml
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Middle End

fix(pipeline): remove dead post-cast conversions
  src/pipeline.rs
  tests/active_pipeline_goldens.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_after.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_before.snap
Due: Driver

Revert "fix(pipeline): remove dead post-cast conversions"
  src/pipeline.rs
  tests/active_pipeline_goldens.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_after.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_before.snap
Due: Driver

Lower source-logical control through typed CPS
  crates/tribute-core/src/callable_abi.rs
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/adt_layout.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/rewriter.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
Due: TrunkIR, Middle End, Driver

fix(wasm): preserve nominal GC layouts
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
Due: TrunkIR

Preserve metadata through generic specialization
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
Due: Frontend, Driver

Add backend-ready legality verifier
  Cargo.lock
  crates/tribute-passes/Cargo.toml
  crates/tribute-passes/src/backend_ready.rs
  crates/tribute-passes/src/lib.rs
Due: Middle End

Fix CPS handler dispatcher rebinding
  crates/tribute-core/src/callable_abi.rs
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End, Driver

Preserve local callable metadata after solving
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/let_generalization.rs
Due: Frontend

Lower logical CPS signatures to physical ABI
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/target_abi.rs
  crates/trunk-ir/src/dialect/func.rs
Due: TrunkIR, Middle End, Driver

fix(wasm): validate GC variant fields
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
Due: TrunkIR

Validate physical CPS ABI transfers
  crates/tribute-core/src/callable_abi.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/target_abi.rs
Due: Middle End, Driver

Reject malformed CPS closure transfers
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/target_abi.rs
Due: Middle End

fix(wasm): validate GC field representations
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
Due: TrunkIR

Lower Cranelift CPS tail transfers
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__tail_transfers_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

Lower Wasm tail transfers
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-wasm-backend/Cargo.toml
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/call_indirect_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/mod.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
Due: TrunkIR

fix(wasm): recognize indirect tail transfers
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-wasm-backend/src/emit.rs
Due: TrunkIR

fix(wasm): validate typeref variant provenance
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
Due: TrunkIR

fix(wasm): preserve nominal GC layouts (#839)
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
Due: TrunkIR

Preserve prelude generic callee metadata
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  src/pipeline.rs
Due: Frontend, Driver

Reject unresolved specialization types
  crates/tribute-front/src/monomorphize/collect.rs
Due: Frontend

Preserve specialized extern signatures
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/tests/int_text.rs
  src/pipeline.rs
Due: Frontend, Driver

Preserve local callable metadata after solving
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/let_generalization.rs
Due: Frontend

Lower zero-result CPS scf branches
  crates/tribute-passes/src/tribute_control_to_cps.rs
Due: Middle End
