Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Keep List prepend intrinsic private
  crates/tribute-passes/src/list_intrinsics.rs
  lib/std/prelude.trb
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/modules.md
  tests/e2e_native.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Middle End

Trap invalid native List observations
  crates/tribute-passes/src/native/list.rs
  new-plans/implementation.md
  new-plans/ir.md
Due: Middle End

Specify opaque persistent List semantics
  new-plans/capabilities.md
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/modules.md
  new-plans/rc.md
  new-plans/syntax.md
  new-plans/type-inference.md
  new-plans/types.md
  new-plans/wasm-backend.md
Due: none

Guard List intrinsic lowering by ABI declarations
  crates/tribute-passes/src/list_intrinsics.rs
Due: Middle End

Clarify post-M1 List each example
  new-plans/syntax.md
Due: none

Align List M1 documentation with public API
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/modules.md
  new-plans/syntax.md
  new-plans/types.md
Due: none

Test native List operation lowering
  crates/tribute-passes/src/native/list.rs
Due: Middle End

Implement opaque List lowering and native execution
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/snapshots/expr_coverage__list_literals_use_shared_sequence_ops.snap
  crates/tribute-front/tests/snapshots/expr_coverage__list_sequence_patterns_use_shared_observation_ops.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-ir/src/dialect/list.rs
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/native/list.rs
  crates/tribute-passes/src/native/mod.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__adt_to_clif__tests__ref_is_null_to_clif.snap
  lib/std/prelude.trb
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/diagnostic_snapshots.rs
  tests/e2e_native.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/snapshots/diagnostic_snapshots__diag_canonical_list_literal_does_not_match_shadowing_source_list.snap
  tests/snapshots/diagnostic_snapshots__diag_heterogeneous_list_literal.snap
  tests/snapshots/diagnostic_snapshots__diag_non_exhaustive_list_patterns.snap
Due: Frontend, Middle End, Driver

Fix handler result type propagation before TDNR
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/ufcs_method_call.rs
  tests/e2e_ability_handler.rs
Due: Frontend

Scope handler arm type checking independently
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

Require handle context during arm conversion
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

Refresh ignored-test audit after handler fix
  new-plans/capabilities.md
  tests/e2e_ability_handler.rs
Due: none

Clarify current workspace test inventory
  new-plans/capabilities.md
Due: none

Cover resumed handler result transformation
  tests/e2e_ability_handler.rs
Due: none

Tighten handler scope test assertions
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

Add List type and pattern regressions
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/tests/case_type.rs
Due: Frontend

Clarify workspace audit baseline
  new-plans/capabilities.md
Due: none

Make capabilities status contract timeless
  new-plans/capabilities.md
Due: none

Fix handler result type propagation before TDNR (#807)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/ufcs_method_call.rs
  new-plans/capabilities.md
  tests/e2e_ability_handler.rs
Due: Frontend

Specify canonical Int text conversion
  new-plans/numeric-types.md
Due: none

Implement public Int text conversion
  crates/tribute-front/tests/int_text.rs
  lib/std/prelude.trb
  new-plans/capabilities.md
  tests/e2e_int_text.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend

Validate Int parse input after overflow
  lib/std/prelude.trb
  tests/e2e_int_text.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: none

Type check the prelude with canonical String
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/tests/common/mod.rs
  src/pipeline.rs
Due: Frontend, Driver

Preserve primitive payloads in generic constructors
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  lib/std/prelude.trb
  tests/e2e_int_text.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend

Cover generic Int constructor lowering
  crates/tribute-front/tests/int_text.rs
Due: Frontend

Test generic Int constructor layout
  tests/e2e_int_text.rs
Due: none

Assert generic Int constructor IR layout
  crates/tribute-front/tests/int_text.rs
Due: Frontend

Test generic constructor variant lookup
  crates/tribute-front/tests/int_text.rs
Due: Frontend

Strengthen Int text lowering tests
  crates/tribute-front/tests/int_text.rs
Due: Frontend

Simplify Int digit formatting patterns
  lib/std/prelude.trb
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: none

Preserve incremental well-known type registration
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
Due: Frontend

Upload only the LCOV coverage report
  .github/workflows/ci.yml
Due: none

Preserve CI LCOV reports briefly
  .github/workflows/ci.yml
Due: none

Narrow well-known type registration
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
Due: Frontend

Remove temporary LCOV artifact retention
  .github/workflows/ci.yml
Due: none

Restrict well-known type mutation to typeck
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
Due: Frontend

Use explicit prelude String registration
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/mod.rs
Due: Frontend

Add canonical Int text conversion (#813)
  .github/workflows/ci.yml
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  lib/std/prelude.trb
  new-plans/capabilities.md
  new-plans/numeric-types.md
  src/pipeline.rs
  tests/e2e_int_text.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend, Driver

docs: document compositional CPS lowering
  new-plans/cps-effects.md
  new-plans/implementation.md
Due: none

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
