Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

Carry the machine calling convention on physical signatures (#1081)
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__tail_transfers_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/mod.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(closure): keep packs at their closure type through casts
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/target_abi.rs
  new-plans/cps-effects.md
  new-plans/ir.md
  tests/e2e_add.rs
Due: Middle End, Driver

refactor(abi): check function references against their exact target signature
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/mod.rs
Due: TrunkIR

fix(closure): treat duplicate function names as ambiguous closure targets
  crates/tribute-passes/src/closure_lower.rs
Due: Middle End

Keep closure packs at their closure type and give function references exact signatures (#1087)
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/lib.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/mod.rs
  new-plans/cps-effects.md
  new-plans/ir.md
  tests/e2e_add.rs
Due: TrunkIR, Middle End, Driver

fix(closure): classify closure call callees by type only
  crates/tribute-passes/src/closure_lower.rs
Due: Middle End

feat(abi): verify the representation/ABI boundary exit in observe mode
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/lib.rs
  new-plans/ir.md
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__native_boundary_exit_violations_are_all_pending.snap
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
Due: Middle End, Driver

fix(abi): tighten boundary exit rules found in review
  crates/tribute-passes/src/abi_boundary.rs
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
Due: Middle End, Driver

fix(closure): classify closure call callees by type only (#1088)
  crates/tribute-passes/src/closure_lower.rs
Due: Middle End

fix(abi): report type-level boundary violations at every use
  crates/tribute-passes/src/abi_boundary.rs
Due: Middle End

refactor(abi): derive Display for boundary violations
  Cargo.lock
  crates/tribute-passes/Cargo.toml
  crates/tribute-passes/src/abi_boundary.rs
Due: Middle End

Verify the representation/ABI boundary exit in observe mode (#1089)
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/lib.rs
  new-plans/ir.md
  src/pipeline.rs
  src/snapshots/tribute__pipeline__tests__native_boundary_exit_violations_are_all_pending.snap
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
Due: Middle End, Driver

refactor(abi): derive Display for boundary violations (#1091)
  Cargo.lock
  crates/tribute-passes/Cargo.toml
  crates/tribute-passes/src/abi_boundary.rs
Due: Middle End

build: optimize dependencies in dev and test builds
  Cargo.toml
Due: none

build: optimize workspace crates at opt-level 1 in dev builds
  Cargo.toml
Due: none

test: let slow-named tests share test threads
  .config/nextest.toml
Due: none

Optimize dev/test builds and stop serializing slow tests (#1093)
  .config/nextest.toml
  Cargo.toml
Due: none

feat(ir): resolve symbol references by root-qualified path
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/symbol_table.rs
  new-plans/implementation.md
  new-plans/ir.md
Due: TrunkIR

refactor(ir): make SymbolTable an analysis over one symbol namespace
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/symbol_table.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End

fix(ir): close remaining raw-name symbol resolution found in review
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/symbol_table.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End

refactor(control): resolve source callables by root-qualified name
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/symbol_table.rs
Due: TrunkIR, Middle End

refactor(backend): register functions by root-qualified name in emission
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  new-plans/cranelift-backend.md
Due: TrunkIR

refactor(abi): resolve boundary function references by qualified path
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/target_abi.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
Due: Middle End

refactor(ir): keep all definitions per name in one symbol table map
  Cargo.lock
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/symbol_table.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End

fix(ir): qualify nested symbol-table targets and intrinsic declarations
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir/src/symbol_table.rs
Due: TrunkIR, Middle End

refactor(ir): build call graph and global DCE on the shared symbol table
  crates/trunk-ir/src/symbol_table.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
Due: TrunkIR

fix(ir): keep functions that contain reachable definitions in global DCE
  crates/trunk-ir/src/transforms/global_dce.rs
Due: TrunkIR

feat(front): reject suffixes on radix literals
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/numeric.rs
  crates/tribute-front/tests/numeric_literals.rs
  new-plans/numeric-types.md
  new-plans/syntax.md
  tests/integration/e2e_native.rs
Due: Frontend

docs: specify numeric literal separators, exponents, and suffixes
  new-plans/modules.md
  new-plans/numeric-types.md
  new-plans/syntax.md
Due: none

chore: depend on tree-sitter-tribute v0.10.0 tag
  Cargo.lock
  Cargo.toml
Due: none

chore: track tree-sitter-tribute suffix adjacency fix
  Cargo.lock
  Cargo.toml
Due: none

chore: track tree-sitter-tribute numeric suffix node
  Cargo.lock
  Cargo.toml
Due: none

feat(front): validate numeric literal separators, exponents, and suffixes
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/helpers.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/numeric.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/tests/numeric_literals.rs
  tests/integration/e2e_native.rs
Due: Frontend

refactor(front): parse numeric literals idiomatically with winnow
  crates/tribute-front/src/astgen/numeric.rs
Due: Frontend

refactor(front): lex numeric literal parts with winnow
  Cargo.lock
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/astgen/numeric.rs
Due: Frontend

refactor(front): match the single number_literal node
  Cargo.lock
  Cargo.toml
  contrib/zed/languages/tribute/highlights.scm
  crates/tribute-front/src/ast/lookup.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/patterns.rs
Due: Frontend

refactor(front): derive literal error Display and Error with derive_more
  Cargo.lock
  crates/tribute-front/Cargo.toml
  crates/tribute-front/src/astgen/helpers.rs
  crates/tribute-front/src/astgen/numeric.rs
Due: Frontend
