Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

fix(test): add parse error checking and fix invalid syntax in tests
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/snapshots/expr_coverage__function_reference_as_value.snap
  crates/tribute-front/tests/snapshots/expr_coverage__parenthesized_expression.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
Due: Frontend

fix(test): allow dead_code in shared test helper module
  crates/tribute-front/tests/common/mod.rs
Due: Frontend

fix(test): use precedence-sensitive boolean expression in test
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/snapshots/expr_coverage__boolean_operators.snap
Due: Frontend

test: add 21 tests to improve coverage across frontend and LSP (#646)
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/tests/block_scope.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/expr_coverage.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/record_field_type.rs
  crates/tribute-front/tests/snapshots/expr_coverage__bool_literal_false.snap
  crates/tribute-front/tests/snapshots/expr_coverage__bool_literal_true.snap
  crates/tribute-front/tests/snapshots/expr_coverage__boolean_operators.snap
  crates/tribute-front/tests/snapshots/expr_coverage__bytes_literal.snap
  crates/tribute-front/tests/snapshots/expr_coverage__float_literal.snap
  crates/tribute-front/tests/snapshots/expr_coverage__function_reference_as_value.snap
  crates/tribute-front/tests/snapshots/expr_coverage__lambda_as_argument.snap
  crates/tribute-front/tests/snapshots/expr_coverage__nil_literal.snap
  crates/tribute-front/tests/snapshots/expr_coverage__rune_literal.snap
  crates/tribute-front/tests/snapshots/expr_coverage__string_literal.snap
  crates/tribute-front/tests/snapshots/expr_coverage__tuple_construction.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  src/lsp/server.rs
Due: Frontend, Driver

test: add diagnostic snapshot tests for ability-related errors (#506)
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_effect_row_mismatch.snap
  tests/snapshots/diagnostic_snapshots__diag_handler_arm_wrong_signature.snap
  tests/snapshots/diagnostic_snapshots__diag_missing_handler_arm.snap
  tests/snapshots/diagnostic_snapshots__diag_unhandled_effect_multiple.snap
Due: none

fix(test): address review feedback on ability diagnostic tests
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_unhandled_effect_multiple.snap
Due: none

Add diagnostic snapshot tests for ability-related errors (#648)
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_effect_row_mismatch.snap
  tests/snapshots/diagnostic_snapshots__diag_handler_arm_wrong_signature.snap
  tests/snapshots/diagnostic_snapshots__diag_missing_handler_arm.snap
  tests/snapshots/diagnostic_snapshots__diag_unhandled_effect_multiple.snap
Due: none

fix(typeck): use closed effect row for ability operation calls (#649)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
Due: Frontend

fix(typeck): use closed effect row for ability ops and validate declared effects (#649)
  crates/tribute-front/src/typeck/checker/func_check.rs
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_effect_row_mismatch.snap
Due: Frontend

style: collapse nested if into single condition
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

refactor: use HashSet and peekable iterator for effect validation
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

Use closed effect row for ability ops and validate declared effects (#650)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_effect_row_mismatch.snap
Due: Frontend

fix(typeck): constrain handler arm params to ability op signature (#617)
  crates/tribute-front/src/typeck/checker/expr.rs
  tests/e2e_ability_core.rs
  tests/e2e_ability_handler.rs
  tests/e2e_ability_nested.rs
Due: Frontend

refactor: bind handler params directly to op type instead of via UniVar
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

fix: run full pattern inference for handler arm params
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

Fix operator TDNR in ability handler arms (#651)
  crates/tribute-front/src/typeck/checker/expr.rs
  tests/e2e_ability_core.rs
  tests/e2e_ability_handler.rs
  tests/e2e_ability_nested.rs
Due: Frontend

test: add multi-param handler tests and fix fn handler boxing
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/tests/snapshots/cps_lowering__multi_arg_ability_op.snap
  tests/e2e_ability_handler.rs
Due: Frontend

fix(ast-to-ir): box/unbox multi-param ability op handler args (#562)
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  tests/e2e_ability_handler.rs
Due: Frontend

fix(typeck): add arity check for handler arm params vs ability op
  crates/tribute-front/src/typeck/checker/expr.rs
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_handler_arm_wrong_signature.snap
Due: Frontend

fix(typeck): use arm span as fallback when handler params are empty
  crates/tribute-front/src/typeck/checker/expr.rs
Due: Frontend

fix(ast-to-ir): box/unbox multi-param ability op handler args (#562) (#652)
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/snapshots/cps_lowering__multi_arg_ability_op.snap
  tests/diagnostic_snapshots.rs
  tests/e2e_ability_handler.rs
  tests/snapshots/diagnostic_snapshots__diag_handler_arm_wrong_signature.snap
Due: Frontend

feat(ast-to-ir): insert evidence params directly during IR lowering (#642)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/tests/snapshots/cps_lowering__ability_op_then_pure_expr.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__multi_arg_ability_op.snap
  crates/tribute-front/tests/snapshots/cps_lowering__sequential_ability_ops.snap
  crates/tribute-front/tests/snapshots/cps_lowering__single_ability_op_in_block.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-passes/src/evidence.rs
Due: Frontend, Middle End

refactor: remove evidence pass from pipeline (#642)
  src/pipeline.rs
Due: Driver

test: add evidence lowering snapshot tests (#642)
  crates/tribute-front/tests/evidence_lowering.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_func_has_evidence_param.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
Due: Frontend

fix: prevent duplicate evidence insertion and extract capture helper
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-passes/src/closure_lower.rs
Due: Frontend, Middle End

feat(ast-to-ir): integrate evidence params into IR lowering (#642) (#653)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/tests/evidence_lowering.rs
  crates/tribute-front/tests/snapshots/cps_lowering__ability_op_then_pure_expr.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__multi_arg_ability_op.snap
  crates/tribute-front/tests/snapshots/cps_lowering__sequential_ability_ops.snap
  crates/tribute-front/tests/snapshots/cps_lowering__single_ability_op_in_block.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_func_has_evidence_param.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/evidence.rs
  src/pipeline.rs
Due: Frontend, Middle End, Driver

refactor: remove func_type_with_effect and clean up unused effect variables
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
Due: Frontend

refactor: remove dead evidence pass code (#642)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
  tests/evidence_lambda.rs
Due: Middle End

fix: add debug_assert for core.func type in build_func_type_with_evidence
  crates/tribute-passes/src/evidence.rs
Due: Middle End

refactor: remove dead effect computations from ast_to_ir
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
Due: Frontend

refactor: simplify lower_function effectful detection
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
Due: Frontend

refactor: extract extract_func_signature helper in decl.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
Due: Frontend

test: rewrite evidence_lambda tests for evidence-param-based checks
  crates/tribute-passes/src/evidence.rs
  tests/evidence_lambda.rs
Due: Middle End

feat(ast-to-ir): implement short-circuit evaluation for && and ||
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/tests/snapshots/expr_coverage__boolean_operators.snap
  new-plans/types.md
Due: Frontend

test(e2e): add short-circuit evaluation tests for && and || (#619)
  tests/e2e_native.rs
Due: none

feat: implement short-circuit evaluation for && and || (#619) (#655)
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/tests/snapshots/expr_coverage__boolean_operators.snap
  new-plans/types.md
  tests/e2e_native.rs
Due: Frontend

feat(tribute-front): improve parser error messages with token and context info (#568)
  crates/tribute-front/src/astgen/declarations.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  tests/snapshots/diagnostic_snapshots__diag_syntax_error.snap
Due: Frontend

fix(astgen): remove needless borrow in node_text call
  crates/tribute-front/src/astgen/expressions.rs
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
