Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

test(e2e): cover fixed-type local callables on the source-logical route
  tests/e2e_local_callables.rs
Due: none

fix(wasm): convert scf.loop body block arguments to target types
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  new-plans/wasm-backend.md
Due: TrunkIR

fix(wasm): produce created wasm.* result types through the target converter (#1006)
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  new-plans/wasm-backend.md
Due: TrunkIR, Middle End

test(#825): temporarily exclude the pre-CPS Done dedup effectiveness case
  tests/optimization_conformance.rs
Due: none

fix(typeck): align local lambda effect rows with functions
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/local_callable_instances.rs
  new-plans/cps-effects.md
  new-plans/type-inference.md
  src/pipeline.rs
  tests/snapshots/diagnostic_snapshots__diag_row_unification_mismatch_at_lambda.snap
Due: Frontend, Driver

test(pipeline): cover direct and CPS closure slots
  src/pipeline.rs
Due: Driver

refactor(pipeline): share lambda ABI test setup
  new-plans/type-inference.md
  src/pipeline.rs
Due: Driver

test(pipeline): assert complete CPS call signature
  src/pipeline.rs
Due: Driver

test(pipeline): verify CPS closure call arguments
  src/pipeline.rs
Due: Driver

Preserve lambda effect rows when inferring callable conventions (#1012)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/local_callable_instances.rs
  new-plans/cps-effects.md
  new-plans/type-inference.md
  src/pipeline.rs
  tests/snapshots/diagnostic_snapshots__diag_row_unification_mismatch_at_lambda.snap
Due: Frontend, Driver

fix(frontend): give prelude List a canonical std namespace
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/tests/nominal_type_identity.rs
  crates/tribute-passes/src/list_intrinsics.rs
  lib/std/prelude.trb
  new-plans/generics.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/modules.md
  src/pipeline.rs
  tests/e2e_native.rs
  tests/fixtures/list_namespace.trb
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/wasm_compilation.rs
Due: Frontend, Middle End, Driver

fix(frontend): preserve List identity in logical type lowering
  crates/tribute-front/src/ast_to_ir/context.rs
  src/pipeline.rs
Due: Frontend, Driver

Preserve canonical List identity across imports and local shadowing (#1022)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/tests/nominal_type_identity.rs
  crates/tribute-passes/src/list_intrinsics.rs
  lib/std/prelude.trb
  new-plans/generics.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/modules.md
  src/pipeline.rs
  tests/e2e_native.rs
  tests/fixtures/list_namespace.trb
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/wasm_compilation.rs
Due: Frontend, Middle End, Driver

Preserve terminal Never control during WASM lowering
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/rewrite/rewriter.rs
  crates/trunk-ir/src/transforms/mod.rs
  crates/trunk-ir/src/transforms/scf_control_flow.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: TrunkIR, Middle End

Cache structured control analysis before SCF-to-Wasm lowering
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/transforms/scf_control_flow.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: TrunkIR

Support terminal nested SCF loops in control-flow analysis
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/transforms/scf_control_flow.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: TrunkIR

Lower structured control flow and intrinsics to WebAssembly (#1023)
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/rewrite/rewriter.rs
  crates/trunk-ir/src/transforms/mod.rs
  crates/trunk-ir/src/transforms/scf_control_flow.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: TrunkIR, Middle End

fix(wasm): keep abstract references out of indexed GC registration
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  new-plans/wasm-backend.md
Due: TrunkIR

fix(passes): preserve exact canonical closure recovery for targets
  crates/tribute-passes/src/type_converter.rs
  new-plans/ir.md
Due: Middle End

fix(wasm): canonicalize boolean GC struct fields to i32
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  new-plans/wasm-backend.md
Due: TrunkIR

fix(wasm): consume Nil value producer stack results
  crates/trunk-ir-wasm-backend/src/emit.rs
  new-plans/wasm-backend.md
Due: TrunkIR

fix(wasm): preserve the fixed tail dispatch signature
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  new-plans/wasm-backend.md
  tests/wasm_compilation.rs
Due: Middle End

fix(wasm): preserve terminal structured control reachability
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  new-plans/wasm-backend.md
Due: TrunkIR

test(wasm): validate source binaries and ignore legacy dispatch
  tests/wasm_compilation.rs
Due: none

fix(wasm): preserve reference recovery and dispatch binary validity (#1024)
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
  tests/wasm_compilation.rs
Due: TrunkIR, Middle End

Publish nominal layout aliases in the frontend IR
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/expr_coverage__float_comparison_operators.snap
  crates/tribute-front/tests/snapshots/expr_coverage__string_equality_operators.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_single_extra_arg.snap
  new-plans/ir.md
  new-plans/types.md
  src/pipeline.rs
Due: Frontend, Driver

Publish nominal layout aliases in the frontend IR (#1025)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/expr_coverage__float_comparison_operators.snap
  crates/tribute-front/tests/snapshots/expr_coverage__string_equality_operators.snap
  crates/tribute-front/tests/snapshots/record_field_type__snapshot_record_spread_all_fields_explicit.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_single_extra_arg.snap
  new-plans/ir.md
  new-plans/types.md
  src/pipeline.rs
Due: Frontend, Driver

Preserve specialized enum variant schemas during monomorphization
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/nominal.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
  tests/e2e_native.rs
  tests/frontend_type_roots.rs
  tests/specialized_enum_payloads.trb
  tests/wasm_compilation.rs
Due: Frontend, Driver

Refactor compiler pipeline and update related tests
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/nominal.rs
  crates/tribute-front/src/monomorphize/nominal_index.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  new-plans/generics.md
  new-plans/implementation.md
Due: Frontend

Support specialized enum payload layouts (#1026)
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/nominal.rs
  crates/tribute-front/src/monomorphize/nominal_index.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/int_text.rs
  new-plans/generics.md
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
  tests/e2e_native.rs
  tests/frontend_type_roots.rs
  tests/specialized_enum_payloads.trb
  tests/wasm_compilation.rs
Due: Frontend, Driver

Use list element types for pattern observations
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/types.md
Due: Frontend, Middle End

Clarify List pattern element type contract
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/types.md
Due: none

Use canonical element types for list pattern observations (#1027)
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/types.md
Due: Frontend, Middle End

test(native): cover List constructor payloads and ownership
  tests/e2e_native.rs
Due: none

Represent extern functions as bodyless declarations
  Cargo.lock
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir-cranelift-backend/Cargo.toml
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/references.rs
  crates/trunk-ir/src/callable.rs
  crates/trunk-ir/src/lib.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
  tests/evidence_lambda.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: TrunkIR, Frontend, Middle End

Reject unsupported bound declaration signatures
  crates/trunk-ir-cranelift-backend/src/translate.rs
  new-plans/cranelift-backend.md
Due: none

Preserve callable evidence through native and backend lowering (#1028)
  Cargo.lock
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir-cranelift-backend/Cargo.toml
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/references.rs
  crates/trunk-ir/src/callable.rs
  crates/trunk-ir/src/lib.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
  tests/evidence_lambda.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: TrunkIR, Frontend, Middle End

Preserve qualified operator names during AST lowering
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/tests/local_callable_instances.rs
  tests/e2e_native.rs
Due: Frontend

Preserve qualified operator names as function values
  new-plans/syntax.md
Due: none
