Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

#884: Lower SCF Unit results by arity (#888)
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

Add backend-ready legality verifier
  Cargo.lock
  crates/tribute-passes/Cargo.toml
  crates/tribute-passes/src/backend_ready.rs
  crates/tribute-passes/src/lib.rs
Due: Middle End

Validate nested callable signatures
  crates/tribute-passes/src/backend_ready.rs
Due: Middle End

#837: Add backend-ready legality verification (#892)
  Cargo.lock
  crates/tribute-passes/Cargo.toml
  crates/tribute-passes/src/backend_ready.rs
  crates/tribute-passes/src/lib.rs
Due: Middle End

docs(rc): define proper-tail ownership transfer
  new-plans/rc.md
Due: none

fix(native): transfer RC ownership across proper tails
  crates/tribute-passes/src/native/ownership_summary.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  src/pipeline.rs
Due: Middle End, Driver

fix(native): validate lowered call contracts exactly
  crates/tribute-passes/src/native/ownership_summary.rs
Due: Middle End

fix(native): reject operandless indirect tails
  crates/tribute-passes/src/native/ownership_summary.rs
  crates/tribute-passes/src/native/rc_insertion.rs
Due: Middle End

Fix RC ownership across proper tail calls (#893)
  crates/tribute-passes/src/native/ownership_summary.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  new-plans/rc.md
  src/pipeline.rs
Due: Middle End, Driver

Fix trusted indirect tail signature lowering
  crates/tribute-passes/src/native/ownership_summary.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
Due: Middle End

Validate indirect tail transfers by signature
  crates/tribute-passes/src/native/ownership_summary.rs
Due: Middle End

Fix unused scf if result lowering
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

fix(native): retain adapted indirect tail borrows
  crates/tribute-passes/src/native/ownership_summary.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  new-plans/rc.md
Due: Middle End

fix(native): retain direct physical closure entries
  crates/tribute-passes/src/native/ownership_summary.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  new-plans/rc.md
Due: Middle End

fix(native): retain proven closure field loads
  crates/tribute-passes/src/native/ownership_summary.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  new-plans/rc.md
Due: Middle End

Avoid CFG merge arguments for unused scf.if results (#895)
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

fix(native): scope closure provenance by function
  .config/nextest.toml
  crates/tribute-passes/src/native/ownership_summary.rs
  crates/tribute-passes/src/native/rc_insertion.rs
Due: Middle End

test: mark slow optimization tests by name
  .config/nextest.toml
  tests/optimization_conformance.rs
Due: none

docs: define callable origin boundaries
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/modules.md
  new-plans/rc.md
Due: none

feat: verify callable origins before CPS lowering
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_basic.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_from_function.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_wildcard.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/context.rs
  new-plans/ir.md
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

docs: align plans with current compiler design
  new-plans/capabilities.md
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/io.md
  new-plans/ir.md
  new-plans/modules.md
  new-plans/numeric-types.md
  new-plans/rc.md
  new-plans/syntax.md
  new-plans/types.md
  plans/02.04-wasm-translation.md
  plans/05-standard-library.md
  plans/README.md
Due: none

fix: address callable origin review feedback
  crates/tribute-ir/src/dialect/tribute_control.rs
  new-plans/capabilities.md
  new-plans/design.md
  new-plans/io.md
  new-plans/rc.md
  plans/README.md
Due: Middle End

Verify callable origins before CPS lowering (#901)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_basic.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_from_function.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_nested.snap
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_let_destructure_wildcard.snap
  crates/tribute-front/tests/snapshots/ufcs_method_call__snapshot_ufcs_chained_multi_arg.snap
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/context.rs
  new-plans/capabilities.md
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/io.md
  new-plans/ir.md
  new-plans/modules.md
  new-plans/numeric-types.md
  new-plans/rc.md
  new-plans/syntax.md
  new-plans/types.md
  plans/02.04-wasm-translation.md
  plans/05-standard-library.md
  plans/README.md
  src/pipeline.rs
Due: TrunkIR, Frontend, Middle End, Driver

Document typed native ownership planning
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/rc.md
Due: none

Build typed native ownership and RTTI plan
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  src/pipeline.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/snapshots/optimization_conformance__borrowed_parameters_after.snap
  tests/snapshots/optimization_conformance__borrowed_parameters_before.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_after.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_before.snap
  tests/snapshots/optimization_conformance__temporary_field_borrows_after.snap
  tests/snapshots/optimization_conformance__temporary_field_borrows_before.snap
  tests/snapshots/optimization_conformance__trusted_ownership_forwarding_elided.snap
  tests/snapshots/optimization_conformance__trusted_ownership_forwarding_preserved.snap
Due: Middle End, Driver

Fix typed ownership review findings
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

Cover typed ownership plan validation
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

Isolate ownership planning CFG validation
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/cfg.rs
Due: Middle End

Refactor native ownership action planning
  crates/tribute-passes/src/native/ownership_plan/actions.rs
Due: Middle End

Harden native ownership plan validation
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/cfg.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

Clarify ownership optimization snapshots
  tests/optimization_conformance.rs
  tests/snapshots/optimization_conformance__borrowed_parameters_after.snap
  tests/snapshots/optimization_conformance__borrowed_parameters_before.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_after.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_before.snap
  tests/snapshots/optimization_conformance__temporary_field_borrows_after.snap
  tests/snapshots/optimization_conformance__temporary_field_borrows_before.snap
  tests/snapshots/optimization_conformance__trusted_ownership_forwarding_elided.snap
  tests/snapshots/optimization_conformance__trusted_ownership_forwarding_preserved.snap
Due: none

Stream ownership snapshot summaries
  tests/optimization_conformance.rs
Due: none

Build a typed native ownership and RTTI plan (#902)
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/cfg.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/rc.md
  src/pipeline.rs
  tests/optimization_conformance.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/snapshots/optimization_conformance__borrowed_parameters_after.snap
  tests/snapshots/optimization_conformance__borrowed_parameters_before.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_after.snap
  tests/snapshots/optimization_conformance__paired_rc_elimination_before.snap
  tests/snapshots/optimization_conformance__temporary_field_borrows_after.snap
  tests/snapshots/optimization_conformance__temporary_field_borrows_before.snap
  tests/snapshots/optimization_conformance__trusted_ownership_forwarding_elided.snap
  tests/snapshots/optimization_conformance__trusted_ownership_forwarding_preserved.snap
Due: Middle End, Driver

refactor(tribute-ir): query region branch exclusivity
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Middle End

docs(ir): define control-flow interface contract
  new-plans/ir.md
Due: none

feat(trunk-ir): add structured branch interfaces
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

refactor(trunk-ir): type control-flow registrations
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Middle End

Add structured control-flow interfaces to TrunkIR (#906)
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/validation.rs
  new-plans/ir.md
Due: TrunkIR, Middle End

feat(native): materialize validated RC ownership plans
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rc_insertion.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/rc.md
  src/pipeline.rs
  tests/optimization_conformance.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: Middle End, Driver
