Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

Add typed constraint syntax and fluent builders to #[dialect] (#1057)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/type_constraint.rs
  crates/trunk-ir/tests/compile_fail.rs
  crates/trunk-ir/tests/ui/ambiguous_projection.rs
  crates/trunk-ir/tests/ui/ambiguous_projection.stderr
  crates/trunk-ir/tests/ui/bound_is_not_a_constraint.rs
  crates/trunk-ir/tests/ui/bound_is_not_a_constraint.stderr
  crates/trunk-ir/tests/ui/conflicting_exact_bounds.rs
  crates/trunk-ir/tests/ui/conflicting_exact_bounds.stderr
  crates/trunk-ir/tests/ui/mixed_syntax.rs
  crates/trunk-ir/tests/ui/mixed_syntax.stderr
  crates/trunk-ir/tests/ui/projection_kind_mismatch.rs
  crates/trunk-ir/tests/ui/projection_kind_mismatch.stderr
  crates/trunk-ir/tests/ui/reserved_type_parameter.rs
  crates/trunk-ir/tests/ui/reserved_type_parameter.stderr
  crates/trunk-ir/tests/ui/unknown_projection.rs
  crates/trunk-ir/tests/ui/unknown_projection.stderr
  crates/trunk-ir/tests/ui/values_requires_list.rs
  crates/trunk-ir/tests/ui/values_requires_list.stderr
  guides/development/conventions.md
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR

chore(salsa): migrate workspace to 0.28.4
  Cargo.lock
  Cargo.toml
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/target.rs
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/node_id.rs
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/ast/span_map.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/monomorphize/nominal.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/effect_union.rs
  crates/tribute-front/tests/int_text.rs
  crates/trunk-ir/src/symbol.rs
  src/lsp/builtin_index.rs
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/frontend_instances.rs
  tests/frontend_type_roots.rs
Due: TrunkIR, Frontend, Driver

test(salsa): verify backdating and document value contracts
  guides/salsa.md
  tests/salsa_integration.rs
Due: none

Upgrade Salsa to 0.28.4 and update compiler integrations (#1058)
  Cargo.lock
  Cargo.toml
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-core/src/target.rs
  crates/tribute-front/src/ast/decl.rs
  crates/tribute-front/src/ast/expr.rs
  crates/tribute-front/src/ast/node_id.rs
  crates/tribute-front/src/ast/pattern.rs
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/ast/span_map.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/monomorphize/nominal.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/query.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/effect_union.rs
  crates/tribute-front/tests/int_text.rs
  crates/trunk-ir/src/symbol.rs
  guides/salsa.md
  src/lsp/builtin_index.rs
  src/lsp/completion_index.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/frontend_instances.rs
  tests/frontend_type_roots.rs
  tests/salsa_integration.rs
Due: TrunkIR, Frontend, Driver

Remove unreferenced lower_ability_perform snapshots
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_call_to_effect_dispatch_tail.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_basic.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_no_evidence.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_with_args.snap
Due: Middle End

Verify typed operation constraints and infer builder result types
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/type_constraint.rs
  crates/trunk-ir/src/validation.rs
  crates/trunk-ir/tests/ui/bound_is_not_a_constraint.stderr
  crates/trunk-ir/tests/ui/missing_verify_impl.rs
  crates/trunk-ir/tests/ui/missing_verify_impl.stderr
  crates/trunk-ir/tests/ui/result_bound_not_fixed.rs
  crates/trunk-ir/tests/ui/result_bound_not_fixed.stderr
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR, Middle End

Take the context before the location in typed builders
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  guides/development/conventions.md
  guides/development/ir.md
Due: TrunkIR, Middle End

Call an inherent verify method for #[verify] operations
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/tests/ui/missing_verify_impl.stderr
  crates/trunk-ir/tests/ui/missing_verify_method.rs
  crates/trunk-ir/tests/ui/missing_verify_method.stderr
  guides/development/ir.md
Due: TrunkIR

Report a missing #[verify] method with a dedicated diagnostic
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/tests/ui/missing_verify_method.stderr
Due: TrunkIR

Lower only core.i32 additions to wasm.i32_add
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
Due: TrunkIR

Verify typed operation constraints and infer builder result types (#1059)
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_call_to_effect_dispatch_tail.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_basic.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_no_evidence.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_with_args.snap
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/type_constraint.rs
  crates/trunk-ir/src/validation.rs
  crates/trunk-ir/tests/ui/bound_is_not_a_constraint.stderr
  crates/trunk-ir/tests/ui/missing_verify_method.rs
  crates/trunk-ir/tests/ui/missing_verify_method.stderr
  crates/trunk-ir/tests/ui/result_bound_not_fixed.rs
  crates/trunk-ir/tests/ui/result_bound_not_fixed.stderr
  guides/development/conventions.md
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR, Middle End

Declare arith.addf, cmpi, and cmpf with typed constraints
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR, Frontend, Middle End

Declare tribute_control.resume with ResumeToken projections
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
Due: Frontend, Middle End

Document the typed arith and resume declarations
  guides/development/conventions.md
  guides/development/ir.md
Due: none

Declare tribute_control operations with typed schemas
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
Due: Middle End

Require exact signatures on func indirect calls
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/validation.rs
  new-plans/ir.md
Due: TrunkIR, Middle End

Verify operation schemas at the native backend boundary
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/dialect/clif.rs
Due: TrunkIR, Middle End

Document the migrated schemas and validator layering
  guides/development/ir.md
Due: none

Return only valid signatures from indirect-call queries
  crates/tribute-passes/src/target_abi.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
Due: TrunkIR, Middle End

Migrate pilot operations to typed schemas and drop redundant validators (#1061)
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/validation.rs
  guides/development/conventions.md
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR, Frontend, Middle End

Declare wasm and wasm_gc operations with typed syntax
  crates/tribute-passes/src/wasm/const_to_wasm.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/intrinsic_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/tribute_rt_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/memory_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/dialect/wasm_gc.rs
  crates/trunk-ir/src/rewrite/applicator.rs
Due: TrunkIR, Middle End

Remove the legacy operation syntax from #[dialect]
  crates/tribute-passes/src/native/list.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir/src/rewrite/rewriter.rs
  crates/trunk-ir/src/transforms/scf_control_flow.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/tests/ui/legacy_annotation_rejected.rs
  crates/trunk-ir/tests/ui/legacy_annotation_rejected.stderr
Due: TrunkIR, Middle End

Document the typed syntax as the only operation form
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse/constraint.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  guides/development/conventions.md
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR

Verify operation schemas after each shared middle-end pass
  crates/trunk-ir/src/validation.rs
  guides/development/ir.md
  src/pipeline.rs
Due: TrunkIR, Driver

Keep the debug schema checkpoint declarative-only
  crates/trunk-ir/src/validation.rs
  guides/development/ir.md
Due: TrunkIR

Replace the #[verify] inherent method with a Verify trait
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/tests/ui/missing_verify_impl.rs
  crates/trunk-ir/tests/ui/missing_verify_impl.stderr
  crates/trunk-ir/tests/ui/missing_verify_method.stderr
  guides/development/ir.md
Due: TrunkIR

Replace the #[verify] inherent method with a Verify trait (#1065)
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir-macros/src/parse.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/tests/ui/missing_verify_impl.rs
  crates/trunk-ir/tests/ui/missing_verify_impl.stderr
  crates/trunk-ir/tests/ui/missing_verify_method.stderr
  guides/development/ir.md
Due: TrunkIR

Extract OpSchema::verify_declarative
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

Register operation interfaces by typed wrapper
  Cargo.lock
  Cargo.toml
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/list.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/trunk-ir-macros/src/canonicalize.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mem.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR, Middle End

Seal model-based interface registrations
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/trunk-ir/src/op_interface.rs
Due: TrunkIR, Middle End

Verify operation schemas after each shared middle-end pass (#1063)
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/validation.rs
  guides/development/ir.md
  src/pipeline.rs
Due: TrunkIR, Driver

Register operation interfaces by typed wrapper (#1066)
  Cargo.lock
  Cargo.toml
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/list.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-ir/src/dialect/tribute_rt.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/trunk-ir-macros/src/canonicalize.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir/Cargo.toml
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/dialect/core.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/dialect/mem.rs
  crates/trunk-ir/src/dialect/scf.rs
  crates/trunk-ir/src/dialect/wasm.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/transforms/canonicalize.rs
Due: TrunkIR, Middle End

Split OpDef from the declarative OpSchema
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_def.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/src/validation.rs
  crates/trunk-ir/tests/ui/ambiguous_projection.stderr
  crates/trunk-ir/tests/ui/conflicting_exact_bounds.stderr
  crates/trunk-ir/tests/ui/projection_kind_mismatch.stderr
  crates/trunk-ir/tests/ui/unknown_projection.stderr
  guides/development/ir.md
Due: TrunkIR, Middle End

Split OpDef from the declarative OpSchema (#1070)
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir-macros/src/lib.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/op_def.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/src/validation.rs
  crates/trunk-ir/tests/ui/ambiguous_projection.stderr
  crates/trunk-ir/tests/ui/conflicting_exact_bounds.stderr
  crates/trunk-ir/tests/ui/projection_kind_mismatch.stderr
  crates/trunk-ir/tests/ui/unknown_projection.stderr
  guides/development/ir.md
Due: TrunkIR, Middle End

Report #[verify] hook failures as OpViolation
  crates/trunk-ir/src/op_def.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

Keep missing Verify impl errors independent of other impls
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/tests/ui/missing_verify_impl.stderr
Due: TrunkIR

Add a cast resolution that keeps retyping no-op casts
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
Due: TrunkIR
