Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

Project tuple pattern fields at the tuple layout's field types
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_pattern_constructor_element.snap
  crates/tribute-front/tests/tuple_pattern.rs
  tests/integration/e2e_native.rs
Due: Frontend

Give each generalized let pattern one owner for its local quantifiers
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/let_generalization.rs
  new-plans/type-inference.md
Due: Frontend

Reject resume in handler arms for Never-returning operations (#1118)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/never_relations.rs
  tests/integration/diagnostic_snapshots.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_resume_in_never_operation_arm.snap
Due: Frontend

Project tuple pattern fields at the tuple layout's field types (#1120)
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/snapshots/tuple_pattern__tuple_pattern_constructor_element.snap
  crates/tribute-front/tests/tuple_pattern.rs
  tests/integration/e2e_native.rs
Due: Frontend

Check each let's local quantifier owner in the ownership test
  crates/tribute-front/tests/let_generalization.rs
Due: Frontend

fix(native): reject overlapping clif.data relocations
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/dialect/clif.rs
  new-plans/cranelift-backend.md
Due: TrunkIR

Give each generalized let pattern one owner for its local quantifiers (#1122)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/let_generalization.rs
  new-plans/type-inference.md
Due: Frontend

Reject single-segment imports and module constructor patterns
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

Report unresolved use imports instead of crashing in lowering
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/use_imports.rs
  tests/integration/diagnostic_snapshots.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_unresolved_import.snap
Due: Frontend

Report a module used as a record literal's type
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/use_imports.rs
Due: Frontend

Report unresolved use imports instead of crashing in lowering (#1121)
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/use_imports.rs
  tests/integration/diagnostic_snapshots.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_unresolved_import.snap
Due: Frontend

Record native RTTI layouts, table, and deep release in the IR (#1117)
  crates/tribute-ir/src/dialect/mod.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_adaptation.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_anyref_adaptation.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/dialect/clif.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/rc.md
  src/pipeline.rs
  tests/integration/optimization_conformance.rs
Due: TrunkIR, Middle End, Driver

refactor(native): declare clif.data relocations as clif.func_reloc ops
  Cargo.lock
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/trunk-ir-cranelift-backend/Cargo.toml
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/dialect/clif.rs
  new-plans/cranelift-backend.md
Due: TrunkIR, Middle End

refactor(native): declare clif.data relocations as clif.func_reloc ops (#1123)
  Cargo.lock
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/trunk-ir-cranelift-backend/Cargo.toml
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir/src/dialect/clif.rs
  new-plans/cranelift-backend.md
Due: TrunkIR, Middle End

fix(intrinsics): consume arithmetic intrinsic identities after lowering
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  src/pipeline.rs
Due: Middle End, Driver

feat(trunk-ir): add dictionary attributes
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/types.rs
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR, Middle End

fix(intrinsics): consume arithmetic intrinsic identities after lowering (#1130)
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  src/pipeline.rs
Due: Middle End, Driver

fix(target-abi): consume control provenance inside the ABI boundary
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/target_abi.rs
  new-plans/cps-effects.md
  src/snapshots/tribute__pipeline__tests__native_boundary_exit_violations_are_all_pending.snap
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
  tests/integration/active_pipeline_goldens.rs
  tests/integration/optimization_conformance.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: Middle End, Driver

refactor(cps): share the continuation frame name prefix
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  tests/integration/active_pipeline_goldens.rs
  tests/integration/optimization_conformance.rs
Due: Middle End, Driver

refactor(target-abi): pass the root contract phase explicitly
  crates/tribute-passes/src/target_abi.rs
Due: Middle End

fix(trunk-ir): quote dictionary keys that are not bare identifiers
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR, Middle End

feat(trunk-ir): add dictionary attributes (#1131)
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/types.rs
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR, Middle End

Consume control provenance inside the representation/ABI boundary (#1128)
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/cps-effects.md
  src/snapshots/tribute__pipeline__tests__native_boundary_exit_violations_are_all_pending.snap
  src/snapshots/tribute__pipeline__tests__wasm_boundary_exit_violations_are_all_pending.snap
  tests/integration/active_pipeline_goldens.rs
  tests/integration/optimization_conformance.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: Middle End, Driver

feat(trunk-ir): add per-type-parameter attributes
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR

feat(target-abi): bridge EvidenceDirect roots to a parameterless main
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/cps-effects.md
Due: Middle End

feat(target-abi): bridge EvidenceDirect roots to a parameterless main (#1134)
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/cps-effects.md
Due: Middle End

fix(trunk-ir): report wrongly sized empty parameter attributes
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/types.rs
  guides/development/ir.md
Due: TrunkIR

feat(bench): add ABI boundary cost benchmarks and report
  Cargo.lock
  Cargo.toml
  benches/abi_boundary.rs
  benches/support/programs.rs
  benches/support/stages.rs
  examples/abi_boundary_report.rs
  src/pipeline.rs
Due: Driver

refactor(trunk-ir): keep builder parameters paired with their attributes
  crates/trunk-ir/src/types.rs
Due: TrunkIR

docs(new-plans): wrap every root main in one parameterless entry wrapper
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: none

feat(target-abi): unify root entry bridges behind __tribute_root_main
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/wasm/lower.rs
  src/pipeline.rs
  tests/integration/active_pipeline_goldens.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: Middle End, Driver

docs(new-plans): scope completion-cell ownership to Cps root workers
  new-plans/implementation.md
Due: none

docs(trunk-ir): explain the builder's inline parameter capacity
  crates/trunk-ir/src/types.rs
Due: TrunkIR

feat(trunk-ir): add per-type-parameter attributes (#1133)
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR

Specify case exhaustiveness and unreachable arms
  new-plans/syntax.md
  new-plans/types.md
Due: none

Check case exhaustiveness with pattern-matrix usefulness
  crates/tribute-front/src/typeck/checker/exhaustiveness/matrix.rs
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/tests/case_type.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/tuple_pattern.rs
  src/pipeline.rs
  tests/integration/diagnostic_snapshots.rs
  tests/integration/e2e_native.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_non_exhaustive_list_patterns.snap
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_non_exhaustive_nested_variant.snap
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_non_exhaustive_tuple_case.snap
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_unreachable_pattern.snap
Due: Frontend, Driver

Clarify when an unresolved case pattern goes unreported
  crates/tribute-front/src/typeck/checker/exhaustiveness/mod.rs
Due: Frontend

test(wasm): rename main-signature scan test after dropping the main export
  crates/tribute-passes/src/wasm/lower.rs
Due: Middle End

refactor(target-abi): drop the root_ infix from root bridge symbols
  crates/tribute-passes/src/native/entrypoint.rs
  crates/tribute-passes/src/target_abi.rs
  src/pipeline.rs
  tests/integration/active_pipeline_goldens.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_direct_fn_ability_call_uses_cps_root_contract.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
Due: Middle End, Driver

feat(passes): carry parameter attributes through signature rebuilds
  crates/tribute-core/src/callable_abi.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir/src/dialect/func.rs
  new-plans/ir.md
Due: TrunkIR, Middle End, Driver
