Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

feat(passes): let lower_continuation_frames choose the frame layouts (#1402)
  crates/tribute-passes/src/cps_builders.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/perform.rs
  crates/tribute-passes/src/lower_continuation_frames/suffix_layer.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/tribute_control_to_cps/types.rs
Due: Middle End

test(passes): cover borrowed projections at transfers, stores and calls (#1403)
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

docs(new-plans): state where a value that dies on an edge is released
  new-plans/rc.md
Due: none

fix(passes): release a managed value that dies on a control-flow edge
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/cfg.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  tests/integration/e2e_native.rs
Due: Middle End

test: run borrowed projections across handlers and resumptions
  tests/fixtures/optimizations/temporary_field_borrows_effects.trb
  tests/integration/optimization_conformance.rs
Due: none

fix(passes): reject an edge release at the entry block or a redefinition
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  new-plans/rc.md
Due: Middle End

feat(passes): share dispatch adapter factories and split the frame expansions (#1404)
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
  crates/tribute-passes/src/lower_continuation_frames/perform.rs
  crates/tribute-passes/src/lower_continuation_frames/suffix_layer.rs
  tests/integration/active_pipeline_goldens.rs
Due: Middle End

test: print through print_line in the new native tests
  tests/fixtures/optimizations/temporary_field_borrows_effects.trb
  tests/integration/e2e_native.rs
Due: none

test(passes): check the materialized release on every dead path
  crates/tribute-passes/src/native/ownership_plan/tests.rs
Due: Middle End

refactor(passes): read only the frame field an expansion needs
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
  crates/tribute-passes/src/lower_continuation_frames/perform.rs
  crates/tribute-passes/src/lower_continuation_frames/suffix_layer.rs
Due: Middle End

fix(passes): release a managed value that dies on a control-flow edge (#1411)
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/cfg.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  new-plans/rc.md
  tests/fixtures/optimizations/temporary_field_borrows_effects.trb
  tests/integration/e2e_native.rs
  tests/integration/optimization_conformance.rs
Due: Middle End

refactor(passes): read only the frame field an expansion needs (#1405)
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
  crates/tribute-passes/src/lower_continuation_frames/perform.rs
  crates/tribute-passes/src/lower_continuation_frames/suffix_layer.rs
Due: Middle End

refactor(passes): cache native entry contracts and merge module walks
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/entry_contracts.rs
  crates/tribute-passes/src/native/ownership_plan/facts.rs
  crates/tribute-passes/src/native/ownership_plan/facts_tests.rs
  new-plans/ir.md
  new-plans/rc.md
Due: Middle End

docs(new-plans): define the native address sanitizer contract
  new-plans/cranelift-backend.md
Due: none

feat(runtime): classify sanitizer accesses against a region table
  crates/tribute-runtime/src/asan.rs
Due: none

feat(passes): check every memory access of a sanitized native build
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/sanitize_access.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__sanitize_access__tests__every_access_is_checked_with_its_effective_address_and_width.snap
  src/pipeline.rs
  tests/integration/main.rs
  tests/integration/sanitizer_access_checks.rs
Due: Middle End, Driver

docs(new-plans): strengthen let-bound lambdas and their callers like definitions
  new-plans/implementation.md
  new-plans/type-inference.md
Due: none

fix(front): strengthen the callers of a local lambda that needs Cps control
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/tests/local_callable_instances.rs
  tests/integration/e2e_native.rs
Due: Frontend

fix(front): plan local callables until function conventions are final
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  tests/integration/e2e_native.rs
Due: Frontend

test(runtime): cover sanitizer report formatting and the valid-check path
  crates/tribute-runtime/src/asan.rs
Due: none

refactor(passes): cache native entry contracts and merge module walks (#1412)
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/entry_contracts.rs
  crates/tribute-passes/src/native/ownership_plan/facts.rs
  crates/tribute-passes/src/native/ownership_plan/facts_tests.rs
  new-plans/ir.md
  new-plans/rc.md
Due: Middle End

fix(runtime): report a free of a block that is no longer recorded
  crates/tribute-runtime/src/asan.rs
Due: none

fix(runtime): look up a freed block before deriving its base pointer
  crates/tribute-runtime/src/asan.rs
Due: none

fix(front): strengthen the callers of a local lambda that needs Cps control (#1416)
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/tests/local_callable_instances.rs
  new-plans/implementation.md
  new-plans/type-inference.md
  tests/integration/e2e_native.rs
Due: Frontend

feat(ir): make clif.func an isolated rewrite scope
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/rewrite/applicator.rs
Due: TrunkIR

refactor(passes): instrument accesses with a function-scoped pattern
  crates/tribute-passes/src/native/sanitize_access.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor(passes): run the access-check passes through a pass manager in tests
  crates/tribute-passes/src/native/sanitize_access.rs
  tests/integration/sanitizer_access_checks.rs
Due: Middle End

docs(new-plans): state that the sanitizer records are shared across threads
  new-plans/cranelift-backend.md
Due: none

fix(runtime): guard the sanitizer state with a lock
  crates/tribute-runtime/src/asan.rs
Due: none

docs(new-plans): specialize row variables by convention class
  new-plans/cps-effects.md
  new-plans/generics.md
  new-plans/implementation.md
Due: none

feat: check memory accesses at the access site in sanitized native builds (#1414)
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/sanitize_access.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__sanitize_access__tests__every_access_is_checked_with_its_effective_address_and_width.snap
  crates/tribute-runtime/src/asan.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  new-plans/cranelift-backend.md
  src/pipeline.rs
  tests/integration/main.rs
  tests/integration/sanitizer_access_checks.rs
Due: TrunkIR, Middle End, Driver

docs(new-plans): give native Bytes an owned byte buffer
  new-plans/cranelift-backend.md
  new-plans/rc.md
  new-plans/runtime-types.md
Due: none

docs(new-plans): state how casts between managed references and pointers own
  new-plans/rc.md
Due: none

fix(passes): release native Bytes objects
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/facts.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/struct_to_mem.rs
  tests/integration/e2e_native.rs
Due: Middle End

docs(new-plans): keep the bytes of a native Bytes in the object itself
  new-plans/cranelift-backend.md
  new-plans/rc.md
  new-plans/runtime-types.md
Due: none

docs(new-plans): specialize row variables by convention class (#1418)
  new-plans/cps-effects.md
  new-plans/generics.md
  new-plans/implementation.md
Due: none

fix(passes): release native Bytes objects (#1425)
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/facts.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/struct_to_mem.rs
  new-plans/cranelift-backend.md
  new-plans/rc.md
  new-plans/runtime-types.md
  tests/integration/e2e_native.rs
Due: Middle End

feat(front): carry convention classes in function instance keys
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/instance.rs
  crates/tribute-front/src/monomorphize/mangle.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
Due: Frontend

docs(new-plans): read a native Bytes element through the runtime
  new-plans/cranelift-backend.md
  new-plans/rc.md
Due: none

fix(runtime): free the bytes of a native Bytes with the value that stores them
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/intrinsic_to_native.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-runtime/src/lib.rs
  tests/integration/e2e_native.rs
  tests/integration/optimization_conformance.rs
Due: Middle End

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
