Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

feat(front): check a method call as the function call it stands for (#1468)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-front/tests/use_imports.rs
  new-plans/implementation.md
  new-plans/modules.md
  new-plans/type-inference.md
  tests/integration/e2e_field_lenses.rs
  tests/integration/e2e_native.rs
Due: Frontend

feat(front): reject a function that would be a second reading of a field
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/tests/inline_module_scope.rs
  crates/tribute-front/tests/record_pattern.rs
  crates/tribute-front/tests/use_imports.rs
  new-plans/modules.md
  tests/integration/e2e_field_lenses.rs
  tests/integration/e2e_native.rs
Due: Frontend

refactor(ir): name ability instances by symbol and drop core.ability_ref
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_func_has_evidence_param.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/ability/frames.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/effect_dispatch.rs
  crates/tribute-passes/src/lower_ability_call.rs
  crates/tribute-passes/src/lower_continuation_frames.rs
  crates/tribute-passes/src/lower_continuation_frames/handle_layer.rs
  crates/tribute-passes/src/lower_continuation_frames/perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
  tests/integration/e2e_native.rs
  tests/integration/wasm_compilation.rs
Due: Frontend, Middle End, Driver

refactor(passes): remove ability declarations after evidence lowering consumes their references
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  src/pipeline.rs
Due: Middle End, Driver

feat(front): reserve a struct's field names as methods of that struct
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/tests/use_imports.rs
  new-plans/modules.md
  tests/integration/e2e_field_lenses.rs
Due: Frontend

feat(front): let other modules declare a function named like a field
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/tests/use_imports.rs
  new-plans/modules.md
  tests/integration/e2e_field_lenses.rs
Due: Frontend

feat(front): read a field by calling its getter (#1469)
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/function_signatures.rs
  crates/tribute-front/tests/inline_module_scope.rs
  crates/tribute-front/tests/record_pattern.rs
  crates/tribute-front/tests/use_imports.rs
  new-plans/modules.md
  tests/integration/e2e_field_lenses.rs
  tests/integration/e2e_native.rs
Due: Frontend
