Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

fix(front): reject nested ability-op subexpressions that bypass CPS
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
Due: Frontend

fix(cps): fix multiple bugs in CPS effect handling pipeline
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__resume_in_op_handler.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  tests/e2e_ability_core.rs
Due: Frontend, Middle End

fix(cps): resolve effect-polymorphic handler crashes and type mismatches
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/evidence.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Frontend, Middle End

fix(front): fix resource leaks on error paths in CPS lowering
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
Due: Frontend

fix(passes): fail fast on malformed IR and guard dead-code removal
  .ci/githooks/pre-commit
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_basic.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_with_args.snap
Due: Middle End

fix(passes): improve type accuracy and test coverage for CPS lowering
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/cps_lowering__multi_arg_ability_op.snap
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Frontend, Middle End

test: enable 10 CPS effect handling e2e tests
  tests/e2e_ability_core.rs
Due: none

docs(ci): fix pre-commit comment to match actual --final-status-level flag
  .ci/githooks/pre-commit
Due: none

fix(front,passes): strengthen CPS lowering correctness checks
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-passes/src/lower_ability_perform.rs
Due: Frontend, Middle End

refactor(front): add ScopeGuard RAII for automatic scope cleanup
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
Due: Frontend

fix(front,passes): fix callee ability check, handler_dispatch type, extract pack_ability_args
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_basic.snap
  crates/tribute-passes/src/snapshots/tribute_passes__lower_ability_perform__tests__lower_perform_with_args.snap
Due: Frontend, Middle End

refactor(tribute-passes): remove cont_to_yield_bubbling and dead code after CPS transition
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/analysis.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/shift_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/types.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/wrap_returns.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/tr_dispatch.rs
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  src/pipeline.rs
Due: Frontend, Middle End, Driver

refactor: remove arena_ prefix from cont import alias
  crates/tribute-passes/src/lower_handle_dispatch.rs
Due: Middle End

fix: address PR review feedback on docs and code style
  crates/tribute-passes/src/lower_ability_perform.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  src/pipeline.rs
Due: Middle End, Driver

refactor: remove cont_to_yield_bubbling and tr_dispatch dead code (#544)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/analysis.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/call_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/mod.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/patterns.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/shift_lower.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/truncate.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/types.rs
  crates/tribute-passes/src/cont_to_yield_bubbling/wrap_returns.rs
  crates/tribute-passes/src/cont_util.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/tr_dispatch.rs
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  src/pipeline.rs
Due: Frontend, Middle End, Driver

refactor: move done/suspend/yield ops from cont to ability dialect
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__resume_in_op_handler.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tail_resumptive.rs
  crates/trunk-ir/src/dialect/cont.rs
  new-plans/cps-effects.md
Due: TrunkIR, Frontend, Middle End

refactor: move resume op from cont to ability dialect
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/tail_resumptive.rs
  crates/trunk-ir/src/dialect/cont.rs
Due: TrunkIR, Frontend, Middle End

refactor: remove cont dialect now that CPS effect pipeline is complete
  .claude/rules/ir.md
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/live_vars.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir/src/dialect/cont.rs
  crates/trunk-ir/src/dialect/mod.rs
  new-plans/cps-effects.md
  new-plans/ir.md
Due: TrunkIR, Frontend, Middle End

docs: simplify cps-effects.md to reflect current implemented design
  new-plans/cps-effects.md
Due: none

refactor: remove stale cont.* op references and rename push_prompt helper
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/resolve_evidence.rs
Due: Frontend, Middle End

test(tail_resumptive): update textual IR to use ability.handle_dispatch
  crates/tribute-passes/src/tail_resumptive.rs
Due: Middle End

test(ast_to_ir): add regression test for Continuation type erasure to anyref
  crates/tribute-front/src/ast_to_ir/context.rs
Due: Frontend

refactor: consolidate effect ops into ability dialect and remove cont dialect (#545)
  .claude/rules/ir.md
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_do_and_op_arms.snap
  crates/tribute-front/tests/snapshots/cps_lowering__handle_with_fn_handler.snap
  crates/tribute-front/tests/snapshots/cps_lowering__resume_in_op_handler.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/live_vars.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tail_resumptive.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir/src/dialect/cont.rs
  crates/trunk-ir/src/dialect/mod.rs
  new-plans/cps-effects.md
  new-plans/ir.md
Due: TrunkIR, Frontend, Middle End

style: apply clippy auto-fixes for writeln\! and append
  crates/tribute-ir/src/dialect/closure.rs
  crates/trunk-ir/src/dialect/func.rs
Due: TrunkIR, Middle End

refactor(ast-to-ir): introduce RAII scope guards to prevent scope leaks
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
Due: Frontend

fix: address review feedback for OpAsmFormat
  crates/tribute-ir/src/dialect/closure.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR, Middle End

fix(ast-to-ir): harden scope guard API and replace smoke test with regression tests
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
Due: Frontend

fix: reuse write_escaped_string and drop non-standard func type fallback
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/printer.rs
Due: TrunkIR

Migrate enter_scope/exit_scope to ScopeGuard (#547)
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/lambda.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
Due: Frontend

fix: emit full signature for body-less func.func declarations
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/parser/builder.rs
Due: TrunkIR

build(deps): bump winnow from 0.7 to 1.0
  Cargo.lock
  Cargo.toml
  crates/trunk-ir/src/parser/raw.rs
Due: TrunkIR

build(deps): bump winnow from 0.7 to 1.0 (#549)
  Cargo.lock
  Cargo.toml
  crates/trunk-ir/src/parser/raw.rs
Due: TrunkIR

refactor(tribute-front): simplify UnresolvedName to store a single qualified Symbol
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/resolve/resolver.rs
Due: Frontend

fix: handle Attribute::Bool in ArithConstPattern for both backends
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__arith_to_clif__tests__arith_const_bool.snap
  crates/trunk-ir-wasm-backend/src/passes/arith_to_wasm.rs
Due: TrunkIR

style(tribute-front): collapse nested if statements per clippy suggestion
  crates/tribute-front/src/resolve/resolver.rs
Due: Frontend

refactor(tribute-front): simplify UnresolvedName to store a single qualified Symbol (#550)
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/prop.rs
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/resolve/resolver.rs
Due: Frontend

refactor(tribute-front): simplify FuncDefId, TypeDefId, CtorId, AbilityId to single qualified Symbol
  crates/tribute-front/src/ast/phases.rs
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/decl.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/handle.rs
  crates/tribute-front/src/ast_to_ir/lower/mod.rs
  crates/tribute-front/src/lib.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  src/lsp/definition_index.rs
  src/lsp/type_index.rs
Due: Frontend, Driver
