Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

codecov.yml:

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto

  individual_components:
    # IR framework and Wasm backend
    - component_id: trunk-ir
      name: "TrunkIR"
      paths:
        - "crates/trunk-ir/**"
        - "crates/trunk-ir-wasm-backend/**"

    # Front-end (parsing, CST lowering, AST-to-IR)
    - component_id: frontend
      name: "Frontend"
      paths:
        - "crates/tribute-front/**"

    # Middle-end
    - component_id: middle-end
      name: "Middle End"
      paths:
        - "crates/tribute-ir/**"
        - "crates/tribute-passes/**"

    # CLI, LSP, pipeline orchestration, shared utilities
    - component_id: driver
      name: "Driver"
      paths:
        - "src/**"
        - "crates/tribute-core/**"

test: borrow bound names in all_vars_bound
  crates/tribute-front/src/ast/prop.rs
Due: Frontend

refactor: drop clones taken only to borrow a symbol
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/src/ast_to_ir/lower/logical/local_callables.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
Due: Frontend

refactor: pass text where a symbol was built only to be borrowed
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/call_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/context.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/pass.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/rewrite/mod.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/dce.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
  crates/trunk-ir/src/walk.rs
Due: TrunkIR, Middle End

refactor: match symbol paths without joining them
  crates/tribute-ir/src/dialect/closure.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/lower_closure_lambda.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/const_to_native.rs
  crates/tribute-passes/src/native/descriptor_records.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/io.rs
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/io.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/emit/references.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/signature_conversion.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/rewrite/signature_conversion.rs
  crates/trunk-ir/src/symbol.rs
  crates/trunk-ir/src/types.rs
Due: TrunkIR, Middle End

feat(effects): select handlers by row position at run time
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/cps-effects.md
  tests/integration/common/mod.rs
  tests/integration/e2e_ability_row_evidence.rs
  tests/integration/evidence_lambda.rs
  tests/integration/evidence_plan_ir.rs
  tests/integration/main.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Middle End

refactor(effects): describe a suffix layer with one value
  crates/tribute-passes/src/tribute_control_to_cps.rs
  tests/integration/e2e_ability_row_evidence.rs
  tests/integration/evidence_lambda.rs
Due: Middle End

refactor(trunk-ir): keep each name as one symbol path component
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/bytes_intrinsic.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/emit/definitions.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/printer.rs
  crates/trunk-ir/src/symbol.rs
  crates/trunk-ir/src/symbol_table.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/global_dce.rs
  crates/trunk-ir/src/transforms/inline.rs
  crates/trunk-ir/src/types.rs
  crates/trunk-ir/src/validation.rs
  guides/development/ir.md
  new-plans/ir.md
Due: TrunkIR, Middle End

docs(effects): state how each kind of arm receives its outer evidence
  new-plans/cps-effects.md
Due: none

feat(wasm): convert tribute_rt primitives in the first lowering pass
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  new-plans/lowering.md
  new-plans/wasm-backend.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

fix(native): keep a lowered bytes constant at its declared type
  crates/tribute-passes/src/native/const_to_native.rs
  tests/integration/e2e_native.rs
Due: Middle End

refactor(native): return the payload value from emit_bytes_alloc
  crates/tribute-passes/src/native/const_to_native.rs
Due: Middle End

fix(effects): read the handler dispatcher and arm evidence of the current layer
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/cps-effects.md
  tests/integration/e2e_ability_row_evidence.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Middle End

refactor(wasm): rename normalize_primitive_types to convert_signatures
  crates/tribute-passes/src/wasm/convert_signatures.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  new-plans/lowering.md
  new-plans/wasm-backend.md
Due: Middle End

docs(effects): call the frame's dispatcher the handle layer's dispatcher
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
Due: Middle End

feat(effects): select handlers by row position at run time (#1303)
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  tests/integration/common/mod.rs
  tests/integration/e2e_ability_row_evidence.rs
  tests/integration/evidence_plan_ir.rs
  tests/integration/main.rs
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/integration/snapshots/integration__active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Middle End

fix(native): keep a lowered bytes constant at its declared type (#1307)
  crates/tribute-passes/src/native/const_to_native.rs
  tests/integration/e2e_native.rs
Due: Middle End

refactor(passes): split tribute_control_to_cps into modules
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/boundary.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/mod.rs
  crates/tribute-passes/src/tribute_control_to_cps/structured.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/tribute_control_to_cps/types.rs
Due: Middle End

refactor(passes): build generated CPS closures through one helper
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/mod.rs
Due: Middle End

refactor(passes): name the post-CPS boundary error constructors
  crates/tribute-passes/src/tribute_control_to_cps/boundary.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/mod.rs
  crates/tribute-passes/src/tribute_control_to_cps/structured.rs
Due: Middle End

refactor(passes): pass the rest of a source block as one value
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/mod.rs
  crates/tribute-passes/src/tribute_control_to_cps/structured.rs
Due: Middle End

refactor(passes): convert each call and fn operation in its own method
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/mod.rs
Due: Middle End

feat(wasm): convert tribute_rt primitives in the first lowering pass (#1308)
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/convert_signatures.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  new-plans/lowering.md
  new-plans/wasm-backend.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(passes): keep the tribute_control_to_cps root at its file path
  crates/tribute-passes/src/tribute_control_to_cps.rs
Due: Middle End

feat(native): lower struct field access layouts to mem.struct
  crates/tribute-ir/src/dialect/adt/layout.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/struct_to_mem.rs
  crates/trunk-ir/src/dialect/mem.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/lowering.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

docs(ir): state the mem.struct managed-field contract without pass order
  new-plans/ir.md
Due: none

refactor(passes): split tribute_control_to_cps into modules (#1310)
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/boundary.rs
  crates/tribute-passes/src/tribute_control_to_cps/callable.rs
  crates/tribute-passes/src/tribute_control_to_cps/frame.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/structured.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
  crates/tribute-passes/src/tribute_control_to_cps/types.rs
Due: Middle End

feat(wasm): tell variants apart by descriptor under an object supertype
  crates/tribute-ir/src/runtime_layout.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End

perf(passes): share a handle's layer resumptions through one function each
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
Due: Middle End

refactor(native): run struct_to_mem as a PassManager pass
  crates/tribute-passes/src/native/struct_to_mem.rs
  new-plans/cranelift-backend.md
  new-plans/lowering.md
  src/pipeline.rs
Due: Middle End, Driver

refactor(wasm): name the descriptor supertype Any
  crates/tribute-ir/src/runtime_layout.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End

refactor(wasm): name the descriptor supertype Described
  crates/tribute-ir/src/runtime_layout.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  new-plans/ir.md
  new-plans/wasm-backend.md
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End

feat(native): lower struct field access layouts to mem.struct (#1311)
  crates/tribute-ir/src/dialect/adt/layout.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/struct_to_mem.rs
  crates/trunk-ir/src/dialect/mem.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/lowering.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

perf(passes): share a handle's layer resumptions through one function each (#1312)
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/tribute_control_to_cps/handle.rs
  crates/tribute-passes/src/tribute_control_to_cps/tests.rs
Due: Middle End
