Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

fix(native): require exact Cranelift callable slots (#963)
  Cargo.lock
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_empty.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_rc_header__tests__struct_new_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rc_lowering__tests__snapshot_retain_and_release.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_no_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__rtti__tests__struct_with_ptr_fields.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_bool_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_float_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_int_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__tribute_rt_to_clif__tests__box_nat_to_clif.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/trunk-ir-cranelift-backend/Cargo.toml
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__call_indirect_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__closure_struct_anyref_adaptation.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__func_func_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__tail_transfers_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/printer.rs
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/types.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

fix(cps): preserve dispatch answer contracts with empty physical results
  Cargo.lock
  Cargo.toml
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__tail_transfers_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

fix(cps): validate packed payloads and preserve direct result lists
  crates/tribute-passes/src/target_abi.rs
  src/pipeline.rs
Due: Middle End, Driver

fix(cps): preflight final dispatch and simplify typed test fixtures
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(wasm): retain typed evidence validation errors
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
Due: Middle End

fix(closure): reject unsupported indirect call result counts
  crates/tribute-passes/src/closure_lower.rs
Due: Middle End

fix(cps): preserve dispatch answer contracts with empty physical results (#964)
  Cargo.lock
  Cargo.toml
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/actions.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__tail_transfers_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

test(wasm): execute zero-result indirect calls
  crates/trunk-ir-wasm-backend/src/emit.rs
Due: TrunkIR

ci: cover ignored Wasmtime runtime tests
  .github/workflows/ci.yml
Due: none

test(wasm): embed Wasmtime runtime witnesses
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-wasm-backend/Cargo.toml
  crates/trunk-ir-wasm-backend/src/emit.rs
Due: TrunkIR

test(wasm): run CLI runtime witnesses by default
  Cargo.lock
  Cargo.toml
  README.md
  crates/trunk-ir-wasm-backend/Cargo.toml
  crates/trunk-ir-wasm-backend/src/emit.rs
Due: TrunkIR

docs: clarify Wasmtime installer prerequisite
  README.md
Due: none

test(wasm): cover zero-result runtime calls (#965)
  README.md
  crates/trunk-ir-wasm-backend/src/emit.rs
Due: TrunkIR

fix(scf): detect callable exits through interface
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  new-plans/ir.md
Due: TrunkIR, Middle End

fix(ir): reject malformed callable exit attributes
  crates/tribute-ir/src/dialect/ability.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

refactor(ir): centralize callable exit shape contract
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

fix(scf): detect callable exits through interface (#966)
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/op_interface.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
  new-plans/ir.md
Due: TrunkIR, Middle End

Fix Never operation reject continuation ABI
  crates/tribute-passes/src/tribute_control_to_cps.rs
  new-plans/cps-effects.md
Due: Middle End

fix(passes): preserve nominal dynamic recovery
  crates/tribute-passes/src/type_converter.rs
Due: Middle End

fix(front): diagnose missing record fields
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/record_field_type.rs
  tests/diagnostic_snapshots.rs
  tests/snapshots/diagnostic_snapshots__diag_missing_struct_field.snap
Due: Frontend

wip(#825): preserve working checkpoint
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/logical_callback_adaptation.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  src/pipeline.rs
  tests/e2e_add.rs
  tests/optimization_conformance.rs
  tests/salsa_integration.rs
Due: TrunkIR, Frontend, Middle End, Driver

wip(#825): preserve staged checkpoint
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/mod.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/list_intrinsics.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  new-plans/ir.md
  src/pipeline.rs
  tests/active_pipeline_goldens.rs
  tests/e2e_ability_handler.rs
  tests/evidence_lambda.rs
  tests/snapshots/active_pipeline_goldens__native_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__native_pipeline_resumptive_op_continuation.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
Due: Frontend, Middle End, Driver

fix(typeck): separate Never coercion from equality
  AGENTS.md
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/constraint.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/never_relations.rs
  crates/tribute-front/tests/nominal_type_identity.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  new-plans/cps-effects.md
  new-plans/type-inference.md
  new-plans/types.md
  tests/e2e_ability_handler.rs
  tests/snapshots/diagnostic_snapshots__diag_canonical_list_literal_does_not_match_shadowing_source_list.snap
  tests/snapshots/diagnostic_snapshots__diag_heterogeneous_list_literal.snap
  tests/snapshots/diagnostic_snapshots__diag_main_must_return_nil.snap
  tests/snapshots/diagnostic_snapshots__diag_row_unification_mismatch_at_lambda.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_type.snap
Due: Frontend

fix(typeck): separate Never coercion from equality (#984)
  AGENTS.md
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/constraint.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/tests/lambda_effect_type.rs
  crates/tribute-front/tests/never_relations.rs
  crates/tribute-front/tests/nominal_type_identity.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  new-plans/cps-effects.md
  new-plans/type-inference.md
  new-plans/types.md
  tests/e2e_ability_handler.rs
  tests/snapshots/diagnostic_snapshots__diag_canonical_list_literal_does_not_match_shadowing_source_list.snap
  tests/snapshots/diagnostic_snapshots__diag_heterogeneous_list_literal.snap
  tests/snapshots/diagnostic_snapshots__diag_main_must_return_nil.snap
  tests/snapshots/diagnostic_snapshots__diag_row_unification_mismatch_at_lambda.snap
  tests/snapshots/diagnostic_snapshots__diag_unresolved_type.snap
Due: Frontend

Validate record fields against resolved struct declarations
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/record_field_type.rs
  new-plans/type-inference.md
  new-plans/types.md
  tests/diagnostic_snapshots.rs
  tests/salsa_integration.rs
  tests/snapshots/diagnostic_snapshots__diag_duplicate_struct_field.snap
  tests/snapshots/diagnostic_snapshots__diag_unknown_struct_field.snap
Due: Frontend

refactor(typeck): separate record shape validation
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/record_field_type.rs
  new-plans/type-inference.md
  new-plans/types.md
  tests/diagnostic_snapshots.rs
Due: Frontend

Preserve record constructor instances during type checking
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/record_field_type.rs
  new-plans/type-inference.md
  new-plans/types.md
Due: Frontend

fix(typeck): validate record shape and preserve generic constructor instances (#985)
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/record_field_type.rs
  new-plans/type-inference.md
  new-plans/types.md
  tests/diagnostic_snapshots.rs
  tests/salsa_integration.rs
  tests/snapshots/diagnostic_snapshots__diag_duplicate_struct_field.snap
  tests/snapshots/diagnostic_snapshots__diag_unknown_struct_field.snap
Due: Frontend

chore: streamline pre-commit checks
  .ci/check.sh
  .ci/githooks/pre-commit
  .ci/lint.sh
  .ci/test-fixtures/lint/bin/cargo
  .ci/test-fixtures/lint/bin/npx
  .ci/test-lint.sh
  README.md
Due: none

chore: streamline pre-commit checks (#986)
  .ci/check.sh
  .ci/githooks/pre-commit
  .ci/lint.sh
  .ci/test-fixtures/lint/bin/cargo
  .ci/test-fixtures/lint/bin/npx
  .ci/test-lint.sh
  README.md
Due: none

Refactor compiler pipeline and add CPS dispatch support
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/constraint.rs
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/effect_union.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/let_generalization.rs
  new-plans/abilities.md
  new-plans/generics.md
  new-plans/type-inference.md
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/constructor_instances.rs
  tests/frontend_instances.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/snapshots/diagnostic_snapshots__diag_effect_row_mismatch.snap
  tests/snapshots/diagnostic_snapshots__diag_residual_effect_rejected_at_handler_boundary.snap
Due: Frontend, Driver

Preserve row identities and deferred handler subtraction
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/constraint.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/effect_union.rs
  new-plans/type-inference.md
Due: Frontend

Verify effect instance evidence and exact nested handler output
  tests/e2e_ability_nested.rs
  tests/e2e_effect_instances.rs
  tests/fixtures/three_abilities_nested.trb
  tests/frontend_instances.rs
Due: none

Build type schemes once and preserve constraints during rewriting
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/subst.rs
  new-plans/type-inference.md
Due: Frontend

Reuse owned scheme constraint buffers during type mapping
  crates/tribute-front/src/ast/types.rs
Due: Frontend

Centralize mutable traversal of effect row constraints
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
Due: Frontend

Collect nominal types from complete specialization metadata
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/monomorphize/mod.rs
  new-plans/generics.md
  tests/frontend_type_roots.rs
Due: Frontend

Preserve effect constraints and pass selected function instances to specialization (#987)
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/monomorphize/collect.rs
  crates/tribute-front/src/monomorphize/mod.rs
  crates/tribute-front/src/monomorphize/rewrite.rs
  crates/tribute-front/src/monomorphize/specialize.rs
  crates/tribute-front/src/monomorphize/validate.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/checker/func_check.rs
  crates/tribute-front/src/typeck/checker/mod.rs
  crates/tribute-front/src/typeck/constraint.rs
  crates/tribute-front/src/typeck/effect_row.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/src/typeck/mod.rs
  crates/tribute-front/src/typeck/solver.rs
  crates/tribute-front/src/typeck/subst.rs
  crates/tribute-front/tests/effect_union.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/let_generalization.rs
  new-plans/abilities.md
  new-plans/generics.md
  new-plans/type-inference.md
  src/lsp/type_index.rs
  src/pipeline.rs
  tests/constructor_instances.rs
  tests/e2e_ability_nested.rs
  tests/e2e_effect_instances.rs
  tests/fixtures/three_abilities_nested.trb
  tests/frontend_instances.rs
  tests/frontend_type_roots.rs
  tests/snapshots/active_pipeline_goldens__shared_pipeline_direct_fn_ability_call.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_float_comparison_predicates.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_mixed_nested_handler_boundary.snap
  tests/snapshots/active_pipeline_goldens__shared_pipeline_resumptive_op_continuation.snap
  tests/snapshots/diagnostic_snapshots__diag_effect_row_mismatch.snap
  tests/snapshots/diagnostic_snapshots__diag_residual_effect_rejected_at_handler_boundary.snap
Due: Frontend, Driver

docs(frontend): clarify phase ownership and query caching
  crates/tribute-front/src/query.rs
  new-plans/implementation.md
Due: Frontend

refactor(frontend): separate AST diagnostics and tests
  crates/tribute-front/src/astgen/diagnostics.rs
  crates/tribute-front/src/astgen/helpers.rs
  crates/tribute-front/src/astgen/mod.rs
  crates/tribute-front/src/astgen/tests.rs
Due: Frontend

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
