Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Check every source of a union against a closed result
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/tests/effect_union.rs
Due: Frontend

refactor: store runtime layout identifiers as string attributes
  crates/tribute-core/src/runtime_layout.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_adaptation.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_anyref_adaptation.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/bytes.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/reference_upcast_elision.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/types.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

docs: scope the boundary exit guarantee to the contracts it verifies
  src/pipeline.rs
Due: Driver

Check every source of a union against a closed result (#1265)
  crates/tribute-front/src/typeck/solver/rows.rs
  crates/tribute-front/tests/effect_union.rs
Due: Frontend

refactor: store runtime layout identifiers as string attributes (#1266)
  crates/tribute-core/src/runtime_layout.rs
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_adaptation.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adapt_closure_layout__tests__closure_struct_anyref_adaptation.snap
  crates/tribute-passes/src/native/tribute_rt_to_clif.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/bytes.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/adt_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/reference_upcast_elision.rs
  crates/trunk-ir-wasm-backend/src/passes/wasm_gc_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/types.rs
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/wasm-backend.md
  src/pipeline.rs
  tests/integration/wasm_compilation.rs
Due: TrunkIR, Middle End, Driver

docs: name the representation/ABI boundary in the pipeline stages (#1264)
  guides/development/ir.md
  src/cli.rs
  src/pipeline.rs
Due: Driver

docs(ir): verify the root entry contract at the boundary exit
  new-plans/ir.md
Due: none

feat(abi): verify the root entry at the boundary exit
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/wasm/lower.rs
Due: Middle End

refactor(passes): drop closure.closure handling after the boundary exit
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
Due: Middle End

Resolve the pkg, super, and self path keywords
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/path.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/tests/path_keywords.rs
  crates/tribute-front/tests/use_imports.rs
  new-plans/modules.md
  tests/integration/e2e_native.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_unresolved_import.snap
Due: Frontend

Share the lookup of annotation paths
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
Due: Frontend

Keep keyword effect paths from being reread as module imports
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/path_keywords.rs
Due: Frontend

fix(abi): require exactly one Nil result on the root entry
  crates/tribute-passes/src/abi_boundary.rs
Due: Middle End

refactor(core): take continuation frame names as pooled handles
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
Due: Middle End, Driver

refactor(core): accept continuation frame names as string arguments
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/target_abi.rs
Due: Middle End, Driver

docs(ir): keep the adt name section focused on structs
  new-plans/ir.md
Due: none

Resolve the pkg, super, and self path keywords (#1268)
  crates/tribute-front/src/ast/types.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/path.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/checker/collect.rs
  crates/tribute-front/src/typeck/checker/expr.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/src/typeck/func_context.rs
  crates/tribute-front/tests/path_keywords.rs
  crates/tribute-front/tests/use_imports.rs
  new-plans/modules.md
  tests/integration/e2e_native.rs
  tests/integration/snapshots/integration__diagnostic_snapshots__diag_unresolved_import.snap
Due: Frontend

Drop post-boundary fallbacks and verify the root entry at the exit (#1267)
  crates/tribute-passes/src/abi_boundary.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/normalize_primitive_types.rs
  new-plans/ir.md
Due: Middle End

test(wasm): execute a handler that drops its continuation
  lang-examples/README.md
  new-plans/capabilities.md
  tests/integration/wasm_compilation.rs
Due: none

test(wasm): assert each handler path and scope the Wasm claim to Abort
  lang-examples/README.md
  new-plans/capabilities.md
  tests/integration/wasm_compilation.rs
Due: none

Scope inline modules to their own items, imports, and the prelude
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/src/tdnr/resolver.rs
  crates/tribute-front/src/typeck/context.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/inline_module_scope.rs
  crates/tribute-front/tests/nominal_type_identity.rs
  crates/tribute-front/tests/ufcs_method_call.rs
  crates/tribute-front/tests/use_imports.rs
  lang-examples/modules_inline.trb
  new-plans/modules.md
  src/pipeline.rs
  tests/integration/e2e_native.rs
Due: Frontend, Driver

Execute a Wasm handler that drops its continuation (#1270)
  lang-examples/README.md
  new-plans/capabilities.md
  tests/integration/wasm_compilation.rs
Due: none

Let module imports build on each other and shadow the module name
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/inline_module_scope.rs
Due: Frontend

docs: place the adt dialect and its lowering in the Tribute crates
  guides/development/ir.md
  new-plans/cranelift-backend.md
  new-plans/lowering.md
  new-plans/rc.md
  new-plans/wasm-backend.md
Due: none

refactor(trunk-ir): run type verifiers through a registry
  crates/trunk-ir/src/asm_format.rs
  crates/trunk-ir/src/dialect/adt.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/lib.rs
  crates/trunk-ir/src/registry.rs
  crates/trunk-ir/src/type_verifier.rs
  crates/trunk-ir/src/validation.rs
Due: TrunkIR

refactor: move runtime layout identifiers into tribute-ir
  Cargo.lock
  crates/tribute-core/Cargo.toml
  crates/tribute-core/src/lib.rs
  crates/tribute-ir/Cargo.toml
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/lib.rs
  crates/tribute-ir/src/runtime_layout.rs
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/native/adapt_closure_layout.rs
  crates/tribute-passes/src/wasm/bytes.rs
  crates/tribute-passes/src/wasm/type_converter.rs
Due: Middle End, Driver

refactor: move adt_to_clif into tribute-passes
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_to_clif__tests__ref_cast_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_to_clif__tests__ref_is_null_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_to_clif__tests__ref_null_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_to_clif__tests__struct_get_to_clif.snap
  crates/tribute-passes/src/native/snapshots/tribute_passes__native__adt_to_clif__tests__struct_set_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mod.rs
  src/pipeline.rs
Due: Middle End, Driver

refactor: move adt_to_wasm into tribute-passes
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/trunk-ir-wasm-backend/src/passes/mod.rs
Due: TrunkIR, Middle End

refactor(wasm-backend): check the marker layout without the adt dialect
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
Due: TrunkIR

Hold the prelude and companion modules to the ordinary scope rules
  crates/tribute-front/src/resolve/env.rs
  crates/tribute-front/src/resolve/mod.rs
  crates/tribute-front/src/resolve/resolver.rs
  crates/tribute-front/tests/common/mod.rs
  crates/tribute-front/tests/inline_module_scope.rs
  crates/tribute-front/tests/nominal_type_identity.rs
  lib/std/prelude.trb
  new-plans/modules.md
  src/pipeline.rs
  tests/integration/e2e_native.rs
Due: Frontend, Driver

docs: describe type verifier registration
  guides/development/ir.md
Due: none

refactor: move CPS continuation frame types into tribute-ir
  Cargo.lock
  crates/tribute-core/Cargo.toml
  crates/tribute-core/src/calling_convention.rs
  crates/tribute-ir/src/continuation_frame.rs
  crates/tribute-ir/src/lib.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  tests/integration/active_pipeline_goldens.rs
  tests/integration/optimization_conformance.rs
Due: Middle End, Driver

refactor: nest the adt layout queries under the adt dialect
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-front/src/ast_to_ir/lower/expr.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-ir/src/dialect/adt.rs
  crates/tribute-ir/src/dialect/adt/layout.rs
  crates/tribute-ir/src/dialect/tribute_rtti.rs
  crates/tribute-ir/src/lib.rs
  crates/tribute-passes/src/native/adt_rc_header.rs
  crates/tribute-passes/src/native/adt_to_clif.rs
  crates/tribute-passes/src/native/ownership_plan.rs
  crates/tribute-passes/src/native/rc_materialization.rs
  crates/tribute-passes/src/native/rtti.rs
  crates/tribute-passes/src/wasm/adt_to_wasm.rs
  new-plans/rc.md
  src/pipeline.rs
Due: Frontend, Middle End, Driver

test: keep trunk-ir and cranelift backend tests off the adt dialect
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
Due: TrunkIR

test: keep cranelift backend tests off Tribute runtime types
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
Due: none

refactor: store ability names as string attributes
  crates/tribute-front/src/ast_to_ir/context.rs
  crates/tribute-front/src/ast_to_ir/lower/logical.rs
  crates/tribute-front/tests/cps_lowering.rs
  crates/tribute-front/tests/int_text.rs
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_call_passes_evidence.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__effectful_func_has_evidence_param.snap
  crates/tribute-front/tests/snapshots/evidence_lowering__pure_context_creates_null_evidence.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-ir/src/dialect/ability.rs
  crates/tribute-ir/src/dialect/effect.rs
  crates/tribute-ir/src/dialect/tribute_control.rs
  crates/tribute-passes/src/effect_dispatch.rs
  crates/tribute-passes/src/lower_ability_perform.rs
  crates/tribute-passes/src/lower_handle_dispatch.rs
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/native/ownership_plan/tests.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/tribute_control_to_cps.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  new-plans/cps-effects.md
  new-plans/implementation.md
  new-plans/ir.md
  src/pipeline.rs
  tests/integration/wasm_compilation.rs
Due: Frontend, Middle End, Driver

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
