Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

Cast native evidence handles back to the evidence type
  crates/tribute-passes/src/native/evidence.rs
Due: Middle End

Verify operation schemas after every pipeline pass
  guides/development/ir.md
  new-plans/ir.md
  src/pipeline.rs
Due: Driver

Separate verifier hook failures and stabilize missing-Verify diagnostics (#1071)
  crates/trunk-ir-macros/src/codegen.rs
  crates/trunk-ir/src/op_def.rs
  crates/trunk-ir/src/op_schema.rs
  crates/trunk-ir/src/ops.rs
  crates/trunk-ir/src/validation.rs
  crates/trunk-ir/tests/ui/missing_verify_impl.stderr
Due: TrunkIR

Keep casts whose target only converts to the source type
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
Due: TrunkIR

Keep every pass boundary schema-valid and verify all pipeline passes (#1064)
  crates/tribute-passes/src/native/evidence.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  guides/development/ir.md
  new-plans/ir.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

Keep casts whose target type converts during type-preserving resolution
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
Due: TrunkIR

Constrain arith integer, float, and bitwise operations
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
Due: TrunkIR, Frontend, Middle End

Constrain arith integer, float, and bitwise operations (#1068)
  crates/tribute-front/src/ast_to_ir/lower/case.rs
  crates/tribute-passes/src/intrinsic_to_arith.rs
  crates/trunk-ir/src/dialect/arith.rs
  crates/trunk-ir/src/op_schema/typed_tests.rs
Due: TrunkIR, Frontend, Middle End

Keep casts whose target type converts during type-preserving resolution (#1073)
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
Due: TrunkIR

refactor(trunk-ir): split unrealized cast materialization from reconciliation
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/errors.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  crates/trunk-ir/src/conversion/unrealized_casts.rs
  crates/trunk-ir/src/dialect/core.rs
  guides/development/ir.md
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/rc.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

docs: align cast handling prose with materialize/convert/reconcile split
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/optimizations.md
  new-plans/rc.md
Due: none

Split unrealized cast materialization from reconciliation (#1074)
  crates/tribute-passes/src/native/rc_lowering.rs
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/errors.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  crates/trunk-ir/src/conversion/unrealized_casts.rs
  crates/trunk-ir/src/dialect/core.rs
  guides/development/ir.md
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/optimizations.md
  new-plans/rc.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(native): legalize unrealized casts without forwarding values
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/unrealized_casts.rs
  guides/development/ir.md
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/rc.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(native): legalize unrealized casts without forwarding values (#1075)
  crates/tribute-passes/src/native/type_converter.rs
  crates/tribute-passes/src/type_converter.rs
  crates/trunk-ir-cranelift-backend/src/passes/adt_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/unrealized_casts.rs
  guides/development/ir.md
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/rc.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(wasm): legalize unrealized casts with target subsumption
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/unrealized_casts.rs
  crates/trunk-ir/src/rewrite/type_converter.rs
  guides/development/ir.md
  new-plans/ir.md
  new-plans/lowering.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(wasm): erase reference upcasts in the target instead of TypeConverter
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/passes/mod.rs
  crates/trunk-ir-wasm-backend/src/passes/reference_upcast_erasure.rs
  crates/trunk-ir/src/conversion/unrealized_casts.rs
  crates/trunk-ir/src/rewrite/type_converter.rs
  guides/development/ir.md
  new-plans/ir.md
  new-plans/lowering.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(wasm): rename reference upcast erasure to elision
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/passes/mod.rs
  crates/trunk-ir-wasm-backend/src/passes/reference_upcast_elision.rs
  guides/development/ir.md
  new-plans/ir.md
  new-plans/lowering.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor(wasm-backend): move physical assignability out of emit helpers
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
Due: TrunkIR

fix(wasm): materialize anyref to nil as a fresh nil value
  crates/tribute-passes/src/wasm/type_converter.rs
Due: Middle End

Legalize wasm unrealized casts with target reference upcast elision (#1076)
  crates/tribute-passes/src/type_converter.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/assignability.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/lib.rs
  crates/trunk-ir-wasm-backend/src/passes/mod.rs
  crates/trunk-ir-wasm-backend/src/passes/reference_upcast_elision.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/unrealized_casts.rs
  guides/development/ir.md
  new-plans/ir.md
  new-plans/lowering.md
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

docs(examples): mark source-level Wasm handlers as unsupported
  lang-examples/README.md
Due: none

docs(plans): specify the representation/ABI boundary contract
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/rc.md
  new-plans/wasm-backend.md
Due: none

docs(plans): align remaining CPS checks with the boundary exit
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/types.md
  new-plans/wasm-backend.md
Due: none

docs(plans): attach call_conv to every physical CPS signature
  new-plans/cranelift-backend.md
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: none

docs(plans): exempt call_conv from preserved Wasm signature attributes
  new-plans/implementation.md
Due: none

docs(plans): build Wasm signatures from inputs and results only
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/wasm-backend.md
Due: none

docs(examples): mark source-level Wasm handlers as unsupported (#1078)
  lang-examples/README.md
Due: none

docs(plans): end the native boundary after closure storage finalization
  new-plans/cranelift-backend.md
Due: none

docs: specify delimited \u{X...} Unicode escapes
  new-plans/string.md
  new-plans/syntax.md
Due: none

Specify the representation/ABI boundary contract (#1080)
  new-plans/cps-effects.md
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/rc.md
  new-plans/types.md
  new-plans/wasm-backend.md
Due: none

refactor(wasm): build Wasm signatures from inputs and results only
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
Due: TrunkIR

fix(abi): close calling-convention gaps at external and erased boundaries
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
Due: TrunkIR

refactor(abi): carry the machine calling convention on physical signatures
  crates/tribute-passes/src/native/evidence.rs
  crates/tribute-passes/src/target_abi.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__tail_transfers_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/passes/func_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/validation.rs
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/func.rs
  crates/trunk-ir/src/parser/builder.rs
  crates/trunk-ir/src/parser/raw.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR, Middle End

feat(front): decode \u{X...} escapes and reject non-scalar values
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/helpers.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/tests/literal_escapes.rs
  tests/e2e_native.rs
Due: Frontend

test(pipeline): lower a physical module without control metadata
  src/pipeline.rs
Due: Driver

chore: depend on tree-sitter-tribute v0.9.0 tag
  Cargo.lock
  Cargo.toml
Due: none

refactor(abi): read function conventions through a FunctionCallConvs analysis
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir/src/transforms/call_graph.rs
  crates/trunk-ir/src/transforms/mod.rs
Due: TrunkIR

Support Unicode escapes in string and rune literals (#1084)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/astgen/expressions.rs
  crates/tribute-front/src/astgen/helpers.rs
  crates/tribute-front/src/astgen/patterns.rs
  crates/tribute-front/src/astgen/tests.rs
  crates/tribute-front/tests/literal_escapes.rs
  new-plans/string.md
  new-plans/syntax.md
  tests/e2e_native.rs
Due: Frontend

fix(abi): resolve function references like native emission
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir/src/transforms/call_graph.rs
Due: TrunkIR

fix(abi): treat duplicate native function names as ambiguous references
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
Due: none

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
