Repository Kroisse/tribute: changes, and which Codecov flags are due for each by the changed paths.
All: TrunkIR, Frontend, Middle End, Driver

test: add coverage for PR review feedback fixes
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  src/pipeline.rs
Due: TrunkIR, Middle End, Driver

refactor: apply PR review feedback for WASM and continuation passes
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  tests/evidence_lambda.rs
Due: TrunkIR, Middle End

refactor: strengthen type conversion and ability ID validation
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/type_converter.rs
Due: Middle End

docs: correct documentation and strengthen anyref type checking
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
Due: TrunkIR, Middle End

refactor: strengthen invariant checking from PR review feedback
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
Due: TrunkIR, Middle End

docs: improve WASM backend documentation and add GC type layout tests
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
Due: TrunkIR, Middle End

refactor: improve robustness and reduce code duplication from PR feedback
  Cargo.lock
  Cargo.toml
  crates/tribute-passes/Cargo.toml
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
Due: TrunkIR, Middle End

refactor: clarify FxHasher scope and remove unnecessary clone
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
Due: TrunkIR, Middle End

fix: add missing scf.yield terminator in pure branches of scf.if expressions
  crates/tribute-passes/src/cont_to_trampoline.rs
Due: Middle End

test: add regression tests for truncate_scf_if_block fix
  crates/tribute-passes/src/cont_to_trampoline.rs
Due: Middle End

Fix WASM ability runtime calling convention and dispatch (#337)
  Cargo.lock
  Cargo.toml
  crates/tribute-front/src/ast_to_ir/lower.rs
  crates/tribute-front/tests/snapshots/lambda_effect_type__ability_core_full_pattern.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_direct_ability_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_indirect_effect_call.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__effectful_lambda_multiple_operations.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__handler_arm_continuation_lambda.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__lambda_effect_row_unification.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__nested_lambda_inner_effectful.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_no_effect.snap
  crates/tribute-front/tests/snapshots/lambda_effect_type__pure_lambda_with_capture_no_effect.snap
  crates/tribute-passes/Cargo.toml
  crates/tribute-passes/src/closure_lower.rs
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/resolve_evidence.rs
  crates/tribute-passes/src/wasm/evidence_to_wasm.rs
  crates/tribute-passes/src/wasm/handler_table_to_wasm.rs
  crates/tribute-passes/src/wasm/lower.rs
  crates/tribute-passes/src/wasm/mod.rs
  crates/tribute-passes/src/wasm/type_converter.rs
  crates/trunk-ir-wasm-backend/src/emit.rs
  crates/trunk-ir-wasm-backend/src/emit/gc_types_collection.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/array_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/control_flow_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/local_global_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/ref_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/handlers/struct_handlers.rs
  crates/trunk-ir-wasm-backend/src/emit/helpers.rs
  crates/trunk-ir-wasm-backend/src/gc_types.rs
  crates/trunk-ir-wasm-backend/src/passes/scf_to_wasm.rs
  crates/trunk-ir-wasm-backend/src/passes/trampoline_to_wasm.rs
  crates/trunk-ir/src/conversion/mod.rs
  crates/trunk-ir/src/conversion/resolve_unrealized_casts.rs
  crates/trunk-ir/src/dialect/wasm.rs
  lang-examples/ability_core.wasm
  src/pipeline.rs
  tests/e2e_ability_core.rs
  tests/evidence_lambda.rs
Due: TrunkIR, Frontend, Middle End, Driver

refactor: split cont_to_trampoline into modular structure
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/patterns.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_to_trampoline/truncate.rs
  crates/tribute-passes/src/cont_to_trampoline/wrap_returns.rs
Due: Middle End

refactor(tribute-passes): extract duplicate helpers in shift_lower
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
Due: Middle End

refactor(cont_to_trampoline): apply PR review improvements
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_to_trampoline/truncate.rs
Due: Middle End

fix(cont_to_trampoline): add defensive assertions and fallbacks
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_to_trampoline/truncate.rs
Due: Middle End

docs: add Cranelift native backend design documentation
  .claude/rules/crates.md
  .claude/rules/pipeline.md
  AGENTS.md
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/wasm-backend.md
  plans/README.md
Due: none

Add Cranelift native backend design documentation (#340)
  .claude/rules/crates.md
  .claude/rules/pipeline.md
  AGENTS.md
  new-plans/cranelift-backend.md
  new-plans/design.md
  new-plans/implementation.md
  new-plans/ir.md
  new-plans/lowering.md
  new-plans/wasm-backend.md
  plans/README.md
Due: none

fix(cont_to_trampoline): fail fast on missing marker arg in collect_suspend_arms
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
Due: Middle End

feat(trunk-ir): define clif dialect for Cranelift backend
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/mod.rs
Due: TrunkIR

Refactor cont_to_trampoline into modular structure (#339)
  crates/tribute-passes/src/cont_to_trampoline.rs
  crates/tribute-passes/src/cont_to_trampoline/analysis.rs
  crates/tribute-passes/src/cont_to_trampoline/handler_dispatch.rs
  crates/tribute-passes/src/cont_to_trampoline/mod.rs
  crates/tribute-passes/src/cont_to_trampoline/patterns.rs
  crates/tribute-passes/src/cont_to_trampoline/shift_lower.rs
  crates/tribute-passes/src/cont_to_trampoline/tests.rs
  crates/tribute-passes/src/cont_to_trampoline/truncate.rs
  crates/tribute-passes/src/cont_to_trampoline/wrap_returns.rs
Due: Middle End

Define clif dialect for Cranelift backend (#362)
  crates/trunk-ir/src/dialect/clif.rs
  crates/trunk-ir/src/dialect/mod.rs
Due: TrunkIR

Scaffold trunk-ir-cranelift-backend crate (#342)
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-cranelift-backend/Cargo.toml
  crates/trunk-ir-cranelift-backend/src/errors.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/mod.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
Due: none

feat(passes): add native type converter for Cranelift backend
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/type_converter.rs
Due: Middle End

Scaffold trunk-ir-cranelift-backend crate (#363)
  Cargo.lock
  Cargo.toml
  crates/trunk-ir-cranelift-backend/Cargo.toml
  crates/trunk-ir-cranelift-backend/src/errors.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/mod.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
  crates/trunk-ir-cranelift-backend/src/validation.rs
Due: none

test(passes): expand native type converter test coverage
  crates/tribute-passes/src/native/type_converter.rs
Due: Middle End

feat(cranelift): implement func_to_clif and arith_to_clif lowering passes
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mod.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__call_indirect_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__func_func_to_clif.snap
  crates/trunk-ir/src/dialect/clif.rs
Due: TrunkIR

fix(passes): address CodeRabbit review comments on native type converter
  crates/tribute-passes/src/native/type_converter.rs
Due: Middle End

refactor(cranelift): use full conversion (apply) instead of apply_partial
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
Due: none

Add native type converter for Cranelift backend (#364)
  crates/tribute-passes/src/lib.rs
  crates/tribute-passes/src/native/mod.rs
  crates/tribute-passes/src/native/type_converter.rs
Due: Middle End

fix(cranelift): handle unsigned arithmetic and add test coverage
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
Due: none

fix(cranelift): use unsigned conditions for ordering comparisons on nat types
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
Due: none

feat: implement Cranelift native code generation
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

fix(cranelift): add unsigned conversion support and reject float remainder
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
Due: none

feat(cranelift): implement func_to_clif and arith_to_clif lowering passes (#365)
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/passes/arith_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/func_to_clif.rs
  crates/trunk-ir-cranelift-backend/src/passes/mod.rs
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__call_indirect_to_clif.snap
  crates/trunk-ir-cranelift-backend/src/passes/snapshots/trunk_ir_cranelift_backend__passes__func_to_clif__tests__func_func_to_clif.snap
  crates/trunk-ir/src/dialect/clif.rs
Due: TrunkIR

Implement Cranelift native code generation (#366)
  crates/trunk-ir-cranelift-backend/src/function.rs
  crates/trunk-ir-cranelift-backend/src/lib.rs
  crates/trunk-ir-cranelift-backend/src/translate.rs
Due: none

feat: add --target native support to compiler pipeline
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/main.rs
  src/pipeline.rs
Due: Driver

feat(trunk-ir): add cf dialect and scf_to_cf lowering pass
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/dialect/mod.rs
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/transforms/mod.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

test(trunk-ir): add missing tests for scf_to_cf and applicator successor remap
  crates/trunk-ir/src/rewrite/applicator.rs
  crates/trunk-ir/src/transforms/scf_to_cf.rs
Due: TrunkIR

refactor: extract linking and diagnostic reporting utilities
  Cargo.lock
  Cargo.toml
  src/diagnostics.rs
  src/lib.rs
  src/main.rs
  src/pipeline.rs
Due: Driver

refactor(trunk-ir): add #[successor] support to dialect\! macro and convert cf dialect
  crates/trunk-ir/src/dialect/cf.rs
  crates/trunk-ir/src/ops.rs
Due: TrunkIR

Path conditions:
  TrunkIR: any of: crates/trunk-ir/**, crates/trunk-ir-wasm-backend/**
  Frontend: any of: crates/tribute-front/**
  Middle End: any of: crates/tribute-ir/**, crates/tribute-passes/**
  Driver: any of: src/**, crates/tribute-core/**
